pkgbase = iwd
	pkgdesc = Internet Wireless Daemon
	pkgver = 3.12
	pkgrel = 2
	url = https://git.kernel.org/cgit/network/wireless/iwd.git/
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = python-docutils
	makedepends = dbus
	makedepends = systemd
	depends = glibc
	depends = readline
	depends = libreadline.so
	depends = ell
	depends = libgcc
	optdepends = qrencode: for displaying QR code after DPP is started
	options = !lto
	source = https://www.kernel.org/pub/linux/network/wireless/iwd-3.12.tar.xz
	source = https://www.kernel.org/pub/linux/network/wireless/iwd-3.12.tar.sign
	source = 0001-use-network-group-for-unprivileged-access.diff
	source = 0001-rrm-fix-stack-buffer-overflow-in-rrm_report_beacon_r.patch
	source = 0002-ie-fix-off-by-one-in-HE-Capabilities-Channel-Width-S.patch
	source = 0003-ft-fix-mde_equal-self-comparison-and-type-mismatch.patch
	source = 0004-ie-fix-uint8_t-underflow-in-FTE-sub-element-parser.patch
	validpgpkeys = E932D120BC2AEC444E558F0106CA9F5D1DCF2659
	sha256sums = d89a5e45c7180170e19be828f9e944a768c593758094fc57a358d0e7c4cb1a49
	sha256sums = SKIP
	sha256sums = d5fb4fb864b7a0632117aa2039df535ab5c1d024ae618a1f09e34dfab8ee0cc7
	sha256sums = db5e63cf8e7d2071b0048f134e4aebed1f46e0b191cad5530ce99c07b1157b13
	sha256sums = cdd07a19f831c5f207817cdf8398a790bb5b233e32bb0e7d7998eb41a1a61763
	sha256sums = c160d0c3c7c0219ceff7cf107f8c24c33163c92cee3fc2573c26b1515bd05f22
	sha256sums = 42dba8b8f2b0d39036df71f4b1887db5915e25ca3575e841d3f5352dfb0d514a

pkgname = iwd
