pkgbase = iwd
	pkgdesc = Internet Wireless Daemon
	pkgver = 3.12
	pkgrel = 1
	url = https://git.kernel.org/cgit/network/wireless/iwd.git/
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = python-docutils
	makedepends = dbus
	makedepends = systemd
	depends = glibc
	depends = readline
	depends = libreadline.so
	depends = ell
	depends = libgcc
	optdepends = qrencode: for displaying QR code after DPP is started
	options = !lto
	source = https://www.kernel.org/pub/linux/network/wireless/iwd-3.12.tar.xz
	source = https://www.kernel.org/pub/linux/network/wireless/iwd-3.12.tar.sign
	source = 0001-use-network-group-for-unprivileged-access.diff
	validpgpkeys = E932D120BC2AEC444E558F0106CA9F5D1DCF2659
	sha256sums = d89a5e45c7180170e19be828f9e944a768c593758094fc57a358d0e7c4cb1a49
	sha256sums = SKIP
	sha256sums = d5fb4fb864b7a0632117aa2039df535ab5c1d024ae618a1f09e34dfab8ee0cc7

pkgname = iwd
