pkgbase = btop
	pkgdesc = A monitor of system resources, bpytop ported to C++
	pkgver = 1.4.4
	pkgrel = 1
	url = https://github.com/aristocratos/btop
	arch = x86_64
	license = Apache-2.0
	makedepends = lowdown
	makedepends = rocm-smi-lib
	depends = gcc-libs
	depends = glibc
	optdepends = rocm-smi-lib: AMD GPU support
	source = https://github.com/aristocratos/btop/archive/v1.4.4/btop-1.4.4.tar.gz
	sha256sums = 98d464041015c888c7b48de14ece5ebc6e410bc00ca7bb7c5a8010fe781f1dd8

pkgname = btop
