pkgbase = btop
	pkgdesc = A monitor of system resources, bpytop ported to C++
	pkgver = 1.4.3
	pkgrel = 2
	url = https://github.com/aristocratos/btop
	arch = x86_64
	license = Apache-2.0
	makedepends = lowdown
	makedepends = rocm-smi-lib
	depends = gcc-libs
	depends = glibc
	optdepends = rocm-smi-lib: AMD GPU support
	source = https://github.com/aristocratos/btop/archive/v1.4.3/btop-1.4.3.tar.gz
	sha256sums = 81b133e59699a7fd89c5c54806e16452232f6452be9c14b3a634122e3ebed592

pkgname = btop
