pkgbase = btop
	pkgdesc = A monitor of system resources, bpytop ported to C++
	pkgver = 1.3.1
	pkgrel = 1
	url = https://github.com/aristocratos/btop
	arch = x86_64
	license = Apache
	depends = gcc-libs
	depends = glibc
	optdepends = rocm-smi-lib: AMD GPU support
	source = https://github.com/aristocratos/btop/archive/v1.3.1/btop-1.3.1.tar.gz
	sha256sums = 9e7faa30550137598a712fc28c1fb907e48a1fa1a5b2fa2f939195cf91e1816e

pkgname = btop
