pkgbase = intellij-idea-community-edition
	pkgdesc = IDE for Java, Groovy and other programming languages with advanced refactoring features
	pkgver = 2025.2.2
	pkgrel = 1
	epoch = 4
	url = https://www.jetbrains.com/idea/
	arch = x86_64
	license = Apache-2.0
	makedepends = git
	depends = giflib
	depends = java-environment-openjdk=21
	depends = python
	depends = sh
	depends = ttf-font
	depends = libdbusmenu-glib
	depends = fontconfig
	depends = hicolor-icon-theme
	optdepends = lldb: lldb frontend integration
	backup = usr/share/idea/bin/idea64.vmoptions
	source = git+https://github.com/JetBrains/intellij-community.git#tag=idea/252.26199.169
	source = idea-android::git+https://github.com/JetBrains/android.git#tag=idea/252.26199.169
	source = idea.desktop
	source = idea.sh
	source = enable-no-jdr.patch
	sha256sums = b44b255e107bbd4782adb90985d2cde8cff117e0cc6f6402eac9f2c104ff9fc6
	sha256sums = d8e3187fd2d7e93f2627de9a75558aa731dd394c2af6145ee606009d2d8f9ec9
	sha256sums = 049c4326b6b784da0c698cf62262b591b20abb52e0dcf869f869c0c655f3ce93
	sha256sums = c5787f6777fa292c6376f3fcddc89f1d0ae4b71f3284d9bfefcea0b0ab3d8ea9
	sha256sums = b7858737346fb08423ee7fd177f9e59180d2173d988dd8622b84d58426fcb3a7

pkgname = intellij-idea-community-edition
