pkgbase = ruby
	pkgdesc = An object-oriented language for quick and easy programming
	pkgver = 3.2.5
	pkgrel = 1
	url = https://www.ruby-lang.org/en/
	arch = x86_64
	license = BSD-2-Clause
	checkdepends = inetutils
	checkdepends = procps-ng
	makedepends = doxygen
	makedepends = gcc-libs
	makedepends = gdbm
	makedepends = glibc
	makedepends = gmp
	makedepends = graphviz
	makedepends = libffi
	makedepends = libxcrypt
	makedepends = libyaml
	makedepends = openssl
	makedepends = readline
	makedepends = rust
	makedepends = tk
	makedepends = zlib
	options = !emptydirs
	source = https://cache.ruby-lang.org/pub/ruby/3.2/ruby-3.2.5.tar.xz
	sha512sums = 092348b84b513aec62e63ec10b326370d0e3d1fa3126c59c03c84f28e2d7741a4772c461b077ec6a7dac3964a20f434655729e1acd50a3438755d7ad64073305
	b2sums = a37c92a0f751e81dcae328b8944c4ecf10f6aee4f4468d6d08bb924c9808c8556c5febb71a825dd62dbcccf56385138e6e306bf3efae3589bdf0512d16d99d1a

pkgname = ruby
	depends = gcc-libs
	depends = gdbm
	depends = glibc
	depends = gmp
	depends = libffi
	depends = libxcrypt
	depends = libyaml
	depends = openssl
	depends = readline
	depends = zlib
	depends = rubygems
	optdepends = tk: for Ruby/TK
	optdepends = ruby-docs: Documentation for Ruby
	optdepends = ruby-default-gems: Default gems which are part of Ruby StdLib
	optdepends = ruby-bundled-gems: Bundled gems which are part of Ruby StdLib
	optdepends = ruby-stdlib: Full Ruby StdLib including default gems, bundled gems and tools
	provides = libruby.so
	provides = ruby-abbrev
	provides = ruby-base64
	provides = ruby-benchmark
	provides = ruby-bigdecimal
	provides = ruby-cgi
	provides = ruby-csv
	provides = ruby-date
	provides = ruby-delegate
	provides = ruby-did_you_mean
	provides = ruby-digest
	provides = ruby-drb
	provides = ruby-english
	provides = ruby-error_highlight
	provides = ruby-etc
	provides = ruby-fcntl
	provides = ruby-fiddle
	provides = ruby-fileutils
	provides = ruby-find
	provides = ruby-forwardable
	provides = ruby-getoptlong
	provides = ruby-io-console
	provides = ruby-io-nonblock
	provides = ruby-io-wait
	provides = ruby-ipaddr
	provides = ruby-json
	provides = ruby-logger
	provides = ruby-mutex_m
	provides = ruby-net-http
	provides = ruby-net-protocol
	provides = ruby-nkf
	provides = ruby-observer
	provides = ruby-open-uri
	provides = ruby-open3
	provides = ruby-openssl
	provides = ruby-optparse
	provides = ruby-ostruct
	provides = ruby-pathname
	provides = ruby-pp
	provides = ruby-prettyprint
	provides = ruby-pstore
	provides = ruby-psych
	provides = ruby-readline
	provides = ruby-readline-ext
	provides = ruby-reline
	provides = ruby-resolv
	provides = ruby-resolv-replace
	provides = ruby-rinda
	provides = ruby-ruby2_keywords
	provides = ruby-securerandom
	provides = ruby-set
	provides = ruby-shellwords
	provides = ruby-singleton
	provides = ruby-stringio
	provides = ruby-strscan
	provides = ruby-syntax_suggest
	provides = ruby-syslog
	provides = ruby-tempfile
	provides = ruby-time
	provides = ruby-timeout
	provides = ruby-tmpdir
	provides = ruby-tsort
	provides = ruby-un
	provides = ruby-uri
	provides = ruby-weakref
	provides = ruby-yaml
	provides = ruby-zlib
	conflicts = 
	replaces = ruby-abbrev
	replaces = ruby-base64
	replaces = ruby-benchmark
	replaces = ruby-bigdecimal
	replaces = ruby-cgi
	replaces = ruby-csv
	replaces = ruby-date
	replaces = ruby-delegate
	replaces = ruby-did_you_mean
	replaces = ruby-digest
	replaces = ruby-drb
	replaces = ruby-english
	replaces = ruby-etc
	replaces = ruby-fcntl
	replaces = ruby-fiddle
	replaces = ruby-fileutils
	replaces = ruby-find
	replaces = ruby-forwardable
	replaces = ruby-getoptlong
	replaces = ruby-io-console
	replaces = ruby-io-nonblock
	replaces = ruby-io-wait
	replaces = ruby-ipaddr
	replaces = ruby-json
	replaces = ruby-logger
	replaces = ruby-mutex_m
	replaces = ruby-net-http
	replaces = ruby-open-uri
	replaces = ruby-psych
	replaces = ruby-reline
	replaces = ruby-ruby2_keywords
	replaces = ruby-set
	replaces = ruby-stringio
	replaces = ruby-time
	replaces = ruby-tmpdir
	replaces = ruby-uri

pkgname = ruby-docs
	pkgdesc = Documentation files for Ruby

pkgname = ruby-default-gems
	pkgdesc = Default gems which are part of Ruby StdLib
	depends = ruby-bundler
	depends = ruby-erb
	depends = ruby-irb
	depends = ruby-racc
	depends = ruby-rdoc
	depends = ruby-rubygems

pkgname = ruby-bundled-gems
	pkgdesc = Bundled gems which are part of Ruby StdLib
	depends = ruby-debug
	depends = ruby-matrix
	depends = ruby-minitest
	depends = ruby-net-ftp
	depends = ruby-net-imap
	depends = ruby-net-pop
	depends = ruby-net-smtp
	depends = ruby-power_assert
	depends = ruby-prime
	depends = ruby-rake
	depends = ruby-rbs
	depends = ruby-rexml
	depends = ruby-rss
	depends = ruby-test-unit
	depends = ruby-typeprof
	conflicts = ruby-bundledgems
	replaces = ruby-bundledgems

pkgname = ruby-stdlib
	pkgdesc = Full Ruby StdLib including default gems, bundled gems and tools
	depends = ruby-default-gems
	depends = ruby-bundled-gems
