pkgbase = ruby
	pkgdesc = An object-oriented language for quick and easy programming
	pkgver = 3.2.4
	pkgrel = 1
	url = https://www.ruby-lang.org/en/
	arch = x86_64
	license = BSD-2-Clause
	checkdepends = inetutils
	checkdepends = procps-ng
	makedepends = doxygen
	makedepends = gcc-libs
	makedepends = gdbm
	makedepends = glibc
	makedepends = gmp
	makedepends = graphviz
	makedepends = libffi
	makedepends = libxcrypt
	makedepends = libyaml
	makedepends = openssl
	makedepends = readline
	makedepends = rust
	makedepends = tk
	makedepends = zlib
	options = !emptydirs
	source = https://cache.ruby-lang.org/pub/ruby/3.2/ruby-3.2.4.tar.xz
	source = ruby-3.2-openssl-3.3-fix.patch::https://github.com/ruby/ruby/commit/dd5e625d7bcb7dc849fdbc2ad8053f9c2724efb4.patch
	sha512sums = fb0af37be4b6ad7b98ab9f8a508952238ee68b5828e3926331e4db52e2ebc1e6046f31114069322db0cd3bea7c9b82ace91c8564573ddcfa1f960877b237dbff
	sha512sums = 52351374fc9aa9c3576bfb4b62df1d1d8dbe7327270a4d1c5777d247a33d6e6528b08a537fc4c87d9d0cc54b4b9183848f6c54d54fc727871b3e511b7a73ddb7
	b2sums = 9c2300a958b03528d51f0d74a069c8c538ca4009835d55377509a000bcfb43893a8a80d8fda57011e77c72e6283cb259281d5ba7b37444546e49f2a9ad515cf3
	b2sums = 1ee662e57f9f29b4ab29b391b38b988a8b5c199e62c815353c3a47e6eceea910344c7d9a00512916e05b6404efddf941313dfdcb0bec027f7f668443309228b9

pkgname = ruby
	depends = gcc-libs
	depends = gdbm
	depends = glibc
	depends = gmp
	depends = libffi
	depends = libxcrypt
	depends = libyaml
	depends = openssl
	depends = readline
	depends = zlib
	depends = rubygems
	optdepends = tk: for Ruby/TK
	optdepends = ruby-docs: Documentation for Ruby
	optdepends = ruby-default-gems: Default gems which are part of Ruby StdLib
	optdepends = ruby-bundled-gems: Bundled gems which are part of Ruby StdLib
	optdepends = ruby-stdlib: Full Ruby StdLib including default gems, bundled gems and tools
	provides = libruby.so
	provides = ruby-abbrev
	provides = ruby-base64
	provides = ruby-benchmark
	provides = ruby-bigdecimal
	provides = ruby-cgi
	provides = ruby-csv
	provides = ruby-date
	provides = ruby-delegate
	provides = ruby-did_you_mean
	provides = ruby-digest
	provides = ruby-drb
	provides = ruby-english
	provides = ruby-error_highlight
	provides = ruby-etc
	provides = ruby-fcntl
	provides = ruby-fiddle
	provides = ruby-fileutils
	provides = ruby-find
	provides = ruby-forwardable
	provides = ruby-getoptlong
	provides = ruby-io-console
	provides = ruby-io-nonblock
	provides = ruby-io-wait
	provides = ruby-ipaddr
	provides = ruby-json
	provides = ruby-logger
	provides = ruby-mutex_m
	provides = ruby-net-http
	provides = ruby-net-protocol
	provides = ruby-nkf
	provides = ruby-observer
	provides = ruby-open-uri
	provides = ruby-open3
	provides = ruby-openssl
	provides = ruby-optparse
	provides = ruby-ostruct
	provides = ruby-pathname
	provides = ruby-pp
	provides = ruby-prettyprint
	provides = ruby-pstore
	provides = ruby-psych
	provides = ruby-readline
	provides = ruby-readline-ext
	provides = ruby-reline
	provides = ruby-resolv
	provides = ruby-resolv-replace
	provides = ruby-rinda
	provides = ruby-ruby2_keywords
	provides = ruby-securerandom
	provides = ruby-set
	provides = ruby-shellwords
	provides = ruby-singleton
	provides = ruby-stringio
	provides = ruby-strscan
	provides = ruby-syntax_suggest
	provides = ruby-syslog
	provides = ruby-tempfile
	provides = ruby-time
	provides = ruby-timeout
	provides = ruby-tmpdir
	provides = ruby-tsort
	provides = ruby-un
	provides = ruby-uri
	provides = ruby-weakref
	provides = ruby-yaml
	provides = ruby-zlib
	conflicts = 
	replaces = ruby-abbrev
	replaces = ruby-base64
	replaces = ruby-benchmark
	replaces = ruby-bigdecimal
	replaces = ruby-cgi
	replaces = ruby-csv
	replaces = ruby-date
	replaces = ruby-delegate
	replaces = ruby-did_you_mean
	replaces = ruby-digest
	replaces = ruby-drb
	replaces = ruby-english
	replaces = ruby-etc
	replaces = ruby-fcntl
	replaces = ruby-fiddle
	replaces = ruby-fileutils
	replaces = ruby-find
	replaces = ruby-forwardable
	replaces = ruby-getoptlong
	replaces = ruby-io-console
	replaces = ruby-io-nonblock
	replaces = ruby-io-wait
	replaces = ruby-ipaddr
	replaces = ruby-json
	replaces = ruby-logger
	replaces = ruby-mutex_m
	replaces = ruby-net-http
	replaces = ruby-open-uri
	replaces = ruby-psych
	replaces = ruby-reline
	replaces = ruby-ruby2_keywords
	replaces = ruby-set
	replaces = ruby-stringio
	replaces = ruby-time
	replaces = ruby-tmpdir
	replaces = ruby-uri

pkgname = ruby-docs
	pkgdesc = Documentation files for Ruby

pkgname = ruby-default-gems
	pkgdesc = Default gems which are part of Ruby StdLib
	depends = ruby-bundler
	depends = ruby-erb
	depends = ruby-irb
	depends = ruby-racc
	depends = ruby-rdoc
	depends = ruby-rubygems

pkgname = ruby-bundled-gems
	pkgdesc = Bundled gems which are part of Ruby StdLib
	depends = ruby-debug
	depends = ruby-matrix
	depends = ruby-minitest
	depends = ruby-net-ftp
	depends = ruby-net-imap
	depends = ruby-net-pop
	depends = ruby-net-smtp
	depends = ruby-power_assert
	depends = ruby-prime
	depends = ruby-rake
	depends = ruby-rbs
	depends = ruby-rexml
	depends = ruby-rss
	depends = ruby-test-unit
	depends = ruby-typeprof
	conflicts = ruby-bundledgems
	replaces = ruby-bundledgems

pkgname = ruby-stdlib
	pkgdesc = Full Ruby StdLib including default gems, bundled gems and tools
	depends = ruby-default-gems
	depends = ruby-bundled-gems
