pkgbase = ruby
	pkgdesc = An object-oriented language for quick and easy programming
	pkgver = 3.4.4
	pkgrel = 2
	url = https://www.ruby-lang.org/en/
	arch = x86_64
	license = BSD-2-Clause
	checkdepends = procps-ng
	makedepends = doxygen
	makedepends = gcc-libs
	makedepends = gdbm
	makedepends = glibc
	makedepends = gmp
	makedepends = graphviz
	makedepends = libffi
	makedepends = libxcrypt
	makedepends = libyaml
	makedepends = openssl
	makedepends = readline
	makedepends = rust
	makedepends = tk
	makedepends = zlib
	options = !emptydirs
	source = https://cache.ruby-lang.org/pub/ruby/3.4/ruby-3.4.4.tar.xz
	sha512sums = 0d258cf790daad424c866404b5cbdc8adba0e4e13764847a89adf2335229e5184095c9f3e9594705897697e48bcc322d9a9f919b04047abb2075daca9fce8871
	b2sums = 0c9b61784beb6c6f8b082cad4299f52de994ecb49e6bf5e9ac263c1d4fc2618119ddb1276d7060772856d297d9c2765590b54972fa2234738b3dd5c4020332f8

pkgname = ruby
	depends = gcc-libs
	depends = gdbm
	depends = glibc
	depends = gmp
	depends = libffi
	depends = libxcrypt
	depends = libyaml
	depends = openssl
	depends = readline
	depends = zlib
	depends = rubygems
	optdepends = tk: for Ruby/TK
	optdepends = ruby-docs: Documentation for Ruby
	optdepends = ruby-default-gems: Default gems which are part of Ruby StdLib
	optdepends = ruby-bundled-gems: Bundled gems which are part of Ruby StdLib
	optdepends = ruby-stdlib: Full Ruby StdLib including default gems, bundled gems and tools
	provides = libruby.so
	provides = ruby-benchmark
	provides = ruby-cgi
	provides = ruby-date
	provides = ruby-delegate
	provides = ruby-did_you_mean
	provides = ruby-digest
	provides = ruby-english
	provides = ruby-error_highlight
	provides = ruby-etc
	provides = ruby-fcntl
	provides = ruby-fiddle
	provides = ruby-fileutils
	provides = ruby-find
	provides = ruby-forwardable
	provides = ruby-io-console
	provides = ruby-io-nonblock
	provides = ruby-io-wait
	provides = ruby-ipaddr
	provides = ruby-json
	provides = ruby-logger
	provides = ruby-net-http
	provides = ruby-net-protocol
	provides = ruby-open-uri
	provides = ruby-open3
	provides = ruby-openssl
	provides = ruby-optparse
	provides = ruby-ostruct
	provides = ruby-pathname
	provides = ruby-prism
	provides = ruby-pp
	provides = ruby-prettyprint
	provides = ruby-pstore
	provides = ruby-psych
	provides = ruby-readline
	provides = ruby-reline
	provides = ruby-resolv
	provides = ruby-ruby2_keywords
	provides = ruby-securerandom
	provides = ruby-set
	provides = ruby-shellwords
	provides = ruby-singleton
	provides = ruby-stringio
	provides = ruby-strscan
	provides = ruby-syntax_suggest
	provides = ruby-tempfile
	provides = ruby-time
	provides = ruby-timeout
	provides = ruby-tmpdir
	provides = ruby-tsort
	provides = ruby-un
	provides = ruby-uri
	provides = ruby-weakref
	provides = ruby-yaml
	provides = ruby-zlib
	conflicts = 
	replaces = ruby-benchmark
	replaces = ruby-cgi
	replaces = ruby-date
	replaces = ruby-delegate
	replaces = ruby-did_you_mean
	replaces = ruby-digest
	replaces = ruby-english
	replaces = ruby-etc
	replaces = ruby-fcntl
	replaces = ruby-fiddle
	replaces = ruby-fileutils
	replaces = ruby-find
	replaces = ruby-forwardable
	replaces = ruby-io-console
	replaces = ruby-io-nonblock
	replaces = ruby-io-wait
	replaces = ruby-ipaddr
	replaces = ruby-json
	replaces = ruby-logger
	replaces = ruby-net-http
	replaces = ruby-open-uri
	replaces = ruby-prism
	replaces = ruby-psych
	replaces = ruby-reline
	replaces = ruby-ruby2_keywords
	replaces = ruby-set
	replaces = ruby-stringio
	replaces = ruby-time
	replaces = ruby-tmpdir
	replaces = ruby-uri

pkgname = ruby-docs
	pkgdesc = Documentation files for Ruby

pkgname = ruby-default-gems
	pkgdesc = Default gems which are part of Ruby StdLib
	depends = ruby-bundler
	depends = ruby-erb
	depends = ruby-irb
	depends = ruby-rdoc
	depends = ruby-rubygems

pkgname = ruby-bundled-gems
	pkgdesc = Bundled gems which are part of Ruby StdLib
	depends = ruby-abbrev
	depends = ruby-base64
	depends = ruby-bigdecimal
	depends = ruby-csv
	depends = ruby-debug
	depends = ruby-drb
	depends = ruby-getoptlong
	depends = ruby-matrix
	depends = ruby-minitest
	depends = ruby-mutex_m
	depends = ruby-net-ftp
	depends = ruby-net-imap
	depends = ruby-net-pop
	depends = ruby-net-smtp
	depends = ruby-nkf
	depends = ruby-observer
	depends = ruby-power_assert
	depends = ruby-prime
	depends = ruby-racc
	depends = ruby-rake
	depends = ruby-rbs
	depends = ruby-repl_type_completor
	depends = ruby-resolv-replace
	depends = ruby-rexml
	depends = ruby-rinda
	depends = ruby-rss
	depends = ruby-test-unit
	depends = ruby-syslog
	depends = ruby-typeprof
	conflicts = ruby-bundledgems
	replaces = ruby-bundledgems

pkgname = ruby-stdlib
	pkgdesc = Full Ruby StdLib including default gems, bundled gems and tools
	depends = ruby-default-gems
	depends = ruby-bundled-gems
