pkgbase = telegram-desktop
	pkgdesc = Official Telegram Desktop client
	pkgver = 6.1.3
	pkgrel = 2
	url = https://desktop.telegram.org/
	install = telegram-desktop.install
	arch = x86_64
	license = GPL-3.0-or-later WITH OpenSSL-exception
	makedepends = boost
	makedepends = cmake
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gperf
	makedepends = libtg_owt
	makedepends = microsoft-gsl
	makedepends = ninja
	makedepends = python
	makedepends = range-v3
	makedepends = tl-expected
	depends = abseil-cpp
	depends = ada
	depends = ffmpeg
	depends = glib2
	depends = hicolor-icon-theme
	depends = hunspell
	depends = kcoreaddons
	depends = libavif
	depends = libdispatch
	depends = libheif
	depends = libjxl
	depends = libxcomposite
	depends = libxdamage
	depends = libxrandr
	depends = libxtst
	depends = lz4
	depends = minizip
	depends = openal
	depends = openh264
	depends = openssl
	depends = pipewire
	depends = protobuf
	depends = qt6-imageformats
	depends = qt6-svg
	depends = qt6-wayland
	depends = rnnoise
	depends = xxhash
	optdepends = geoclue: geoinformation support
	optdepends = geocode-glib-2: geocoding support
	optdepends = geocode-glib: geocoding support
	optdepends = webkit2gtk-4.1: embedded browser features provided by webkit2gtk-4.1
	optdepends = webkit2gtk: embedded browser features provided by webkit2gtk
	optdepends = webkitgtk-6.0: embedded browser features provided by webkitgtk-6.0 (Wayland only)
	optdepends = xdg-desktop-portal: desktop integration
	source = https://github.com/telegramdesktop/tdesktop/releases/download/v6.1.3/tdesktop-6.1.3-full.tar.gz
	source = git+https://github.com/tdlib/td.git#tag=6d74326c5ce53aeb52496f157f0080d9b8515970
	source = glib2.86.patch
	sha512sums = 951fbf4a9e0a5929130614aefdf2ac18d8d8e65b2d8d4d55da857136f17114e6a17677db9bb0585cfed121c3fe73e13b4db47b6da30fca7c276f33127eb3dba7
	sha512sums = 6dc6e684a0bf35bb83f6fa6579a0da82d604190b222f2cd2de9b8ef5b93f5f18ac9a8733e2c5cf2a64ed9933b346ea31e26a4bcc0039956280ec2deef9649457
	sha512sums = d1651683e0fecb43e37d5d01d75ae4b42fc1cfbf1d96eee42d37eb901b7d0cc22c4bc21b828dad2f4b40abe26923ed11f8c44dc759f969ca7efdc48280da9e23

pkgname = telegram-desktop
