pkgbase = telegram-desktop
	pkgdesc = Official Telegram Desktop client
	pkgver = 6.4.2
	pkgrel = 1
	url = https://desktop.telegram.org/
	arch = x86_64
	license = GPL-3.0-or-later WITH OpenSSL-exception
	makedepends = boost
	makedepends = cmake
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gperf
	makedepends = libtg_owt
	makedepends = microsoft-gsl
	makedepends = ninja
	makedepends = python
	makedepends = range-v3
	makedepends = tl-expected
	depends = abseil-cpp
	depends = ada
	depends = ffmpeg
	depends = glib2
	depends = hicolor-icon-theme
	depends = hunspell
	depends = kcoreaddons
	depends = libavif
	depends = libdispatch
	depends = libheif
	depends = libjxl
	depends = libxcomposite
	depends = libxdamage
	depends = libxrandr
	depends = libxtst
	depends = lz4
	depends = minizip
	depends = openal
	depends = openh264
	depends = openssl
	depends = pipewire
	depends = protobuf
	depends = qt6-imageformats
	depends = qt6-svg
	depends = qt6-wayland
	depends = rnnoise
	depends = xxhash
	optdepends = geoclue: geoinformation support
	optdepends = geocode-glib-2: geocoding support
	optdepends = webkit2gtk-4.1: embedded browser features provided by webkit2gtk-4.1
	optdepends = webkitgtk-6.0: embedded browser features provided by webkitgtk-6.0 (Wayland only)
	optdepends = xdg-desktop-portal: desktop integration
	source = https://github.com/telegramdesktop/tdesktop/releases/download/v6.4.2/tdesktop-6.4.2-full.tar.gz
	source = git+https://github.com/tdlib/td.git#tag=6d74326c5ce53aeb52496f157f0080d9b8515970
	sha512sums = cdc03b06d44b49d8cb7f4e5918f161f3dee1b5b5462b9abe925e7eeed0fc9b5fce2a696ef71dd3f62528657d7a6f6f15443ed091ce5a0f1ece4b1e53c75cdb2f
	sha512sums = 6dc6e684a0bf35bb83f6fa6579a0da82d604190b222f2cd2de9b8ef5b93f5f18ac9a8733e2c5cf2a64ed9933b346ea31e26a4bcc0039956280ec2deef9649457

pkgname = telegram-desktop
