[Desktop Entry]
Type=Application
Version=1.0
Name=Ghemical
GenericName=Computational chemistry package
GenericName[de]=Chemisches Berechnungsprogramm
Comment=3D molecule editor and computing program
Comment[de]=3D Moleküleditor und Berechnungsprogramm
Icon=/usr/share/ghemical/2.95/pixmaps/ghemical.png
Exec=/usr/bin/ghemical
Path=~
Terminal=false
Categories=Science;Chemistry;
StartupNotify=true