pkgbase = uutils-coreutils
	pkgdesc = Cross-platform Rust rewrite of the GNU coreutils
	pkgver = 0.8.0
	pkgrel = 1
	url = https://uutils.github.io/
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = rust
	depends = glibc
	depends = libgcc
	depends = oniguruma
	source = uutils-coreutils::git+https://github.com/uutils/coreutils.git#tag=0.8.0
	b2sums = ec178d0c5fce7ed8d466cc41d03bae99617fadcb79390c9fb1aa073e0bfc1054360f21c3cdfafce8f8737c1c0b7e1b21d1bd281485c5d4d2f5a5311a2fb8098d

pkgname = uutils-coreutils
