pkgbase = signal-desktop
	pkgdesc = Signal Private Messenger for Linux
	pkgver = 7.39.0
	pkgrel = 1
	url = https://signal.org
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	makedepends = git
	makedepends = git-lfs
	makedepends = libxcrypt-compat
	makedepends = node-gyp
	makedepends = nodejs
	makedepends = npm
	makedepends = python
	depends = gcc-libs
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libasound.so
	depends = libatk-bridge-2.0.so
	depends = libcairo.so
	depends = libcups
	depends = libdbus-1.so
	depends = libdrm
	depends = libexpat.so
	depends = libgio-2.0.so
	depends = libpango-1.0.so
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon.so
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	source = signal-desktop-7.39.0.tar.gz::https://github.com/signalapp/Signal-Desktop/archive/v7.39.0.tar.gz
	source = signal-desktop.desktop
	source = build_dir.patch
	sha256sums = b4b789ce5afceb454452e81ef57b28f956105ca47027588e19a3d8185c968688
	sha256sums = bf388df4b5bbcab5559ebbf220ed4748ed21b057f24b5ff46684e3fe6e88ccce
	sha256sums = 48e1042cb759a03e5d9280d3e1c07c43c3856f6fdae58b07ac1522a8e8625318
	b2sums = 4a298114455f3c996ee93d3fe88be0e378c5bd91eb28268e7814029fa7216cb1eea6532feac1bee05454572b6e241144649b2e5f7e3331f3367a862aaab04c80
	b2sums = ffb8f7bab4fd84aacf13e7b6d2835daf449b6650b4b3fa723456792ba7fb6cae352928fea11cb030510d558ce30036ff5a1513444f067b94c7fff0158b4f2265
	b2sums = b26a15b48b0724e6b697e3a39a04359c541454897eb68811804b41a0f2529fa2aaece9797dca723d4232959ca8e7413148b7f9575e608e33f25872b78c083ace

pkgname = signal-desktop
