pkgbase = fwupd
	pkgdesc = Simple daemon to allow session software to update firmware
	pkgver = 2.0.8
	pkgrel = 1
	url = https://github.com/fwupd/fwupd
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = bash-completion
	makedepends = gi-docgen
	makedepends = gnu-efi-libs
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = noto-fonts
	makedepends = noto-fonts-cjk
	makedepends = pandoc
	makedepends = python-cairo
	makedepends = python-dbus
	makedepends = python-dbusmock
	makedepends = python-gobject
	makedepends = python-pillow
	makedepends = umockdev
	makedepends = vala
	makedepends = valgrind
	depends = bash
	depends = bluez
	depends = curl
	depends = flashrom
	depends = fwupd-efi
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gnutls
	depends = hicolor-icon-theme
	depends = json-glib
	depends = libarchive
	depends = libcbor
	depends = libdrm
	depends = libjcat
	depends = libmbim
	depends = libmm-glib
	depends = libqmi
	depends = libusb
	depends = libxmlb
	depends = passim
	depends = polkit
	depends = protobuf-c
	depends = python
	depends = shared-mime-info
	depends = sqlite
	depends = systemd-libs
	depends = tpm2-tss
	depends = xz
	depends = zlib
	source = https://github.com/fwupd/fwupd/releases/download/2.0.8/fwupd-2.0.8.tar.xz
	source = https://github.com/fwupd/fwupd/releases/download/2.0.8/fwupd-2.0.8.tar.xz.asc
	source = fwupd.sysusers
	validpgpkeys = 163EB50119225DB3DF8F49EA17ACBA8DFA970E17
	sha512sums = c3598434ea6c70dda49eb681cd71d856ba755654ae4ea6263e4a2da0ecbcedeaaf3edcc46583a358b2942f3c5ea4308edfeafededc0abd06d824b90d3e77d0b4
	sha512sums = SKIP
	sha512sums = f9a99c60786a2b98e0de439a9288af61b2c0716f8339a4c93e2df7108d2a7f9ef8128967dcaa1e12022ffa647945bf5eb3749e38cac83e00a28cbc5b015fbee9
	b2sums = 3f2aac8b3d42a15c0d203199a368a7982eb1edc6241538052eba92a3114e038649b1dfd6a2bc82903516ca83ebf4b35f9e90bbd58ab0efa4cce6ef5b1f0db615
	b2sums = SKIP
	b2sums = c294c6dd324c0ad0d752affdc459d427d34f4bf865def099ac0e25db6b5dfbfcf645ca325e4e7732d1256e75c624ff27094d5c814726909c7e348128a9dd93f9

pkgname = fwupd
	depends = bash
	depends = bluez
	depends = curl
	depends = flashrom
	depends = fwupd-efi
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gnutls
	depends = hicolor-icon-theme
	depends = json-glib
	depends = libarchive
	depends = libcbor
	depends = libdrm
	depends = libjcat
	depends = libmbim
	depends = libmm-glib
	depends = libqmi
	depends = libusb
	depends = libxmlb
	depends = passim
	depends = polkit
	depends = protobuf-c
	depends = python
	depends = shared-mime-info
	depends = sqlite
	depends = systemd-libs
	depends = tpm2-tss
	depends = xz
	depends = zlib
	depends = libarchive.so
	depends = libblkid.so
	depends = libcbor.so
	depends = libcurl.so
	depends = libjson-glib-1.0.so
	depends = libmm-glib.so
	depends = libpassim.so
	depends = libprotobuf-c.so
	depends = libqmi-glib.so
	optdepends = python-dbus: Firmware packaging tools
	optdepends = python-gobject: Firmware packaging tools
	optdepends = udisks2: UEFI firmware upgrade support
	provides = libfwupd.so
	backup = etc/fwupd/fwupd.conf
	backup = etc/fwupd/remotes.d/lvfs-testing.conf
	backup = etc/fwupd/remotes.d/lvfs.conf
	backup = etc/fwupd/remotes.d/vendor-directory.conf

pkgname = fwupd-docs
	pkgdesc = Simple daemon to allow session software to update firmware - documentation
	depends = 
