pkgbase = fwupd
	pkgdesc = Simple daemon to allow session software to update firmware
	pkgver = 2.0.17
	pkgrel = 1
	url = https://github.com/fwupd/fwupd
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = bash-completion
	makedepends = gi-docgen
	makedepends = git
	makedepends = gnu-efi-libs
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = noto-fonts
	makedepends = noto-fonts-cjk
	makedepends = pandoc
	makedepends = python-cairo
	makedepends = python-dbus
	makedepends = python-dbusmock
	makedepends = python-gobject
	makedepends = python-pillow
	makedepends = umockdev
	makedepends = vala
	makedepends = valgrind
	depends = bash
	depends = bluez
	depends = curl
	depends = flashrom
	depends = fwupd-efi
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gnutls
	depends = hicolor-icon-theme
	depends = json-glib
	depends = libarchive
	depends = libcbor
	depends = libdrm
	depends = libjcat
	depends = libmbim
	depends = libmm-glib
	depends = libmnl
	depends = libqmi
	depends = libusb
	depends = libxmlb
	depends = passim
	depends = polkit
	depends = protobuf-c
	depends = python
	depends = shared-mime-info
	depends = sqlite
	depends = systemd-libs
	depends = tpm2-tss
	depends = xz
	depends = zlib
	source = git+https://github.com/fwupd/fwupd.git#tag=2.0.17?signed
	source = fwupd.sysusers
	validpgpkeys = 163EB50119225DB3DF8F49EA17ACBA8DFA970E17
	sha512sums = b8b7f8ce26964340536802eb8afc624091c98f4f12e69d49ff7558c3ae79deb7fc7bd25f739614ade2daa8db11fcd338442a1e78f481ed4f85a4891ecdab20ae
	sha512sums = f9a99c60786a2b98e0de439a9288af61b2c0716f8339a4c93e2df7108d2a7f9ef8128967dcaa1e12022ffa647945bf5eb3749e38cac83e00a28cbc5b015fbee9
	b2sums = 249b5f2943049a08fb55c15b645e1db1126401ed167f309a82b1d7d3b29aa8f487a30fc9475fccef9441104255eac91402878fcb226401e4d49ded2b0dab3b5f
	b2sums = c294c6dd324c0ad0d752affdc459d427d34f4bf865def099ac0e25db6b5dfbfcf645ca325e4e7732d1256e75c624ff27094d5c814726909c7e348128a9dd93f9

pkgname = fwupd
	depends = bash
	depends = bluez
	depends = curl
	depends = flashrom
	depends = fwupd-efi
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gnutls
	depends = hicolor-icon-theme
	depends = json-glib
	depends = libarchive
	depends = libcbor
	depends = libdrm
	depends = libjcat
	depends = libmbim
	depends = libmm-glib
	depends = libmnl
	depends = libqmi
	depends = libusb
	depends = libxmlb
	depends = passim
	depends = polkit
	depends = protobuf-c
	depends = python
	depends = shared-mime-info
	depends = sqlite
	depends = systemd-libs
	depends = tpm2-tss
	depends = xz
	depends = zlib
	depends = libarchive.so
	depends = libblkid.so
	depends = libcbor.so
	depends = libcurl.so
	depends = libjson-glib-1.0.so
	depends = libmm-glib.so
	depends = libpassim.so
	depends = libprotobuf-c.so
	depends = libqmi-glib.so
	optdepends = python-dbus: Firmware packaging tools
	optdepends = python-gobject: Firmware packaging tools
	optdepends = udisks2: UEFI firmware upgrade support
	provides = libfwupd.so
	backup = etc/fwupd/fwupd.conf
	backup = etc/fwupd/remotes.d/lvfs-testing.conf
	backup = etc/fwupd/remotes.d/lvfs.conf
	backup = etc/fwupd/remotes.d/vendor-directory.conf

pkgname = fwupd-docs
	pkgdesc = Simple daemon to allow session software to update firmware - documentation
	depends = 
