pkgbase = fwupd
	pkgdesc = Simple daemon to allow session software to update firmware
	pkgver = 2.0.0
	pkgrel = 1
	url = https://github.com/fwupd/fwupd
	arch = x86_64
	license = LGPL-2.1-or-later
	checkdepends = umockdev
	checkdepends = python-dbusmock
	makedepends = bash-completion
	makedepends = gi-docgen
	makedepends = gnu-efi-libs
	makedepends = gobject-introspection
	makedepends = libdrm
	makedepends = meson
	makedepends = noto-fonts
	makedepends = noto-fonts-cjk
	makedepends = pandoc
	makedepends = python-cairo
	makedepends = python-dbus
	makedepends = python-gobject
	makedepends = python-pillow
	makedepends = vala
	makedepends = valgrind
	depends = bash
	depends = bluez
	depends = curl
	depends = flashrom
	depends = fwupd-efi
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gnutls
	depends = hicolor-icon-theme
	depends = json-glib
	depends = libarchive
	depends = libcbor
	depends = libjcat
	depends = libmbim
	depends = libmm-glib
	depends = libqmi
	depends = libusb
	depends = libxmlb
	depends = passim
	depends = polkit
	depends = protobuf-c
	depends = python
	depends = shared-mime-info
	depends = sqlite
	depends = systemd-libs
	depends = tpm2-tss
	depends = xz
	depends = zlib
	source = https://github.com/fwupd/fwupd/releases/download/2.0.0/fwupd-2.0.0.tar.xz
	source = https://github.com/fwupd/fwupd/releases/download/2.0.0/fwupd-2.0.0.tar.xz.asc
	source = fwupd.sysusers
	source = fix-2.0.0-build.patch::https://github.com/fwupd/fwupd/commit/9637c35339111d92add461fc3ad2a032e90abc9c.patch
	validpgpkeys = 163EB50119225DB3DF8F49EA17ACBA8DFA970E17
	sha512sums = 5558bfb53128bb13a8e6802bb663043877b65509fbb37f6abbc23713f9414e888f0fa4be9a4bcef2a971c6a6d819342cbb2044efd7af8c9d7c43b34b3ffd04a3
	sha512sums = SKIP
	sha512sums = 637203080b55eda74a659f58c853a9a723a2dad5da70915b2b0e036c6145a649468ebec700cc83975d9cb5378b9dced8b3a3b26bdbcc75ddc774837355e75deb
	sha512sums = 2a29ae3e41b5ee871ffa5a183595734ac5ef47c033f59a8d798d0c5dc773eb71e941074c5c4b918dca8329fb9262136e803f9bb2deba2f06349c51ef9aca2e21
	b2sums = 4563abe4d61e929573fcab478e0c94f7568f476f315ea9a9b2c4162776d309cd7985d1fb4a1c1c62d95ee4bfeddab7264ed2a63b543572236ca76323a009d28a
	b2sums = SKIP
	b2sums = e65ca7da22a20a40882cfc1fe4479643f9a38c90a4f2c3e71e6e5e3de1d6db212a0f17d600097619fe3cdb0a9b860422f8b0b9a9d45441518e51a7eb12a918bb
	b2sums = c03a978e6558d039257219c16e385acd2b6e3c0e1b640f1793e8642a5ebd1ffe22397b48829090ea5dd5740e1e2ff034d9011d1fab4573a43e6ab12ba0e43685

pkgname = fwupd
	depends = bash
	depends = bluez
	depends = curl
	depends = flashrom
	depends = fwupd-efi
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gnutls
	depends = hicolor-icon-theme
	depends = json-glib
	depends = libarchive
	depends = libcbor
	depends = libjcat
	depends = libmbim
	depends = libmm-glib
	depends = libqmi
	depends = libusb
	depends = libxmlb
	depends = passim
	depends = polkit
	depends = protobuf-c
	depends = python
	depends = shared-mime-info
	depends = sqlite
	depends = systemd-libs
	depends = tpm2-tss
	depends = xz
	depends = zlib
	depends = libarchive.so
	depends = libcbor.so
	depends = libcurl.so
	depends = libgudev-1.0.so
	depends = libjson-glib-1.0.so
	depends = libmm-glib.so
	depends = libpassim.so
	depends = libprotobuf-c.so
	depends = libqmi-glib.so
	optdepends = python-dbus: Firmware packaging tools
	optdepends = python-gobject: Firmware packaging tools
	optdepends = udisks2: UEFI firmware upgrade support
	provides = libfwupd.so
	backup = etc/fwupd/fwupd.conf
	backup = etc/fwupd/remotes.d/lvfs-testing.conf
	backup = etc/fwupd/remotes.d/lvfs.conf
	backup = etc/fwupd/remotes.d/vendor-directory.conf

pkgname = fwupd-docs
	pkgdesc = Simple daemon to allow session software to update firmware - documentation
	depends = 
