polkit.addRule(function(action, subject) {
    if ((action.id == "org.freedesktop.fwupd.get-remotes" ||
         action.id == "org.freedesktop.fwupd.refresh-remote") &&
         subject.user == "fwupd") {
            return polkit.Result.YES;
    }
});

