pkgbase = file
	pkgdesc = File type identification utility
	pkgver = 5.46
	pkgrel = 3
	url = https://www.darwinsys.com/file/
	arch = x86_64
	license = custom
	depends = glibc
	depends = zlib
	depends = xz
	depends = bzip2
	depends = libseccomp
	depends = libseccomp.so
	depends = zstd
	depends = libzstd.so
	provides = libmagic.so
	options = !emptydirs
	source = https://astron.com/pub/file/file-5.46.tar.gz
	source = https://astron.com/pub/file/file-5.46.tar.gz.asc
	source = 0001-PR-579-net147-Fix-stack-overrun.patch
	source = 0002-PR-571-jschleus-Some-zip-files-are-misclassified-as-data.patch
	validpgpkeys = BE04995BA8F90ED0C0C176C471112AB16CB33B3A
	sha256sums = c9cc77c7c560c543135edc555af609d5619dbef011997e988ce40a3d75d86088
	sha256sums = SKIP
	sha256sums = 2db041dcadaf8500a8e10d914890963f27a5b716e97f0baf839e01f7c3d8b576
	sha256sums = c93c8ae784ba27c2eec02a94db7bc7080d1b116d4c8e4a9191bd67b4288f2b0e

pkgname = file
