pkgbase = libfyaml
	pkgdesc = Fully feature complete YAML parser and emitter
	pkgver = 0.9.6
	pkgrel = 2
	url = https://pantoniou.github.io/libfyaml/
	arch = x86_64
	license = MIT
	makedepends = git
	depends = glibc
	source = git+https://github.com/pantoniou/libfyaml#tag=v0.9.6
	sha256sums = 6e3066fc231e83fe7899c3ccd8ed8931cb46461ffb25e73fcab89a35affaeccd

pkgname = libfyaml
