pkgbase = xine-ui
	pkgdesc = A free multimedia player
	pkgver = 0.99.14
	pkgrel = 2
	url = https://www.xine-project.org
	arch = x86_64
	license = GPL
	depends = xine-lib
	depends = aalib
	depends = curl
	depends = hicolor-icon-theme
	depends = libjpeg-turbo
	depends = libpng
	depends = libx11
	depends = libxext
	depends = libxft
	depends = libxinerama
	depends = libxv
	depends = libxxf86vm
	depends = lirc
	depends = readline
	source = https://downloads.sourceforge.net/xine/xine-ui-0.99.14.tar.xz
	sha256sums = d4d490d5cece70e2bb9849c9e482f2cf87af0302d451b614476fdcc3642cd9c3

pkgname = xine-ui
