pkgbase = qt6-base
	pkgdesc = A cross-platform application and UI framework
	pkgver = 6.6.0
	pkgrel = 3
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = alsa-lib
	makedepends = cmake
	makedepends = cups
	makedepends = freetds
	makedepends = gst-plugins-base-libs
	makedepends = gtk3
	makedepends = libfbclient
	makedepends = libpulse
	makedepends = mariadb-libs
	makedepends = ninja
	makedepends = postgresql
	makedepends = unixodbc
	makedepends = xmlstarlet
	depends = brotli
	depends = dbus
	depends = double-conversion
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = harfbuzz
	depends = icu
	depends = krb5
	depends = libb2
	depends = libcups
	depends = libdrm
	depends = libgl
	depends = libice
	depends = libinput
	depends = libjpeg-turbo
	depends = libpng
	depends = libproxy
	depends = libsm
	depends = libx11
	depends = libxcb
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = md4c
	depends = mesa
	depends = mtdev
	depends = openssl
	depends = pcre2
	depends = shared-mime-info
	depends = sqlite
	depends = systemd-libs
	depends = tslib
	depends = vulkan-headers
	depends = xcb-util-cursor
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = xdg-utils
	depends = zlib
	depends = zstd
	optdepends = freetds: MS SQL driver
	optdepends = gdk-pixbuf2: GTK platform plugin
	optdepends = gtk3: GTK platform plugin
	optdepends = libfbclient: Firebird/iBase driver
	optdepends = mariadb-libs: MariaDB driver
	optdepends = pango: GTK platform plugin
	optdepends = perl: for syncqt
	optdepends = postgresql-libs: PostgreSQL driver
	optdepends = qt6-wayland: to run Qt6 applications in a Wayland session
	optdepends = unixodbc: ODBC driver
	source = https://download.qt.io/official_releases/qt/6.6/6.6.0/submodules/qtbase-everywhere-src-6.6.0.tar.xz
	source = qt6-base-cflags.patch
	source = qt6-base-nostrip.patch
	source = libxkbcommon-1.6.patch::https://code.qt.io/cgit/qt/qtbase.git/patch/?id=8af35d27
	source = qt6-base-fix-a11y.patch::https://code.qt.io/cgit/qt/qtbase.git/patch?id=197e5915
	sha256sums = 039d53312acb5897a9054bd38c9ccbdab72500b71fdccdb3f4f0844b0dd39e0e
	sha256sums = 5411edbe215c24b30448fac69bd0ba7c882f545e8cf05027b2b6e2227abc5e78
	sha256sums = 4b93f6a79039e676a56f9d6990a324a64a36f143916065973ded89adc621e094
	sha256sums = f3e81eca8e41b93889943a20da94d683fb5b706cb0f9dc8b851d653df3a1bbf6
	sha256sums = 40fda77b524f2f46a7081f68f68650edff1b02220756363fc5222b1349de9e9b

pkgname = qt6-base
	depends = brotli
	depends = dbus
	depends = double-conversion
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = harfbuzz
	depends = icu
	depends = krb5
	depends = libb2
	depends = libcups
	depends = libdrm
	depends = libgl
	depends = libice
	depends = libinput
	depends = libjpeg-turbo
	depends = libpng
	depends = libproxy
	depends = libsm
	depends = libx11
	depends = libxcb
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = md4c
	depends = mesa
	depends = mtdev
	depends = openssl
	depends = pcre2
	depends = shared-mime-info
	depends = sqlite
	depends = systemd-libs
	depends = tslib
	depends = vulkan-headers
	depends = xcb-util-cursor
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = xdg-utils
	depends = zlib
	depends = zstd
	depends = qt6-translations
