pkgbase = qt6-base
	pkgdesc = A cross-platform application and UI framework
	pkgver = 6.7.2
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = alsa-lib
	makedepends = cmake
	makedepends = cups
	makedepends = freetds
	makedepends = git
	makedepends = gst-plugins-base-libs
	makedepends = gtk3
	makedepends = libfbclient
	makedepends = libpulse
	makedepends = mariadb-libs
	makedepends = ninja
	makedepends = postgresql
	makedepends = unixodbc
	makedepends = xmlstarlet
	depends = brotli
	depends = dbus
	depends = double-conversion
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = harfbuzz
	depends = icu
	depends = krb5
	depends = libb2
	depends = libcups
	depends = libdrm
	depends = libgl
	depends = libice
	depends = libinput
	depends = libjpeg-turbo
	depends = libpng
	depends = libproxy
	depends = libsm
	depends = libx11
	depends = libxcb
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = md4c
	depends = mesa
	depends = mtdev
	depends = openssl
	depends = pcre2
	depends = shared-mime-info
	depends = sqlite
	depends = systemd-libs
	depends = tslib
	depends = vulkan-headers
	depends = xcb-util-cursor
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = xdg-utils
	depends = zlib
	depends = zstd
	optdepends = freetds: MS SQL driver
	optdepends = gdk-pixbuf2: GTK platform plugin
	optdepends = gtk3: GTK platform plugin
	optdepends = libfbclient: Firebird/iBase driver
	optdepends = mariadb-libs: MariaDB driver
	optdepends = pango: GTK platform plugin
	optdepends = perl: for syncqt
	optdepends = postgresql-libs: PostgreSQL driver
	optdepends = qt6-wayland: to run Qt6 applications in a Wayland session
	optdepends = unixodbc: ODBC driver
	source = git+https://code.qt.io/qt/qtbase#tag=v6.7.2
	source = qt6-base-cflags.patch
	source = qt6-base-nostrip.patch
	sha256sums = 9ca28c2614cc755c65e1f817e61cb3b88549f46300d84ed34faf01717f8c24e5
	sha256sums = 5411edbe215c24b30448fac69bd0ba7c882f545e8cf05027b2b6e2227abc5e78
	sha256sums = 4b93f6a79039e676a56f9d6990a324a64a36f143916065973ded89adc621e094

pkgname = qt6-base
	pkgdesc = A cross-platform application and UI framework
	depends = brotli
	depends = dbus
	depends = double-conversion
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = harfbuzz
	depends = icu
	depends = krb5
	depends = libb2
	depends = libcups
	depends = libdrm
	depends = libgl
	depends = libice
	depends = libinput
	depends = libjpeg-turbo
	depends = libpng
	depends = libproxy
	depends = libsm
	depends = libx11
	depends = libxcb
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = md4c
	depends = mesa
	depends = mtdev
	depends = openssl
	depends = pcre2
	depends = shared-mime-info
	depends = sqlite
	depends = systemd-libs
	depends = tslib
	depends = vulkan-headers
	depends = xcb-util-cursor
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = xdg-utils
	depends = zlib
	depends = zstd
	depends = qt6-translations

pkgname = qt6-xcb-private-headers
	pkgdesc = Private headers for Qt6 Xcb
	groups = 
	depends = qt6-base=6.7.2
	optdepends = 
