[Unit]
Description=clamav daemon

[Service]
Type=forking
PIDFile=/run/clamav/clamd.pid
ExecStart=/usr/bin/clamd

[Install]
WantedBy=multi-user.target
