--- a/drivers/video/backlight/Kconfig
+++ b/drivers/video/backlight/Kconfig
@@ -136,6 +136,12 @@ config LCD_HX8357
   	  If you have a panel based on the OTM3225A controller
   	  chip then say y to include a driver for it.

+config LCD_KD027
+	tristate "STARTEK KD027 LCD Driver"
+	help
+	  If you have a KD027 LCD panel, say Y to enable its LCD control
+	  driver.
+
 endif # LCD_CLASS_DEVICE

 #
@@ -458,6 +464,12 @@ config BACKLIGHT_RAVE_SP
 	help
 	  Support for backlight control on RAVE SP device.

+config BACKLIGHT_OCP8178
+	tristate "OCP8178 Backlight Driver"
+	depends on GPIOLIB
+	help
+	  If you have an OCP8178, say Y to enable the backlight driver.
+
 endif # BACKLIGHT_CLASS_DEVICE

 endmenu
