pkgbase = openssl
	pkgdesc = The Open Source toolkit for Secure Sockets Layer and Transport Layer Security
	pkgver = 3.3.1
	pkgrel = 1
	url = https://www.openssl.org
	arch = x86_64
	license = Apache-2.0
	makedepends = perl
	depends = glibc
	optdepends = ca-certificates
	optdepends = perl
	provides = libcrypto.so
	provides = libssl.so
	replaces = openssl-perl
	replaces = openssl-doc
	backup = etc/ssl/openssl.cnf
	source = https://www.openssl.org/source/openssl-3.3.1.tar.gz
	source = https://www.openssl.org/source/openssl-3.3.1.tar.gz.asc
	source = ca-dir.patch
	validpgpkeys = 8657ABB260F056B1E5190839D9C4D26D0E604491
	validpgpkeys = 7953AC1FBC3DC8B3B292393ED5E9E43F7DF9EE8C
	validpgpkeys = A21FAB74B0088AA361152586B8EF1A6BA9DA2D5C
	validpgpkeys = EFC0A467D613CB83C7ED6D30D894E2CE8B3D79F5
	sha256sums = 777cd596284c883375a2a7a11bf5d2786fc5413255efab20c50d6ffe6d020b7e
	sha256sums = SKIP
	sha256sums = 0a32d9ca68e8d985ce0bfef6a4c20b46675e06178cc2d0bf6d91bd6865d648b7

pkgname = openssl
