[Unit]
Description=Simple Network Management Protocol (SNMP) TRAP Daemon
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/run/snmptrapd.pid
ExecStart=/usr/bin/snmptrapd -p /run/snmptrapd.pid
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
