[Desktop Entry]
Encoding=UTF-8
Exec=seamonkey %u
Icon=seamonkey
Type=Application
Terminal=false
MultipleArgs=false
Name=SeaMonkey internet suite
MimeType=text/html
StartupNotify=false
Categories=Application;Network;
