pkgbase = icu
	pkgdesc = International Components for Unicode library
	pkgver = 78.2
	pkgrel = 1
	url = https://icu.unicode.org
	arch = x86_64
	license = LicenseRef-Unicode-3.0
	license = BSD-2-Clause
	license = BSD-3-Clause
	license = NAIST-2003
	makedepends = python
	depends = gcc-libs
	depends = glibc
	depends = sh
	provides = libicudata.so
	provides = libicui18n.so
	provides = libicuio.so
	provides = libicutest.so
	provides = libicutu.so
	provides = libicuuc.so
	source = https://github.com/unicode-org/icu/releases/download/release-78.2/icu4c-78.2-sources.tgz
	source = https://github.com/unicode-org/icu/releases/download/release-78.2/icu4c-78.2-sources.tgz.asc
	source = ICU-22132.patch
	validpgpkeys = E52F07877A5805F9AF4AB0ACD46C5610D06E7001
	sha512sums = 92feddfe81c57336f386c7cbc9f6d976bf349db148a77a247c4559676f51116115c8c52c4d907feb50933f72ab75fd8e48be092bf9c8ca33a3e8fabc9372a5d6
	sha512sums = SKIP
	sha512sums = 1178062ccfcf7ecc698c64132b3612e73f9c4b0bbfaa668ae2039f3eb4cb2722d0b08a9f45b057da10def7a308d5c8d14c0c644892e7f11092c9cc488c850ab7

pkgname = icu
