pkgbase = polymake
	pkgdesc = Open source software for research in polyhedral geometry
	pkgver = 4.12
	pkgrel = 2
	url = https://polymake.org/
	arch = x86_64
	license = GPL
	makedepends = ant
	makedepends = boost
	makedepends = jdk-openjdk
	makedepends = libnsl
	makedepends = nauty
	makedepends = ninja
	makedepends = permlib
	makedepends = soplex
	depends = bliss
	depends = cddlib
	depends = e-antic
	depends = flint
	depends = gcc-libs
	depends = glibc
	depends = gmp
	depends = lrs
	depends = mpfr
	depends = normaliz
	depends = perl=5.38.2
	depends = perl-json
	depends = perl-term-readkey
	depends = perl-term-readline-gnu
	depends = perl-xml-libxml
	depends = perl-xml-libxslt
	depends = perl-xml-writer
	depends = ppl
	depends = scip
	depends = singular
	depends = sympol
	depends = zlib
	optdepends = java-runtime: java module
	source = https://polymake.org/lib/exe/fetch.php/download/polymake-4.12-minimal.tar.bz2
	source = lrs-073.patch
	sha256sums = bd5a667ffca4bf7eb8d51134030ce3df3b16dd9d0e800fafdb1ce835867640d9
	sha256sums = 4795e9fc2dd23546ca7f6a112695f09f6b745517cff387a0f9f54aecf3272ef7

pkgname = polymake
