pkgbase = libretro-parallel-n64
	pkgdesc = Nintendo 64 core
	pkgver = 20260626.052303.g60817554d605
	pkgrel = 1
	url = https://github.com/libretro/parallel-n64
	arch = x86_64
	groups = libretro
	license = GPL-2.0-only
	makedepends = git
	makedepends = mesa
	makedepends = nasm
	depends = glibc
	depends = libgcc
	depends = libgl
	depends = libretro-core-info
	depends = libstdc++
	options = !lto
	source = libretro-parallel-n64::git+https://github.com/libretro/parallel-n64.git#commit=60817554d605
	b2sums = c7f9688ac319a5c5ee7fb0ea356b3c54340ee19b64e97782e9555edc136a45dee24c0b1187ad6789060e53b53e72e3cd77556c25ffe6c073e43cc8a7926f2687

pkgname = libretro-parallel-n64
