[Desktop Entry]
Name=NetBeans IDE
Comment=A Java IDE
Icon=/usr/share/netbeans/nb6.7/netbeans.png
Exec=/usr/share/netbeans/bin/netbeans
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true
