pkgbase = libtool
	pkgdesc = A generic library support script
	pkgver = 2.6.0+r23+gb08cb0a0
	pkgrel = 1
	url = https://www.gnu.org/software/libtool
	arch = x86_64
	license = LGPL-2.0-or-later WITH Libtool-exception
	checkdepends = gcc-fortran
	makedepends = gcc>=16.1.1
	makedepends = git
	makedepends = glibc
	makedepends = lib32-gcc-libs
	makedepends = lib32-glibc
	makedepends = help2man
	depends = sh
	depends = tar
	source = git+https://git.savannah.gnu.org/git/libtool.git#commit=b08cb0a06da153372dac8d184d24e7edfff2a209
	source = git+https://git.savannah.gnu.org/git/gnulib.git
	source = gnulib-bootstrap::git+https://github.com/gnulib-modules/bootstrap.git
	b2sums = 6472d8fbe7f60010c42d85d0715818b71ef431b577c55d745ca0280eacf0ec79d246ec1296776d797e1eb728d124311ad6035f2afc3c24f5beacd57c580308d3
	b2sums = SKIP
	b2sums = SKIP

pkgname = libtool
	depends = sh
	depends = tar
	depends = glibc
	provides = libltdl=2.6.0+r23+gb08cb0a0
	provides = libtool-multilib=2.6.0+r23+gb08cb0a0
	conflicts = libltdl
	conflicts = libtool-multilib
	replaces = libltdl
	replaces = libtool-multilib

pkgname = lib32-libltdl
	depends = sh
	depends = tar
	depends = lib32-glibc
	depends = libtool
	provides = lib32-libtool=2.6.0+r23+gb08cb0a0
	conflicts = lib32-libtool
	replaces = lib32-libtool
