pkgbase = libtool
	pkgdesc = A generic library support script
	pkgver = 2.6.0
	pkgrel = 4
	url = https://www.gnu.org/software/libtool
	arch = x86_64
	license = LGPL-2.0-or-later WITH Libtool-exception
	checkdepends = gcc-fortran
	makedepends = gcc>=15.2.1
	makedepends = git
	makedepends = glibc
	makedepends = lib32-gcc-libs
	makedepends = lib32-glibc
	makedepends = help2man
	depends = sh
	depends = tar
	source = git+https://git.savannah.gnu.org/git/libtool.git#commit=e40fdc22cf727fb885f9df7d9affa827e3253d1c
	source = git+https://git.savannah.gnu.org/git/gnulib.git
	source = gnulib-bootstrap::git+https://github.com/gnulib-modules/bootstrap.git
	b2sums = 944513327da07374709975c44ad8a80e953727ec11a68bdf6dd3a376acb02339000a0d5982011db9eeb863be0362991cbab1e2fe6c56d7710c1d527ea40bbcde
	b2sums = SKIP
	b2sums = SKIP

pkgname = libtool
	depends = sh
	depends = tar
	depends = glibc
	provides = libltdl=2.6.0
	provides = libtool-multilib=2.6.0
	conflicts = libltdl
	conflicts = libtool-multilib
	replaces = libltdl
	replaces = libtool-multilib

pkgname = lib32-libltdl
	depends = sh
	depends = tar
	depends = lib32-glibc
	depends = libtool
	provides = lib32-libtool=2.6.0
	conflicts = lib32-libtool
	replaces = lib32-libtool
