pkgbase = openblas
	pkgdesc = An optimized BLAS library based on GotoBLAS2 1.13 BSD
	pkgver = 0.3.30
	pkgrel = 1
	url = https://www.openblas.net/
	arch = x86_64
	license = BSD
	makedepends = git
	makedepends = cmake
	makedepends = perl
	makedepends = gcc-fortran
	depends = gcc-libs
	source = git+https://github.com/xianyi/OpenBLAS#tag=v0.3.30
	sha512sums = 7dd5fe4a9f4e0d5554cab294ef8c5ce6e0acfe6d6c1786b0a018c5d736264203bac36632e900c01fab427a607725b8924aba30b13086f7403f34c410bf483a28

pkgname = openblas

pkgname = openblas64
	pkgdesc = An optimized BLAS library based on GotoBLAS2 1.13 BSD (64-bit integers)

pkgname = blas-openblas
	pkgdesc = An optimized BLAS library based on GotoBLAS2 1.13 BSD (Provides BLAS/CBLAS/LAPACK/LAPACKE system-wide)
	depends = openblas
	provides = blas=3.12.0
	provides = cblas=3.12.0
	provides = lapack=3.12.0
	provides = lapacke=3.12.0
	provides = openblas-lapack=0.3.30
	conflicts = blas
	conflicts = cblas
	conflicts = lapack
	conflicts = lapacke
	conflicts = openblas-lapack
	replaces = openblas-lapack

pkgname = blas64-openblas
	pkgdesc = An optimized BLAS library based on GotoBLAS2 1.13 BSD (64-bit integers, provides BLAS/CBLAS/LAPACK/LAPACKE system-wide)
	depends = openblas64
	provides = blas64=3.12.0
	provides = cblas64=3.12.0
	provides = lapack64=3.12.0
	provides = lapacke64=3.12.0
	conflicts = blas64
	conflicts = cblas64
	conflicts = lapack64
	conflicts = lapacke64
