pkgbase = openblas
	pkgdesc = An optimized BLAS library based on GotoBLAS2 1.13 BSD
	pkgver = 0.3.32
	pkgrel = 2
	url = https://www.openblas.net/
	arch = x86_64
	license = BSD-3-Clause
	makedepends = git
	makedepends = cmake
	makedepends = perl
	makedepends = gcc-fortran
	depends = glibc
	depends = libgcc
	depends = libgfortran
	depends = libgomp
	source = git+https://github.com/OpenMathLib/OpenBLAS.git#tag=v0.3.32
	sha512sums = dd983d19b1e4dfb1399689df8df52c4c6fad6210236b764f612c25c6909eb95f6cd35245fb68822711e09707fbd5ac3ded0e3d962c725de368e31290071759fa

pkgname = openblas

pkgname = openblas64
	pkgdesc = An optimized BLAS library based on GotoBLAS2 1.13 BSD (64-bit integers)

pkgname = blas-openblas
	pkgdesc = An optimized BLAS library based on GotoBLAS2 1.13 BSD (Provides BLAS/CBLAS/LAPACK/LAPACKE system-wide)
	depends = openblas
	provides = blas=3.12.0
	provides = cblas=3.12.0
	provides = lapack=3.12.0
	provides = lapacke=3.12.0
	provides = openblas-lapack=0.3.32
	conflicts = blas
	conflicts = cblas
	conflicts = lapack
	conflicts = lapacke
	conflicts = openblas-lapack
	replaces = openblas-lapack

pkgname = blas64-openblas
	pkgdesc = An optimized BLAS library based on GotoBLAS2 1.13 BSD (64-bit integers, provides BLAS/CBLAS/LAPACK/LAPACKE system-wide)
	depends = openblas64
	provides = blas64=3.12.0
	provides = cblas64=3.12.0
	provides = lapack64=3.12.0
	provides = lapacke64=3.12.0
	conflicts = blas64
	conflicts = cblas64
	conflicts = lapack64
	conflicts = lapacke64
