pkgbase = compiler-rt
	pkgdesc = Compiler runtime libraries for clang
	pkgver = 22.1.1
	pkgrel = 1
	url = https://compiler-rt.llvm.org/
	arch = x86_64
	license = Apache-2.0 WITH LLVM-exception
	makedepends = llvm
	makedepends = cmake
	makedepends = ninja
	makedepends = python
	depends = glibc
	depends = libgcc
	depends = libstdc++
	options = staticlibs
	options = !lto
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-22.1.1/llvm-project-22.1.1.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-22.1.1/llvm-project-22.1.1.src.tar.xz.sig
	validpgpkeys = 474E22316ABF4785A88C6E8EA2C794A986419D8A
	validpgpkeys = D574BD5D1D0E98895E3BF90044F2485E45D59042
	validpgpkeys = FFB3368980F3E6BB5737145A316C56D064CACBA5
	validpgpkeys = 71046D1E9C6656BDD61171873E83BABF4A4F9E85
	sha256sums = 9c6f37f6f5f68d38f435d25f770fc48c62d92b2412205767a16dac2c942f0c95
	sha256sums = SKIP
	makedepends_x86_64 = lib32-gcc-libs

pkgname = compiler-rt
