[Desktop Entry]
Name=OpenJDK Java 10 Runtime
Name[fi]=OpenJDK Java 10 - ajonaikainen ympäristö
Comment=OpenJDK Java 10 Runtime
Comment[fi]=OpenJDK Java 10 - ajonaikainen ympäristö
Keywords=java;runtime
Exec=/usr/lib/jvm/java-10-openjdk/bin/java -jar
Terminal=false
Type=Application
Icon=java10-openjdk
MimeType=application/x-java-archive;application/java-archive;application/x-jar;
NoDisplay=true
