[Desktop Entry]
Name=OpenJDK Java 10 Console
Name[fi]=OpenJDK Java 10 - konsoli
Comment=OpenJDK Java 10 Monitoring & Management Console
Comment[fi]=OpenJDK Java 10 - valvonta- ja hallintakonsoli
Keywords=java;console;monitoring
Exec=/usr/lib/jvm/java-10-openjdk/bin/jconsole
Terminal=false
Type=Application
Icon=java10-openjdk
Categories=Application;System;
