pkgbase = netdata
	pkgdesc = Real-time performance monitoring, in the greatest possible detail, over the web
	pkgver = 1.44.2
	pkgrel = 1
	url = https://github.com/netdata/netdata
	arch = x86_64
	license = GPL
	makedepends = cups
	makedepends = go
	depends = libmnl
	depends = libnetfilter_acct
	depends = zlib
	depends = judy
	depends = libuv
	depends = json-c
	depends = libcap
	depends = lz4
	depends = openssl
	depends = which
	depends = snappy
	depends = protobuf
	depends = libwebsockets
	depends = mongo-c-driver
	depends = libyaml
	optdepends = nodejs: for monitoring named and SNMP devices
	optdepends = lm_sensors: for monitoring hardware sensors
	optdepends = iproute2: for monitoring Linux QoS
	optdepends = python: for most of the external plugins
	optdepends = python-psycopg2: for monitoring PostgreSQL databases
	optdepends = python-mysqlclient: for monitoring MySQL/MariaDB databases
	optdepends = python-requests: for monitoring elasticsearch
	optdepends = hddtemp: for monitoring hhd temperature
	optdepends = fping: for for fping module
	optdepends = apcupsd: for monitoring APC UPS
	optdepends = cups: for CUPS plugin
	optdepends = iw: for monitoring Linux as access point
	backup = etc/netdata/netdata.conf
	source = netdata-1.44.2.tar.gz::https://github.com/netdata/netdata/releases/download/v1.44.2/netdata-v1.44.2.tar.gz
	source = go.d.plugin-0.57.2.tar.gz::https://github.com/netdata/go.d.plugin/archive/refs/tags/v0.57.2.tar.gz
	source = https://github.com/netdata/go.d.plugin/releases/download/v0.57.2/go.d.plugin-config-v0.57.2.tar.gz
	source = netdata.sysusers
	sha512sums = 98c2d6c25b9ef3b3c7765d4910934976ae468c141f94f3d092a117f1fb11599765418c5f6e709360dbef6d136107ab8d6e175e142c32cce5c60d3be6f41c1105
	sha512sums = b8bc855d18245bfa69407a1449be4179375ecd6b6d9014f8726b0ac0c9b52a7ff193e50df82cf09c7a598f96a4edc8f9178b4f77c78af07a1e15e49a2d06b9e8
	sha512sums = a64683be6d3327ce9500606b22d8d908cf36206934b5437d1c91d893c72cd8e44057f895c7e3986aa22335884903f2835d4b64196a65060d4dee41a6bca321b1
	sha512sums = a910809a823ba58ca7bdaa72e8d68427b48f452c1fbb2343fa182ecb0a091a7640e73af24b8ba2fdd90e00aed8ef53b7fccd25cb8f04ca9b9fa6c8e52223ca66

pkgname = netdata
