pkgbase = imlib2
	pkgdesc = Library that does image file loading and saving as well as rendering, manipulation, arbitrary polygon support
	pkgver = 1.12.2
	pkgrel = 1
	url = https://sourceforge.net/projects/enlightenment/
	arch = x86_64
	license = BSD
	makedepends = highway
	makedepends = libheif
	makedepends = libid3tag
	makedepends = libjxl
	makedepends = librsvg
	makedepends = libspectre
	makedepends = libwebp
	makedepends = openjpeg2
	depends = bzip2
	depends = freetype2
	depends = giflib
	depends = libjpeg-turbo
	depends = libpng
	depends = libtiff
	depends = libxext
	depends = xz
	optdepends = libheif: HEIF loader (for AVIF)
	optdepends = libid3tag: ID3 loader
	optdepends = libjxl: JXL loader
	optdepends = librsvg: SVG loader
	optdepends = libspectre: PS loader
	optdepends = libwebp: WEBP loader
	optdepends = openjpeg2: J2K loader
	source = https://downloads.sourceforge.net/project/enlightenment/imlib2-src/1.12.2/imlib2-1.12.2.tar.xz
	sha256sums = cc49931a20560968a8648c9ca079085976085ea96d59a01b1e17cb55af0ffe42
	sha512sums = 3bffb8f0f6b3ec73a81f1d0c6ef3a3443425677cd8a1950422f102b67769c06df54128b21f84bd6c7880120cc5ec6f30d2ab134b3c001ad77f2d39efd749a5b7

pkgname = imlib2
