pkgbase = java11-openjdk
	pkgver = 11.0.27.u6
	pkgrel = 1
	url = https://openjdk.java.net/
	arch = x86_64
	license = LicenseRef-Java
	makedepends = java-environment=11
	makedepends = cpio
	makedepends = unzip
	makedepends = zip
	makedepends = libelf
	makedepends = libcups
	makedepends = libx11
	makedepends = libxrender
	makedepends = libxtst
	makedepends = libxt
	makedepends = libxext
	makedepends = libxrandr
	makedepends = alsa-lib
	makedepends = pandoc
	makedepends = graphviz
	makedepends = freetype2
	makedepends = libjpeg-turbo
	makedepends = giflib
	makedepends = libpng
	makedepends = lcms2
	makedepends = libnet
	makedepends = bash
	makedepends = harfbuzz
	makedepends = gcc-libs
	makedepends = glibc
	optdepends = gvfs: open links e.g. hyperlinks
	options = !lto
	source = https://github.com/openjdk/jdk11u/archive/jdk-11.0.27+6.tar.gz
	source = freedesktop-java.desktop
	source = freedesktop-jconsole.desktop
	source = freedesktop-jshell.desktop
	sha256sums = fa53248e26ccf0635483b8cb6be7dc577548831e1ce421def2782d1e2373ce46
	sha256sums = 575587ad58dfa9908f046d307b9afc7b0b2eb20a1eb454f8fdbbd539ea7b3d01
	sha256sums = 2f57b7c7dd671eabe9fa10c4f1283573e99d7f7c36eccd82c95b705979a2e8cb
	sha256sums = f271618a8c2a892b554caf26857af41efdf0d8bcb95d57ce7ba535d6979e96da

pkgname = jre11-openjdk-headless
	pkgdesc = OpenJDK Java 11 headless runtime environment
	install = install_jre-openjdk-headless.sh
	depends = java-runtime-common>=3
	depends = ca-certificates-utils
	depends = nss
	depends = libjpeg-turbo
	depends = libjpeg.so
	depends = lcms2
	depends = liblcms2.so
	depends = libnet
	depends = freetype2
	depends = libfreetype.so
	depends = harfbuzz
	depends = libharfbuzz.so
	depends = glibc
	depends = gcc-libs
	optdepends = java-rhino: for some JavaScript support
	provides = java-runtime-headless=11
	provides = java-runtime-headless-openjdk=11
	provides = jre11-openjdk-headless=11.0.27.u6-1
	conflicts = jdk11-openjdk
	conflicts = jre11-openjdk
	backup = etc/java11-openjdk/logging.properties
	backup = etc/java11-openjdk/management/jmxremote.access
	backup = etc/java11-openjdk/management/jmxremote.password.template
	backup = etc/java11-openjdk/management/management.properties
	backup = etc/java11-openjdk/net.properties
	backup = etc/java11-openjdk/security/java.policy
	backup = etc/java11-openjdk/security/java.security
	backup = etc/java11-openjdk/security/policy/README.txt
	backup = etc/java11-openjdk/security/policy/limited/default_US_export.policy
	backup = etc/java11-openjdk/security/policy/limited/default_local.policy
	backup = etc/java11-openjdk/security/policy/limited/exempt_local.policy
	backup = etc/java11-openjdk/security/policy/unlimited/default_US_export.policy
	backup = etc/java11-openjdk/security/policy/unlimited/default_local.policy
	backup = etc/java11-openjdk/sound.properties

pkgname = jre11-openjdk
	pkgdesc = OpenJDK Java 11 full runtime environment
	install = install_jre-openjdk.sh
	depends = java-runtime-common>=3
	depends = ca-certificates-utils
	depends = nss
	depends = libjpeg-turbo
	depends = libjpeg.so
	depends = lcms2
	depends = liblcms2.so
	depends = libnet
	depends = freetype2
	depends = libfreetype.so
	depends = harfbuzz
	depends = libharfbuzz.so
	depends = glibc
	depends = gcc-libs
	depends = giflib
	depends = libgif.so
	depends = libpng
	optdepends = alsa-lib: for basic sound support
	optdepends = gtk3: for the Gtk+ 3 look and feel - desktop usage
	provides = java-runtime=11
	provides = java-runtime-openjdk=11
	provides = jre11-openjdk=11.0.27.u6-1
	provides = java-runtime-headless=11
	provides = java-runtime-headless-openjdk=11
	provides = jre11-openjdk-headless=11.0.27.u6-1
	conflicts = jdk11-openjdk
	conflicts = jre11-openjdk-headless
	backup = etc/java11-openjdk/logging.properties
	backup = etc/java11-openjdk/management/jmxremote.access
	backup = etc/java11-openjdk/management/jmxremote.password.template
	backup = etc/java11-openjdk/management/management.properties
	backup = etc/java11-openjdk/net.properties
	backup = etc/java11-openjdk/security/java.policy
	backup = etc/java11-openjdk/security/java.security
	backup = etc/java11-openjdk/security/policy/README.txt
	backup = etc/java11-openjdk/security/policy/limited/default_US_export.policy
	backup = etc/java11-openjdk/security/policy/limited/default_local.policy
	backup = etc/java11-openjdk/security/policy/limited/exempt_local.policy
	backup = etc/java11-openjdk/security/policy/unlimited/default_US_export.policy
	backup = etc/java11-openjdk/security/policy/unlimited/default_local.policy
	backup = etc/java11-openjdk/sound.properties

pkgname = jdk11-openjdk
	pkgdesc = OpenJDK Java 11 development kit
	install = install_jdk-openjdk.sh
	depends = java-runtime-common>=3
	depends = ca-certificates-utils
	depends = nss
	depends = libjpeg-turbo
	depends = libjpeg.so
	depends = lcms2
	depends = liblcms2.so
	depends = libnet
	depends = freetype2
	depends = libfreetype.so
	depends = harfbuzz
	depends = libharfbuzz.so
	depends = glibc
	depends = gcc-libs
	depends = java-environment-common=3
	depends = hicolor-icon-theme
	depends = libelf
	depends = libgif.so
	depends = libpng
	depends = ca-certificates-utils
	depends = nss
	depends = libjpeg-turbo
	depends = libjpeg.so
	depends = lcms2
	depends = liblcms2.so
	depends = libnet
	depends = freetype2
	depends = libfreetype.so
	depends = harfbuzz
	depends = libharfbuzz.so
	optdepends = java-rhino: for some JavaScript support
	optdepends = alsa-lib: for basic sound support
	optdepends = gtk3: for the Gtk+ 3 look and feel - desktop usage
	provides = java-environment=11
	provides = java-environment-openjdk=11
	provides = jdk11-openjdk=11.0.27.u6-1
	provides = java-runtime=11
	provides = java-runtime-openjdk=11
	provides = jre11-openjdk=11.0.27.u6-1
	provides = java-runtime-headless=11
	provides = java-runtime-headless-openjdk=11
	provides = jre11-openjdk-headless=11.0.27.u6-1
	conflicts = jre11-openjdk
	conflicts = jre11-openjdk-headless
	backup = etc/java11-openjdk/logging.properties
	backup = etc/java11-openjdk/management/jmxremote.access
	backup = etc/java11-openjdk/management/jmxremote.password.template
	backup = etc/java11-openjdk/management/management.properties
	backup = etc/java11-openjdk/net.properties
	backup = etc/java11-openjdk/security/java.policy
	backup = etc/java11-openjdk/security/java.security
	backup = etc/java11-openjdk/security/policy/README.txt
	backup = etc/java11-openjdk/security/policy/limited/default_US_export.policy
	backup = etc/java11-openjdk/security/policy/limited/default_local.policy
	backup = etc/java11-openjdk/security/policy/limited/exempt_local.policy
	backup = etc/java11-openjdk/security/policy/unlimited/default_US_export.policy
	backup = etc/java11-openjdk/security/policy/unlimited/default_local.policy
	backup = etc/java11-openjdk/sound.properties

pkgname = openjdk11-src
	pkgdesc = OpenJDK Java 11 sources
	depends = jdk11-openjdk=11.0.27.u6-1
	provides = openjdk11-src=11.0.27.u6-1

pkgname = openjdk11-doc
	pkgdesc = OpenJDK Java 11 documentation
	depends = jdk11-openjdk=11.0.27.u6-1
	provides = openjdk11-doc=11.0.27.u6-1
