pkgbase = fzf
	pkgdesc = Command-line fuzzy finder
	pkgver = 0.60.2
	pkgrel = 1
	url = https://github.com/junegunn/fzf
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	depends = bash
	optdepends = fish: fish keybindings
	optdepends = tmux: fzf-tmux script for launching fzf in a tmux pane
	optdepends = vim: plugin
	optdepends = zsh: zsh keybindings
	options = !lto
	source = git+https://github.com/junegunn/fzf.git#tag=v0.60.2?signed
	validpgpkeys = B5FB4AB5F32EC1A0C9DE9637254BC280FEF9C627
	sha512sums = 0fe7640ed5f6c325706f88c588fdfa5100d9ac4a86e0ff18440c2feeeb0cc3c86be5324af3582899b409d77bf67ad4ce4cc917fe35b87e45358a01a5805750da

pkgname = fzf
