pkgbase = fzf
	pkgdesc = Command-line fuzzy finder
	pkgver = 0.54.3
	pkgrel = 1
	url = https://github.com/junegunn/fzf
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	depends = bash
	optdepends = fish: fish keybindings
	optdepends = tmux: fzf-tmux script for launching fzf in a tmux pane
	optdepends = vim: plugin
	optdepends = zsh: zsh keybindings
	options = !lto
	source = git+https://github.com/junegunn/fzf.git#tag=v0.54.3?signed
	validpgpkeys = B5FB4AB5F32EC1A0C9DE9637254BC280FEF9C627
	sha512sums = ca2f6aba357a6896bc92e93a4d3de0b180318a3d443050fda977827840ff698f19789b98713b0e27a2561f726c76e72e124c5955ccd4331307fcebfae103a745

pkgname = fzf
