pkgbase = qbittorrent
	pkgver = 5.0.5
	pkgrel = 1
	url = https://www.qbittorrent.org
	arch = x86_64
	license = GPL-2.0-or-later
	license = GPL-3.0-or-later
	makedepends = boost
	makedepends = cmake
	makedepends = git
	makedepends = qt6-svg
	makedepends = qt6-tools
	depends = gcc-libs
	depends = glibc
	depends = libtorrent-rasterbar
	depends = openssl
	depends = qt6-base
	depends = zlib
	optdepends = python: needed for torrent search tab
	source = git+https://github.com/qbittorrent/qBittorrent/#tag=release-5.0.5
	source = qbittorrent-nox.service
	source = sysusers.conf
	source = tmpfiles.conf
	validpgpkeys = D8F3DA77AAC6741053599C136E4A2D025B7CC9A2
	sha256sums = 5780872f133e556a401db272045ef2c84b750558bafc41823dc09528770d43c6
	sha256sums = e0142e716098aa7047bf5160eee1dd839d84feaa30ec2c01b988c9bca16bd831
	sha256sums = 0f148c97cc5fae83fc5022b5f2da374b60a1e2f62a4faf01265e73a9f208825a
	sha256sums = 941a90f59d3400fff022a2c2239502eec3aac97b31d25f30593cf3d95b1d788b

pkgname = qbittorrent
	pkgdesc = An advanced BitTorrent client programmed in C++, based on Qt toolkit and libtorrent-rasterbar
	depends = gcc-libs
	depends = glibc
	depends = libtorrent-rasterbar
	depends = openssl
	depends = qt6-base
	depends = zlib
	depends = qt6-svg
	depends = hicolor-icon-theme

pkgname = qbittorrent-nox
	pkgdesc = An advanced BitTorrent client programmed in C++, based on Qt toolkit and libtorrent-rasterbar, w/o gui
