pkgbase = qbittorrent
	pkgver = 5.0.4
	pkgrel = 2
	url = https://www.qbittorrent.org
	arch = x86_64
	license = GPL-2.0-or-later
	license = GPL-3.0-or-later
	makedepends = boost
	makedepends = cmake
	makedepends = git
	makedepends = qt6-svg
	makedepends = qt6-tools
	depends = gcc-libs
	depends = glibc
	depends = libtorrent-rasterbar
	depends = openssl
	depends = qt6-base
	depends = zlib
	optdepends = python: needed for torrent search tab
	source = git+https://github.com/qbittorrent/qBittorrent/#tag=release-5.0.4?signed
	validpgpkeys = D8F3DA77AAC6741053599C136E4A2D025B7CC9A2
	sha256sums = 5cb819d013d6b5633b6df318d919f94baaa0521b781e847f64639112ba2812be

pkgname = qbittorrent
	pkgdesc = An advanced BitTorrent client programmed in C++, based on Qt toolkit and libtorrent-rasterbar
	depends = gcc-libs
	depends = glibc
	depends = libtorrent-rasterbar
	depends = openssl
	depends = qt6-base
	depends = zlib
	depends = qt6-svg
	depends = hicolor-icon-theme

pkgname = qbittorrent-nox
	pkgdesc = An advanced BitTorrent client programmed in C++, based on Qt toolkit and libtorrent-rasterbar, w/o gui
