[Unit]
Description=LIRC command handler
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/irexec --daemon

[Install]
WantedBy=multi-user.target
Wants=lircd.service
