pkgbase = freecad
	pkgdesc = Feature based parametric 3D CAD modeler
	pkgver = 1.0rc1
	pkgrel = 1
	url = https://freecadweb.org/
	arch = x86_64
	license = LGPL
	makedepends = boost
	makedepends = cgns
	makedepends = cmake
	makedepends = eigen
	makedepends = git
	makedepends = libharu
	makedepends = liblas
	makedepends = ninja
	makedepends = nlohmann-json
	makedepends = openvdb
	makedepends = openvr
	makedepends = ospray
	makedepends = pdal
	makedepends = postgresql-libs
	makedepends = python-mpi4py
	makedepends = shiboken6
	makedepends = swig
	makedepends = utf8cpp
	makedepends = dos2unix
	makedepends = microsoft-gsl
	depends = asciidoctor
	depends = boost-libs
	depends = coin
	depends = fmt
	depends = glew
	depends = jsoncpp
	depends = libspnav
	depends = med-openmpi
	depends = netcdf
	depends = opencascade
	depends = openmpi
	depends = pugixml
	depends = pyside6
	depends = python-gitpython
	depends = yaml-cpp
	depends = python-markdown
	depends = python-matplotlib
	depends = python-pip
	depends = python-pivy
	depends = python-ply
	depends = python-yaml
	depends = qt6-svg
	depends = qt6-tools
	depends = qt6-webengine
	depends = verdict
	depends = xerces-c
	optdepends = graphviz: dependency graph support
	optdepends = openscad: OpenSCAD support
	options = !lto
	source = git+https://github.com/freecad/freecad#tag=1.0rc1
	b2sums = cd2d1f7d2ecb49dbde30e3ef0480c383b21559667ec3855f94a0596cd6598dba3b7420f0b3f5a01389a6361ce57c6722352822f3ce1d14fef831b6b1096e9a1a

pkgname = freecad
