pkgbase = freecad
	pkgdesc = Feature based parametric 3D CAD modeler
	pkgver = 0.21.2
	pkgrel = 4
	url = https://freecadweb.org/
	arch = x86_64
	license = LGPL
	makedepends = boost
	makedepends = cgns
	makedepends = cmake
	makedepends = eigen
	makedepends = git
	makedepends = libharu
	makedepends = liblas
	makedepends = ninja
	makedepends = openvdb
	makedepends = openvr
	makedepends = ospray
	makedepends = pdal
	makedepends = postgresql-libs
	makedepends = python-mpi4py
	makedepends = python-shiboken2
	makedepends = qt5-webengine
	makedepends = shiboken2
	makedepends = swig
	makedepends = utf8cpp
	makedepends = nlohmann-json
	depends = boost-libs
	depends = coin
	depends = fmt
	depends = glew
	depends = jsoncpp
	depends = libspnav
	depends = med-openmpi
	depends = netcdf
	depends = opencascade
	depends = openmpi
	depends = pugixml
	depends = pyside2
	depends = pyside2-tools
	depends = python-gitpython
	depends = python-markdown
	depends = python-matplotlib
	depends = python-pip
	depends = python-pivy
	depends = python-ply
	depends = python-yaml
	depends = qt5-svg
	depends = qt5-tools
	depends = qt5-webengine
	depends = qt5-x11extras
	depends = qt5-xmlpatterns
	depends = xerces-c
	depends = verdict
	optdepends = graphviz: dependency graph support
	optdepends = openscad: OpenSCAD support
	source = git+https://github.com/freecad/freecad#tag=0.21.2
	source = freecad-vtk9.3.patch
	b2sums = SKIP
	b2sums = f0b5a4648eb4befabb2339bae4e42044e436aa50ad1c2a25b243c965272a217b2c1c69c34d0d20bd01c573008de10f733b74857ffecac502b8558a7095e305e5

pkgname = freecad
