pkgbase = freecad
	pkgdesc = Feature based parametric 3D CAD modeler
	pkgver = 1.0.1
	pkgrel = 1
	url = https://freecadweb.org/
	arch = x86_64
	license = LGPL-2.0-only
	makedepends = boost
	makedepends = cgns
	makedepends = cmake
	makedepends = eigen
	makedepends = git
	makedepends = libharu
	makedepends = liblas
	makedepends = ninja
	makedepends = nlohmann-json
	makedepends = openvdb
	makedepends = openvr
	makedepends = ospray
	makedepends = pdal
	makedepends = postgresql-libs
	makedepends = python-mpi4py
	makedepends = shiboken6
	makedepends = swig
	makedepends = utf8cpp
	makedepends = dos2unix
	makedepends = microsoft-gsl
	makedepends = fast_float
	depends = boost-libs
	depends = coin
	depends = fmt
	depends = glew
	depends = libspnav
	depends = med
	depends = opencascade
	depends = openmpi
	depends = pugixml
	depends = pyside6
	depends = yaml-cpp
	depends = python-markdown
	depends = python-matplotlib
	depends = python-pip
	depends = python-pivy
	depends = python-ply
	depends = python-yaml
	depends = qt6-svg
	depends = qt6-tools
	depends = verdict
	depends = xerces-c
	optdepends = graphviz: dependency graph support
	optdepends = opencamlib: CAM workbench support
	optdepends = openscad: OpenSCAD support
	options = !lto
	source = git+https://github.com/freecad/freecad#tag=1.0.1
	b2sums = 93c737bd08e32023e1c314118b4bee89136f541a255e7dddb26b7e8b58855b15f4a46bc50845c2bc673efb6a6a3a1a48ce4c02bdb8e9d1360a428b241bbcd52a

pkgname = freecad
