[Desktop Entry]
Encoding=UTF-8
Name=Tea
Comment=A small programmer's GTK editor
Exec=teagtk %U
Terminal=false
Type=Application
StartupNotify=true
Icon=tea_icon_v2.png
Categories=Application;Utility;TextEditor;
