pkgbase = python-pydantic
	pkgdesc = Data parsing and validation using Python type hints
	pkgver = 2.5.2
	pkgrel = 1
	url = https://github.com/pydantic/pydantic
	arch = any
	license = MIT
	checkdepends = python-ansi2html
	checkdepends = python-cloudpickle
	checkdepends = python-devtools
	checkdepends = python-dirty-equals
	checkdepends = python-email-validator
	checkdepends = python-faker
	checkdepends = python-hypothesis
	checkdepends = python-pygments
	checkdepends = python-pytest
	checkdepends = python-pytest-benchmark
	checkdepends = python-pytest-examples
	checkdepends = python-pytest-mock
	checkdepends = python-sqlalchemy
	makedepends = cython
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-importlib-metadata
	makedepends = python-hatchling
	makedepends = python-hatch-fancy-pypi-readme
	makedepends = python-wheel
	depends = python
	depends = python-annotated-types
	depends = python-pydantic-core
	depends = python-typing-extensions
	optdepends = mypy: for type validation with mypy
	optdepends = python-dotenv: for .env file support
	optdepends = python-email-validator: for email validation
	optdepends = python-hypothesis: for hypothesis plugin when using legacy v1
	source = https://github.com/pydantic/pydantic/archive/v2.5.2/pydantic-v2.5.2.tar.gz
	sha512sums = e5b156387d3ac569dc61b8fc13f3996b4abd5d0fd8b5a0e5d041c2b52c5bb3ec253d74b95557ebd317da8ddc315608c839b580e2011ea180ed30020fab1204b5
	b2sums = 2f4a55870d18e5e01621a0f017b960ce1887b78adef57d0a91361c0553dbf8d64c2256f6f2ce1bb35e1592333295a7b996b077d774c8b35f299eef3ebc85d60b

pkgname = python-pydantic
