[Desktop Entry]
Version=1.0
Name=Hugin panorama creator
Name[de]=Hugin panorama tool
Comment=Frontend for the pnaramatools - Stitch images to panoramas
Comment[de]=Oberfläche für die Panoramatools - Erzeugt Panoramabildern aus mehreren Einzelbildern.
GenericName=Panorama stitcher
GenericName[de]=Panorama Stitcher
Exec=hugin
TryExec=PTOptimizer
Icon=/usr/share/hugin/xrc/data/icon.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Graphics;2DGraphics;RasterGraphics;
