pkgbase = xpra
	pkgdesc = multi-platform screen and application forwarding system screen for X11
	pkgver = 4.4.5
	pkgrel = 3
	url = https://www.xpra.org
	arch = x86_64
	license = GPL2
	makedepends = pkgconf
	makedepends = pygobject-devel
	makedepends = python-setuptools
	makedepends = cython
	makedepends = uglify-js
	makedepends = pandoc
	depends = gtk3
	depends = python
	depends = libxtst
	depends = python-cairo
	depends = python-gobject
	depends = python-pillow
	depends = python-lz4
	depends = ffmpeg
	depends = libvpx
	depends = xf86-video-dummy
	depends = libxkbfile
	depends = libxres
	depends = python-netifaces
	depends = python-rencode
	depends = python-opengl
	depends = python-lz4
	optdepends = x264: Codec
	optdepends = python-dbus: dbus features
	optdepends = python-pycups: Printing support
	optdepends = python-cryptography: Cryptography
	optdepends = python-numpy: GPU accelerated capture and compression for NVIDIA cards
	optdepends = gst-python: Sound Forwarding
	optdepends = opencv: Webcam Forwarding
	backup = etc/xpra/xpra.conf
	backup = etc/xpra/xorg.conf
	backup = etc/xpra/conf.d/05_features.conf
	backup = etc/xpra/conf.d/10_network.conf
	backup = etc/xpra/conf.d/12_ssl.conf
	backup = etc/xpra/conf.d/15_file_transfers.conf
	backup = etc/xpra/conf.d/16_printing.conf
	backup = etc/xpra/conf.d/20_sound.conf
	backup = etc/xpra/conf.d/30_picture.conf
	backup = etc/xpra/conf.d/35_webcam.conf
	backup = etc/xpra/conf.d/40_client.conf
	backup = etc/xpra/conf.d/42_client_keyboard.conf
	backup = etc/xpra/conf.d/50_server_network.conf
	backup = etc/xpra/conf.d/55_server_x11.conf
	backup = etc/xpra/conf.d/60_server.conf
	backup = etc/xpra/conf.d/65_proxy.conf
	backup = etc/pam.d/xpra
	source = xpra-4.4.5.tar.xz::https://www.xpra.org/src/xpra-4.4.5.tar.xz
	source = xpra-4.4.5.tar.xz.asc::https://www.xpra.org/src/xpra-4.4.5.tar.xz.gpg
	validpgpkeys = C11C0A4DF702EDF6C04F458C18ADB31CF18AD6BB
	md5sums = 4a52cf55611a7ca3354b0c6def020095
	md5sums = SKIP
	sha1sums = 65ef63d10fd14377a3a8daa659a3fdff62176923
	sha1sums = SKIP
	sha256sums = a36bc33f36568291057b4cb3363c2db8b3c73b419f59b4ac70a8ef21f4e2e91a
	sha256sums = SKIP

pkgname = xpra
