pkgbase = guvcview
	pkgdesc = Simple interface for capturing and viewing video from v4l2 devices
	pkgver = 2.2.1
	pkgrel = 1
	url = http://guvcview.sourceforge.net/
	arch = x86_64
	license = GPL3
	makedepends = cmake
	depends = ffmpeg
	depends = gsl
	depends = gtk3
	depends = qt6-base
	depends = portaudio
	noextract = guvcview-src-2.2.1-2.tar.bz2
	options = !emptydirs
	source = https://downloads.sourceforge.net/guvcview/guvcview-src-2.2.1.tar.bz2
	sha256sums = d2adc7ce762961e853c3e16b511bad61504492d12f3e2eb7e30da4a2f7ade5af

pkgname = guvcview
	pkgdesc = Simple GTK+ interface for capturing and viewing video from v4l2 devices
	depends = guvcview-common
	depends = gtk3

pkgname = guvcview-common
	pkgdesc = Common files for guvcview
	depends = ffmpeg
	depends = gsl
	depends = libusb
	depends = portaudio

pkgname = guvcview-qt
	pkgdesc = Simple Qt interface for capturing and viewing video from v4l2 devices
	depends = guvcview-common
	depends = qt6-base
