pkgbase = gdal
	pkgdesc = A translator library for raster and vector geospatial data formats
	pkgver = 3.12.0
	pkgrel = 4
	url = https://gdal.org/
	changelog = gdal.changelog
	arch = x86_64
	license = custom
	makedepends = cmake
	makedepends = opencl-headers
	makedepends = python-setuptools
	makedepends = python-numpy
	makedepends = proj
	makedepends = arrow
	makedepends = blosc
	makedepends = cfitsio
	makedepends = curl
	makedepends = crypto++
	makedepends = libdeflate
	makedepends = expat
	makedepends = libfreexl
	makedepends = libgeotiff
	makedepends = geos
	makedepends = giflib
	makedepends = libheif
	makedepends = hdf5
	makedepends = libjpeg-turbo
	makedepends = json-c
	makedepends = libjxl
	makedepends = xz
	makedepends = libxml2
	makedepends = lz4
	makedepends = mariadb-libs
	makedepends = netcdf
	makedepends = unixodbc
	makedepends = ocl-icd
	makedepends = openexr
	makedepends = openjpeg2
	makedepends = openssl
	makedepends = pcre2
	makedepends = libpng
	makedepends = podofo
	makedepends = poppler
	makedepends = postgresql-libs
	makedepends = qhull
	makedepends = libspatialite
	makedepends = sqlite
	makedepends = swig
	makedepends = libtiff
	makedepends = libwebp
	makedepends = xerces-c
	makedepends = zlib
	makedepends = zstd
	makedepends = libaec
	makedepends = muparser
	source = https://download.osgeo.org/gdal/3.12.0/gdal-3.12.0.tar.xz
	b2sums = 7903fee490de189b238f7b16ba0e9d647e5958d45e746336e860017b14d750efaf05645a90ee9777acd266e091f25ab7a0f55f7cd9a44ddc65372dd492990c6e

pkgname = gdal
	depends = proj
	depends = blosc
	depends = crypto++
	depends = curl
	depends = libdeflate
	depends = expat
	depends = libfreexl
	depends = geos
	depends = libgeotiff
	depends = giflib
	depends = libjpeg-turbo
	depends = json-c
	depends = xz
	depends = libxml2
	depends = lz4
	depends = unixodbc
	depends = ocl-icd
	depends = openssl
	depends = pcre2
	depends = libpng
	depends = qhull
	depends = libspatialite
	depends = sqlite
	depends = libtiff
	depends = xerces-c
	depends = zlib
	depends = zstd
	depends = libaec
	depends = muparser
	depends = libarchive
	optdepends = arrow: Arrow/Parquet support
	optdepends = cfitsio: FITS support
	optdepends = hdf5: HDF5 support
	optdepends = libheif: HEIF support
	optdepends = libjxl: JPEG XL support
	optdepends = mariadb-libs: MySQL support
	optdepends = netcdf: netCDF support
	optdepends = openexr: EXR support
	optdepends = openjpeg2: JP2 support
	optdepends = podofo: PDF support
	optdepends = poppler: PDF support
	optdepends = postgresql-libs: PostgreSQL support
	optdepends = libwebp: WebP support

pkgname = python-gdal
	pkgdesc = Python bindings for GDAL
	depends = gdal=3.12.0
	depends = python-numpy
