pkgbase = gdal
	pkgdesc = A translator library for raster and vector geospatial data formats
	pkgver = 3.8.0
	pkgrel = 3
	url = https://gdal.org/
	changelog = gdal.changelog
	arch = x86_64
	license = custom
	makedepends = cmake
	makedepends = opencl-headers
	makedepends = python-setuptools
	makedepends = python-numpy
	makedepends = proj
	makedepends = arrow
	makedepends = blosc
	makedepends = cfitsio
	makedepends = curl
	makedepends = crypto++
	makedepends = libdeflate
	makedepends = expat
	makedepends = libfreexl
	makedepends = libgeotiff
	makedepends = geos
	makedepends = giflib
	makedepends = libheif
	makedepends = hdf5
	makedepends = libjpeg-turbo
	makedepends = json-c
	makedepends = libjxl
	makedepends = xz
	makedepends = libxml2
	makedepends = lz4
	makedepends = mariadb-libs
	makedepends = netcdf
	makedepends = unixodbc
	makedepends = ocl-icd
	makedepends = openexr
	makedepends = openjpeg2
	makedepends = openssl
	makedepends = pcre2
	makedepends = libpng
	makedepends = podofo
	makedepends = poppler
	makedepends = postgresql-libs
	makedepends = qhull
	makedepends = libspatialite
	makedepends = sqlite
	makedepends = swig
	makedepends = libtiff
	makedepends = libwebp
	makedepends = xerces-c
	makedepends = zlib
	makedepends = zstd
	makedepends = libaec
	source = https://download.osgeo.org/gdal/3.8.0/gdal-3.8.0.tar.xz
	source = https://github.com/OSGeo/gdal/commit/cbed9fc9.patch
	source = https://github.com/OSGeo/gdal/commit/ec33f6d6.patch
	b2sums = 646aa91283e7228a054221d120bddb456c8b898f9155edd289f2b2e0bf8706fa3045a98d26e4cf5ba5dba6d8c1c7f0a7f4aaaded9457481a65910c2d313c8f9d
	b2sums = e75eb8edb5507450ded3bca618a03a283ba49791df416b0a7732f859d93124704e8508fcd11271bbbeef299d05d3ad2df9e03bd805580445407cb6b8c003a98e
	b2sums = 5c0abcfcfbb0ca2a96156abb4c7daaf4860fa30d553228172eb8def8b2f95e93bae9217974fba9621dcf9921e906a5ada9b710b1c0b29e7e580191a0a56a76e2

pkgname = gdal
	depends = proj
	depends = blosc
	depends = crypto++
	depends = curl
	depends = libdeflate
	depends = expat
	depends = libfreexl
	depends = geos
	depends = libgeotiff
	depends = giflib
	depends = libjpeg-turbo
	depends = json-c
	depends = xz
	depends = libxml2
	depends = lz4
	depends = unixodbc
	depends = ocl-icd
	depends = openssl
	depends = pcre2
	depends = libpng
	depends = qhull
	depends = libspatialite
	depends = sqlite
	depends = libtiff
	depends = xerces-c
	depends = zlib
	depends = zstd
	depends = libaec
	optdepends = arrow: Arrow/Parquet support
	optdepends = cfitsio: FITS support
	optdepends = hdf5: HDF5 support
	optdepends = libheif: HEIF support
	optdepends = libjxl: JPEG XL support
	optdepends = mariadb-libs: MySQL support
	optdepends = netcdf: netCDF support
	optdepends = openexr: EXR support
	optdepends = openjpeg2: JP2 support
	optdepends = podofo: PDF support
	optdepends = poppler: PDF support
	optdepends = postgresql-libs: PostgreSQL support
	optdepends = libwebp: WebP support

pkgname = python-gdal
	pkgdesc = Python bindings for GDAL
	depends = gdal=3.8.0
	depends = python-numpy
