pkgbase = gdal
	pkgdesc = A translator library for raster and vector geospatial data formats
	pkgver = 3.13.1
	pkgrel = 5
	url = https://gdal.org/
	changelog = gdal.changelog
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = opencl-headers
	makedepends = python-setuptools
	makedepends = python-numpy
	makedepends = proj
	makedepends = arrow
	makedepends = blosc
	makedepends = cfitsio
	makedepends = curl
	makedepends = crypto++
	makedepends = libdeflate
	makedepends = expat
	makedepends = libfreexl
	makedepends = libgeotiff
	makedepends = geos
	makedepends = giflib
	makedepends = libheif
	makedepends = hdf5
	makedepends = libjpeg-turbo
	makedepends = json-c
	makedepends = libjxl
	makedepends = xz
	makedepends = libxml2
	makedepends = lz4
	makedepends = mariadb-libs
	makedepends = netcdf
	makedepends = unixodbc
	makedepends = ocl-icd
	makedepends = openexr
	makedepends = openjpeg2
	makedepends = openssl
	makedepends = pcre2
	makedepends = libpng
	makedepends = podofo
	makedepends = poppler
	makedepends = postgresql-libs
	makedepends = qhull
	makedepends = libspatialite
	makedepends = sqlite
	makedepends = swig
	makedepends = libtiff
	makedepends = libwebp
	makedepends = xerces-c
	makedepends = zlib
	makedepends = zstd
	makedepends = libaec
	makedepends = muparser
	source = https://download.osgeo.org/gdal/3.13.1/gdal-3.13.1.tar.xz
	b2sums = 582bea82ed21059c8b3348f91806842f0ee5337e056c8270b48a2478176036e1e34de6d9f5ebaa2ce16c7569fa36663c1bad26861161ab0e78712313fe61b407

pkgname = gdal
	depends = blosc
	depends = crypto++
	depends = curl
	depends = expat
	depends = geos
	depends = giflib
	depends = glibc
	depends = json-c
	depends = libaec
	depends = libarchive
	depends = libdeflate
	depends = libfreexl
	depends = libgcc
	depends = libgeotiff
	depends = libjpeg-turbo
	depends = libpng
	depends = libspatialite
	depends = libstdc++
	depends = libtiff
	depends = libxml2
	depends = lz4
	depends = muparser
	depends = ocl-icd
	depends = openssl
	depends = pcre2
	depends = proj
	depends = qhull
	depends = sqlite
	depends = unixodbc
	depends = xerces-c
	depends = xz
	depends = zlib
	depends = zstd
	optdepends = arrow: Arrow/Parquet support
	optdepends = cfitsio: FITS support
	optdepends = hdf5: HDF5 support
	optdepends = libheif: HEIF support
	optdepends = libjxl: JPEG XL support
	optdepends = mariadb-libs: MySQL support
	optdepends = netcdf: netCDF support
	optdepends = openexr: EXR support
	optdepends = openjpeg2: JP2 support
	optdepends = podofo: PDF support
	optdepends = poppler: PDF support
	optdepends = postgresql-libs: PostgreSQL support
	optdepends = libwebp: WebP support

pkgname = python-gdal
	pkgdesc = Python bindings for GDAL
	depends = gdal=3.13.1
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = python
	depends = python-fsspec
	depends = python-numpy
	depends = python-pyarrow
	depends = python-simplejson
