[Desktop Entry]
Categories=Office;
Comment=A Dictionary Lookup program and EN<->DE Dictionary
Exec=ding
Icon=ding
Name=ding
StartupNotify=false
Terminal=false
Type=Application
