pkgbase = libtg_owt
	pkgdesc = WebRTC library
	pkgver = r495.9826d0e
	pkgrel = 1
	epoch = 1
	url = https://github.com/desktop-app/tg_owt
	arch = x86_64
	license = BSD-3-Clause
	makedepends = git
	makedepends = ninja
	makedepends = cmake
	makedepends = protobuf
	makedepends = libxrandr
	makedepends = libxcomposite
	makedepends = openssl
	makedepends = glibc
	makedepends = ffmpeg
	makedepends = libva
	makedepends = opus
	makedepends = yasm
	makedepends = libjpeg-turbo
	makedepends = pipewire
	makedepends = libxtst
	makedepends = libepoxy
	makedepends = openh264
	makedepends = abseil-cpp
	makedepends = libsrtp
	depends = libdrm
	depends = libxdamage
	options = staticlibs
	source = git+https://github.com/desktop-app/tg_owt.git#commit=9826d0e27894a575a63d4b15b2acf8e749e3da67
	source = git+https://chromium.googlesource.com/libyuv/libyuv/
	source = git+https://github.com/google/crc32c
	b2sums = 2ac7f2a51807eecc3189abfd34c35741fe98aba16759f063bbcb286f30643f65fa2dd4e9612c29db0bd2c1c3b2555a964e32492f4127cd81302a4e20d5e06e08
	b2sums = SKIP
	b2sums = SKIP

pkgname = libtg_owt
