pkgbase = libtg_owt
	pkgdesc = WebRTC library
	pkgver = 0.git29.c4192e8
	pkgrel = 1
	url = https://github.com/desktop-app/tg_owt
	arch = x86_64
	license = BSD-3-Clause
	makedepends = git
	makedepends = ninja
	makedepends = cmake
	makedepends = protobuf
	makedepends = libxrandr
	makedepends = libxcomposite
	makedepends = openssl
	makedepends = glibc
	makedepends = ffmpeg
	makedepends = libva
	makedepends = opus
	makedepends = yasm
	makedepends = libjpeg-turbo
	makedepends = pipewire
	makedepends = libxtst
	makedepends = libepoxy
	makedepends = openh264
	depends = libdrm
	depends = libxdamage
	options = staticlibs
	source = git+https://github.com/desktop-app/tg_owt.git#commit=c4192e8e2e10ccb72704daa79fa108becfa57b01
	source = git+https://chromium.googlesource.com/libyuv/libyuv/
	source = git+https://github.com/google/crc32c
	source = git+https://github.com/abseil/abseil-cpp
	source = git+https://github.com/cisco/libsrtp
	b2sums = 6669002e8c0667977fa2c630136574a95b16b652cc067665879be7df9a6d79edcc0d396d3617650822c5b3d2adc9143b3aa90fee62421d55c1a999809a27ccad
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP

pkgname = libtg_owt
