pkgbase = libtg_owt
	pkgdesc = WebRTC library
	pkgver = 0.git26.c9cc439
	pkgrel = 1
	url = https://github.com/desktop-app/tg_owt
	arch = x86_64
	license = BSD
	makedepends = git
	makedepends = ninja
	makedepends = unzip
	makedepends = cmake
	makedepends = protobuf
	makedepends = libxrandr
	makedepends = libxcomposite
	makedepends = openssl
	makedepends = glibc
	makedepends = ffmpeg
	makedepends = libva
	makedepends = opus
	makedepends = yasm
	makedepends = libjpeg-turbo
	makedepends = pipewire
	makedepends = libxtst
	makedepends = libepoxy
	depends = libdrm
	depends = libxdamage
	options = staticlibs
	source = git+https://github.com/desktop-app/tg_owt.git#commit=c9cc4390ab951f2cbc103ff783a11f398b27660b
	source = git+https://chromium.googlesource.com/libyuv/libyuv/
	source = git+https://github.com/google/crc32c
	source = git+https://github.com/abseil/abseil-cpp
	source = git+https://github.com/cisco/libsrtp
	source = libtg_owt_ffmpeg7.patch::https://patch-diff.githubusercontent.com/raw/desktop-app/tg_owt/pull/128.patch
	b2sums = 3a3a67816c4f6637fd5cd1752049ed95911edde3149ce4190fa066b745cd837f969cc8d9669976d01f0a96fcaa7cdd99342a2616154ce895000c617f5156a5ee
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = 2f86d30632e200e9082727eb19ccb33f44f1a57b33b007f5d64e222af1ec95bd85cae5297d3011c692dfe4bf7251d03f7f7d8edd3c7e0dac44cfee2fe50c7e11

pkgname = libtg_owt
