pkgbase = libvolk
	pkgdesc = The Vector-Optimized Library of Kernels from Gnuradio
	pkgver = 3.1.2
	pkgrel = 2
	epoch = 2
	url = https://www.libvolk.org/
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = python-mako
	depends = gcc-libs
	depends = orc
	depends = python
	source = volk-3.1.2.tgz::https://github.com/gnuradio/volk/archive/v3.1.2.tar.gz
	source = cpufeatures-0.9.0.tgz::https://github.com/google/cpu_features/archive/v0.9.0.tar.gz
	validpgpkeys = 09E749D885FA881A7E84E823385323EE6402091D
	validpgpkeys = D74F9F146E7F755783583158B343B2BA293E5174
	sha256sums = 90082bf68d76d00aa6c35f8bff0e93891b4204d817e1a3ba829486b445f715dc
	sha256sums = bdb3484de8297c49b59955c3b22dba834401bc2df984ef5cfc17acbe69c5018e

pkgname = libvolk
