<pymsnt>
<jid>msn</jid>
<host>127.0.0.1</host>
<spooldir>/var/spool/pymsnt</spooldir>
<pid>/var/run/pymsnt.pid</pid>
<mainServer>127.0.0.1</mainServer>
<port>5347</port>
<secret>secret</secret>
<lang>en</lang>
<website>http://host.com</website>
<allowRegister/>
<getAllAvatars/>
<ftSizeLimit>524288</ftSizeLimit>
<ftRateLimit>2048</ftRateLimit>
<ftJabberPort>8010</ftJabberPort>
<admins>
<jid>admin@host.com</jid>
</admins>
</pymsnt>
