pkgbase = firefox
	pkgdesc = Fast, Private & Safe Web Browser
	pkgver = 154.0
	pkgrel = 1
	url = https://www.firefox.com/
	arch = x86_64
	license = MPL-2.0
	makedepends = cbindgen
	makedepends = clang
	makedepends = diffutils
	makedepends = imake
	makedepends = jack
	makedepends = lld
	makedepends = llvm
	makedepends = mesa
	makedepends = nasm
	makedepends = nodejs
	makedepends = onnxruntime
	makedepends = python
	makedepends = rust
	makedepends = unzip
	makedepends = wasi-compiler-rt
	makedepends = wasi-libc
	makedepends = wasi-libc++
	makedepends = wasi-libc++abi
	makedepends = xorg-server-xvfb
	makedepends = yasm
	makedepends = zip
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = dbus
	depends = ffmpeg
	depends = fontconfig
	depends = freetype2
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libgcc
	depends = libpulse
	depends = libstdc++
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxrandr
	depends = libxss
	depends = libxt
	depends = mime-types
	depends = nspr
	depends = nss
	depends = pango
	depends = ttf-font
	optdepends = firefox-i18n: Localizations
	optdepends = hunspell-dictionary: Spell checking
	optdepends = libnotify: Notification integration
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = onnxruntime: Local machine learning features such as smart tab groups
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	options = !emptydirs
	options = !lto
	options = !makeflags
	source = https://archive.mozilla.org/pub/firefox/releases/154.0/source/firefox-154.0.source.tar.xz
	source = https://archive.mozilla.org/pub/firefox/releases/154.0/source/firefox-154.0.source.tar.xz.asc
	source = firefox-symbolic.svg
	source = firefox.desktop
	source = org.mozilla.firefox.metainfo.xml
	source = 0001-Install-under-remoting-name.patch
	validpgpkeys = 14F26682D0916CDD81E37B6D61B7B526D98F0353
	sha256sums = 36cec5b3688a60f78a6d20dcaee15b598f84e03c66f6587056aead6cb498b99a
	sha256sums = SKIP
	sha256sums = cb00ea359d6daf37900102307be4f515f1b7ef9c98825c64cc55bb562449d0d8
	sha256sums = 2a51d57d98fbda86f094bc991e1ad4dd6e8a9d32fd0836b1183bf70ec4b68915
	sha256sums = 4e01a62e20026b67466943bad9dfba47874c5e1492375f8293aeb85ecedf2288
	sha256sums = 844423079aa1ffc5f6ee66df2f43d27879d2a761073939747945da5409bec191
	b2sums = 7806cb56f721bd8fb0bcb1782765631f772b58600ea0f7389d7389d8635a3616d71162b090cb9d8cc8822b118b50b5b0f6d83c0831c34054b513da6193bcad38
	b2sums = SKIP
	b2sums = f2a9cfb758692584dd8057ab30d0ed9d22f5356d0021e1c8111a061866ee66d6b2d891351e11064f904fe8c90032e78f9def61ed54ae4208c8be4de6b4226277
	b2sums = 63c62c85ee70e22b02e9ea34e69f04f50403b7634b99fb0e996a83c963916dc4224041a0b265e54f6c224bd1777ddfdeb255037e3e30fec288695f3050278b05
	b2sums = 607d592b164a88a11a1041002d67339a9a0001469cd979d24d0fda547cec472f602f6299c198f626f2c854df3ff05bd0b1fd84ae47ee52b97a7906575f5a5f36
	b2sums = 70e8bfd40bf23afa3f6de2d975aa69043cb88ae14b625702b754cd3de56215be159cf69ba4ed522ca7122b8bbdb50cfe763694e7c7595f2fdcec40bab5e2739f

pkgname = firefox
