pkgbase = firefox
	pkgdesc = Standalone web browser from mozilla.org
	pkgver = 125.0.2
	pkgrel = 1
	url = https://www.mozilla.org/firefox/
	arch = x86_64
	license = MPL-2.0
	makedepends = cbindgen
	makedepends = clang
	makedepends = diffutils
	makedepends = imake
	makedepends = inetutils
	makedepends = jack
	makedepends = lld
	makedepends = llvm
	makedepends = mesa
	makedepends = nasm
	makedepends = nodejs
	makedepends = python
	makedepends = rust
	makedepends = unzip
	makedepends = wasi-compiler-rt
	makedepends = wasi-libc
	makedepends = wasi-libc++
	makedepends = wasi-libc++abi
	makedepends = xorg-server-xvfb
	makedepends = yasm
	makedepends = zip
	depends = dbus
	depends = ffmpeg
	depends = gtk3
	depends = libpulse
	depends = libxss
	depends = libxt
	depends = mime-types
	depends = nss
	depends = ttf-font
	optdepends = hunspell-en_US: Spell checking, American English
	optdepends = libnotify: Notification integration
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = pulseaudio: Audio support
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	options = !emptydirs
	options = !lto
	options = !makeflags
	source = https://archive.mozilla.org/pub/firefox/releases/125.0.2/source/firefox-125.0.2.source.tar.xz
	source = https://archive.mozilla.org/pub/firefox/releases/125.0.2/source/firefox-125.0.2.source.tar.xz.asc
	source = firefox.desktop
	source = identity-icons-brand.svg
	validpgpkeys = 14F26682D0916CDD81E37B6D61B7B526D98F0353
	sha256sums = 69d0563361bab375407b25430c782346bec7623f3f1005e7dc505351ac69f799
	sha256sums = SKIP
	sha256sums = 1f241fdc619f92a914c75aece7c7c717401d7467c9a306458e106b05f34e5044
	sha256sums = a9b8b4a0a1f4a7b4af77d5fc70c2686d624038909263c795ecc81e0aec7711e9
	b2sums = 70d27d0ee0bfdf7156546e8762b608c442bd35ba8f33ad89a6d5544eedef4d59b24db2b1988aab9ca626e9a01898f7b0c00a4c7550f78cba9bb722dd3c6d155e
	b2sums = SKIP
	b2sums = d07557840097dd48a60c51cc5111950781e1c6ce255557693bd11306c7a9258b2a82548329762148f117b2295145f9e66e0483a18e2fe09c5afcffed2e4b8628
	b2sums = 63a8dd9d8910f9efb353bed452d8b4b2a2da435857ccee083fc0c557f8c4c1339ca593b463db320f70387a1b63f1a79e709e9d12c69520993e26d85a3d742e34

pkgname = firefox
