[Desktop Entry]
Name=PulseAudio Manager
Comment=Manage your PulseAudio sound server.
Exec=paman
Icon=/usr/share/icons/gnome/24x24/devices/audio-card.png
StartupNotify=true
Type=Application
Categories=AudioVideo;Audio;
