[Desktop Entry]
Name=Multilingual terminal (mlterm)
Name[ja]= mlterm 多言語端末
Name[zh_CN]=mlterm
Comment=multilingual terminal emulation program
Comment[ja]=軽量な多言語対応ターミナルエミュレータ
Comment[zh_CN]=mlterm 嶮極
Exec=mlterm
Icon=mlterm
Terminal=false
Type=Application
Categories=Application;TerminalEmulator;
GenericName=Terminal
