pkgbase = fd
	pkgdesc = Simple, fast and user-friendly alternative to find
	pkgver = 9.0.0
	pkgrel = 2
	url = https://github.com/sharkdp/fd
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = rust
	depends = gcc-libs
	source = fd-9.0.0.tar.gz::https://github.com/sharkdp/fd/archive/v9.0.0.tar.gz
	sha512sums = e992db9170884c5c426d51ba06a0684b000c65df3fae392fe9ffb3555b94f1d0cfde9b5ae01da37508a1b11bc75b023534db380c992cb4ccf17084d27ec87c84

pkgname = fd
