pkgbase = fd
	pkgdesc = Simple, fast and user-friendly alternative to find
	pkgver = 8.7.0
	pkgrel = 2
	url = https://github.com/sharkdp/fd
	arch = x86_64
	license = MIT
	license = APACHE
	makedepends = rust
	depends = gcc-libs
	source = fd-8.7.0.tar.gz::https://github.com/sharkdp/fd/archive/v8.7.0.tar.gz
	sha512sums = 911b9b718f584bed7e569e11f098ede5effdb74822debca677b555e02032844ee7dd5644a5d7ad2d138d358025e08c02590a2ae2e99e8bac4ab1c88835e84c50

pkgname = fd
