pkgbase = fd
	pkgdesc = Simple, fast and user-friendly alternative to find
	pkgver = 8.7.1
	pkgrel = 1
	url = https://github.com/sharkdp/fd
	arch = x86_64
	license = MIT
	license = APACHE
	makedepends = rust
	depends = gcc-libs
	source = fd-8.7.1.tar.gz::https://github.com/sharkdp/fd/archive/v8.7.1.tar.gz
	sha512sums = 4faef4a21771d50c8446aa14720669091d9760fd5712555af3012e5691958d8047608349cc7d200992ca32758870ed5c934d7503684096b9fa97be4ce70fbebb

pkgname = fd
