[Desktop Entry]
Type=Application
Version=2.5
Encoding=UTF-8
Name=Nexuiz (GLX)
Comment=a free open-source first person shooter
Icon=/usr/share/pixmaps/nexuiz.png
Exec=/usr/bin/nexuiz-glx
Terminal=false
StartupNotify=false
Categories=Game;
