pkgbase = openimageio
	pkgdesc = A library for reading and writing images, including classes, utilities, and applications
	pkgver = 3.1.10.0
	pkgrel = 1
	url = http://www.openimageio.org/
	arch = x86_64
	license = Apache-2.0
	makedepends = cmake
	makedepends = qt5-base
	makedepends = python
	makedepends = boost
	makedepends = mesa
	makedepends = fontconfig
	makedepends = libxrender
	makedepends = ninja
	makedepends = robin-map
	makedepends = fmt
	depends = openexr
	depends = boost-libs
	depends = giflib
	depends = openjpeg2
	depends = glew
	depends = libtiff
	depends = libjpeg-turbo
	depends = opencolorio
	depends = libpng
	depends = libraw
	depends = libwebp
	depends = pugixml
	depends = pybind11
	depends = libheif
	depends = hdf5
	depends = freetype2
	depends = libstdc++
	depends = glibc
	depends = zlib
	depends = libgcc
	optdepends = qt5-base: iv image viewer
	optdepends = python: bindings support
	source = openimageio-3.1.10.0.tar.gz::https://github.com/OpenImageIO/oiio/archive/refs/tags/v3.1.10.0.tar.gz
	sha512sums = 7e3b295562c97d39d50e8c820686baea2b8e7bd257d85a2660d63f7515a88b58bad5e97b3890a9a99e0263888745884831f9f10021752fe5f60d38ad607f3390

pkgname = openimageio
