[Unit]
Description=FreeRADIUS high performance RADIUS server.
After=syslog.target network.target
Documentation=man:radiusd(8) man:radiusd.conf(5) https://wiki.freeradius.org/Home https://networkradius.com/freeradius-documentation/

[Service]
Type=forking
PIDFile=/run/radiusd/radiusd.pid
ExecStartPre=/usr/bin/radiusd -C
ExecStart=/usr/bin/radiusd -d /etc/raddb
ExecReload=/usr/bin/radiusd -C
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=2
ProtectSystem=full
ProtectHome=on

[Install]
WantedBy=multi-user.target
