[Desktop Entry]
Name=Qt Assistant
Comment=Shows Qt documentation and examples
Exec=/usr/lib/qt/bin/assistant
Icon=assistant
Terminal=false
Type=Application
Categories=Qt;Development;Documentation;
