[Unit]
Description=Fast lightweight webserver
After=syslog.target network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/usr/bin/yaws --daemon --heart
ExecReload=/usr/bin/yaws --hup
ExecStop=/usr/bin/yaws --stop

[Install]
WantedBy=multi-user.target
