[Unit]
Description=IRC daemon
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
User=ircd
PIDFile=/run/unrealircd/ircd.pid
ExecStart=/usr/bin/unrealircd

[Install]
WantedBy=multi-user.target
