pkgbase = qtractor
	pkgdesc = Audio/MIDI multitrack sequencer
	pkgver = 1.6.0
	pkgrel = 1
	url = https://qtractor.sourceforge.io/
	arch = x86_64
	groups = pro-audio
	license = GPL-2.0-or-later
	makedepends = alsa-lib
	makedepends = clap
	makedepends = cmake
	makedepends = dssi
	makedepends = git
	makedepends = jack
	makedepends = ladspa
	makedepends = liblo
	makedepends = libogg
	makedepends = libsamplerate
	makedepends = libsndfile
	makedepends = libvorbis
	makedepends = lilv
	makedepends = lv2
	makedepends = qt6-tools
	makedepends = rubberband
	makedepends = suil
	makedepends = vst3sdk
	depends = glibc
	depends = hicolor-icon-theme
	depends = libgcc
	depends = libmad
	depends = libstdc++
	depends = libxcb
	depends = qt6-base
	depends = qt6-svg
	depends = zlib
	optdepends = new-session-manager: for session management
	provides = clap-host
	provides = dssi-host
	provides = ladspa-host
	provides = lv2-host
	provides = vst-host
	provides = vst3-host
	source = qtractor::git+https://github.com/rncbc/qtractor.git#tag=v1.6.0
	source = minibpm::git+https://github.com/breakfastquay/minibpm.git
	sha512sums = 9674e419d8af43bf47aef48c1751a49093c47e3951d2ce934a8e484c60f48403e2c6690f60ee2013c4a21e8e1675eb3083ff54746e6ba24551b3e73f68a5cf3d
	sha512sums = SKIP
	b2sums = aa2623c2a54530ea8d2004115e489b4d373527545da657edc35f49a38fbb56a90ace64a025558888588b3d3ac1f8579bedc10248cd37830ec53926b7e6d8c705
	b2sums = SKIP

pkgname = qtractor
	depends = glibc
	depends = hicolor-icon-theme
	depends = libgcc
	depends = libmad
	depends = libstdc++
	depends = libxcb
	depends = qt6-base
	depends = qt6-svg
	depends = zlib
	depends = alsa-lib
	depends = libasound.so
	depends = jack
	depends = libjack.so
	depends = liblo
	depends = liblo.so
	depends = libogg
	depends = libogg.so
	depends = libsamplerate
	depends = libsamplerate.so
	depends = libsndfile
	depends = libsndfile.so
	depends = libvorbis
	depends = libvorbisenc.so
	depends = libvorbisfile.so
	depends = libvorbis.so
	depends = lilv
	depends = liblilv-0.so
	depends = rubberband
	depends = librubberband.so
