pkgbase = qtractor
	pkgdesc = Audio/MIDI multitrack sequencer
	pkgver = 1.6.1
	pkgrel = 2
	url = https://qtractor.sourceforge.io/
	arch = x86_64
	groups = pro-audio
	license = GPL-2.0-or-later
	makedepends = alsa-lib
	makedepends = clap
	makedepends = cmake
	makedepends = dssi
	makedepends = git
	makedepends = jack
	makedepends = ladspa
	makedepends = liblo
	makedepends = libogg
	makedepends = libsamplerate
	makedepends = libsndfile
	makedepends = libvorbis
	makedepends = lilv
	makedepends = lv2
	makedepends = qt6-tools
	makedepends = rubberband
	makedepends = suil
	makedepends = vst3sdk
	depends = glibc
	depends = hicolor-icon-theme
	depends = libgcc
	depends = libmad
	depends = libstdc++
	depends = libxcb
	depends = qt6-base
	depends = qt6-svg
	depends = zlib
	optdepends = new-session-manager: for session management
	provides = clap-host
	provides = dssi-host
	provides = ladspa-host
	provides = lv2-host
	provides = vst-host
	provides = vst3-host
	source = qtractor::git+https://github.com/rncbc/qtractor.git#tag=v1.6.1
	source = minibpm::git+https://github.com/breakfastquay/minibpm.git
	sha512sums = 66e904ce50b6880a8aef6af0758e5f7a44e0abcc49cacf841f14dedc95093b1453417fcd290f92ecde12f1307fd8e096636041d0fdc5cf646578ad50dfff9eb8
	sha512sums = SKIP
	b2sums = 3b55b4bdb48fbe779f40f7ac9679efc8bda99dbbb82ad91dc92f596a987ac361b3c89488a56cc606049ae9a01142db18caedb418f4281802e7e912a0dbb4fdf0
	b2sums = SKIP

pkgname = qtractor
	depends = glibc
	depends = hicolor-icon-theme
	depends = libgcc
	depends = libmad
	depends = libstdc++
	depends = libxcb
	depends = qt6-base
	depends = qt6-svg
	depends = zlib
	depends = alsa-lib
	depends = libasound.so
	depends = jack
	depends = libjack.so
	depends = liblo
	depends = liblo.so
	depends = libogg
	depends = libogg.so
	depends = libsamplerate
	depends = libsamplerate.so
	depends = libsndfile
	depends = libsndfile.so
	depends = libvorbis
	depends = libvorbisenc.so
	depends = libvorbisfile.so
	depends = libvorbis.so
	depends = lilv
	depends = liblilv-0.so
	depends = rubberband
	depends = librubberband.so
