pkgbase = qtractor
	pkgdesc = Audio/MIDI multitrack sequencer
	pkgver = 1.5.4
	pkgrel = 1
	url = https://qtractor.sourceforge.io/
	arch = x86_64
	groups = pro-audio
	license = GPL-2.0-or-later
	makedepends = alsa-lib
	makedepends = aubio
	makedepends = clap
	makedepends = cmake
	makedepends = dssi
	makedepends = jack
	makedepends = ladspa
	makedepends = liblo
	makedepends = libogg
	makedepends = libsamplerate
	makedepends = libsndfile
	makedepends = libvorbis
	makedepends = lilv
	makedepends = lv2
	makedepends = qt6-tools
	makedepends = rubberband
	makedepends = suil
	makedepends = vst3sdk
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = libmad
	depends = libxcb
	depends = qt6-base
	depends = qt6-svg
	depends = zlib
	optdepends = new-session-manager: for session management
	optdepends = qt6-wayland: for native wayland support
	provides = clap-host
	provides = dssi-host
	provides = ladspa-host
	provides = lv2-host
	provides = vst-host
	provides = vst3-host
	source = qtractor-1.5.4.tar.gz::https://github.com/rncbc/qtractor/archive/refs/tags/v1.5.4.tar.gz
	sha512sums = ceb2a17427966a172142a1bc12ab9959f08cc12addd4db7f47c02b541a72957a6e93dc81fa4c514e5509389b21dc6c9e32c028ff9729d0af7d5fb2a57a2dda60
	b2sums = 5f68f34b347e8361002624254df90bfea82308ae1e7f0196cd690938c78ba35656bd0f72e82b600dd84506f2290246a8628133446e4f06608c03a755356ae5d3

pkgname = qtractor
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = libmad
	depends = libxcb
	depends = qt6-base
	depends = qt6-svg
	depends = zlib
	depends = alsa-lib
	depends = libasound.so
	depends = aubio
	depends = libaubio.so
	depends = jack
	depends = libjack.so
	depends = liblo
	depends = liblo.so
	depends = libogg
	depends = libogg.so
	depends = libsamplerate
	depends = libsamplerate.so
	depends = libsndfile
	depends = libsndfile.so
	depends = libvorbis
	depends = libvorbisenc.so
	depends = libvorbisfile.so
	depends = libvorbis.so
	depends = lilv
	depends = liblilv-0.so
	depends = rubberband
	depends = librubberband.so
