pkgbase = boost
	pkgdesc = Free peer-reviewed portable C++ source libraries
	pkgver = 1.83.0
	pkgrel = 9
	url = https://www.boost.org/
	arch = x86_64
	license = custom
	makedepends = icu
	makedepends = python
	makedepends = python-numpy
	makedepends = bzip2
	makedepends = zlib
	makedepends = openmpi
	makedepends = zstd
	source = https://boostorg.jfrog.io/artifactory/main/release/1.83.0/source/boost_1_83_0.tar.bz2
	source = boost-1.81.0-phoenix-multiple-definitions.patch
	source = boost-support-fn.contains-f-where-f-is-a-function.patch::https://github.com/boostorg/function/commit/7ca2310b15e3.patch
	source = boost-numpy-2.0.patch::https://github.com/boostorg/python/commit/0474de0f6cc9.patch
	source = boost-ublas-c++20-iterator.patch::https://github.com/boostorg/ublas/commit/a31e5cffa85f.patch
	sha256sums = 6478edfe2f3305127cffe8caf73ea0176c53769f4bf1585be237eb30798c3b8e
	sha256sums = 3ebf428ef6be090a7b56a233330375539ac429333b83708e28fe5db049cfecdb
	sha256sums = 1b5998ee8fb389dd6df55a3684d29ffa37246bc007e8e6712bf2be6c7f745036
	sha256sums = ccda8ef8126c93f4c8d29ba43b5f301952e5eacdc7fecb2ae3d01115a2222c53
	sha256sums = aa38addb40d5f44b4a8472029b475e7e6aef1c460509eb7d8edf03491dc1b5ee

pkgname = boost
	pkgdesc = Free peer-reviewed portable C++ source libraries (development headers)
	depends = boost-libs=1.83.0
	optdepends = python: for python bindings
	options = staticlibs

pkgname = boost-libs
	pkgdesc = Free peer-reviewed portable C++ source libraries (runtime libraries)
	depends = bzip2
	depends = zlib
	depends = icu
	depends = zstd
	optdepends = openmpi: for mpi support
	provides = libboost_atomic.so
	provides = libboost_chrono.so
	provides = libboost_container.so
	provides = libboost_context.so
	provides = libboost_contract.so
	provides = libboost_coroutine.so
	provides = libboost_date_time.so
	provides = libboost_fiber.so
	provides = libboost_filesystem.so
	provides = libboost_graph.so
	provides = libboost_graph_parallel.so
	provides = libboost_iostreams.so
	provides = libboost_json.so
	provides = libboost_locale.so
	provides = libboost_log.so
	provides = libboost_log_setup.so
	provides = libboost_math_c99.so
	provides = libboost_math_c99f.so
	provides = libboost_math_c99l.so
	provides = libboost_math_tr1.so
	provides = libboost_math_tr1f.so
	provides = libboost_math_tr1l.so
	provides = libboost_mpi.so
	provides = libboost_mpi_python.so
	provides = libboost_nowide.so
	provides = libboost_numpy.so
	provides = libboost_prg_exec_monitor.so
	provides = libboost_program_options.so
	provides = libboost_python.so
	provides = libboost_random.so
	provides = libboost_regex.so
	provides = libboost_serialization.so
	provides = libboost_stacktrace_addr2line.so
	provides = libboost_stacktrace_basic.so
	provides = libboost_stacktrace_noop.so
	provides = libboost_system.so
	provides = libboost_thread.so
	provides = libboost_timer.so
	provides = libboost_type_erasure.so
	provides = libboost_unit_test_framework.so
	provides = libboost_url.so
	provides = libboost_wave.so
	provides = libboost_wserialization.so
