pkgbase = boost
	pkgdesc = Free peer-reviewed portable C++ source libraries
	pkgver = 1.89.0
	pkgrel = 4
	url = https://www.boost.org/
	arch = x86_64
	license = BSL-1.0
	makedepends = icu
	makedepends = python
	makedepends = python-numpy
	makedepends = bzip2
	makedepends = zlib
	makedepends = openmpi
	makedepends = zstd
	source = https://archives.boost.io/release/1.89.0/source/boost_1_89_0.tar.bz2
	source = https://github.com/boostorg/range/commit/9ac89e99.patch
	sha256sums = 85a33fa22621b4f314f8e85e1a5e2a9363d22e4f4992925d4bb3bc631b5a0c7a
	sha256sums = d66116e9ed03c309e5338cfa12b624894d116aed0903595842d97d461db70a28

pkgname = boost
	pkgdesc = Free peer-reviewed portable C++ source libraries (development headers)
	depends = boost-libs=1.89.0
	optdepends = python: for python bindings
	options = staticlibs

pkgname = boost-libs
	pkgdesc = Free peer-reviewed portable C++ source libraries (runtime libraries)
	depends = bzip2
	depends = zlib
	depends = icu
	depends = zstd
	optdepends = openmpi: for mpi support
	provides = libboost_atomic.so
	provides = libboost_charconv.so
	provides = libboost_chrono.so
	provides = libboost_cobalt.so
	provides = libboost_container.so
	provides = libboost_context.so
	provides = libboost_contract.so
	provides = libboost_coroutine.so
	provides = libboost_date_time.so
	provides = libboost_fiber.so
	provides = libboost_filesystem.so
	provides = libboost_graph.so
	provides = libboost_graph_parallel.so
	provides = libboost_iostreams.so
	provides = libboost_json.so
	provides = libboost_locale.so
	provides = libboost_log.so
	provides = libboost_log_setup.so
	provides = libboost_math_c99.so
	provides = libboost_math_c99f.so
	provides = libboost_math_c99l.so
	provides = libboost_math_tr1.so
	provides = libboost_math_tr1f.so
	provides = libboost_math_tr1l.so
	provides = libboost_mpi.so
	provides = libboost_mpi_python.so
	provides = libboost_nowide.so
	provides = libboost_numpy.so
	provides = libboost_prg_exec_monitor.so
	provides = libboost_process.so
	provides = libboost_program_options.so
	provides = libboost_python.so
	provides = libboost_random.so
	provides = libboost_regex.so
	provides = libboost_serialization.so
	provides = libboost_stacktrace_addr2line.so
	provides = libboost_stacktrace_basic.so
	provides = libboost_stacktrace_from_exception.so
	provides = libboost_stacktrace_noop.so
	provides = libboost_thread.so
	provides = libboost_timer.so
	provides = libboost_type_erasure.so
	provides = libboost_unit_test_framework.so
	provides = libboost_url.so
	provides = libboost_wave.so
	provides = libboost_wserialization.so
