pkgbase = boost
	pkgdesc = Free peer-reviewed portable C++ source libraries
	pkgver = 1.86.0
	pkgrel = 5
	url = https://www.boost.org/
	arch = x86_64
	license = BSL-1.0
	makedepends = icu
	makedepends = python
	makedepends = python-numpy
	makedepends = bzip2
	makedepends = zlib
	makedepends = openmpi
	makedepends = zstd
	source = https://boostorg.jfrog.io/artifactory/main/release/1.86.0/source/boost_1_86_0.tar.bz2
	source = boost-numpy-2.0.patch::https://github.com/boostorg/python/commit/0474de0f6cc9.patch
	source = boost-1_86_0-fix-compute-header_patch_1.patch::https://github.com/boostorg/compute/commit/79452d5279831ee59a650c17b71259a821f1a554.patch
	source = boost-1_86_0-fix-compute-header_patch_2.patch::https://github.com/boostorg/compute/commit/f8e5e3543723379bb6a9dd9d88415a993653e70a.patch
	sha256sums = 1bed88e40401b2cb7a1f76d4bab499e352fa4d0c5f31c0dbae64e24d34d7513b
	sha256sums = ccda8ef8126c93f4c8d29ba43b5f301952e5eacdc7fecb2ae3d01115a2222c53
	sha256sums = 20e8017cd5d237157af578d4279c264418bb8f92471ba2efa1dc2e8e980addd8
	sha256sums = a8c2b93129cb9c39c1ab30a6f3140e21f3fbfa23ededa039ab328331498293c7

pkgname = boost
	pkgdesc = Free peer-reviewed portable C++ source libraries (development headers)
	depends = boost-libs=1.86.0
	optdepends = python: for python bindings
	options = staticlibs

pkgname = boost-libs
	pkgdesc = Free peer-reviewed portable C++ source libraries (runtime libraries)
	depends = bzip2
	depends = zlib
	depends = icu
	depends = zstd
	optdepends = openmpi: for mpi support
	provides = libboost_atomic.so
	provides = libboost_charconv.so
	provides = libboost_chrono.so
	provides = libboost_cobalt.so
	provides = libboost_container.so
	provides = libboost_context.so
	provides = libboost_contract.so
	provides = libboost_coroutine.so
	provides = libboost_date_time.so
	provides = libboost_fiber.so
	provides = libboost_filesystem.so
	provides = libboost_graph.so
	provides = libboost_graph_parallel.so
	provides = libboost_iostreams.so
	provides = libboost_json.so
	provides = libboost_locale.so
	provides = libboost_log.so
	provides = libboost_log_setup.so
	provides = libboost_math_c99.so
	provides = libboost_math_c99f.so
	provides = libboost_math_c99l.so
	provides = libboost_math_tr1.so
	provides = libboost_math_tr1f.so
	provides = libboost_math_tr1l.so
	provides = libboost_mpi.so
	provides = libboost_mpi_python.so
	provides = libboost_nowide.so
	provides = libboost_numpy.so
	provides = libboost_prg_exec_monitor.so
	provides = libboost_process.so
	provides = libboost_program_options.so
	provides = libboost_python.so
	provides = libboost_random.so
	provides = libboost_regex.so
	provides = libboost_serialization.so
	provides = libboost_stacktrace_addr2line.so
	provides = libboost_stacktrace_basic.so
	provides = libboost_stacktrace_from_exception.so
	provides = libboost_stacktrace_noop.so
	provides = libboost_system.so
	provides = libboost_thread.so
	provides = libboost_timer.so
	provides = libboost_type_erasure.so
	provides = libboost_unit_test_framework.so
	provides = libboost_url.so
	provides = libboost_wave.so
	provides = libboost_wserialization.so
