pkgbase = marisa
	pkgver = 0.2.7
	pkgrel = 1
	url = https://github.com/s-yata/marisa-trie
	arch = x86_64
	license = BSD-2-Clause OR LGPL-2.1-or-later
	makedepends = python
	makedepends = ruby
	makedepends = perl
	makedepends = swig
	makedepends = python-setuptools
	source = marisa-trie-0.2.7.tar.gz::https://github.com/s-yata/marisa-trie/archive/v0.2.7.tar.gz
	sha512sums = 5e162d1e4b6e78e60354c19dbb419088d1d832591a701ee5a844f9e61747b0ec0333732d2832a771e2a1bae7cc9e199a9eae5098e430ff331b4de372ccce4798

pkgname = marisa
	pkgdesc = Static and space-efficient trie data structure library
	depends = gcc-libs

pkgname = perl-marisa
	pkgdesc = Perl language binding for marisa
	depends = perl
	depends = marisa

pkgname = python-marisa
	pkgdesc = Python language binding for marisa
	depends = python
	depends = marisa

pkgname = ruby-marisa
	pkgdesc = Ruby language binding for marisa
	depends = ruby
	depends = marisa
