pkgbase = python-protobuf
	pkgdesc = Protocol Buffers - Google's data interchange format
	pkgver = 28.2
	pkgrel = 3
	url = https://developers.google.com/protocol-buffers/
	arch = aarch64
	arch = armv7h
	license = BSD
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = protobuf=28.2
	source = https://files.pythonhosted.org/packages/source/p/protobuf/protobuf-5.28.2.tar.gz
	sha256sums = f3ecdef226b9af856075f28227ff2c90ce3a594d092c39bee5513573f25e2714

pkgname = python-protobuf
