pkgbase = kernel-headers-musl
	pkgdesc = Linux kernel headers sanitized for use with musl libc
	pkgver = 4.19.88
	pkgrel = 3
	url = https://github.com/sabotage-linux/kernel-headers
	arch = x86_64
	license = LGPL
	depends = musl
	source = kernel-headers-musl-4.19.88.tar.gz::https://github.com/sabotage-linux/kernel-headers/archive/v4.19.88.tar.gz
	sha512sums = db0239c40399c89cc250b9f1f53b7ec4eb119fde6b25c503aef7e88b80694df3a5e89196a22e66376731764bac83d9120794ee6c601a95b824f1ab770cb45a61

pkgname = kernel-headers-musl
