pkgbase = rnnoise
	pkgdesc = A noise suppression library based on a recurrent neural network
	pkgver = 0.2
	pkgrel = 1
	epoch = 1
	url = https://gitlab.xiph.org/xiph/rnnoise
	arch = x86_64
	license = BSD-3-Clause
	makedepends = wget
	depends = glibc
	source = https://gitlab.xiph.org/xiph/rnnoise/-/archive/v0.2/rnnoise-v0.2.tar.gz
	sha512sums = 930aa892299edbc1d512803df6b845ea6164eb498cacdab9970e5ae799bc6cf3c8c94d2b9576955fb9a2d8aa13a6d255e58fb99d0367a0d0ef842a1cb938e674

pkgname = rnnoise
