pkgbase = psensor
	pkgdesc = Graphical hardware temperature monitoring application
	pkgver = 1.2.1
	pkgrel = 5
	url = https://gitlab.com/jeanfi/psensor
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = git
	makedepends = help2man
	depends = cairo
	depends = curl
	depends = dconf
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = json-c
	depends = libappindicator
	depends = libatasmart
	depends = libgtop
	depends = libmicrohttpd
	depends = libnotify
	depends = libx11
	depends = libxnvctrl
	depends = lm_sensors
	depends = udisks2
	source = git+https://gitlab.com/jeanfi/psensor.git#tag=v1.2.1
	source = psensor-fix-parallel-build.patch
	source = psensor.appdata.xml
	b2sums = 3b110ca4bedb37d1fc3b6849265985809cba3a0d89407f0197e00757889fa6e9cc5da6c097b94b7e7f512b97b7544dcbd42f273fdece19944e8fc00a85f5cbf7
	b2sums = e70b66273073f728d397c89375cb36166aedc11cb07978df1b1d2c2941065a90adebedb9e510b845f9c3e47b5f125ee62f4359c2832e2c4946565cb64cc8fb66
	b2sums = 5e42293f5a4dc389c35e5440ed91b08a1b0c7813f3470191f72da26c5fadca55a8f78285a1ae581ffd4724ff58f2f18e497f58269bf8f7e27b82db468ff0e3c3

pkgname = psensor
