[Desktop Entry]
Name=Kcheckers
Comment=Checkers/Daughts game using Qt4 toolkit
Exec=kcheckers
Icon=/usr/share/kcheckers/icons/theme/kingwhite.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Game;BoardGame;
