pkgbase = ispc
	pkgdesc = Compiler for high-performance SIMD programming on the CPU
	pkgver = 1.25.3
	pkgrel = 1
	url = https://ispc.github.io/
	arch = x86_64
	license = BSD-3-Clause
	checkdepends = intel-compute-runtime
	makedepends = cmake
	makedepends = git
	makedepends = level-zero-headers
	makedepends = level-zero-loader
	makedepends = lib32-glibc
	makedepends = llvm
	makedepends = openmp
	makedepends = python
	makedepends = vc-intrinsics
	depends = clang
	depends = gcc-libs
	depends = glibc
	depends = llvm-libs
	depends = spirv-llvm-translator
	depends = onetbb
	optdepends = intel-compute-runtime: GPU support
	optdepends = level-zero-loader: GPU support
	optdepends = openmp: GPU support
	options = staticlibs
	source = git+https://github.com/ispc/ispc#tag=v1.25.3
	source = ispc-benchmark::git+https://github.com/google/benchmark.git
	source = ispc-googletest::git+https://github.com/google/googletest.git
	sha256sums = 7f663afbba105013c7c859d46b1111ae25a2c7d349202994b3105ee59d7dc9a7
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = ispc
