[Unit]
Description=Exim Mail Daemon

[Service]
PIDFile=/run/exim.pid
ExecStart=/usr/bin/exim -bdf -q30m
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
