pkgbase = webkit2gtk
	pkgdesc = Web content engine for GTK
	pkgver = 2.42.1
	pkgrel = 1
	url = https://webkitgtk.org
	arch = x86_64
	license = custom
	makedepends = clang
	makedepends = cmake
	makedepends = gi-docgen
	makedepends = gobject-introspection
	makedepends = gperf
	makedepends = gst-plugins-bad
	makedepends = lld
	makedepends = ninja
	makedepends = python
	makedepends = ruby
	makedepends = systemd
	makedepends = unifdef
	makedepends = wayland-protocols
	depends = at-spi2-core
	depends = atk
	depends = bubblewrap
	depends = cairo
	depends = enchant
	depends = fontconfig
	depends = freetype2
	depends = glib2
	depends = gst-plugins-bad-libs
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = gtk3
	depends = harfbuzz
	depends = harfbuzz-icu
	depends = hyphen
	depends = icu
	depends = libavif
	depends = libdrm
	depends = libegl
	depends = libepoxy
	depends = libgcrypt
	depends = libgl
	depends = libgles
	depends = libjpeg
	depends = libjxl
	depends = libmanette
	depends = libpng
	depends = libseccomp
	depends = libsecret
	depends = libsoup
	depends = libsystemd
	depends = libtasn1
	depends = libwebp
	depends = libwpe
	depends = libx11
	depends = libxcomposite
	depends = libxml2
	depends = libxslt
	depends = libxt
	depends = mesa
	depends = openjpeg2
	depends = sqlite
	depends = wayland
	depends = woff2
	depends = wpebackend-fdo
	depends = xdg-dbus-proxy
	depends = zlib
	source = https://webkitgtk.org/releases/webkitgtk-2.42.1.tar.xz
	source = https://webkitgtk.org/releases/webkitgtk-2.42.1.tar.xz.asc
	source = webkitgtk-MiniBrowser-fullscreen.patch::https://github.com/WebKit/WebKit/commit/e07345343415dd2496edc721daa61a3b42703131.patch
	validpgpkeys = D7FCF61CF9A2DEAB31D81BD3F3D322D0EC4582C3
	validpgpkeys = 5AA3BC334FD7E3369E7C77B291C559DBE4C9123B
	sha256sums = 6f41fac9989d3ee51c08c48de1d439cdeddecbc757e34b6180987d99b16d2499
	sha256sums = SKIP
	sha256sums = a921d6be1303e9f23474971f381886fd291ec5bb1a7ff1e85acede8cfb88bef2
	b2sums = c6453cf2d15661507df66c5478e7675217b62d9579cf9b9408cb3e4fa1a8405c5c2608edf0960baed62aafa766e6cdbe2f0c07e8fb728d86c111f12d5a816492
	b2sums = SKIP
	b2sums = d440d82c769f1b35caf5464dc850cdf1c896224205c90c17d8b0a44aee62e4b1383e11306936aaca067fde8836770d346d5122d7b05c91a5c7c1741c89c65e2f

pkgname = webkit2gtk
	depends = at-spi2-core
	depends = atk
	depends = bubblewrap
	depends = cairo
	depends = enchant
	depends = fontconfig
	depends = freetype2
	depends = glib2
	depends = gst-plugins-bad-libs
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = gtk3
	depends = harfbuzz
	depends = harfbuzz-icu
	depends = hyphen
	depends = icu
	depends = libavif
	depends = libdrm
	depends = libegl
	depends = libepoxy
	depends = libgcrypt
	depends = libgl
	depends = libgles
	depends = libjpeg
	depends = libjxl
	depends = libmanette
	depends = libpng
	depends = libseccomp
	depends = libsecret
	depends = libsoup
	depends = libsystemd
	depends = libtasn1
	depends = libwebp
	depends = libwpe
	depends = libx11
	depends = libxcomposite
	depends = libxml2
	depends = libxslt
	depends = libxt
	depends = mesa
	depends = openjpeg2
	depends = sqlite
	depends = wayland
	depends = woff2
	depends = wpebackend-fdo
	depends = xdg-dbus-proxy
	depends = zlib
	depends = libWPEBackend-fdo-1.0.so
	depends = libwpe-1.0.so
	optdepends = geoclue: Geolocation support
	optdepends = gst-libav: nonfree media decoding
	optdepends = gst-plugins-bad: media decoding
	optdepends = gst-plugins-good: media decoding
	provides = libjavascriptcoregtk-4.0.so
	provides = libwebkit2gtk-4.0.so

pkgname = webkit2gtk-docs
	pkgdesc = Web content engine for GTK (documentation)
	depends = 
