pkgbase = nuspell
	pkgdesc = Fast and safe spellchecking C++ library
	pkgver = 5.1.6
	pkgrel = 1
	url = https://nuspell.github.io/
	arch = x86_64
	license = LGPL-3.0-or-later
	checkdepends = catch2
	checkdepends = expat
	makedepends = cmake
	makedepends = pandoc
	depends = icu
	depends = glibc
	depends = gcc-libs
	source = nuspell-5.1.6.tar.gz::https://github.com/nuspell/nuspell/archive/v5.1.6.tar.gz
	sha512sums = ab6d9394a55d9a2a347ccae47aeef6a96af70f421ad6ea8f7ac7fde2052790f37fb1c7ec3112daac7600d193430a560cb1915ab6557c9353717f65cb32f13ab8

pkgname = nuspell
