pkgbase = z3
	pkgdesc = High-performance theorem prover
	pkgver = 4.15.4
	pkgrel = 2
	url = https://github.com/Z3Prover/z3
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = gcc-libs
	makedepends = git
	makedepends = glibc
	makedepends = ninja
	makedepends = python
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = jdk-openjdk
	source = git+https://github.com/Z3Prover/z3.git#tag=z3-4.15.4
	source = z3-python-do-not-rebuild.patch
	sha512sums = 440ada0cc7c21e11ad2ffd6c8a72292eda23c8cd3f1dbb131f63dc16c7c5f98473d9489eb586b2edac94cd7fb13a5dfe6200fbe921bbbbf5bfc2fea3dd69946f
	sha512sums = da5dec288c60eb38d92756e2c3a3bc7f507f980f4beed0187c2da5b4c719134908168d9fd6ebac4a96076af362904e784b62a21b3baa49c36228bfe9ef617270
	b2sums = c8c0458a0b2828f9c8a5909d8f5014e33e9b19923518e1f4bcb98d02da02ea9ef57391c95ba7dbd05168cd63a56c8a06c959bc70e6b6dfa2ee23766e7439f8d9
	b2sums = b86f473fdd084f2324de9af52ab8c12e33c9e3c05d984108593b75e2e2af4256d3040082757619c8aca9125afc81e9eda9aa594142ff6f25829ed8ac2c6a35b8

pkgname = z3
	depends = gcc-libs
	depends = glibc
	provides = libz3
	provides = libz3.so

pkgname = python-z3-solver
	depends = python
	depends = z3
	conflicts = python-z3
	replaces = python-z3

pkgname = z3-java
	depends = gcc-libs
	depends = glibc
	depends = java-runtime
	depends = z3
