pkgbase = z3
	pkgdesc = High-performance theorem prover
	pkgver = 4.12.4
	pkgrel = 1
	url = https://github.com/Z3Prover/z3
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = glibc
	makedepends = cmake
	makedepends = ninja
	makedepends = python
	makedepends = python-setuptools
	makedepends = gcc-libs
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	source = git+https://github.com/Z3Prover/z3.git#commit=dce2f3d88ff7b8671bd5d843f4f3f353e7089a45
	sha512sums = SKIP
	b2sums = SKIP

pkgname = z3
	depends = glibc
	depends = gcc-libs
	provides = libz3
	provides = libz3.so

pkgname = python-z3-solver
	depends = python
	depends = python-setuptools
	depends = z3
	conflicts = python-z3
	replaces = python-z3
