body {color:black;}
#checker_table {border:1px solid black}
.checker_header {border: 1px solid black;text:bold;text-align:left}
.checker_repository {border: 1px solid black;text:italic}
.checker_current {border: 1px solid black;color:black}
.checker_new {border: 1px solid 
black;color:black;background-color:F5A9A9}
