pkgbase = syslog-ng
	pkgdesc = Next-generation syslogd with advanced networking and filtering capabilities
	pkgver = 4.11.0
	pkgrel = 2
	url = https://github.com/syslog-ng/syslog-ng
	arch = x86_64
	license = GPL-2.0-or-later
	license = LGPL-2.1-or-later
	checkdepends = criterion
	checkdepends = gperf
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	checkdepends = qpdf
	makedepends = abseil-cpp
	makedepends = autoconf-archive
	makedepends = bash
	makedepends = curl
	makedepends = docbook-xsl
	makedepends = gawk
	makedepends = git
	makedepends = glib2
	makedepends = glibc
	makedepends = grpc
	makedepends = hiredis
	makedepends = json-c
	makedepends = libcap
	makedepends = libdbi
	makedepends = libesmtp
	makedepends = libgcc
	makedepends = libmaxminddb
	makedepends = libnet
	makedepends = librabbitmq-c
	makedepends = librdkafka
	makedepends = libstdc++
	makedepends = libxslt
	makedepends = mongo-c-driver
	makedepends = net-snmp
	makedepends = openssl
	makedepends = pcre2
	makedepends = protobuf
	makedepends = python
	makedepends = python-boto3
	makedepends = python-botocore
	makedepends = python-cachetools
	makedepends = python-certifi
	makedepends = python-charset-normalizer
	makedepends = python-dateutil
	makedepends = python-google-auth
	makedepends = python-idna
	makedepends = python-kubernetes
	makedepends = python-oauthlib
	makedepends = python-ply
	makedepends = python-pyasn1
	makedepends = python-pyasn1-modules
	makedepends = python-pyyaml
	makedepends = python-requests
	makedepends = python-requests-oauthlib
	makedepends = python-rsa
	makedepends = python-setuptools
	makedepends = python-urllib3
	makedepends = python-websocket-client
	makedepends = systemd
	makedepends = systemd-libs
	makedepends = zlib
	source = git+https://github.com/syslog-ng/syslog-ng.git#tag=syslog-ng-4.11.0
	source = git+https://github.com/balabit/ivykis.git
	source = git+https://github.com/open-telemetry/opentelemetry-proto.git
	source = git+https://github.com/Thalhammer/jwt-cpp.git
	source = syslog-ng.logrotate
	source = syslog-ng-systemd-integration.patch
	source = syslog-ng-do-not-install-python-venv.patch
	source = syslog-ng-config.patch
	b2sums = b8759cb46de931129e323b7f569c714b50c41bb13924ed50d4a8d03e8f40eb5f219ba8fb820417bd14ea396aca130f4a4c6ad50ef955401a23b230e22646e7d3
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = c9f77c126cda73ece1c617c59fa60def3332adcc0fb2868320c2528892f4462a2e5507b07561ffa45677a9f7afccd7bcca589535f7da85163535313d5138ec03
	b2sums = 3e0a3835124c5e3f70829236a8f2e8ce83b90e8d0acf54ca8ba71cd07a17d45e99de3b74ffaa28b90b50d1f9014b04ac102cb21b9e998e743ddcb1d80b9416ac
	b2sums = f6c885d34c38c6d9b59102df9c5fc09067e0ec6feace9e026092f8c7b9aa0baafc3364c151548e641bc1297770ff12c367e348bef502f4dd43d2badff2a758c0
	b2sums = 301d25a8752a4d4113cd1d5a48b38f497bab56a2a86662ee6195c7e92de483484926666dfebfbd2e89a9635ebdae61e9b0ea5dec5c840f71c5f55933a251266f

pkgname = syslog-ng
	install = syslog-ng.install
	depends = abseil-cpp
	depends = bash
	depends = curl
	depends = gawk
	depends = glib2
	depends = glibc
	depends = grpc
	depends = json-c
	depends = libcap
	depends = libgcc
	depends = libnet
	depends = libstdc++
	depends = openssl
	depends = pcre2
	depends = protobuf
	depends = systemd-libs
	depends = zlib
	optdepends = logrotate: for rotating log files
	conflicts = eventlog
	replaces = eventlog
	backup = etc/syslog-ng/syslog-ng.conf
	backup = etc/logrotate.d/syslog-ng
	backup = etc/default/syslog-ng@default

pkgname = syslog-ng-python
	pkgdesc = Next-generation syslogd with advanced networking and filtering capabilities (Python modules)
	groups = syslog-ng-modules
	depends = glib2
	depends = glibc
	depends = python
	depends = syslog-ng
	optdepends = python-boto3: for S3 module
	optdepends = python-botocore: for S3 module
	optdepends = python-kubernetes: for Kubernetes module
	optdepends = python-ply: for debugger CLI
	optdepends = python-requests: for hypr module

pkgname = syslog-ng-amqp
	pkgdesc = Next-generation syslogd with advanced networking and filtering capabilities (AMQP module)
	groups = syslog-ng-modules
	depends = glib2
	depends = glibc
	depends = librabbitmq-c
	depends = syslog-ng

pkgname = syslog-ng-geoip2
	pkgdesc = Next-generation syslogd with advanced networking and filtering capabilities (GeoIP2 module)
	groups = syslog-ng-modules
	depends = glib2
	depends = glibc
	depends = libmaxminddb
	depends = syslog-ng

pkgname = syslog-ng-kafka
	pkgdesc = Next-generation syslogd with advanced networking and filtering capabilities (Kafka module)
	groups = syslog-ng-modules
	depends = glib2
	depends = glibc
	depends = librdkafka
	depends = syslog-ng

pkgname = syslog-ng-mongodb
	pkgdesc = Next-generation syslogd with advanced networking and filtering capabilities (MongoDB module)
	groups = syslog-ng-modules
	depends = glib2
	depends = glibc
	depends = mongo-c-driver
	depends = syslog-ng

pkgname = syslog-ng-redis
	pkgdesc = Next-generation syslogd with advanced networking and filtering capabilities (Redis module)
	groups = syslog-ng-modules
	depends = glib2
	depends = glibc
	depends = hiredis
	depends = syslog-ng

pkgname = syslog-ng-smtp
	pkgdesc = Next-generation syslogd with advanced networking and filtering capabilities (SMTP module)
	groups = syslog-ng-modules
	depends = glib2
	depends = glibc
	depends = libesmtp
	depends = syslog-ng

pkgname = syslog-ng-snmp
	pkgdesc = Next-generation syslogd with advanced networking and filtering capabilities (SNMP module)
	groups = syslog-ng-modules
	depends = glib2
	depends = glibc
	depends = net-snmp
	depends = syslog-ng

pkgname = syslog-ng-sql
	pkgdesc = Next-generation syslogd with advanced networking and filtering capabilities (SQL module)
	groups = syslog-ng-modules
	depends = glib2
	depends = glibc
	depends = libdbi
	depends = openssl
	depends = syslog-ng
