pkgbase = lxcfs
	pkgdesc = FUSE filesystem for LXC
	pkgver = 7.0.0
	pkgrel = 2
	url = https://linuxcontainers.org/
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = help2man
	makedepends = meson
	makedepends = python-jinja
	makedepends = systemd
	makedepends = git
	depends = lxc
	depends = libnih
	depends = fuse3
	depends = dbus-glib
	options = emptydirs
	source = git+https://github.com/lxc/lxcfs.git#tag=v7.0.0?signed
	validpgpkeys = 602F567663E593BCBD14F338C638974D64792D67
	sha256sums = 0dfc110511dd5f08809cdf2324c3ebdd2c8f199c3ca38572cbf0d43faabd3182

pkgname = lxcfs
