pkgbase = lxcfs
	pkgdesc = FUSE filesystem for LXC
	pkgver = 6.0.2
	pkgrel = 1
	url = https://linuxcontainers.org/
	arch = x86_64
	license = GPL
	makedepends = help2man
	makedepends = meson
	makedepends = python-jinja
	makedepends = systemd
	depends = lxc
	depends = libnih
	depends = fuse3
	depends = dbus-glib
	options = emptydirs
	source = https://linuxcontainers.org/downloads/lxcfs/lxcfs-6.0.2.tar.gz
	source = https://linuxcontainers.org/downloads/lxcfs/lxcfs-6.0.2.tar.gz.asc
	validpgpkeys = 602F567663E593BCBD14F338C638974D64792D67
	sha256sums = 81016140b70e3b0977e637651197d2c29d02dd73d824e94cd97c19e64c74071c
	sha256sums = SKIP

pkgname = lxcfs
