[Desktop Entry]
Encoding=UTF-8
Name=GV
MimeType=application/pdf;application/postscript;image/x-eps;application/illustrator
GenericName=Postscript Viewer
Exec=gv
Icon=gv
Categories=Application;Graphics;Viewer;Office;
Type=Application
Terminal=false
StartupNotify=true
