pkgbase = erlang
	pkgdesc = General-purpose concurrent functional programming language developed by Ericsson
	pkgver = 27.3.3
	pkgrel = 1
	url = https://erlang.org/
	arch = x86_64
	license = Apache-2.0
	makedepends = gcc-libs
	makedepends = git
	makedepends = glib2
	makedepends = glibc
	makedepends = glu
	makedepends = java-environment
	makedepends = libglvnd
	makedepends = libxslt
	makedepends = lksctp-tools
	makedepends = mesa
	makedepends = ncurses
	makedepends = openssl
	makedepends = perl
	makedepends = unixodbc
	makedepends = webkit2gtk-4.1
	makedepends = wxwidgets-common
	makedepends = wxwidgets-gtk3
	makedepends = zlib
	conflicts = erlang-nox
	options = staticlibs
	source = git+https://github.com/erlang/otp#tag=OTP-27.3.3
	source = epmd.conf
	source = epmd.service
	source = epmd.socket
	b2sums = 20621fe8712798a71af281da60a282a1f216a098e5bf1dfac4dc9a1c49e70ce620e71342b4b2f842d27b074476966fb91120cadf2a92ade869d8cc10d18d4e59
	b2sums = 1675ac9bf948ab19e8b63077d870ccf356fcdbce14de2777f00b3488aa1ce34a5e0a5cdc0428707f744dee5940b12653a44e0ded0554de95ebb31bce4676ff87
	b2sums = 1f765318bcd322ce697a48c064ccdb1bd107b4a84e164a87f62678391cb82a9ab17a397d679cf266e037a5a2d91772b85f7a97f9cc5478c0f18118743b30045f
	b2sums = c37706f5f6e2d49100104fb442ebf15edd6ee0a1e8038d0364794cf34fd3f02a61b9ad2706228b3327b85b0cadcd11aac6087e7c98408eae2d307a09191b6553

pkgname = erlang
	depends = erlang-asn1
	depends = erlang-common_test
	depends = erlang-core
	depends = erlang-debugger
	depends = erlang-dialyzer
	depends = erlang-diameter
	depends = erlang-edoc
	depends = erlang-eldap
	depends = erlang-erl_interface
	depends = erlang-et
	depends = erlang-eunit
	depends = erlang-ftp
	depends = erlang-inets
	depends = erlang-jinterface
	depends = erlang-megaco
	depends = erlang-mnesia
	depends = erlang-observer
	depends = erlang-odbc
	depends = erlang-os_mon
	depends = erlang-parsetools
	depends = erlang-public_key
	depends = erlang-reltool
	depends = erlang-runtime_tools
	depends = erlang-sasl
	depends = erlang-snmp
	depends = erlang-ssh
	depends = erlang-ssl
	depends = erlang-syntax_tools
	depends = erlang-tftp
	depends = erlang-tools
	depends = erlang-wx
	depends = erlang-xmerl

pkgname = erlang-headless
	pkgdesc = General-purpose concurrent functional programming language developed by Ericsson (headless, replaces erlang-nox)
	depends = erlang-asn1
	depends = erlang-core
	depends = erlang-diameter
	depends = erlang-edoc
	depends = erlang-eldap
	depends = erlang-eunit
	depends = erlang-ftp
	depends = erlang-inets
	depends = erlang-mnesia
	depends = erlang-odbc
	depends = erlang-os_mon
	depends = erlang-parsetools
	depends = erlang-public_key
	depends = erlang-runtime_tools
	depends = erlang-snmp
	depends = erlang-ssh
	depends = erlang-ssl
	depends = erlang-syntax_tools
	depends = erlang-tftp
	depends = erlang-tools
	depends = erlang-xmerl

pkgname = erlang-core
	pkgdesc = Erlang core compenents (compiler, crypto, erts, kernel, stdlib)
	depends = gcc-libs
	depends = glibc
	depends = lksctp-tools
	depends = ncurses
	depends = openssl
	depends = zlib
	provides = erlang-compiler
	provides = erlang-crypto
	provides = erlang-erts
	provides = erlang-kernel
	provides = erlang-stdlib

pkgname = erlang-asn1
	pkgdesc = Provides support for Abstract Syntax Notation One
	depends = erlang-core
	depends = glibc

pkgname = erlang-common_test
	pkgdesc = A portable framework for automatic testing
	depends = erlang-core
	depends = erlang-debugger
	depends = erlang-inets
	depends = erlang-observer
	depends = erlang-runtime_tools
	depends = erlang-sasl
	depends = erlang-snmp
	depends = erlang-ssh
	depends = erlang-syntax_tools
	depends = erlang-tools
	depends = erlang-xmerl
	depends = glibc

pkgname = erlang-debugger
	pkgdesc = A debugger for debugging and testing of Erlang programs
	depends = erlang-core
	depends = erlang-wx

pkgname = erlang-dialyzer
	pkgdesc = A DIscrepancy AnaLYZer for ERlang programs
	depends = erlang-core
	depends = erlang-syntax_tools
	depends = erlang-wx

pkgname = erlang-diameter
	pkgdesc = Diameter (RFC 3588) library
	depends = erlang-core
	depends = erlang-runtime_tools
	depends = erlang-ssl
	depends = erlang-syntax_tools
	depends = glibc

pkgname = erlang-edoc
	pkgdesc = A utility used to generate documentation out of tags in source files
	depends = erlang-core
	depends = erlang-inets
	depends = erlang-syntax_tools
	depends = erlang-xmerl

pkgname = erlang-eldap
	pkgdesc = Erlang LDAP library
	depends = erlang-asn1
	depends = erlang-core
	depends = erlang-ssl

pkgname = erlang-erl_interface
	pkgdesc = Low level interface to C
	depends = erlang-core
	depends = glibc

pkgname = erlang-et
	pkgdesc = An event tracer for Erlang programs
	depends = erlang-core
	depends = erlang-runtime_tools
	depends = erlang-wx

pkgname = erlang-eunit
	pkgdesc = Support for unit testing
	depends = erlang-core

pkgname = erlang-ftp
	pkgdesc = FTP client
	depends = erlang-core

pkgname = erlang-inets
	pkgdesc = A set of services such as a Web server and a HTTP client etc
	depends = erlang-core
	depends = erlang-mnesia
	depends = erlang-runtime_tools
	depends = erlang-ssl

pkgname = erlang-jinterface
	pkgdesc = A library for accessing Java from Erlang
	depends = erlang-core
	depends = java-runtime

pkgname = erlang-megaco
	pkgdesc = Megaco/H.248 support library
	depends = erlang-asn1
	depends = erlang-core
	depends = erlang-debugger
	depends = erlang-et
	depends = erlang-runtime_tools
	depends = glibc

pkgname = erlang-mnesia
	pkgdesc = A heavy duty real-time distributed database
	depends = erlang-core

pkgname = erlang-observer
	pkgdesc = A set of tools for tracing and investigation of distributed systems
	depends = erlang-core
	depends = erlang-et
	depends = erlang-inets
	depends = erlang-runtime_tools
	depends = erlang-wx

pkgname = erlang-odbc
	pkgdesc = A library for unixODBC support in Erlang
	depends = erlang-core
	depends = glibc
	depends = unixodbc

pkgname = erlang-os_mon
	pkgdesc = A monitor which allows inspection of the underlying operating system
	depends = erlang-core
	depends = erlang-mnesia
	depends = erlang-sasl
	depends = erlang-snmp
	depends = glibc

pkgname = erlang-parsetools
	pkgdesc = A set of parsing and lexical analysis tools
	depends = erlang-core

pkgname = erlang-public_key
	pkgdesc = API to public key infrastructure
	depends = erlang-asn1
	depends = erlang-core

pkgname = erlang-reltool
	pkgdesc = A release management tool
	depends = erlang-core
	depends = erlang-sasl
	depends = erlang-tools
	depends = erlang-wx

pkgname = erlang-runtime_tools
	pkgdesc = A set of tools to include in a production system
	depends = erlang-core
	depends = erlang-mnesia
	depends = glibc

pkgname = erlang-sasl
	pkgdesc = The System Architecture Support Libraries
	depends = erlang-core
	depends = erlang-tools

pkgname = erlang-snmp
	pkgdesc = Simple Network Management Protocol (SNMP) support
	depends = erlang-core
	depends = erlang-mnesia
	depends = erlang-runtime_tools

pkgname = erlang-ssh
	pkgdesc = Secure Shell application with sftp and ssh support
	depends = erlang-core
	depends = erlang-public_key

pkgname = erlang-ssl
	pkgdesc = Secure Socket Layer support
	depends = erlang-core
	depends = erlang-inets
	depends = erlang-public_key

pkgname = erlang-syntax_tools
	pkgdesc = A set of tools for dealing with erlang sources
	depends = erlang-core

pkgname = erlang-tftp
	pkgdesc = TFTP client
	depends = erlang-core

pkgname = erlang-tools
	pkgdesc = A set of programming tools including a coverage analyzer etc
	depends = erlang-core
	depends = erlang-inets
	depends = erlang-runtime_tools

pkgname = erlang-wx
	pkgdesc = A library for wxWidgets support in Erlang
	depends = erlang-core
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = glu
	depends = libglvnd
	depends = webkit2gtk-4.1
	depends = wxwidgets-common
	depends = wxwidgets-gtk3

pkgname = erlang-xmerl
	pkgdesc = Provides support for XML 1.0
	depends = erlang-core
