[Unit]
Description=Erlang Port Mapper Daemon

[Service]
EnvironmentFile=/etc/conf.d/epmd
ExecStart=/usr/bin/epmd -daemon $EPMD_OPTS
ExecStop=/usr/bin/epmd -kill
Type=forking

[Install]
WantedBy=multi-user.target
