pkgbase = libretro-mupen64plus-next
	pkgdesc = Nintendo 64 core
	pkgver = 20260520.104813.g98c1b0d87754
	pkgrel = 1
	epoch = 1
	url = https://github.com/libretro/mupen64plus-libretro-nx
	arch = x86_64
	groups = libretro
	license = GPL-2.0-only
	makedepends = git
	makedepends = mesa
	makedepends = nasm
	depends = glibc
	depends = libgcc
	depends = libgl
	depends = libpng
	depends = libretro-core-info
	depends = libstdc++
	depends = minizip
	depends = xxhash
	depends = zlib
	replaces = libretro-mupen64plus
	options = !lto
	source = libretro-mupen64plus-next::git+https://github.com/libretro/mupen64plus-libretro-nx.git#commit=98c1b0d87754
	b2sums = 6e00f3639738d7aa801d648e5cc4d0609cefc916784ec8ba4aa57275d3e264f1df11e42a4cf2f008612354d7b5654460ab3a3edefcd81c6436770c272f6cf568

pkgname = libretro-mupen64plus-next
