pkgbase = libheif
	pkgdesc = HEIF file format decoder and encoder
	pkgver = 1.16.2
	pkgrel = 2
	url = https://github.com/strukturag/libheif
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = gdk-pixbuf2
	makedepends = libjpeg
	makedepends = libpng
	makedepends = rav1e
	makedepends = svt-av1
	depends = aom
	depends = gcc-libs
	depends = glibc
	depends = dav1d
	depends = libde265
	depends = x265
	optdepends = libjpeg: for heif-convert and heif-enc
	optdepends = libpng: for heif-convert and heif-enc
	optdepends = rav1e: rav1e encoder
	optdepends = svt-av1: svt-av1 encoder
	source = https://github.com/strukturag/libheif/releases/download/v1.16.2/libheif-1.16.2.tar.gz
	sha256sums = 7f97e4205c0bd9f9b8560536c8bd2e841d1c9a6d610401eb3eb87ed9cdfe78ea

pkgname = libheif
