pkgbase = libheif
	pkgdesc = An HEIF and AVIF file format decoder and encoder
	pkgver = 1.23.0
	pkgrel = 1
	url = https://github.com/strukturag/libheif
	arch = x86_64
	license = LGPL-3.0-or-later
	makedepends = cmake
	makedepends = dav1d
	makedepends = ffmpeg
	makedepends = git
	makedepends = libjpeg-turbo
	makedepends = libpng
	makedepends = libtiff
	makedepends = openjpeg2
	makedepends = rav1e
	makedepends = svt-av1
	depends = aom
	depends = libaom.so
	depends = glibc
	depends = libgcc_s.so
	depends = libde265
	depends = libgcc
	depends = libgcc_s.so
	depends = libstdc++
	depends = libstdc++.so
	depends = libwebp
	depends = libsharpyuv.so
	depends = openh264
	depends = libopenh264.so
	depends = openh264
	depends = libopenh264.so
	depends = x264
	depends = libx264.so
	depends = x265
	depends = libx265.so
	optdepends = libjpeg-turbo: for heif-dec and heif-enc
	optdepends = libpng: for heif-dec and heif-enc
	optdepends = libtiff: for heif-dec and heif-enc
	optdepends = dav1d: dav1d encoder
	optdepends = ffmpeg: hardware decode
	optdepends = openjpeg2: JPEG2000 decoder
	optdepends = rav1e: rav1e encoder
	optdepends = svt-av1: svt-av1 encoder
	provides = libheif.so
	source = git+https://github.com/strukturag/libheif#tag=v1.23.0
	sha256sums = 4ff7a2ffb6ed3f72ef69fc2ad1c498fff2c65d17ca853ce7d53d4d87e055dde3

pkgname = libheif
