pkgbase = libheif
	pkgdesc = An HEIF and AVIF file format decoder and encoder
	pkgver = 1.19.2
	pkgrel = 2
	url = https://github.com/strukturag/libheif
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = dav1d
	makedepends = ffmpeg
	makedepends = gdk-pixbuf2
	makedepends = git
	makedepends = libjpeg-turbo
	makedepends = libpng
	makedepends = rav1e
	makedepends = svt-av1
	depends = aom
	depends = gcc-libs
	depends = glibc
	depends = libde265
	depends = libwebp
	depends = x265
	optdepends = libjpeg-turbo: for heif-convert and heif-enc
	optdepends = libpng: for heif-convert and heif-enc
	optdepends = dav1d: dav1d encoder
	optdepends = ffmpeg: hardware decode
	optdepends = rav1e: rav1e encoder
	optdepends = svt-av1: svt-av1 encoder
	provides = libheif.so
	source = git+https://github.com/strukturag/libheif#tag=v1.19.2
	sha256sums = edd45429bf2ce428cfe8082f8879d27633b77435c3cd073c7a23e2525121368d

pkgname = libheif
