pkgbase = nginx
	pkgdesc = Lightweight HTTP server and IMAP/POP3 proxy server
	pkgver = 1.26.1
	pkgrel = 1
	url = https://nginx.org
	arch = x86_64
	license = BSD-2-Clause
	checkdepends = perl
	checkdepends = perl-gd
	checkdepends = perl-io-socket-ssl
	checkdepends = perl-fcgi
	checkdepends = perl-cache-memcached
	checkdepends = perl-cryptx
	checkdepends = memcached
	checkdepends = ffmpeg
	checkdepends = coreutils
	makedepends = mercurial
	makedepends = pcre2
	makedepends = zlib
	makedepends = openssl
	makedepends = geoip
	makedepends = mailcap
	makedepends = libxcrypt
	source = https://nginx.org/download/nginx-1.26.1.tar.gz
	source = https://nginx.org/download/nginx-1.26.1.tar.gz.asc
	source = hg+https://hg.nginx.org/nginx-tests#revision=2a607a31f583add7adfa1ac434a3f793d327ca6b
	source = nginx.service
	source = logrotate
	validpgpkeys = B0F4253373F8F6F510D42178520A9993A1C052F8
	validpgpkeys = 43387825DDB1BB97EC36BA5D007C8D7C15D87369
	validpgpkeys = D6786CE303D9A9022998DC6CC8464D549AF75C0A
	validpgpkeys = 13C82A63B603576156E30A4EA0EA981B66B0D967
	sha512sums = dfaadde78eb5cf8c8c3a43ead9ac49fc852c8de3e70e69754e3ffafc88c50c8bc08cdac0cc0ba8a9d8c155bdb334865e2e6c7dc1144c79959c426a9e087b3e37
	sha512sums = SKIP
	sha512sums = 2c1efc38f4d36c10e7d13bb48e035246215c33213e42d733ef0c1bbbdbce71777b2430247d1c1fe922e03d10ce53c05fe555bd9fea547658e6c6d763af8d8b93
	sha512sums = f469b3b14def666e955abf6f2d3c68a47631cad7bee90c92039ffe5bf629aa7e32bb4250844d52c0f963740fb07bf7fea5f8887cc1d5199403f07be6214fcb8d
	sha512sums = 2f4dfcfa711b8bcbc5918ba635f5e430ef7132e66276261ade62bb1cba016967432c8dce7f84352cb8b07dc7c6b18f09177aa3eb92c8e358b2a106c8ca142fe9

pkgname = nginx
	depends = glibc
	depends = pcre2
	depends = zlib
	depends = openssl
	depends = geoip
	depends = mailcap
	depends = libxcrypt
	backup = etc/nginx/fastcgi.conf
	backup = etc/nginx/fastcgi_params
	backup = etc/nginx/koi-win
	backup = etc/nginx/koi-utf
	backup = etc/nginx/nginx.conf
	backup = etc/nginx/scgi_params
	backup = etc/nginx/uwsgi_params
	backup = etc/nginx/win-utf
	backup = etc/logrotate.d/nginx

pkgname = nginx-src
	pkgdesc = Source code of nginx 1.26.1, useful for building modules
