pkgbase = vlc
	pkgdesc = Multi-platform MPEG, VCD/DVD, and DivX player
	pkgver = 3.0.21
	pkgrel = 1
	url = https://www.videolan.org/vlc/
	arch = x86_64
	license = GPL-2.0-or-later
	license = LGPL-2.1-or-later
	makedepends = aalib
	makedepends = alsa-lib
	makedepends = aom
	makedepends = aribb25
	makedepends = avahi
	makedepends = dav1d
	makedepends = flac
	makedepends = fluidsynth
	makedepends = gst-plugins-base-libs
	makedepends = gtk3
	makedepends = jack
	makedepends = libass
	makedepends = libavc1394
	makedepends = libbluray
	makedepends = libcaca
	makedepends = libdc1394
	makedepends = libdvdcss
	makedepends = libdvdnav
	makedepends = libdvdread
	makedepends = libgme
	makedepends = libgoom2
	makedepends = libjpeg-turbo
	makedepends = libkate
	makedepends = libmicrodns
	makedepends = libmodplug
	makedepends = libmtp
	makedepends = libnotify
	makedepends = libnfs
	makedepends = libogg
	makedepends = libpng
	makedepends = libpulse
	makedepends = librsvg
	makedepends = libsamplerate
	makedepends = libshout
	makedepends = libsoxr
	makedepends = libssh2
	makedepends = libtheora
	makedepends = libtiger
	makedepends = libvorbis
	makedepends = libvpx
	makedepends = lirc
	makedepends = live-media
	makedepends = mesa
	makedepends = mpg123
	makedepends = opus
	makedepends = pcsclite
	makedepends = projectm
	makedepends = protobuf
	makedepends = sdl_image
	makedepends = smbclient
	makedepends = speex
	makedepends = srt
	makedepends = systemd-libs
	makedepends = twolame
	makedepends = vcdimager
	makedepends = wayland-protocols
	makedepends = x264
	makedepends = libx264.so
	makedepends = x265
	makedepends = libx265.so
	makedepends = xosd
	makedepends = zvbi
	depends = a52dec
	depends = abseil-cpp
	depends = aribb24
	depends = bash
	depends = cairo
	depends = dbus
	depends = faad2
	depends = ffmpeg4.4
	depends = fontconfig
	depends = freetype2
	depends = fribidi
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gnutls
	depends = harfbuzz
	depends = hicolor-icon-theme
	depends = libarchive
	depends = libdca
	depends = libdvbpsi
	depends = libglvnd
	depends = libidn
	depends = libmad
	depends = libmatroska
	depends = libmpcdec
	depends = libmpeg2
	depends = libproxy
	depends = libsecret
	depends = libtar
	depends = libupnp
	depends = libixml.so
	depends = libupnp.so
	depends = libva
	depends = libx11
	depends = libxcb
	depends = libxinerama
	depends = libxml2
	depends = libxpm
	depends = lua
	depends = qt5-base
	depends = qt5-svg
	depends = qt5-x11extras
	depends = taglib
	depends = wayland
	depends = xcb-util-keysyms
	depends = zlib
	optdepends = aalib: ASCII art video output
	optdepends = alsa-lib: ALSA audio output
	optdepends = aom: AOM AV1 codec
	optdepends = aribb25: aribcam support
	optdepends = avahi: service discovery using bonjour protocol
	optdepends = dav1d: dav1d AV1 decoder
	optdepends = flac: Free Lossless Audio Codec plugin
	optdepends = fluidsynth: FluidSynth based MIDI playback plugin
	optdepends = gnu-free-fonts: subtitle font
	optdepends = gst-plugins-base-libs: for libgst plugins
	optdepends = gstreamer: for libgst plugins
	optdepends = gtk3: notification plugin
	optdepends = jack: jack audio server
	optdepends = kwallet: kwallet keystore
	optdepends = libass: Subtitle support
	optdepends = libavc1394: devices using the 1394ta AV/C
	optdepends = libbluray: Blu-Ray video input
	optdepends = libcaca: colored ASCII art video output
	optdepends = libcdio: audio CD playback
	optdepends = libdc1394: IEEE 1394 access plugin
	optdepends = libdvdcss: decoding encrypted DVDs
	optdepends = libdvdnav: DVD with navigation input module
	optdepends = libdvdread: DVD input module
	optdepends = libgme: Game Music Emu plugin
	optdepends = libgoom2: Goom visualization
	optdepends = libjpeg-turbo: JPEG support
	optdepends = libkate: Kate codec
	optdepends = libmodplug: MOD output plugin
	optdepends = libmicrodns: mDNS services discovery (chromecast etc)
	optdepends = libmtp: MTP devices discovery
	optdepends = libnfs: NFS access
	optdepends = libnotify: notification plugin
	optdepends = libogg: Ogg and OggSpots codec
	optdepends = libpng: PNG support
	optdepends = libpulse: PulseAudio audio output
	optdepends = libraw1394: IEEE 1394 access plugin
	optdepends = librsvg: SVG plugin
	optdepends = libsamplerate: audio Resampler
	optdepends = libshout: shoutcast/icecast output plugin
	optdepends = libsoxr: SoX audio Resampler
	optdepends = libssh2: sftp access
	optdepends = libtheora: theora codec
	optdepends = libtiger: Tiger rendering for Kate streams
	optdepends = libva-intel-driver: video backend intel
	optdepends = libva-vdpau-driver: vdpau backend nvidia
	optdepends = libvorbis: Vorbis decoder/encoder
	optdepends = libvpx: VP8 and VP9 codec
	optdepends = lirc: lirc control
	optdepends = live-media: streaming over RTSP
	optdepends = lua-socket: http interface
	optdepends = mpg123: mpg123 codec
	optdepends = ncurses: ncurses interface
	optdepends = opus: opus codec
	optdepends = pcsclite: aribcam support
	optdepends = projectm: ProjectM visualisation
	optdepends = protobuf: chromecast streaming
	optdepends = sdl12-compat: SDL image support
	optdepends = sdl_image: SDL image support
	optdepends = smbclient: SMB access plugin
	optdepends = speex: Speex codec
	optdepends = speexdsp: Speex codec
	optdepends = srt: SRT input/output plugin
	optdepends = systemd-libs: udev services discovery
	optdepends = ttf-dejavu: subtitle font
	optdepends = twolame: TwoLAME mpeg2 encoder plugin
	optdepends = vcdimager: navigate VCD with libvcdinfo
	optdepends = x264: H264 encoding
	optdepends = x265: HEVC/H.265 encoder
	optdepends = zvbi: VBI/Teletext/webcam/v4l2 capture/decoding
	conflicts = vlc-plugin
	replaces = vlc-plugin
	options = !emptydirs
	source = https://download.videolan.org/vlc/3.0.21/vlc-3.0.21.tar.xz
	source = https://download.videolan.org/vlc/3.0.21/vlc-3.0.21.tar.xz.asc
	source = update-vlc-plugin-cache.hook
	source = taglib-2.patch
	validpgpkeys = 65F7C6B4206BD057A7EB73787180713BE58D1ADC
	sha512sums = cb1af76c8056648c331d7e6e0680d161ed1849eb635987504f45eae02531e9b432651034317fa7e02b0722905dfb9f0f5dad67b5924cc62edcaf0d173ac36aee
	sha512sums = SKIP
	sha512sums = b247510ffeadfd439a5dadd170c91900b6cdb05b5ca00d38b1a17c720ffe5a9f75a32e0cb1af5ebefdf1c23c5acc53513ed983a736e8fa30dd8fad237ef49dd3
	sha512sums = ea0d1e1dfed16dac8f9027eb55d987dee59630568b9744ceb42bfa134ea9295252d83574f3d793a76a5be3b02661c1731ed366003b6b55b2d7f02fde70586ff3

pkgname = vlc
