pkgbase = opencolorio
	pkgdesc = A color management framework for visual effects and animation
	pkgver = 2.5.1
	pkgrel = 1
	url = https://opencolorio.org
	arch = x86_64
	license = BSD-3-Clause
	checkdepends = openimageio
	makedepends = cmake
	makedepends = python
	makedepends = pybind11
	makedepends = ninja
	depends = freeglut
	depends = glew
	depends = lcms2
	depends = expat
	depends = yaml-cpp
	depends = imath
	depends = pystring
	depends = minizip-ng
	depends = openexr
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = glu
	optdepends = python: python bindings
	source = opencolorio-2.5.1.tar.gz::https://github.com/AcademySoftwareFoundation/OpenColorIO/archive/v2.5.1.tar.gz
	sha512sums = 93d370a96882523defbaeb3c546860bf08cb152e430ff28cf02a976d265f0785d92aed1ab69a44db9ae4fc220ab1adaf0c5c1ecd2426d6b192a48add4c479364

pkgname = opencolorio
