pkgbase = postgresql-old-upgrade
	pkgdesc = PostgreSQL build for migrating between major versions with pg_upgrade
	pkgver = 16.10
	pkgrel = 2
	url = https://www.postgresql.org/
	arch = x86_64
	license = PostgreSQL
	makedepends = clang
	makedepends = llvm
	makedepends = perl
	makedepends = python
	makedepends = systemd
	makedepends = tcl
	depends = postgresql-libs>=16
	depends = bash
	depends = gcc-libs
	depends = glibc
	depends = icu
	depends = krb5
	depends = libldap
	depends = libxml2
	depends = llvm-libs
	depends = lz4
	depends = openssl
	depends = pam
	depends = systemd-libs
	depends = zlib
	depends = zstd
	source = https://ftp.postgresql.org/pub/source/v16.10/postgresql-16.10.tar.bz2
	source = 0001-jit-fix-build-with-LLVM-21.patch
	md5sums = 96faafa6f2504827038f13c18781dc10
	md5sums = e3ef345d74705a1a5e40d82187758ff3
	sha256sums = de8485f4ce9c32e3ddfeef0b7c261eed1cecb54c9bcd170e437ff454cb292b42
	sha256sums = fd8512247dbf629a7bf9f1d3c8c45afdddc36bef68e7bf3623ce8d542b0ef43d
	b2sums = 0b07df6cdd92159ca464dec9fc3f86a806a0a5d9829937f1084e914cac55deff4c3f63b8d9ff1dcac01086b1c1d83ed726c00b007ccd57490bef15194181ddd7
	b2sums = 43bbbc51fe386f28ef587c4f0f59eb46fcc181e61ba9cb2e5c67903ffe97e568e8b14acfc163a144565bd594f96687b2842aef4b520eae1fe12a43fc168f5279

pkgname = postgresql-old-upgrade
	optdepends = perl: for PL/Perl support
	optdepends = python: for PL/Python 3 support
	optdepends = tcl: for PL/Tcl support
