pkgbase = postgresql-old-upgrade
	pkgdesc = Older PostgreSQL for migrating major versions with pg_upgrade
	pkgver = 17.7
	pkgrel = 2
	url = https://www.postgresql.org/
	arch = x86_64
	license = PostgreSQL
	makedepends = clang
	makedepends = llvm
	makedepends = perl
	makedepends = python
	makedepends = systemd
	makedepends = tcl
	makedepends = util-linux
	depends = gcc-libs
	depends = glibc
	depends = icu
	depends = krb5
	depends = libldap
	depends = libxml2
	depends = llvm-libs
	depends = lz4
	depends = openssl
	depends = pam
	depends = systemd-libs
	depends = util-linux-libs
	depends = zlib
	depends = zstd
	source = https://ftp.postgresql.org/pub/source/v17.7/postgresql-17.7.tar.bz2
	md5sums = a4fa04d16e511e068736d154ca74752d
	sha256sums = ef9e343302eccd33112f1b2f0247be493cb5768313adeb558b02de8797a2e9b5
	b2sums = 245f866c7375566ca772171b89eb2277a17175b599973e740ce599605292a5847e68b857f83b208a24d0ab6938740faf00ab26758d72c7e119131745f8ab63cb

pkgname = postgresql-old-upgrade
	depends = gcc-libs
	depends = glibc
	depends = icu
	depends = krb5
	depends = libldap
	depends = libxml2
	depends = llvm-libs
	depends = lz4
	depends = openssl
	depends = pam
	depends = systemd-libs
	depends = util-linux-libs
	depends = zlib
	depends = zstd
	depends = postgresql-libs>=17.7
	optdepends = perl: for PL/Perl support
	optdepends = python: for PL/Python 3 support
	optdepends = tcl: for PL/Tcl support
