[Desktop Entry]
Encoding=UTF-8
Name=unison
Name[de]=unison
Comment=File synchronisation tool for X11
Comment[de]=Datei Abgleicher und Synchronisierer
TryExec=unison-x11
Exec=unison-x11
Terminal=false
Type=Application
Categories=GTK;Application;Network;
Icon=unison.png
StartupNotify=true
