pkgbase = bind
	pkgdesc = A complete, highly portable implementation of the DNS protocol
	pkgver = 9.20.8
	pkgrel = 1
	url = https://www.isc.org/software/bind/
	install = bind.install
	arch = x86_64
	license = MPL2
	makedepends = git
	makedepends = python-sphinx
	depends = bash
	depends = dnssec-anchors
	depends = e2fsprogs
	depends = glibc
	depends = icu
	depends = libedit
	depends = json-c
	depends = krb5
	depends = libcap
	depends = libidn2
	depends = libmaxminddb
	depends = libnsl
	depends = libuv
	depends = libxml2
	depends = lmdb
	depends = openssl
	depends = readline
	depends = xz
	depends = zlib
	depends = jemalloc
	depends = libnghttp2
	depends = liburcu
	provides = bind-tools
	provides = dnsutils
	provides = dns-server
	conflicts = bind-tools
	conflicts = dnsutils
	replaces = bind-tools
	replaces = dnsutils
	replaces = host
	options = !emptydirs
	backup = etc/named.conf
	backup = var/named/127.0.0.zone
	backup = var/named/localhost.zone
	backup = var/named/localhost.ip6.zone
	source = git+https://gitlab.isc.org/isc-projects/bind9.git#tag=v9.20.8
	source = tmpfiles.conf
	source = sysusers.conf
	source = named.conf
	source = named.service
	source = localhost.zone
	source = localhost.ip6.zone
	source = 127.0.0.zone
	sha256sums = 2813f7dd451bb90a83c74d215675a631769f4030115192553f4423da9280b525
	sha256sums = f0423c4ee8495da487e07e9144bec1d25f46a0cd2dfa7cfd7a761ef15bfefc98
	sha256sums = c968019a5f040a4a8f9ed13d82d4ba597652224b42f7cff123d8125af2c5108c
	sha256sums = e503b8472a82fa6bfc8d4ec011da402750166a63c319e54c48a242c81798e83a
	sha256sums = 3f0f8db0a1deae270dd166b4750be7c1041b4b44891176f35a8df7dd55d24d34
	sha256sums = 0011708e516128647dd25b59b6ebc465f36e85bbe0a8fbdc3eb04b7f28c2197f
	sha256sums = c06fc270e32a843c8b6d86335a2ec607d405dfba6875de8d8a9abde39a9e2c17
	sha256sums = b88fd2b99e7d42d414b329b814b9ff3304fa0ef9c67df81bde235bbfa0f3a3b8

pkgname = bind
