pkgbase = bind
	pkgdesc = A complete, highly portable implementation of the DNS protocol
	pkgver = 9.18.26
	pkgrel = 1
	url = https://www.isc.org/software/bind/
	install = bind.install
	arch = x86_64
	license = MPL2
	depends = bash
	depends = dnssec-anchors
	depends = e2fsprogs
	depends = glibc
	depends = icu
	depends = libedit
	depends = json-c
	depends = krb5
	depends = libcap
	depends = libidn2
	depends = libmaxminddb
	depends = libnsl
	depends = libuv
	depends = libxml2
	depends = lmdb
	depends = openssl
	depends = readline
	depends = xz
	depends = zlib
	depends = jemalloc
	depends = libnghttp2
	provides = bind-tools
	provides = dnsutils
	provides = dns-server
	conflicts = bind-tools
	conflicts = dnsutils
	replaces = bind-tools
	replaces = dnsutils
	replaces = host
	options = !emptydirs
	backup = etc/named.conf
	backup = var/named/127.0.0.zone
	backup = var/named/localhost.zone
	backup = var/named/localhost.ip6.zone
	source = https://ftp.isc.org/isc/bind9/9.18.26/bind-9.18.26.tar.xz
	source = https://ftp.isc.org/isc/bind9/9.18.26/bind-9.18.26.tar.xz.asc
	source = tmpfiles.conf
	source = sysusers.conf
	source = named.conf
	source = named.service
	source = localhost.zone
	source = localhost.ip6.zone
	source = 127.0.0.zone
	validpgpkeys = D99CCEAF879747014F038D63182E23579462EFAA
	validpgpkeys = 706B6C28620E76F91D11F7DF510A642A06C52CEC
	sha256sums = 75ffee52731e9604c849b658df29e927f1c4f01d5a71ea3ebcbeb63702cb6651
	sha256sums = SKIP
	sha256sums = f0423c4ee8495da487e07e9144bec1d25f46a0cd2dfa7cfd7a761ef15bfefc98
	sha256sums = 7c0acefcfcc3ae093550caed7ec90fe84bec8f7477459ffa7e71dda76bcbdb2c
	sha256sums = e08a01d41b18bdb771d534daca99642314939aafdb088e5cfcf0ef2d33f8e7eb
	sha256sums = 3f0f8db0a1deae270dd166b4750be7c1041b4b44891176f35a8df7dd55d24d34
	sha256sums = 0011708e516128647dd25b59b6ebc465f36e85bbe0a8fbdc3eb04b7f28c2197f
	sha256sums = c06fc270e32a843c8b6d86335a2ec607d405dfba6875de8d8a9abde39a9e2c17
	sha256sums = b88fd2b99e7d42d414b329b814b9ff3304fa0ef9c67df81bde235bbfa0f3a3b8

pkgname = bind
