pkgbase = python-awkward
	pkgdesc = Manipulate jagged, chunky, and/or bitmasked arrays as easily as Numpy
	pkgver = 2.7.2
	pkgrel = 1
	url = https://github.com/scikit-hep/awkward
	arch = x86_64
	license = BSD-3-Clause
	checkdepends = pybind11
	checkdepends = python-hist
	checkdepends = python-numba
	checkdepends = python-numexpr
	checkdepends = python-pandas
	checkdepends = python-pyaml
	checkdepends = python-pyarrow
	checkdepends = python-pytest
	checkdepends = python-scikit-hep-testdata
	checkdepends = python-vector
	checkdepends = root
	makedepends = cmake
	makedepends = cuda
	makedepends = doxygen
	makedepends = git
	makedepends = python-build
	makedepends = python-hatch-fancy-pypi-readme
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-nox
	makedepends = python-scikit-build-core
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	depends = gcc-libs
	depends = glibc
	depends = python
	depends = python-fsspec
	depends = python-numpy
	depends = python-packaging
	depends = python-typing_extensions
	optdepends = cuda: CUDA support
	optdepends = python-pyarrow: pyArrow connector
	optdepends = python-numexpr: numexpr connector
	optdepends = python-pandas: pandas connector
	optdepends = python-numba: for using in Numba JIT functions
	optdepends = root: rdataframe connector
	source = python-awkward::git+https://github.com/scikit-hep/awkward#tag=v2.7.2
	source = python-awkward-rapidjson::git+https://github.com/Tencent/rapidjson.git
	sha512sums = 9afb41331dc2bf4d6da297bb738a1c3ccb530a58d0299e0019bf5ff78fab6940d93c7c2270411a2f6e56e9c05f87164cac66fdba85eb84eec35faa6328f494c0
	sha512sums = SKIP

pkgname = python-awkward
	optdepends = cuda: CUDA support
	optdepends = python-pyarrow: pyArrow connector
	optdepends = python-numexpr: numexpr connector
	optdepends = python-pandas: pandas connector
	optdepends = python-numba: for using in Numba JIT functions
	optdepends = root: rdataframe connector
	optdepends = python-awkward-docs: documentation
