pkgbase = lmms
	pkgdesc = The Linux MultiMedia Studio
	pkgver = 1.2.2
	pkgrel = 27
	url = https://lmms.io
	arch = x86_64
	groups = pro-audio
	license = GPL-2.0-or-later
	makedepends = alsa-lib
	makedepends = bash-completion
	makedepends = carla
	makedepends = cmake
	makedepends = doxygen
	makedepends = extra-cmake-modules
	makedepends = fftw
	makedepends = fluidsynth
	makedepends = freetype2
	makedepends = jack
	makedepends = ladspa
	makedepends = lame
	makedepends = libgig
	makedepends = libogg
	makedepends = libpulse
	makedepends = libsamplerate
	makedepends = libsndfile
	makedepends = libvorbis
	makedepends = portaudio
	makedepends = qt5-tools
	makedepends = sndio
	makedepends = stk
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = libx11
	depends = libxcb
	depends = qt5-base
	depends = qt5-x11extras
	depends = sdl12-compat
	optdepends = lib32-gcc-libs: VST plugin support
	optdepends = lib32-glibc: VST plugin support
	optdepends = pulseaudio: pulseaudio support
	options = !lto
	source = https://github.com/lmms/lmms/releases/download/v1.2.2/lmms_1.2.2.tar.xz
	source = lmms-carla-export.patch
	source = lmms-1.2.2-kf5widgetsaddon.patch
	source = cmake-4.patch
	sha512sums = df74d9e938f1c3807e9941b11db4ccfe9450e23b723c82774de15b7666ac39f1bfdd8519231e28849f994628190ecc92fa05d55bbc0b50a4421f2d183e729028
	sha512sums = be334dd7756086eca09d4e4c649fc6e5e49dd81982f28b51b085eda29e8f31e7bf8c98d417fca871f993d2956daa327107ab9eaac1a75195d0a54693d7f1069e
	sha512sums = b44aabc76a0858fb22f009cdba48662c399ef0b1dce689c9ae26b8fbff77b5548a4f79487c362b6909a823afc129cf6c8ed2d7ff85807008ff863d5b68406192
	sha512sums = 82bb5acc093ac9ae49d3b193ca28d5242b569c024161238ca42d198c6ee66e98184e7609d51e3d9a60f03ef711a80bf7955f9d758221aad004fe7fd254904c30
	b2sums = 8b561068194e9a4af8260675e784c25a92b6b2f731c29b677cbc16581306bbadcf27ea529adbcd735ff4adffedf3dd98ec7b2d89428a63ea600d022ecdae58e4
	b2sums = 5a15297342b1a988d447231e1b6a75ad746c0f8d423be1499bc648aae9c73303d6cb00789ea0040b287952498a97605545145f30972a50a2c1ec8c3e5b445043
	b2sums = a5b49aed16a4620c43adccd1c3c8e6ef7e91a5acef547068d7039d34be74266839732336d503a6781ec003b71d5d2a2240806491db12e83b202fb4ca0740480b
	b2sums = b330656d96a1b6393645fc5021ab4f75b17add1f41b4a84db6768f99b840eae798cd62f6a0b68d2d64230ec10d390ebc57cb5535c2f2a00541bac9f7fde3b542

pkgname = lmms
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = libx11
	depends = libxcb
	depends = qt5-base
	depends = qt5-x11extras
	depends = sdl12-compat
	depends = alsa-lib
	depends = libasound.so
	depends = fftw
	depends = libfftw3f.so
	depends = fluidsynth
	depends = libfluidsynth.so
	depends = lame
	depends = libmp3lame.so
	depends = libgig
	depends = libgig.so
	depends = libogg
	depends = libogg.so
	depends = libpulse
	depends = libpulse.so
	depends = libsamplerate
	depends = libsamplerate.so
	depends = libsndfile
	depends = libsndfile.so
	depends = libvorbis
	depends = libvorbis.so
	depends = libvorbisenc.so
	depends = libvorbisfile.so
	depends = portaudio
	depends = libportaudio.so
	depends = sndio
	depends = libsndio.so
	depends = stk
	depends = libstk-5.0.0.so
