[Desktop Entry]
Name=Tux Commander
Comment=A GTK2 file manager with two panels
Exec=tuxcmd
Terminal=false
Type=Application
Categories=Application;System;
