pkgbase = java17-openjdk
	pkgver = 17.0.15.u6
	pkgrel = 1
	url = https://openjdk.java.net/
	arch = x86_64
	license = LicenseRef-Java
	makedepends = java-environment=17
	makedepends = cpio
	makedepends = unzip
	makedepends = zip
	makedepends = libelf
	makedepends = libcups
	makedepends = libx11
	makedepends = libxrender
	makedepends = libxtst
	makedepends = libxt
	makedepends = libxext
	makedepends = libxrandr
	makedepends = alsa-lib
	makedepends = pandoc
	makedepends = graphviz
	makedepends = freetype2
	makedepends = libjpeg-turbo
	makedepends = giflib
	makedepends = libpng
	makedepends = lcms2
	makedepends = libnet
	makedepends = bash
	makedepends = harfbuzz
	makedepends = gcc-libs
	makedepends = glibc
	optdepends = gvfs: open links e.g. hyperlinks
	source = https://github.com/openjdk/jdk17u/archive/jdk-17.0.15+6.tar.gz
	source = freedesktop-java.desktop
	source = freedesktop-jconsole.desktop
	source = freedesktop-jshell.desktop
	sha256sums = 7a3113a9ec95aba8807b631dd01713ad05519602a436c28b5f3fe870c87f5132
	sha256sums = 85c4742764590783160af74587a47269e6797fbdf17ec485c7644bd239adf61d
	sha256sums = abac1ab09a33a3654378bc69be5a7cf075263ab3ae9efec1eb25cf388e711bb7
	sha256sums = e7cce0ecf868f656d8dc2eb25ab82ab665526a0a28aba20f02632dd29962dac3

pkgname = jre17-openjdk-headless
	pkgdesc = OpenJDK Java 17 headless runtime environment
	install = install_jre-openjdk-headless.sh
	depends = java-runtime-common>=3
	depends = ca-certificates-utils
	depends = nss
	depends = libjpeg-turbo
	depends = libjpeg.so
	depends = lcms2
	depends = liblcms2.so
	depends = libnet
	depends = freetype2
	depends = libfreetype.so
	depends = harfbuzz
	depends = libharfbuzz.so
	depends = glibc
	depends = gcc-libs
	optdepends = java-rhino: for some JavaScript support
	provides = java-runtime-headless=17
	provides = java-runtime-headless-openjdk=17
	provides = jre17-openjdk-headless=17.0.15.u6-1
	conflicts = jdk17-openjdk
	conflicts = jre17-openjdk
	backup = etc/java17-openjdk/logging.properties
	backup = etc/java17-openjdk/management/jmxremote.access
	backup = etc/java17-openjdk/management/jmxremote.password.template
	backup = etc/java17-openjdk/management/management.properties
	backup = etc/java17-openjdk/net.properties
	backup = etc/java17-openjdk/security/java.policy
	backup = etc/java17-openjdk/security/java.security
	backup = etc/java17-openjdk/security/policy/README.txt
	backup = etc/java17-openjdk/security/policy/limited/default_US_export.policy
	backup = etc/java17-openjdk/security/policy/limited/default_local.policy
	backup = etc/java17-openjdk/security/policy/limited/exempt_local.policy
	backup = etc/java17-openjdk/security/policy/unlimited/default_US_export.policy
	backup = etc/java17-openjdk/security/policy/unlimited/default_local.policy
	backup = etc/java17-openjdk/sound.properties

pkgname = jre17-openjdk
	pkgdesc = OpenJDK Java 17 full runtime environment
	install = install_jre-openjdk.sh
	depends = java-runtime-common>=3
	depends = ca-certificates-utils
	depends = nss
	depends = libjpeg-turbo
	depends = libjpeg.so
	depends = lcms2
	depends = liblcms2.so
	depends = libnet
	depends = freetype2
	depends = libfreetype.so
	depends = harfbuzz
	depends = libharfbuzz.so
	depends = glibc
	depends = gcc-libs
	depends = giflib
	depends = libgif.so
	depends = libpng
	optdepends = alsa-lib: for basic sound support
	optdepends = gtk3: for the Gtk+ 3 look and feel - desktop usage
	provides = java-runtime=17
	provides = java-runtime-openjdk=17
	provides = jre17-openjdk=17.0.15.u6-1
	provides = java-runtime-headless=17
	provides = java-runtime-headless-openjdk=17
	provides = jre17-openjdk-headless=17.0.15.u6-1
	conflicts = jdk17-openjdk
	conflicts = jre17-openjdk-headless
	backup = etc/java17-openjdk/logging.properties
	backup = etc/java17-openjdk/management/jmxremote.access
	backup = etc/java17-openjdk/management/jmxremote.password.template
	backup = etc/java17-openjdk/management/management.properties
	backup = etc/java17-openjdk/net.properties
	backup = etc/java17-openjdk/security/java.policy
	backup = etc/java17-openjdk/security/java.security
	backup = etc/java17-openjdk/security/policy/README.txt
	backup = etc/java17-openjdk/security/policy/limited/default_US_export.policy
	backup = etc/java17-openjdk/security/policy/limited/default_local.policy
	backup = etc/java17-openjdk/security/policy/limited/exempt_local.policy
	backup = etc/java17-openjdk/security/policy/unlimited/default_US_export.policy
	backup = etc/java17-openjdk/security/policy/unlimited/default_local.policy
	backup = etc/java17-openjdk/sound.properties

pkgname = jdk17-openjdk
	pkgdesc = OpenJDK Java 17 development kit
	install = install_jdk-openjdk.sh
	depends = java-runtime-common>=3
	depends = ca-certificates-utils
	depends = nss
	depends = libjpeg-turbo
	depends = libjpeg.so
	depends = lcms2
	depends = liblcms2.so
	depends = libnet
	depends = freetype2
	depends = libfreetype.so
	depends = harfbuzz
	depends = libharfbuzz.so
	depends = glibc
	depends = gcc-libs
	depends = java-environment-common=3
	depends = hicolor-icon-theme
	depends = libelf
	depends = libgif.so
	depends = libpng
	depends = ca-certificates-utils
	depends = nss
	depends = libjpeg-turbo
	depends = libjpeg.so
	depends = lcms2
	depends = liblcms2.so
	depends = libnet
	depends = freetype2
	depends = libfreetype.so
	depends = harfbuzz
	depends = libharfbuzz.so
	optdepends = java-rhino: for some JavaScript support
	optdepends = alsa-lib: for basic sound support
	optdepends = gtk3: for the Gtk+ 3 look and feel - desktop usage
	provides = java-environment=17
	provides = java-environment-openjdk=17
	provides = jdk17-openjdk=17.0.15.u6-1
	provides = java-runtime=17
	provides = java-runtime-openjdk=17
	provides = jre17-openjdk=17.0.15.u6-1
	provides = java-runtime-headless=17
	provides = java-runtime-headless-openjdk=17
	provides = jre17-openjdk-headless=17.0.15.u6-1
	conflicts = jre17-openjdk
	conflicts = jre17-openjdk-headless
	backup = etc/java17-openjdk/logging.properties
	backup = etc/java17-openjdk/management/jmxremote.access
	backup = etc/java17-openjdk/management/jmxremote.password.template
	backup = etc/java17-openjdk/management/management.properties
	backup = etc/java17-openjdk/net.properties
	backup = etc/java17-openjdk/security/java.policy
	backup = etc/java17-openjdk/security/java.security
	backup = etc/java17-openjdk/security/policy/README.txt
	backup = etc/java17-openjdk/security/policy/limited/default_US_export.policy
	backup = etc/java17-openjdk/security/policy/limited/default_local.policy
	backup = etc/java17-openjdk/security/policy/limited/exempt_local.policy
	backup = etc/java17-openjdk/security/policy/unlimited/default_US_export.policy
	backup = etc/java17-openjdk/security/policy/unlimited/default_local.policy
	backup = etc/java17-openjdk/sound.properties

pkgname = openjdk17-src
	pkgdesc = OpenJDK Java 17 sources
	depends = jdk17-openjdk=17.0.15.u6-1
	provides = openjdk17-src=17.0.15.u6-1

pkgname = openjdk17-doc
	pkgdesc = OpenJDK Java 17 documentation
	depends = jdk17-openjdk=17.0.15.u6-1
	provides = openjdk17-doc=17.0.15.u6-1
