pkgbase = nfs-utils
	pkgver = 2.6.4
	pkgrel = 1
	url = http://nfs.sourceforge.net
	arch = x86_64
	makedepends = libevent
	makedepends = sqlite
	makedepends = rpcsvc-proto
	makedepends = device-mapper
	source = https://www.kernel.org/pub/linux/utils/nfs-utils/2.6.4/nfs-utils-2.6.4.tar.xz
	source = https://www.kernel.org/pub/linux/utils/nfs-utils/2.6.4/nfs-utils-2.6.4.tar.sign
	source = exports
	source = sysusers.d
	validpgpkeys = E1B71E339E20A10A676F7CB69AFB1D681A125177
	sha256sums = 01b3b0fb9c7d0bbabf5114c736542030748c788ec2fd9734744201e9b0a1119d
	sha256sums = SKIP
	sha256sums = b8238b74179f7e1626db2b637671ddc17288a1c5b7692954ae6d2fbb1be3788d
	sha256sums = 8e1b6aa59cf5539b9da13cfec217b3ca7b6c32e08df3b0a204901ed2891b2ded

pkgname = nfs-utils
	pkgdesc = Support programs for Network File Systems
	license = GPL2
	depends = rpcbind
	depends = nfsidmap
	depends = gssproxy
	depends = libevent
	depends = device-mapper
	optdepends = sqlite: for nfsdcltrack and fsidd usage
	optdepends = python: for rpcctl, nfsiostat, nfsdclnts and mountstats usage
	backup = etc/exports
	backup = etc/nfs.conf
	backup = etc/nfsmount.conf
	backup = var/lib/nfs/etab
	backup = var/lib/nfs/rmtab

pkgname = nfsidmap
	pkgdesc = Library to help mapping IDs, mainly for NFSv4
	license = GPL2
	depends = libldap
	depends = krb5
	backup = etc/idmapd.conf
