[Unit]
Description=NFS Mount Daemon
After=rpcbind.service nfsd.service
Requires=rpcbind.service nfsd.service

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/nfs-server.conf
ExecStart=/usr/sbin/rpc.mountd $MOUNTD_OPTS

[Install]
WantedBy=multi-user.target
