[Unit]
Description=NFSv4 ID-name mapping daemon
After=var-lib-nfs-rpc_pipefs.mount nfsd.service
Requires=var-lib-nfs-rpc_pipefs.mount

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/nfs-common.conf
ExecStart=/usr/sbin/rpc.idmapd $IDMAPD_OPTS

[Install]
WantedBy=multi-user.target
