pkgbase = htmldoc
	pkgdesc = HTML Conversion Software
	pkgver = 1.9.24
	pkgrel = 1
	url = https://www.msweet.org/htmldoc/
	arch = x86_64
	license = GPL-2.0-only
	depends = fltk
	depends = glibc
	depends = hicolor-icon-theme
	depends = libcups
	depends = libgcc
	depends = libjpeg-turbo
	depends = libpng
	depends = libstdc++
	depends = libxpm
	depends = zlib
	source = https://github.com/michaelrsweet/htmldoc/releases/download/v1.9.24/htmldoc-1.9.24-source.tar.gz
	source = https://github.com/michaelrsweet/htmldoc/releases/download/v1.9.24/htmldoc-1.9.24-source.tar.gz.sig
	validpgpkeys = 9086C3CDC66C3F563CF8F405BE67C75EC81F3244
	sha256sums = d1727bc624c3b86d40e3ca16dee50cfaf72d1ea6d08a5646852c3b7233b33fd5
	sha256sums = SKIP

pkgname = htmldoc
