pkgbase = htmldoc
	pkgdesc = HTML Conversion Software
	pkgver = 1.9.20
	pkgrel = 1
	url = https://www.msweet.org/htmldoc/
	arch = x86_64
	license = GPL-2.0-only
	depends = fltk
	depends = libcups
	depends = libjpeg-turbo
	depends = libpng
	depends = libxpm
	depends = zlib
	depends = hicolor-icon-theme
	source = https://github.com/michaelrsweet/htmldoc/releases/download/v1.9.20/htmldoc-1.9.20-source.tar.gz
	source = https://github.com/michaelrsweet/htmldoc/releases/download/v1.9.20/htmldoc-1.9.20-source.tar.gz.sig
	validpgpkeys = 9086C3CDC66C3F563CF8F405BE67C75EC81F3244
	sha256sums = f458f3476acf73b791e3c0c71497c42d094b5d6bf96a4572d755b8c9e180609a
	sha256sums = SKIP

pkgname = htmldoc
