[Desktop Entry]
Name=DrScheme
GenericName=IDE for Scheme
Comment=DrScheme is an interactive, integrated, graphical programming environment for the Scheme, MzScheme, and MrEd programming Languages.
Exec=drscheme
Terminal=false
Type=Application
Categories=Education;Development;
Icon=drscheme
