pkgbase = wolfssl
	pkgdesc = Lightweight, portable, C-language-based SSL/TLS library
	pkgver = 5.9.4
	pkgrel = 1
	url = https://www.wolfssl.com/
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	depends = glibc
	provides = libwolfssl.so
	source = wolfssl-5.9.4-stable.tar.gz::https://github.com/wolfssl/wolfssl/archive/refs/tags/v5.9.4-stable.tar.gz
	source = https://github.com/wolfssl/wolfssl/releases/download/v5.9.4-stable/wolfssl-5.9.4-stable.tar.gz.asc
	validpgpkeys = A2A48E7BCB96C5BECB987314EBC80E415CA29677
	sha512sums = a37624080dabb789f1f78acce758e9bdbbfad278bc73ab9ff3cdcd24d4aa9633daea1b82002bdf756219cd1d30da8083bdf1dfdc0c00d32565578ae288eb7e69
	sha512sums = SKIP
	b2sums = bcb9db2aa6334c348207cf27698c9318dbe7751eac0769c1359b0008667755c4052cfaf12f2f1daa4fe849746218a46d20e222770d3ff0a337e3cea08c157c70
	b2sums = SKIP

pkgname = wolfssl
