pkgbase = libb64
	pkgdesc = Base64 Encoding/Decoding Routines
	pkgver = 1.2.1
	pkgrel = 5
	url = http://libb64.sourceforge.net/
	arch = x86_64
	license = custom:Public Domain
	depends = glibc
	source = https://downloads.sourceforge.net/libb64/libb64-1.2.1.zip
	source = https://sources.debian.net/data/main/libb/libb64/1.2-3/debian/patches/bufsiz-as-buffer-size.diff
	sha256sums = 20106f0ba95cfd9c35a13c71206643e3fb3e46512df3e2efb2fdbf87116314b2
	sha256sums = 0a8a978e94a924b4f62795de251aa1a5ceb53a1024ea60193d7f3e5a5794fa20

pkgname = libb64
