pkgbase = libplacebo
	pkgdesc = Reusable library for GPU-accelerated video/image rendering primitives
	pkgver = 7.351.0
	pkgrel = 1
	url = https://github.com/haasn/libplacebo
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = meson
	makedepends = ninja
	makedepends = vulkan-headers
	makedepends = glad
	makedepends = nuklear
	makedepends = python
	makedepends = python-setuptools
	makedepends = python-mako
	makedepends = python-markupsafe
	makedepends = python-jinja
	makedepends = libglvnd
	depends = vulkan-icd-loader
	depends = glslang
	depends = lcms2
	depends = shaderc
	depends = glibc
	depends = gcc-libs
	depends = libunwind
	depends = libdovi
	depends = xxhash
	provides = libplacebo.so
	source = https://code.videolan.org/videolan/libplacebo/-/archive/v7.351.0/libplacebo-v7.351.0.tar.gz
	source = fix_glslang_linking.patch
	sha512sums = 325e14b783aafdd0120abc6125d3949d60e2336fba3cd8d9aefececf93005a8333e5e6c53d6e54bb4c19e4a29981c9014f303fb48b5b89383ca948f64e7e6449
	sha512sums = f25f4532fd93b39efc2b481e88eadb8013d5ea32b0b785de336b3d03b52cd22577a933c5df6ed29f9c188a7ac7c8fa465114b230d3e43cb319a70072d8cbaefd
	b2sums = 631b292b789b44e51a1b7352f07c6eb8010c372e3562af49b670b7bac3f41b1a1b0100bd6b15988626831ecfad5bc328cbca1fccae45cb053172417f29673a00
	b2sums = 227a59c05d66e5226c297e39acad3244a50ab3fdc1c2742fd94979ffa09679e60c89fe916ff72321b0f91cb3516e35e52e0913067cde4c1325a28ff9db22fb3c

pkgname = libplacebo
	depends = vulkan-icd-loader
	depends = glslang
	depends = lcms2
	depends = shaderc
	depends = glibc
	depends = gcc-libs
	depends = libunwind
	depends = libdovi
	depends = xxhash
	depends = libdovi.so
	depends = liblcms2.so
	depends = libshaderc_shared.so
	depends = libvulkan.so
