[Unit]
Description=dhclient on %I
Wants=network.target
Before=network.target

[Service]
ExecStart=/usr/bin/dhclient -pf /run/dhclient@%i/dhclient.pid -d %I
RuntimeDirectory=dhclient@%i
ProtectSystem=on
ProtectHome=on

[Install]
WantedBy=multi-user.target
