pkgbase = jupyterlab
	pkgdesc = JupyterLab computational environment
	pkgver = 4.2.3
	pkgrel = 1
	url = https://github.com/jupyterlab/jupyterlab
	arch = any
	license = LicenseRef-JupyterLab
	checkdepends = npm
	checkdepends = python-jupyter-server-terminals
	checkdepends = python-pytest-jupyter
	checkdepends = python-pytest-tornasync
	makedepends = git
	makedepends = python-build
	makedepends = python-hatch-jupyter-builder
	makedepends = python-installer
	depends = jupyter-notebook-shim
	depends = jupyter-server
	depends = python
	depends = python-async-lru
	depends = python-httpx
	depends = python-importlib-metadata
	depends = python-ipykernel
	depends = python-jupyter-core
	depends = python-jupyterlab-server
	depends = python-packaging
	depends = python-tornado
	depends = python-traitlets
	optdepends = jupyter-collaboration: collaborative mode
	optdepends = jupyterlab-lsp: LSP extension
	optdepends = jupyterlab-widgets: ipywidgets support
	optdepends = npm: to install extensions
	source = git+https://github.com/jupyterlab/jupyterlab#tag=v4.2.3
	sha256sums = 6f748b3a32f4e793e3ccebe1f42f2e709e1388d51b685ce32d2857a003d40d12

pkgname = jupyterlab
