pkgbase = jupyterlab
	pkgdesc = JupyterLab computational environment
	pkgver = 4.0.8
	pkgrel = 1
	url = https://github.com/jupyterlab/jupyterlab
	arch = any
	license = custom
	checkdepends = npm
	checkdepends = python-jupyter-server-terminals
	checkdepends = python-pytest-jupyter
	checkdepends = python-pytest-tornasync
	makedepends = python-build
	makedepends = python-hatch-jupyter-builder
	makedepends = python-installer
	depends = jupyter-notebook-shim
	depends = jupyter-server
	depends = python
	depends = python-async-lru
	depends = python-importlib-metadata
	depends = python-ipykernel
	depends = python-jupyter-core
	depends = python-jupyterlab-server
	depends = python-packaging
	depends = python-tornado
	depends = python-traitlets
	optdepends = jupyter-collaboration: collaborative mode
	optdepends = jupyterlab-widgets: ipywidgets support
	optdepends = npm: to install extensions
	source = https://pypi.io/packages/source/j/jupyterlab/jupyterlab-4.0.8.tar.gz
	sha256sums = c4fe93f977bcc987bd395d7fae5ab02e0c042bf4e0f7c95196f3e2e578c2fb3a

pkgname = jupyterlab
