pkgbase = jupyterlab
	pkgdesc = JupyterLab computational environment
	pkgver = 4.1.7
	pkgrel = 2
	url = https://github.com/jupyterlab/jupyterlab
	arch = any
	license = LicenseRef-JupyterLab
	checkdepends = npm
	checkdepends = python-jupyter-server-terminals
	checkdepends = python-pytest-jupyter
	checkdepends = python-pytest-tornasync
	makedepends = git
	makedepends = python-build
	makedepends = python-hatch-jupyter-builder
	makedepends = python-installer
	depends = jupyter-notebook-shim
	depends = jupyter-server
	depends = python
	depends = python-async-lru
	depends = python-httpx
	depends = python-importlib-metadata
	depends = python-ipykernel
	depends = python-jupyter-core
	depends = python-jupyterlab-server
	depends = python-packaging
	depends = python-tornado
	depends = python-traitlets
	optdepends = jupyter-collaboration: collaborative mode
	optdepends = jupyterlab-widgets: ipywidgets support
	optdepends = npm: to install extensions
	source = git+https://github.com/jupyterlab/jupyterlab#tag=v4.1.7
	sha256sums = 81b28690037d4ab893b0e1115b0afd8c8565343ab04c2a542fec1631976a97fa

pkgname = jupyterlab
