pkgbase = roc-toolkit
	pkgdesc = Real-time audio streaming over the network
	pkgver = 0.2.6
	pkgrel = 1
	url = https://github.com/roc-streaming/roc-toolkit/
	arch = x86_64
	license = CC0-1.0
	license = MPL-2.0
	makedepends = alsa-lib
	makedepends = cpputest
	makedepends = gengetopt
	makedepends = libpulse
	makedepends = openfec
	makedepends = ragel
	makedepends = scons
	makedepends = sox
	makedepends = speexdsp
	depends = glibc
	depends = gcc-libs
	depends = libunwind
	depends = libuv
	optdepends = libpulse: for roc-conv, roc-receive and roc-send
	optdepends = sox: for roc-conv, roc-receive and roc-send
	provides = libroc.so
	source = https://github.com/roc-streaming/roc-toolkit//archive/v0.2.6/roc-toolkit-v0.2.6.tar.gz
	sha512sums = ac0f18e8a8a60ae9e93f3dcb58e645f31440b6799dac063b246f5320978ac98192bb9c38bbfa7e38dbd537da169c1d525d93cf66c86b36976d37932e3c12f63b
	b2sums = 6fa38819fc675323585a0bd5f754b7325be0d9870a55b65636498822249fe1d53b23422b7fa6a0b7e7740aff4f7e62fed9b2681741fbd8912ef8ec2bcc375ee4

pkgname = roc-toolkit
	depends = glibc
	depends = gcc-libs
	depends = libunwind
	depends = libuv
	depends = openfec
	depends = libopenfec.so
	depends = speexdsp
	depends = libspeexdsp.so
