pkgbase = python-pwntools
	pkgdesc = CTF framework and exploit development library
	pkgver = 4.14.1
	pkgrel = 1
	url = https://github.com/Gallopsled/pwntools
	arch = any
	license = BSD-2-Clause AND GPL-2.0-or-later AND GPL-3.0-or-later AND MIT
	makedepends = pandoc
	makedepends = python-build
	makedepends = python-installer
	depends = python
	depends = python-capstone
	depends = python-colored-traceback
	depends = python-dateutil
	depends = python-intervaltree
	depends = python-mako
	depends = python-packaging
	depends = python-paramiko
	depends = python-psutil
	depends = python-pyelftools
	depends = python-pygments
	depends = python-pyserial
	depends = python-pysocks
	depends = python-requests
	depends = python-rpyc
	depends = python-six
	depends = python-sortedcontainers
	depends = python-unicorn
	depends = python-zstandard
	depends = ropgadget
	backup = etc/pwn.conf
	source = https://github.com/Gallopsled/pwntools/archive/4.14.1/python-pwntools-4.14.1.tar.gz
	source = pwn.conf
	sha256sums = 84ec7666bd32299b6377a518e4506d4a41b60576e62bbc366dd67d3daa73e40e
	sha256sums = 50916e4e45d026422cd6bfe8de50e7246c61b0b1e0007571e7c04a994282fe89
	b2sums = 2fc71e90da29318871594918af943b2b1b6959f1cb9d28ec18cc41ccd2bfa28af092e8de70c1a02f59f04e28ed546987fb5428dbdfa25c437da6e032c181d051
	b2sums = cac0a12eea8abd3d2ee21632e7f2281e7e35c2d7839cfbcba83ae5d0e8f427e9cc2462a6d17d187252b99d9dbbb14393b9d5a63996c42043f553e9b66bfe9e07

pkgname = python-pwntools
