pkgbase = python-pwntools
	pkgdesc = CTF framework and exploit development library
	pkgver = 4.15.0
	pkgrel = 2
	url = https://github.com/Gallopsled/pwntools
	arch = any
	license = BSD-2-Clause AND GPL-2.0-or-later AND GPL-3.0-or-later AND MIT
	makedepends = pandoc
	makedepends = python-build
	makedepends = python-installer
	depends = python
	depends = python-capstone
	depends = python-colored-traceback
	depends = python-dateutil
	depends = python-intervaltree
	depends = python-mako
	depends = python-packaging
	depends = python-paramiko
	depends = python-psutil
	depends = python-pyelftools
	depends = python-pygments
	depends = python-pyserial
	depends = python-pysocks
	depends = python-requests
	depends = python-rpyc
	depends = python-six
	depends = python-sortedcontainers
	depends = python-unicorn
	depends = python-zstandard
	depends = ropgadget
	backup = etc/pwn.conf
	source = https://github.com/Gallopsled/pwntools/archive/4.15.0/python-pwntools-4.15.0.tar.gz
	source = pwn.conf
	sha256sums = f1a4c05349cf252e66a96cef6c821bdb07440f52dae4fde1ad8cdeafb4713f1f
	sha256sums = 50916e4e45d026422cd6bfe8de50e7246c61b0b1e0007571e7c04a994282fe89
	b2sums = 4965df904514e4e77f7219f813a23d55c6ffe5d1b3168140a4af43cb74bf4f74401d0b246d77464284247bf09cef253324be6c87c815ecec269ebc37295f3bee
	b2sums = cac0a12eea8abd3d2ee21632e7f2281e7e35c2d7839cfbcba83ae5d0e8f427e9cc2462a6d17d187252b99d9dbbb14393b9d5a63996c42043f553e9b66bfe9e07

pkgname = python-pwntools
