pkgbase = python-pwntools
	pkgdesc = CTF framework and exploit development library
	pkgver = 4.11.1
	pkgrel = 1
	url = https://github.com/Gallopsled/pwntools
	arch = any
	license = MIT
	license = GPL2
	license = BSD
	makedepends = pandoc
	makedepends = python-build
	makedepends = python-installer
	depends = python
	depends = python-capstone
	depends = python-colored-traceback
	depends = python-dateutil
	depends = python-intervaltree
	depends = python-mako
	depends = python-packaging
	depends = python-paramiko
	depends = python-pip
	depends = python-psutil
	depends = python-pyelftools
	depends = python-pygments
	depends = python-pyserial
	depends = python-pysocks
	depends = python-requests
	depends = python-rpyc
	depends = python-six
	depends = python-sortedcontainers
	depends = python-unicorn
	depends = ropgadget
	backup = etc/pwn.conf
	source = https://github.com/Gallopsled/pwntools/archive/4.11.1/python-pwntools-4.11.1.tar.gz
	source = pwn.conf
	sha256sums = aa0ae4a62600a3ff5813d26fcb1f631d2a8e29e39d83c601043b6fa6be600b27
	sha256sums = 50916e4e45d026422cd6bfe8de50e7246c61b0b1e0007571e7c04a994282fe89
	b2sums = 10a0b363d7255e856a33ce972a9eab2ec51d1d5f6ee953ac37796f87cf42b46b1207dc31f64902af704b7f36125c765e0c9328d44c6b0dda34a133238b42cf7f
	b2sums = cac0a12eea8abd3d2ee21632e7f2281e7e35c2d7839cfbcba83ae5d0e8f427e9cc2462a6d17d187252b99d9dbbb14393b9d5a63996c42043f553e9b66bfe9e07

pkgname = python-pwntools
