pkgbase = pam
	pkgdesc = PAM (Pluggable Authentication Modules) library
	pkgver = 1.6.0
	pkgrel = 4
	url = http://linux-pam.org
	arch = x86_64
	license = GPL-2.0-only
	makedepends = flex
	makedepends = w3m
	makedepends = docbook-xml>=4.4
	makedepends = docbook-xsl
	depends = glibc
	depends = libtirpc
	depends = pambase
	depends = audit
	depends = libaudit.so
	depends = libxcrypt
	depends = libcrypt.so
	provides = libpam.so
	provides = libpamc.so
	provides = libpam_misc.so
	options = !emptydirs
	backup = etc/security/access.conf
	backup = etc/security/faillock.conf
	backup = etc/security/group.conf
	backup = etc/security/limits.conf
	backup = etc/security/namespace.conf
	backup = etc/security/namespace.init
	backup = etc/security/pwhistory.conf
	backup = etc/security/pam_env.conf
	backup = etc/security/time.conf
	backup = etc/environment
	source = https://github.com/linux-pam/linux-pam/releases/download/v1.6.0/Linux-PAM-1.6.0.tar.xz
	source = https://github.com/linux-pam/linux-pam/releases/download/v1.6.0/Linux-PAM-1.6.0.tar.xz.asc
	source = https://github.com/linux-pam/linux-pam/releases/download/v1.6.0/Linux-PAM-1.6.0-docs.tar.xz
	source = https://github.com/linux-pam/linux-pam/releases/download/v1.6.0/Linux-PAM-1.6.0-docs.tar.xz.asc
	source = https://github.com/linux-pam/linux-pam/commit/470b5bdd8fd29d6b35e3a80f9a57bdd4b2438200.patch
	source = https://github.com/linux-pam/linux-pam/commit/b7b96362087414e52524d3d9d9b3faa21e1db620.patch
	source = pam.tmpfiles
	validpgpkeys = 8C6BFD92EE0F42EDF91A6A736D1A7F052E5924BB
	validpgpkeys = 296D6F29A020808E8717A8842DB5BD89A340AEB7
	sha256sums = fff4a34e5bbee77e2e8f1992f27631e2329bcbf8a0563ddeb5c3389b4e3169ad
	sha256sums = SKIP
	sha256sums = 3e82730d3350795c42f3708f6609a92c1df841d518aa17c28fd702fe5ec23a32
	sha256sums = SKIP
	sha256sums = ee7333ad2c8b2a710c73d8a2d202027d0c79d3628fefe58073f2d78ecefa121e
	sha256sums = 450760e1989f036acee157f91a3028264f8ce7fb0cbdd65eccf8a0fc0084497c
	sha256sums = 5631f224e90c4f0459361c2a5b250112e3a91ba849754bb6f67d69d683a2e5ac

pkgname = pam
