pkgbase = python-debugpy
	pkgdesc = An implementation of the Debug Adapter Protocol for Python
	pkgver = 1.8.12
	pkgrel = 1
	url = https://aka.ms/debugpy
	arch = x86_64
	license = MIT
	makedepends = cython
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = gcc-libs
	depends = glibc
	depends = python
	source = git+https://github.com/microsoft/debugpy#tag=v1.8.12
	sha256sums = 4fe0f7168ea182e5266b44fa09e0d4179ba36c426c4206e657e8e453b224fdc3

pkgname = python-debugpy
