pkgbase = python-debugpy
	pkgdesc = An implementation of the Debug Adapter Protocol for Python
	pkgver = 1.8.20
	pkgrel = 1
	url = https://aka.ms/debugpy
	arch = x86_64
	license = MIT
	makedepends = cython
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = gcc-libs
	depends = glibc
	depends = python
	source = git+https://github.com/microsoft/debugpy#tag=v1.8.20
	sha256sums = 975069defb5092f6e0203c044ddb2923233ed19bd1fdc5bff5ae03ca064457e0

pkgname = python-debugpy
