pkgbase = powerdns-recursor
	pkgdesc = Resolving DNS server
	pkgver = 5.0.7
	pkgrel = 1
	url = https://www.powerdns.com/
	arch = x86_64
	license = GPL-2.0-only
	makedepends = boost
	makedepends = pandoc
	makedepends = ragel
	makedepends = rust
	makedepends = systemd
	depends = gcc-libs
	depends = boost-libs
	depends = libcap
	depends = libcurl.so
	depends = libsodium
	depends = systemd-libs
	depends = luajit
	depends = openssl
	depends = libboost_context.so
	depends = fstrm
	depends = net-snmp
	provides = pdns-recursor
	conflicts = pdns-recursor
	options = !lto
	backup = etc/powerdns/recursor.conf
	source = https://downloads.powerdns.com/releases/pdns-recursor-5.0.7.tar.bz2
	source = https://downloads.powerdns.com/releases/pdns-recursor-5.0.7.tar.bz2.asc
	source = sysusers.conf
	validpgpkeys = FBAE0323821C7706A5CA151BDCF513FA7EED19F3
	validpgpkeys = 16E12866B7738C73976A57436FFC33439B0D04DF
	sha512sums = d23c289c972d671d31735839bcae68fb573330435563061b6b9086c74dedcd37ff30632d5b67ec6185877fd42c881b2f41fc9eb65cfd4414457763626149dd4b
	sha512sums = SKIP
	sha512sums = 63b3f0664d38fbbcb6b1c914cee050a27eca0a15550962973743580dd5d3ace2e68272ca2d856d53cc74001fe9246d61207ebbc74524c096736777ed08c88e72

pkgname = powerdns-recursor
