pkgbase = powerdns-recursor
	pkgdesc = Resolving DNS server
	pkgver = 5.2.0
	pkgrel = 1
	url = https://www.powerdns.com/
	arch = x86_64
	license = GPL-2.0-only
	makedepends = boost
	makedepends = pandoc
	makedepends = ragel
	makedepends = rust
	makedepends = systemd
	depends = gcc-libs
	depends = boost-libs
	depends = libcap
	depends = libcurl.so
	depends = libsodium
	depends = systemd-libs
	depends = luajit
	depends = openssl
	depends = libboost_context.so
	depends = fstrm
	depends = net-snmp
	provides = pdns-recursor
	conflicts = pdns-recursor
	options = !lto
	backup = etc/powerdns/recursor.conf
	source = https://downloads.powerdns.com/releases/pdns-recursor-5.2.0.tar.bz2
	source = https://downloads.powerdns.com/releases/pdns-recursor-5.2.0.tar.bz2.asc
	source = sysusers.conf
	validpgpkeys = FBAE0323821C7706A5CA151BDCF513FA7EED19F3
	validpgpkeys = 16E12866B7738C73976A57436FFC33439B0D04DF
	sha512sums = 00b1d9a837d2e854750a90f6306d3a7d7b23cf96dd0897666034f120d2c57f1277e1bc1677b8b54eec804f8983483208e3d2e4f156ca376374d06f3d73e3abd0
	sha512sums = SKIP
	sha512sums = 7aada0f186bc1cd6af9a4af598511e7f517f0c103973397d260796c8e83c789d720990579d6ccba53e4aa4a8a6c5b2107f4d32d09ce9a72118ae5030b03bb6ab

pkgname = powerdns-recursor
