#!/bin/bash

. /etc/rc.conf
. /etc/rc.d/functions

PID=`pidof -o %PPID /usr/bin/xfs`
case "$1" in
  start)
    stat_busy "Starting X.Org fontserver"
    if [ -z "$PID" ]; then
       /usr/bin/xfs -daemon &> /dev/null
    fi
    if [ ! -z "$PID" -o $? -gt 0 ]; then
      stat_fail
    else
      add_daemon xfs
      stat_done
    fi
    ;;
  stop)
    stat_busy "Stopping X.Org fontserver"
    [ ! -z "$PID" ]  && kill $PID &> /dev/null
    if [ $? -gt 0 ]; then
      stat_fail
    else
      rm_daemon xfs
      stat_done
    fi
    ;;
  restart)
    $0 stop
    sleep 1
    $0 start
    ;;
  reload)
    stat_busy "Reloading X.Org fontserver configuration"
    [ ! -z "$PID" ]  && kill -HUP $PID &> /dev/null
    if [ $? -gt 0 ]; then
      stat_fail
    else
      stat_done
    fi
    ;;
  *)
    echo "usage: $0 {start|stop|restart|reload}"  
esac
