pkgbase = dump_syms
	pkgdesc = Symbol dumper for Firefox
	pkgver = 2.3.9
	pkgrel = 1
	url = https://github.com/mozilla/dump_syms
	arch = x86_64
	license = Apache-2.0 OR MIT
	makedepends = cargo
	makedepends = git
	depends = glibc
	depends = libgcc
	depends = libstdc++
	options = !lto
	source = git+https://github.com/mozilla/dump_syms#tag=v2.3.9
	b2sums = 1fc00ada1f63c44d160e24110a27754526349e6eac737dcbd702914ba3a9821b572765c26eee42d71b75b15a112ca90e35cebeaf4c6f3f8c5299d9525b3788c7

pkgname = dump_syms
