pkgbase = dump_syms
	pkgdesc = Symbol dumper for Firefox
	pkgver = 2.3.1
	pkgrel = 1
	url = https://github.com/mozilla/dump_syms
	arch = x86_64
	license = Apache-2.0 OR MIT
	makedepends = cargo
	makedepends = git
	depends = gcc-libs
	depends = glibc
	options = !lto
	source = git+https://github.com/mozilla/dump_syms#commit=8100c54d307bce2fb73484bbe46a04386ceca105
	b2sums = a018041c9de88ef0d34e07ecc4c7a88756cf9a9fa60b6758bd1b50a9acde4201ed416def26edaf8a5bcafd046e3acf549ae3d2266129c02a7eaee76389908dfd

pkgname = dump_syms
