pkgbase = dump_syms
	pkgdesc = Symbol dumper for Firefox
	pkgver = 2.3.8
	pkgrel = 1
	url = https://github.com/mozilla/dump_syms
	arch = x86_64
	license = Apache-2.0 OR MIT
	makedepends = cargo
	makedepends = git
	depends = glibc
	depends = libgcc
	depends = libstdc++
	options = !lto
	source = git+https://github.com/mozilla/dump_syms#tag=v2.3.8
	b2sums = f82ea16aabf2a8aaf0aed1243274e1e166e1fab90854041fdd68710e619072dd43d755092b8489bd2b0512d22521f2a4ec03e9ce9b453ed10cba3118647c4fc6

pkgname = dump_syms
