[Desktop Entry]
Encoding=UTF-8
Name=Pekwm
Comment=The pekwm window manager
Exec=pekwm
# no icon yet, only the top three are currently used
Icon=
Type=Application
