[Desktop Entry]
Name=Gufw Firewall Configuration
Comment=Gufw is a GUI (Graphic User Interface) for ufw (Uncomplicated FireWall)
Name[en_US]=Gufw Firewall Configuration
Comment[en_US]=Gufw is an easy to use Linux firewall, powered by ufw
Name[pl]=Gufw Firewall
Comment[pl]=Konfiguracja firewalla ufw
Name[es]=Gufw Configuración Cortafuegos
Comment[es]=Gufw es una manera sencilla de usar el cortafuegos de Linux, con la potencia de ufw
Exec=gksudo --preserve-env gufw
Icon=gufw
Terminal=false
MultipleArgs=false
Type=Application
Categories=GNOME;GTK;Settings;System;
