[Desktop Entry]
Encoding=UTF-8
Name=Vuze
GenericName=BitTorrent Client
Comment=Transfer files via Peer to Peer
Exec=vuze %F
Icon=vuze
Terminal=false
Type=Application
MimeType=application/x-bittorrent;
Categories=Network;FileTransfer;P2P;GTK;
StartupNotify=true
