pkgbase = pixman
	pkgdesc = The pixel-manipulation library for X and cairo
	pkgver = 0.43.4
	pkgrel = 1
	url = https://cgit.freedesktop.org/pixman/
	arch = x86_64
	license = MIT
	makedepends = meson
	makedepends = libpng
	depends = glibc
	provides = libpixman-1.so
	source = https://xorg.freedesktop.org/releases/individual/lib/pixman-0.43.4.tar.xz
	sha512sums = b40fb05bd58dc78f4e4e9b19c86991ab0611b708657c9a7fb42bfe82d57820a0fde01a34b00a0848a41da6c3fb90c2213942a70f435a0e9467631695d3bc7e36

pkgname = pixman
