[Desktop Entry]
Encoding=UTF-8
Name=Stormbaan Coureur
GenericName=Car Game
Exec=stormbaancoureur
Terminal=false
StartupNotify=false
Type=Application
Categories=Application;Game;ArcadeGame;
