pkgbase = gap
	pkgdesc = Groups, Algorithms, Programming: a system for computational discrete algebra
	pkgver = 4.16.1
	pkgrel = 1
	url = https://www.gap-system.org/
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = bliss
	makedepends = boost
	makedepends = c-xsc
	makedepends = cddlib
	makedepends = chrpath
	makedepends = eigen
	makedepends = fmt
	makedepends = fplll
	makedepends = git
	makedepends = givaro
	makedepends = jq
	makedepends = libsemigroups
	makedepends = libxaw
	makedepends = mpfi
	makedepends = normaliz
	makedepends = planarity
	makedepends = texlive-fontsrecommended
	makedepends = texlive-latexextra
	makedepends = wget
	makedepends = zeromq
	noextract = packages-v4.16.1.tar.gz
	source = git+https://github.com/gap-system/gap#tag=v4.16.1
	source = https://github.com/gap-system/gap/releases/download/v4.16.1/packages-v4.16.1.tar.gz
	source = https://www.math.rwth-aachen.de/homes/Thomas.Breuer/atlasrep/atlasrepdata.tar.gz
	source = package-infos-4.16.1.json.gz::https://github.com/gap-system/gap/releases/download/v4.16.1/package-infos.json.gz
	source = atlasrep-no-remote-access.patch
	sha256sums = e885d57860d27b91324f5c86772988c64366e034d2990345976d1b6ec06a8120
	sha256sums = 372a4835612c21a2b085569ebdc59a434b874be4ea1c00239e7cd0d0460847a0
	sha256sums = 9f82d01bb682f24406f07a701dc2cae40dcba672c6ca91e77613b9096d6b49eb
	sha256sums = 8e2d9a812ac9ffdf125e52c45d10968ed2703ad904a7a49b2c31f906f8299582
	sha256sums = 2bf9472e79af1da0ce5200544e2ff428397a9bbd77d5cc1a57d3e1b2007c7bd3

pkgname = gap
	depends = glibc
	depends = gmp
	depends = perl
	depends = readline
	depends = sh
	depends = zlib
	optdepends = gap-packages: extra packages
	provides = gap-doc
	conflicts = gap-doc
	replaces = gap-doc

pkgname = gap-packages
	pkgdesc = Extra packages for GAP
	depends = gap
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = perl
	depends = sh
	optdepends = bliss: digraph package
	optdepends = c-xsc: float package
	optdepends = cddlib: CddLib interface package
	optdepends = curl: curl interface package
	optdepends = fplll: float package
	optdepends = libmpc: float package
	optdepends = libsemigroups: semigroups package
	optdepends = libxaw: xgap package
	optdepends = mpfi: float package
	optdepends = nauty: grape package
	optdepends = normaliz: NormalizInterface package
	optdepends = pari: alnuth package
	optdepends = planarity: digraph package
	optdepends = polymake: polymaking package
	optdepends = singular: singular package
	optdepends = zeromq: ZeroMQ interface package
	provides = 
