pkgbase = gap
	pkgdesc = Groups, Algorithms, Programming: a system for computational discrete algebra
	pkgver = 4.13.0
	pkgrel = 2
	url = https://www.gap-system.org/
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = bliss
	makedepends = boost
	makedepends = c-xsc
	makedepends = cddlib
	makedepends = chrpath
	makedepends = eigen
	makedepends = fmt
	makedepends = fplll
	makedepends = givaro
	makedepends = jq
	makedepends = libsemigroups
	makedepends = libxaw
	makedepends = mpfi
	makedepends = normaliz
	makedepends = planarity
	makedepends = wget
	makedepends = zeromq
	source = https://github.com/gap-system/gap/releases/download/v4.13.0/gap-4.13.0.tar.gz
	source = package-infos-4.13.0.json.gz::https://github.com/gap-system/gap/releases/download/v4.13.0/package-infos.json.gz
	sha256sums = cc76ecbe33d6719450a593e613fb87e9e4247faa876f632dd0f97c398f92265d
	sha256sums = b3f606cc5e6f388aa311c3824042d301d75ace780f19023561ef9d78982dcb7a

pkgname = gap
	depends = glibc
	depends = gmp
	depends = perl
	depends = readline
	depends = sh
	depends = zlib
	optdepends = gap-packages: extra packages
	provides = gap-doc
	conflicts = gap-doc
	replaces = gap-doc

pkgname = gap-packages
	pkgdesc = Extra packages for GAP
	depends = gap
	depends = gcc-libs
	depends = glibc
	depends = perl
	depends = sh
	optdepends = bliss: digraph package
	optdepends = c-xsc: float package
	optdepends = cddlib: CddLib interface package
	optdepends = curl: curl interface package
	optdepends = fplll: float package
	optdepends = libmpc: float package
	optdepends = libsemigroups: semigroups package
	optdepends = libxaw: xgap package
	optdepends = mpfi: float package
	optdepends = nauty: grape package
	optdepends = normaliz: NormalizInterface package
	optdepends = pari: alnuth package
	optdepends = planarity: digraph package
	optdepends = polymake: polymaking package
	optdepends = singular: singular package
	optdepends = zeromq: ZeroMQ interface package
	provides = 
