pkgbase = gap
	pkgdesc = Groups, Algorithms, Programming: a system for computational discrete algebra
	pkgver = 4.12.2
	pkgrel = 4
	url = https://www.gap-system.org/
	arch = x86_64
	license = GPL
	makedepends = libxaw
	makedepends = givaro
	makedepends = mpfi
	makedepends = cddlib
	makedepends = boost
	makedepends = libsemigroups
	makedepends = c-xsc
	makedepends = zeromq
	makedepends = fplll
	makedepends = wget
	makedepends = chrpath
	makedepends = fmt
	makedepends = eigen
	makedepends = normaliz
	makedepends = jq
	source = https://github.com/gap-system/gap/releases/download/v4.12.2/gap-4.12.2.tar.gz
	source = package-infos-4.12.2.json.gz::https://github.com/gap-system/gap/releases/download/v4.12.2/package-infos.json.gz
	sha256sums = 672308745eb78a222494ee8dd6786edd5bc331456fcc6456ac064bdb28d587a8
	sha256sums = 33f8e2233e9aa74217741467f0138a932a2dfee212c774eaad0e0ef6876868c2

pkgname = gap
	depends = gmp
	depends = zlib
	optdepends = gap-packages: extra packages
	provides = gap-doc
	conflicts = gap-doc
	replaces = gap-doc

pkgname = gap-packages
	pkgdesc = Extra packages for GAP
	depends = gap
	optdepends = libxaw: xgap package
	optdepends = c-xsc: float package
	optdepends = mpfi: float package
	optdepends = nauty: grape package
	optdepends = libmpc: float package
	optdepends = fplll: float package
	optdepends = zeromq: ZeroMQ interface package
	optdepends = planarity: digraph package
	optdepends = curl: curl interface package
	optdepends = libsemigroups: semigroups package
	optdepends = cddlib: CddLib interface package
	optdepends = normaliz: NormalizInterface package
	optdepends = pari: alnuth package
	optdepends = singular: singular package
	optdepends = polymake: polymaking package
	provides = 
