pkgbase = pipewire
	pkgdesc = Low-latency audio/video router and processor
	pkgver = 1.6.0
	pkgrel = 2
	epoch = 1
	url = https://pipewire.org
	arch = x86_64
	license = MIT
	checkdepends = desktop-file-utils
	checkdepends = openal
	makedepends = alsa-lib
	makedepends = avahi
	makedepends = bluez-libs
	makedepends = dbus
	makedepends = doxygen
	makedepends = fftw
	makedepends = git
	makedepends = glib2
	makedepends = glib2-devel
	makedepends = graphviz
	makedepends = gst-plugins-base
	makedepends = jack2
	makedepends = libcamera
	makedepends = libcanberra
	makedepends = libebur128
	makedepends = libfdk-aac
	makedepends = libffado
	makedepends = libfreeaptx
	makedepends = libgcc
	makedepends = liblc3
	makedepends = libldac
	makedepends = libmysofa
	makedepends = libpulse
	makedepends = libsndfile
	makedepends = libstdc++
	makedepends = libusb
	makedepends = libx11
	makedepends = libxfixes
	makedepends = lilv
	makedepends = meson
	makedepends = ncurses
	makedepends = onnxruntime
	makedepends = opus
	makedepends = python-docutils
	makedepends = readline
	makedepends = roc-toolkit
	makedepends = rtkit
	makedepends = sbc
	makedepends = sdl2
	makedepends = spandsp
	makedepends = systemd
	makedepends = valgrind
	makedepends = webrtc-audio-processing-1
	source = git+https://gitlab.freedesktop.org/pipewire/pipewire.git#tag=1.6.0
	b2sums = 7223fdee4491093b7611599794d379bcdeda59ac0e3ffb681b0bb5fd744fbc6d32714ba2257253ff97a2afc91043c862d75b2b6754df3d002137ce9637d60782

pkgname = pipewire
	install = pipewire.install
	license = MIT
	license = LGPL-2.1-or-later
	depends = libpipewire=1:1.6.0-2
	depends = libpipewire-0.3.so
	depends = dbus
	depends = libdbus-1.so
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libgcc
	depends = ncurses
	depends = libncursesw.so
	depends = readline
	depends = libreadline.so
	depends = systemd-libs
	depends = libsystemd.so
	depends = libudev.so
	optdepends = gst-plugin-pipewire: GStreamer plugin
	optdepends = pipewire-alsa: ALSA configuration
	optdepends = pipewire-audio: Audio support
	optdepends = pipewire-docs: Documentation
	optdepends = pipewire-ffado: FireWire support
	optdepends = pipewire-jack-client: PipeWire as JACK client
	optdepends = pipewire-jack: JACK replacement
	optdepends = pipewire-libcamera: Libcamera support
	optdepends = pipewire-onnx: ONNX filter support
	optdepends = pipewire-pulse: PulseAudio replacement
	optdepends = pipewire-roc: ROC streaming
	optdepends = pipewire-session-manager: Session manager
	optdepends = pipewire-v4l2: V4L2 interceptor
	optdepends = pipewire-x11-bell: X11 bell
	optdepends = pipewire-zeroconf: Zeroconf support
	optdepends = realtime-privileges: realtime privileges with rt module
	optdepends = rtkit: realtime privileges with rtkit module

pkgname = libpipewire
	pkgdesc = Low-latency audio/video router and processor - client library
	depends = glibc
	depends = libgcc
	provides = libpipewire-0.3.so

pkgname = alsa-card-profiles
	pkgdesc = Low-latency audio/video router and processor - ALSA card profiles
	license = LGPL-2.1-or-later

pkgname = pipewire-docs
	pkgdesc = Low-latency audio/video router and processor - documentation

pkgname = pipewire-libcamera
	pkgdesc = Low-latency audio/video router and processor - Libcamera support
	depends = glibc
	depends = libcamera
	depends = libcamera-base.so
	depends = libcamera.so
	depends = libgcc
	depends = libstdc++
	depends = pipewire

pkgname = pipewire-audio
	pkgdesc = Low-latency audio/video router and processor - Audio support
	depends = libpipewire=1:1.6.0-2
	depends = libpipewire-0.3.so
	depends = pipewire=1:1.6.0-2
	depends = alsa-card-profiles
	depends = alsa-lib
	depends = libasound.so
	depends = bluez-libs
	depends = libbluetooth.so
	depends = dbus
	depends = libdbus-1.so
	depends = fftw
	depends = libfftw3f.so
	depends = glib2
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = libgio-2.0.so
	depends = glibc
	depends = libebur128
	depends = libfdk-aac
	depends = libfdk-aac.so
	depends = libfreeaptx
	depends = libfreeaptx.so
	depends = libgcc
	depends = liblc3
	depends = liblc3.so
	depends = libldac
	depends = libldacBT_enc.so
	depends = libmysofa
	depends = libmysofa.so
	depends = libsndfile
	depends = libsndfile.so
	depends = libstdc++
	depends = libusb
	depends = libusb-1.0.so
	depends = lilv
	depends = liblilv-0.so
	depends = opus
	depends = libopus.so
	depends = sbc
	depends = libsbc.so
	depends = spandsp
	depends = libspandsp.so
	depends = systemd-libs
	depends = webrtc-audio-processing-1
	depends = libwebrtc-audio-processing-1.so
	provides = ladspa-host
	provides = lv2-host

pkgname = pipewire-alsa
	pkgdesc = Low-latency audio/video router and processor - ALSA configuration
	depends = pipewire-audio=1:1.6.0-2
	depends = pipewire=1:1.6.0-2
	depends = pipewire-session-manager

pkgname = pipewire-ffado
	pkgdesc = Low-latency audio/video router and processor - FireWire support
	depends = libpipewire=1:1.6.0-2
	depends = libpipewire-0.3.so
	depends = pipewire-audio=1:1.6.0-2
	depends = pipewire=1:1.6.0-2
	depends = glibc
	depends = libffado
	depends = libffado.so

pkgname = pipewire-jack-client
	pkgdesc = Low-latency audio/video router and processor - PipeWire as JACK client
	depends = libpipewire=1:1.6.0-2
	depends = libpipewire-0.3.so
	depends = pipewire-audio=1:1.6.0-2
	depends = pipewire=1:1.6.0-2
	depends = dbus
	depends = libdbus-1.so
	depends = glibc
	depends = jack
	depends = libjack.so
	depends = libgcc
	conflicts = pipewire-jack

pkgname = pipewire-jack
	pkgdesc = Low-latency audio/video router and processor - JACK replacement
	license = MIT
	license = GPL-2.0-only
	license = LGPL-2.1-or-later
	depends = libpipewire=1:1.6.0-2
	depends = libpipewire-0.3.so
	depends = pipewire-audio=1:1.6.0-2
	depends = pipewire=1:1.6.0-2
	depends = glibc
	depends = pipewire-session-manager
	depends = sh
	optdepends = jack-example-tools: for official JACK example-clients and tools
	provides = jack
	provides = libjack.so
	provides = libjacknet.so
	provides = libjackserver.so
	conflicts = jack
	conflicts = jack2
	conflicts = pipewire-jack-client

pkgname = pipewire-onnx
	pkgdesc = Low-latency audio/video router and processor - ONNX filter support
	depends = pipewire-audio=1:1.6.0-2
	depends = pipewire=1:1.6.0-2
	depends = glibc
	depends = onnxruntime

pkgname = pipewire-pulse
	pkgdesc = Low-latency audio/video router and processor - PulseAudio replacement
	install = pipewire-pulse.install
	depends = libpipewire=1:1.6.0-2
	depends = libpipewire-0.3.so
	depends = pipewire-audio=1:1.6.0-2
	depends = pipewire=1:1.6.0-2
	depends = avahi
	depends = libavahi-client.so
	depends = libavahi-common.so
	depends = dbus
	depends = libdbus-1.so
	depends = dconf
	depends = glib2
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = libgio-2.0.so
	depends = glibc
	depends = libgcc
	depends = libpulse
	depends = libpulse.so
	depends = pipewire-session-manager
	provides = pulse-native-provider
	conflicts = pulseaudio

pkgname = pipewire-roc
	pkgdesc = Low-latency audio/video router and processor - ROC streaming support
	depends = libpipewire=1:1.6.0-2
	depends = libpipewire-0.3.so
	depends = pipewire-audio=1:1.6.0-2
	depends = pipewire=1:1.6.0-2
	depends = glibc
	depends = libgcc
	depends = roc-toolkit
	depends = libroc.so

pkgname = gst-plugin-pipewire
	pkgdesc = Multimedia graph framework - pipewire plugin
	depends = libpipewire=1:1.6.0-2
	depends = libpipewire-0.3.so
	depends = pipewire-audio=1:1.6.0-2
	depends = pipewire=1:1.6.0-2
	depends = glib2
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = glibc
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = libgcc
	depends = pipewire-session-manager

pkgname = pipewire-zeroconf
	pkgdesc = Low-latency audio/video router and processor - Zeroconf support
	depends = libpipewire=1:1.6.0-2
	depends = libpipewire-0.3.so
	depends = pipewire-audio=1:1.6.0-2
	depends = pipewire=1:1.6.0-2
	depends = avahi
	depends = libavahi-client.so
	depends = libavahi-common.so
	depends = glibc
	depends = libgcc
	depends = openssl
	depends = libcrypto.so
	depends = opus
	depends = libopus.so

pkgname = pipewire-v4l2
	pkgdesc = Low-latency audio/video router and processor - V4L2 interceptor
	depends = libpipewire=1:1.6.0-2
	depends = libpipewire-0.3.so
	depends = pipewire=1:1.6.0-2
	depends = glibc
	depends = pipewire-session-manager
	depends = sh

pkgname = pipewire-x11-bell
	pkgdesc = Low-latency audio/video router and processor - X11 bell
	depends = libpipewire=1:1.6.0-2
	depends = libpipewire-0.3.so
	depends = pipewire-audio=1:1.6.0-2
	depends = pipewire=1:1.6.0-2
	depends = glibc
	depends = libcanberra
	depends = libcanberra.so
	depends = libx11
	depends = libxfixes

pkgname = pipewire-session-manager
	pkgdesc = Session manager for PipeWire (default provider)
	license = CC0-1.0
	depends = wireplumber

pkgname = pulse-native-provider
	pkgdesc = PulseAudio sound server (default provider)
	license = CC0-1.0
	depends = pipewire-pulse
