pkgbase = ldc
	pkgdesc = A D Compiler based on the LLVM Compiler Infrastructure including D runtime and libphobos2
	pkgver = 1.38.0
	pkgrel = 2
	epoch = 3
	url = https://github.com/ldc-developers/ldc
	arch = x86_64
	groups = dlang
	groups = dlang-ldc
	license = BSD
	makedepends = git
	makedepends = cmake
	makedepends = llvm
	makedepends = lld
	makedepends = ldc
	makedepends = ninja
	options = !lto
	source = git+https://github.com/ldc-developers/ldc#commit=59c0c60a10f25799ebaf2bde751705eb4e7e3f40
	source = ldc-phobos::git+https://github.com/ldc-developers/phobos.git
	sha256sums = a42d3bf3070680c748753e140224ae7644e8f4a4f423748e7f9abd2637f8f0eb
	sha256sums = SKIP

pkgname = ldc
	depends = liblphobos
	depends = llvm-libs
	depends = gcc
	depends = compiler-rt
	provides = d-compiler=2.108.1
	backup = etc/ldc2.conf

pkgname = liblphobos
	depends = curl
	provides = d-runtime
	provides = d-stdlib
	options = staticlibs
