pkgbase = ldc
	pkgdesc = A D Compiler based on the LLVM Compiler Infrastructure including D runtime and libphobos2
	pkgver = 1.37.0
	pkgrel = 1
	epoch = 3
	url = https://github.com/ldc-developers/ldc
	arch = x86_64
	groups = dlang
	groups = dlang-ldc
	license = BSD
	makedepends = git
	makedepends = cmake
	makedepends = llvm
	makedepends = lld
	makedepends = ldc
	makedepends = ninja
	options = !lto
	source = git+https://github.com/ldc-developers/ldc#commit=3eb31901b3d253b3f23b8599111d930994696ef7
	source = ldc-phobos::git+https://github.com/ldc-developers/phobos.git
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = ldc
	depends = liblphobos
	depends = llvm-libs
	depends = gcc
	depends = compiler-rt
	provides = d-compiler=2.107.1
	backup = etc/ldc2.conf

pkgname = liblphobos
	depends = curl
	provides = d-runtime
	provides = d-stdlib
	options = staticlibs
	options = !strip
