pkgbase = fastd
	pkgdesc = Fast and secure tunneling daemon
	pkgver = 22
	pkgrel = 4
	url = https://github.com/NeoRaider/fastd
	arch = x86_64
	license = BSD
	checkdepends = cmocka
	makedepends = meson
	depends = gcc-libs
	depends = libcap
	depends = libmnl
	depends = libuecc>=6
	depends = libsodium
	depends = json-c
	depends = openssl
	source = https://github.com/NeoRaider/fastd/releases/download/v22/fastd-22.tar.xz
	sha512sums = 66196fa13c93b87b78b9e31bc267cf616dcfb4a964387c4a3f0f3176fa1529be335a6fac91379038d6a8b1a1be4fea547659551a8a9fa8d6939589d5f8a9a7aa

pkgname = fastd
