pkgbase = libqtxdg
	pkgdesc = Library providing freedesktop.org XDG specs implementations for Qt
	pkgver = 4.4.0
	pkgrel = 1
	url = https://github.com/lxqt/libqtxdg
	arch = x86_64
	license = LGPL
	license = custom
	checkdepends = xorg-server-xvfb
	makedepends = cmake
	makedepends = lxqt-build-tools
	depends = qt6-base
	depends = qt6-svg
	optdepends = xterm: the default terminal for running .desktop files
	provides = libQt6Xdg.so
	provides = libQt6XdgIconLoader.so
	source = https://github.com/lxqt/libqtxdg/releases/download/4.4.0/libqtxdg-4.4.0.tar.xz
	source = https://github.com/lxqt/libqtxdg/releases/download/4.4.0/libqtxdg-4.4.0.tar.xz.asc
	validpgpkeys = 169704C6FB490C6892C7F23C37E0AF1FDA48F373
	validpgpkeys = 7C733BA5F585AAD669E4D23A42C9C8D3AF5EA5E3
	validpgpkeys = 19DFDF3A579BD509DBB572D8BE793007AD22DF7E
	validpgpkeys = 48836EB124A1EAAE695EDFEA229CA0A00A17D258
	sha256sums = 34d25949ae7b6275fb54da46187dd8ba41771600353405b15e53bdc90b9e287a
	sha256sums = SKIP

pkgname = libqtxdg
