pkgbase = file-roller
	pkgdesc = Create and modify archives
	pkgver = 44.5
	pkgrel = 1
	url = https://wiki.gnome.org/Apps/FileRoller
	arch = x86_64
	groups = gnome-extra
	license = GPL-2.0-or-later
	makedepends = appstream-glib
	makedepends = arj
	makedepends = binutils
	makedepends = bzip3
	makedepends = cdrtools
	makedepends = cpio
	makedepends = dpkg
	makedepends = git
	makedepends = glib2-devel
	makedepends = lhasa
	makedepends = lrzip
	makedepends = meson
	makedepends = p7zip
	makedepends = python
	makedepends = rpmextract
	makedepends = squashfs-tools
	makedepends = unace
	makedepends = unrar
	makedepends = unzip
	makedepends = yelp-tools
	makedepends = zip
	depends = dconf
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk4
	depends = hicolor-icon-theme
	depends = json-glib
	depends = libadwaita
	depends = libarchive
	depends = libnautilus-extension
	depends = pango
	optdepends = arj: arj archive support
	optdepends = binutils: ar archive support
	optdepends = bzip3: bzip3 compression support
	optdepends = cdrtools: ISO image support
	optdepends = cpio: cpio archive support
	optdepends = dpkg: deb archive support
	optdepends = lhasa: LHA/LZA archive support
	optdepends = lrzip: lrzip compression support
	optdepends = p7zip: 7z archive support
	optdepends = rpmextract: rpm archive support
	optdepends = squashfs-tools: squashfs image support
	optdepends = unace: ACE archive support
	optdepends = unrar: better RAR archive support
	optdepends = unzip: better ZIP archive support
	optdepends = zip: better ZIP archive support
	source = git+https://gitlab.gnome.org/GNOME/file-roller.git#tag=44.5
	b2sums = 90547d4577041f7e7add35078ece373bb48b01f526d638e7d0a81000d8273da91120ff681995c319c257922278ff01382d11001dc3f0cf24d8337d509aae4b77

pkgname = file-roller
