#!/bin/bash

. /etc/rc.conf
. /etc/rc.d/functions
. /etc/conf.d/wireless-regdom

case "$1" in
  start)
    if [ -n "${WIRELESS_REGDOM}" ]; then
        stat_busy "Setting wireless regulatory domain: ${WIRELESS_REGDOM}"
        if iw reg set ${WIRELESS_REGDOM}; then
            stat_done
        else
            stat_fail
        fi
    fi
    ;;
  stop)
    ;;
  restart)
    $0 start
    ;;
  *)
    echo "usage: $0 start"  
esac
exit 0
