pkgbase = chromium
	pkgdesc = A web browser built for speed, simplicity, and security
	pkgver = 120.0.6099.62
	pkgrel = 1
	url = https://www.chromium.org/Home
	arch = x86_64
	license = BSD
	makedepends = python
	makedepends = gn
	makedepends = ninja
	makedepends = clang
	makedepends = lld
	makedepends = gperf
	makedepends = nodejs
	makedepends = pipewire
	makedepends = qt5-base
	makedepends = java-runtime-headless
	makedepends = git
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = xdg-utils
	depends = libxss
	depends = libcups
	depends = libgcrypt
	depends = ttf-liberation
	depends = systemd
	depends = dbus
	depends = libpulse
	depends = pciutils
	depends = libva
	depends = libffi
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = fontconfig
	depends = libjpeg
	depends = icu
	depends = dav1d
	depends = flac
	depends = libxml2
	depends = ffmpeg
	depends = libwebp
	depends = minizip
	depends = opus
	depends = harfbuzz
	depends = libxslt
	depends = libpng
	depends = freetype2
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: support for native dialogs in Plasma
	optdepends = qt5-base: enable Qt5 with --enable-features=AllowQt
	optdepends = gtk4: for --gtk-version=4 (GTK4 IME might work better on Wayland)
	optdepends = org.freedesktop.secrets: password storage backend on GNOME / Xfce
	optdepends = kwallet: support for storing passwords in KWallet on Plasma
	options = !lto
	source = https://commondatastorage.googleapis.com/chromium-browser-official/chromium-120.0.6099.62.tar.xz
	source = https://github.com/foutrelis/chromium-launcher/archive/v8/chromium-launcher-8.tar.gz
	source = https://gitlab.com/Matt.Jolly/chromium-patches/-/archive/120/chromium-patches-120.tar.bz2
	source = libxml2-2.12.patch
	source = drop-flags-unsupported-by-clang16.patch
	source = use-oauth2-client-switches-as-default.patch
	sha256sums = ba8448637de36e39532a214c1d4fd05480bc51bde6ac4c160e5f7d3a08e36218
	sha256sums = 213e50f48b67feb4441078d50b0fd431df34323be15be97c55302d3fdac4483a
	sha256sums = ffee1082fbe3d0c9e79dacb8405d5a0e1aa94d6745089a30b093f647354894d2
	sha256sums = 1808df5ba4d1e2f9efa07ac6b510bec866fa6d60e44505d82aea3f6072105a71
	sha256sums = 8d1cdf3ddd8ff98f302c90c13953f39cd804b3479b13b69b8ef138ac57c83556
	sha256sums = e393174d7695d0bafed69e868c5fbfecf07aa6969f3b64596d0bae8b067e1711

pkgname = chromium
