pkgbase = chromium
	pkgdesc = A web browser built for speed, simplicity, and security
	pkgver = 118.0.5993.54
	pkgrel = 1
	url = https://www.chromium.org/Home
	arch = x86_64
	license = BSD
	makedepends = python
	makedepends = gn
	makedepends = ninja
	makedepends = clang
	makedepends = lld
	makedepends = gperf
	makedepends = nodejs
	makedepends = pipewire
	makedepends = qt5-base
	makedepends = java-runtime-headless
	makedepends = git
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = xdg-utils
	depends = libxss
	depends = libcups
	depends = libgcrypt
	depends = ttf-liberation
	depends = systemd
	depends = dbus
	depends = libpulse
	depends = pciutils
	depends = libva
	depends = libffi
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = fontconfig
	depends = woff2
	depends = libjpeg
	depends = icu
	depends = dav1d
	depends = flac
	depends = snappy
	depends = libxml2
	depends = ffmpeg
	depends = libwebp
	depends = minizip
	depends = opus
	depends = harfbuzz
	depends = re2
	depends = libavif
	depends = jsoncpp
	depends = libxslt
	depends = libpng
	depends = freetype2
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: support for native dialogs in Plasma
	optdepends = qt5-base: enable Qt5 with --enable-features=AllowQt
	optdepends = org.freedesktop.secrets: password storage backend on GNOME / Xfce
	optdepends = kwallet: support for storing passwords in KWallet on Plasma
	options = !lto
	source = https://commondatastorage.googleapis.com/chromium-browser-official/chromium-118.0.5993.54.tar.xz
	source = https://github.com/foutrelis/chromium-launcher/archive/v8/chromium-launcher-8.tar.gz
	source = https://gitlab.com/Matt.Jolly/chromium-patches/-/archive/118/chromium-patches-118.tar.bz2
	source = free-the-X11-pixmap-in-the-NativePixmapEGLX11Bind.patch
	source = REVERT-disable-autoupgrading-debug-info.patch
	source = use-oauth2-client-switches-as-default.patch
	sha256sums = 856880ad99428fa5eba6a6b53384f3795e9cb65042cae8835a69ef537c44b99e
	sha256sums = 213e50f48b67feb4441078d50b0fd431df34323be15be97c55302d3fdac4483a
	sha256sums = 0d1eb054965711a2d4ed6b4cb7f06cbda5b374a48e1b99c8c38ebf6375a781a9
	sha256sums = ab1eb107ec1c915065dc59cf4832da27e17d60eb29038e2aec633daeb946cc6a
	sha256sums = 1b782b0f6d4f645e4e0daa8a4852d63f0c972aa0473319216ff04613a0592a69
	sha256sums = e393174d7695d0bafed69e868c5fbfecf07aa6969f3b64596d0bae8b067e1711

pkgname = chromium
