pkgbase = chromium
	pkgdesc = A web browser built for speed, simplicity, and security
	pkgver = 131.0.6778.264
	pkgrel = 1
	url = https://www.chromium.org/Home
	arch = x86_64
	license = BSD-3-Clause
	makedepends = python
	makedepends = gn
	makedepends = ninja
	makedepends = clang
	makedepends = lld
	makedepends = gperf
	makedepends = nodejs
	makedepends = pipewire
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = qt5-base
	makedepends = qt6-base
	makedepends = java-runtime-headless
	makedepends = git
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = xdg-utils
	depends = libxss
	depends = libcups
	depends = libgcrypt
	depends = ttf-liberation
	depends = systemd
	depends = dbus
	depends = libpulse
	depends = pciutils
	depends = libva
	depends = libffi
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = fontconfig
	depends = brotli
	depends = libjpeg-turbo
	depends = icu
	depends = flac
	depends = libxml2
	depends = libwebp
	depends = minizip
	depends = opus
	depends = harfbuzz
	depends = libxslt
	depends = libpng
	depends = freetype2
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: support for native dialogs in Plasma
	optdepends = gtk4: for --gtk-version=4 (GTK4 IME might work better on Wayland)
	optdepends = org.freedesktop.secrets: password storage backend on GNOME / Xfce
	optdepends = kwallet: support for storing passwords in KWallet on Plasma
	optdepends = upower: Battery Status API support
	options = !lto
	source = https://commondatastorage.googleapis.com/chromium-browser-official/chromium-131.0.6778.264.tar.xz
	source = https://github.com/foutrelis/chromium-launcher/archive/v8/chromium-launcher-8.tar.gz
	source = unbundle-add-enable_freetype.patch
	source = unbundle-icu-target.patch
	source = const-atomicstring-conversion.patch
	source = compiler-rt-adjust-paths.patch
	source = increase-fortify-level.patch
	source = use-oauth2-client-switches-as-default.patch
	sha256sums = 7e02c65865a3095180d60838d2d7a912873d8d4f582c27c2afb9ef876152f2a5
	sha256sums = 213e50f48b67feb4441078d50b0fd431df34323be15be97c55302d3fdac4483a
	sha256sums = f6e05adc80bd2f22b766d41a91739276c62201e47272c561f18a099c4a809e37
	sha256sums = 67de7744b92cbfa6fcbf43a71ba531eb5a7b00381d96703d8dc3dfdadaebf67d
	sha256sums = ac0c9e366ca6afe0839f9ecb6bc42614747349da0c3dc46408e5053dcb7ada76
	sha256sums = b3de01b7df227478687d7517f61a777450dca765756002c80c4915f271e2d961
	sha256sums = d634d2ce1fc63da7ac41f432b1e84c59b7cceabf19d510848a7cff40c8025342
	sha256sums = 6de648d449159dd579e42db304aca0a36243f2ac1538f8d030473afbbc8ff475

pkgname = chromium
