pkgbase = protobuf
	pkgdesc = Protocol Buffers - Google's data interchange format
	pkgver = 27.2
	pkgrel = 1
	url = https://developers.google.com/protocol-buffers/
	arch = x86_64
	license = BSD
	checkdepends = python-pytest
	checkdepends = python-numpy
	makedepends = bazel
	makedepends = cmake
	makedepends = gtest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = gcc-libs
	depends = glibc
	depends = zlib
	depends = abseil-cpp
	source = https://github.com/protocolbuffers/protobuf/archive/v27.2/protobuf-27.2.tar.gz
	source = https://github.com/protocolbuffers/protobuf/commit/2e62ef1e.patch
	source = soversion.patch
	sha512sums = 664c66b62cf1ed0c65d9b910d8e67d4d5d471113697f1b8edf1573cd5c0fc8e850ac53ce984e48e6c6b9cbbefa12f8530058384e7388e65a59c1e46d03772397
	sha512sums = 18bc71031bbcbc3810a9985fa670465040f06a6c104ab8079b56bdfc499bb6cec40805a0cefd455031142490a576dc60aa8000523877ac0353b93558e9beabbd
	sha512sums = f0813a415cff5639e4709400f15b0c5565294e7907ae164e620b76258734c643115d8e5170bf0e4aee264c347fb7e01ac4be60d19be2a91c0ce9c561dad8c8e9

pkgname = protobuf
	provides = libprotoc.so
	provides = libprotobuf.so
	provides = libprotobuf-lite.so
	replaces = protobuf-cpp

pkgname = python-protobuf
	pkgdesc = Python 3 bindings for Google Protocol Buffers
	depends = protobuf=27.2
	depends = python
