[Unit]
Description=Synergy Server Daemon
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/synergys --config /etc/synergy.conf

[Install]
WantedBy=multi-user.target
