[Unit]
Description=Sudo central log server
Documentation=man:sudo_logsrvd(8) man:sudo_logsrvd.conf(5)
Documentation=https://www.sudo.ws/man.html
After=syslog.target network.target auditd.service

[Service]
ExecStart=/usr/bin/sudo_logsrvd -n
KillMode=process
Type=exec

[Install]
WantedBy=multi-user.target
