pkgbase = flatpak
	pkgdesc = Linux application sandboxing and distribution framework (formerly xdg-app)
	pkgver = 1.16.0
	pkgrel = 1
	epoch = 1
	url = https://flatpak.org
	arch = x86_64
	license = LGPL-2.1-or-later
	checkdepends = socat
	checkdepends = valgrind
	makedepends = docbook-xsl
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = meson
	makedepends = python-packaging
	makedepends = python-pyparsing
	makedepends = wayland-protocols
	makedepends = xmlto
	depends = appstream
	depends = bash
	depends = bubblewrap
	depends = curl
	depends = dbus
	depends = dconf
	depends = fuse3
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gpgme
	depends = json-glib
	depends = libarchive
	depends = libmalcontent
	depends = libseccomp
	depends = libxau
	depends = libxml2
	depends = ostree
	depends = polkit
	depends = python
	depends = python-gobject
	depends = systemd
	depends = systemd-libs
	depends = wayland
	depends = xdg-dbus-proxy
	depends = xdg-utils
	depends = zstd
	source = git+https://github.com/flatpak/flatpak?signed#tag=1.16.0
	source = https://dl.flathub.org/repo/flathub.flatpakrepo
	source = flatpak-bindir.sh
	validpgpkeys = DA98F25C0871C49A59EAFF2C4DE8FF2A63C7CC90
	validpgpkeys = 9038F70CA72FAC9D10C6327B89AFE307C861D158
	b2sums = cfbeecfac84cb9c41db238a4b57bff3fb3da3d84b42616e33bb95c45518fbb323a9ae971023de687d22ab553c38540289ec0517aec4130493ca5c95c2a84dd54
	b2sums = c094461a28dab284c1d32cf470f38118a6cbce27acce633b81945fb859daef9bdec1261490f344221b5cacf4437f53934cb51173f7ad2f1d2e05001139e75c54
	b2sums = 1c45caa65e2a1598f219977d5a81dcb8ea5d458880c43c40ba452b0c77cbbf41b36fa6911741f22c807d318e04e39e4fcc1455ed8d68faaba10162dae2570abc

pkgname = flatpak
	depends = appstream
	depends = bash
	depends = bubblewrap
	depends = curl
	depends = dbus
	depends = dconf
	depends = fuse3
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gpgme
	depends = json-glib
	depends = libarchive
	depends = libmalcontent
	depends = libseccomp
	depends = libxau
	depends = libxml2
	depends = ostree
	depends = polkit
	depends = python
	depends = python-gobject
	depends = systemd
	depends = systemd-libs
	depends = wayland
	depends = xdg-dbus-proxy
	depends = xdg-utils
	depends = zstd
	depends = libostree-1.so
	depends = xdg-desktop-portal
	provides = libflatpak.so

pkgname = flatpak-docs
	pkgdesc = Linux application sandboxing and distribution framework (formerly xdg-app) (documentation)
	depends = 
