pkgbase = gstreamer
	pkgdesc = Multimedia graph framework
	pkgver = 1.24.3
	pkgrel = 1
	url = https://gstreamer.freedesktop.org/
	arch = x86_64
	license = LGPL-2.1-or-later
	checkdepends = xorg-server-xvfb
	makedepends = git
	makedepends = meson
	makedepends = bash-completion
	makedepends = gobject-introspection
	makedepends = gtk3
	makedepends = libcap
	makedepends = libelf
	makedepends = libunwind
	makedepends = python
	makedepends = python-packaging
	makedepends = rust
	makedepends = valgrind
	makedepends = alsa-lib
	makedepends = cdparanoia
	makedepends = graphene
	makedepends = libdrm
	makedepends = libglvnd
	makedepends = libgudev
	makedepends = libjpeg
	makedepends = libpng
	makedepends = libtheora
	makedepends = libx11
	makedepends = libxi
	makedepends = libxv
	makedepends = mesa
	makedepends = opus
	makedepends = orc
	makedepends = pango
	makedepends = qt5-base
	makedepends = qt5-tools
	makedepends = sdl2
	makedepends = wayland
	makedepends = wayland-protocols
	makedepends = zlib
	makedepends = aalib
	makedepends = cairo
	makedepends = flac
	makedepends = gdk-pixbuf2
	makedepends = jack2
	makedepends = lame
	makedepends = libavc1394
	makedepends = libcaca
	makedepends = libdv
	makedepends = libiec61883
	makedepends = libpulse
	makedepends = libraw1394
	makedepends = libshout
	makedepends = libsoup3
	makedepends = libvpx
	makedepends = libxdamage
	makedepends = libxtst
	makedepends = mpg123
	makedepends = nasm
	makedepends = nettle
	makedepends = opencore-amr
	makedepends = qt5-declarative
	makedepends = qt5-wayland
	makedepends = qt5-x11extras
	makedepends = qt6-declarative
	makedepends = qt6-shadertools
	makedepends = qt6-tools
	makedepends = qt6-wayland
	makedepends = speex
	makedepends = taglib
	makedepends = twolame
	makedepends = v4l-utils
	makedepends = wavpack
	makedepends = bluez-libs
	makedepends = bzip2
	makedepends = chromaprint
	makedepends = faac
	makedepends = faad2
	makedepends = fluidsynth
	makedepends = gsm
	makedepends = json-glib
	makedepends = ladspa
	makedepends = libavtp
	makedepends = libbs2b
	makedepends = libdca
	makedepends = libde265
	makedepends = libdvdnav
	makedepends = libfdk-aac
	makedepends = libfreeaptx
	makedepends = libgme
	makedepends = liblc3
	makedepends = libldac
	makedepends = liblrdf
	makedepends = libltc
	makedepends = libmicrodns
	makedepends = libmodplug
	makedepends = libmpcdec
	makedepends = libnice
	makedepends = libopenmpt
	makedepends = libsrtp
	makedepends = libva
	makedepends = libvpl
	makedepends = libxkbcommon-x11
	makedepends = libxml2
	makedepends = lilv
	makedepends = lv2
	makedepends = mjpegtools
	makedepends = neon
	makedepends = openal
	makedepends = opencv
	makedepends = qrencode
	makedepends = rtmpdump
	makedepends = sbc
	makedepends = shaderc
	makedepends = soundtouch
	makedepends = spandsp
	makedepends = svt-av1
	makedepends = svt-hevc
	makedepends = vulkan-headers
	makedepends = vulkan-icd-loader
	makedepends = vulkan-validation-layers
	makedepends = webrtc-audio-processing-1
	makedepends = wildmidi
	makedepends = wpewebkit
	makedepends = zbar
	makedepends = zvbi
	makedepends = zxing-cpp
	makedepends = a52dec
	makedepends = libcdio
	makedepends = libdvdread
	makedepends = libmpeg2
	makedepends = x264
	makedepends = ffmpeg
	makedepends = opentimelineio
	makedepends = libxrandr
	makedepends = python-gobject
	makedepends = python-setuptools
	source = git+https://gitlab.freedesktop.org/gstreamer/gstreamer.git?signed#tag=1.24.3
	source = https://gstreamer.freedesktop.org/src/gstreamer-docs/gstreamer-docs-1.24.3.tar.xz
	source = https://gstreamer.freedesktop.org/src/gstreamer-docs/gstreamer-docs-1.24.3.tar.xz.asc
	source = 0001-HACK-meson-Disable-broken-tests.patch
	validpgpkeys = D637032E45B8C6585B9456565D2EEE6F6F349D7C
	b2sums = ba36061add5b081291b2f6a18b14e2c6cf1f2796b503bc7053e4c059f3d10620ece05b52590151f7e35f2e8919a0f2cfa3372ba24ff0a15beeb4d670c7df3ccd
	b2sums = 118ad62b9e1072a8f1399c2984c74745c2c1572b9f244bd108b23821d2957bcb1938010f37ec3ab6ac4a40989dd6e54898b5ab669fd142891d4cba4c44b6fd9f
	b2sums = SKIP
	b2sums = e7c59c828883a3bb3aa47684d83b57cd4d463e1f8cffc0383f779fa60ecbe37bfa30c8a0f40e6b2a01f6e0edfbefc5b7041340837e0018741e5963671945a1f2

pkgname = gstreamer
	pkgdesc = Multimedia graph framework - core
	install = gstreamer.install
	depends = glib2
	depends = libcap
	depends = libelf
	depends = libunwind
	depends = libxml2
	optdepends = python: gst-plugins-doc-cache-generator

pkgname = gst-plugins-bad-libs
	pkgdesc = Multimedia graph framework - bad
	depends = gst-plugins-base-libs=1.24.3
	depends = libdrm
	depends = libgudev
	depends = libnice
	depends = libusb
	depends = libva
	depends = libx11
	depends = libxkbcommon-x11
	depends = orc
	depends = vulkan-icd-loader
	depends = wayland

pkgname = gst-plugins-base-libs
	pkgdesc = Multimedia graph framework - base
	depends = gstreamer=1.24.3
	depends = iso-codes
	depends = libdrm
	depends = libgl
	depends = libgudev
	depends = libxi
	depends = libxv
	depends = mesa
	depends = orc
	depends = wayland

pkgname = gst-plugins-base
	pkgdesc = Multimedia graph framework - base plugins
	depends = gst-plugins-base-libs=1.24.3
	depends = alsa-lib
	depends = cdparanoia
	depends = graphene
	depends = libjpeg
	depends = libpng
	depends = libtheora
	depends = libvorbis
	depends = opus
	depends = pango

pkgname = gst-plugins-good
	pkgdesc = Multimedia graph framework - good plugins
	depends = gst-plugins-base-libs=1.24.3
	depends = aalib
	depends = cairo
	depends = flac
	depends = gdk-pixbuf2
	depends = lame
	depends = libavc1394
	depends = libcaca
	depends = libdv
	depends = libgudev
	depends = libiec61883
	depends = libpulse
	depends = libraw1394
	depends = libshout
	depends = libsoup3
	depends = libvpx
	depends = libxdamage
	depends = libxtst
	depends = mpg123
	depends = nettle
	depends = opencore-amr
	depends = speex
	depends = taglib
	depends = twolame
	depends = v4l-utils
	depends = wavpack
	optdepends = jack: JACK backend

pkgname = gst-plugins-bad
	pkgdesc = Multimedia graph framework - bad plugins
	depends = gst-plugins-bad-libs=1.24.3
	depends = aom
	depends = bzip2
	depends = chromaprint
	depends = curl
	depends = faac
	depends = faad2
	depends = fluidsynth
	depends = gsm
	depends = json-glib
	depends = lcms2
	depends = libass
	depends = libavtp
	depends = libbs2b
	depends = libdc1394
	depends = libdca
	depends = libde265
	depends = libdvdnav
	depends = libdvdread
	depends = libfdk-aac
	depends = libfreeaptx
	depends = libgme
	depends = liblc3
	depends = libldac
	depends = liblrdf
	depends = libltc
	depends = libmicrodns
	depends = libmodplug
	depends = libmpcdec
	depends = libopenmpt
	depends = librsvg
	depends = libsndfile
	depends = libsrtp
	depends = libwebp
	depends = libxml2
	depends = lilv
	depends = mjpegtools
	depends = neon
	depends = nettle
	depends = openal
	depends = openexr
	depends = openjpeg2
	depends = openssl
	depends = opus
	depends = pango
	depends = qrencode
	depends = rtmpdump
	depends = sbc
	depends = soundtouch
	depends = spandsp
	depends = srt
	depends = svt-av1
	depends = svt-hevc
	depends = webrtc-audio-processing-1
	depends = wildmidi
	depends = x265
	depends = zbar
	depends = zvbi
	depends = zxing-cpp

pkgname = gst-plugin-gtk
	pkgdesc = Multimedia graph framework - gtk plugin
	depends = gst-plugins-bad-libs=1.24.3
	depends = gtk3

pkgname = gst-plugin-msdk
	pkgdesc = Multimedia graph framework - msdk plugin
	depends = gst-plugins-bad-libs=1.24.3
	depends = libvpl

pkgname = gst-plugin-opencv
	pkgdesc = Multimedia graph framework - opencv plugin
	depends = gst-plugins-base-libs=1.24.3
	depends = opencv

pkgname = gst-plugin-qml6
	pkgdesc = Multimedia graph framework - qml6 plugin
	depends = gst-plugins-base-libs=1.24.3
	depends = qt6-declarative
	depends = qt6-wayland

pkgname = gst-plugin-qmlgl
	pkgdesc = Multimedia graph framework - qmlgl plugin
	depends = gst-plugins-base-libs=1.24.3
	depends = qt5-declarative
	depends = qt5-wayland
	depends = qt5-x11extras

pkgname = gst-plugin-qsv
	pkgdesc = Multimedia graph framework - qsv plugin
	depends = gst-plugins-bad-libs=1.24.3
	optdepends = intel-media-sdk: runtime for legacy Intel GPUs
	optdepends = onevpl-intel-gpu: runtime for Tiger Lake and newer GPUs

pkgname = gst-plugin-va
	pkgdesc = Multimedia graph framework - va plugin
	depends = gst-plugins-bad-libs=1.24.3

pkgname = gst-plugin-wpe
	pkgdesc = Multimedia graph framework - wpe plugin
	depends = gst-plugins-base-libs=1.24.3
	depends = wpewebkit

pkgname = gst-plugins-ugly
	pkgdesc = Multimedia graph framework - ugly plugins
	depends = gst-plugins-base-libs=1.24.3
	depends = a52dec
	depends = libcdio
	depends = libdvdread
	depends = libmpeg2
	depends = x264

pkgname = gst-libav
	pkgdesc = Multimedia graph framework - libav plugin
	depends = gst-plugins-base-libs=1.24.3
	depends = bzip2
	depends = ffmpeg
	provides = gst-ffmpeg=1.24.3

pkgname = gst-devtools-libs
	pkgdesc = Multimedia graph framework - development and debugging libraries
	depends = gst-plugins-base-libs=1.24.3
	depends = json-glib

pkgname = gst-devtools
	pkgdesc = Multimedia graph framework - development and debugging tools
	depends = gst-devtools-libs=1.24.3
	depends = gst-plugins-bad-libs=1.24.3
	depends = gst-rtsp-server=1.24.3
	depends = gtk3
	depends = python-gobject

pkgname = gst-rtsp-server
	pkgdesc = Multimedia graph framework - rtsp server
	depends = gst-plugins-base-libs=1.24.3

pkgname = gst-editing-services
	pkgdesc = Multimedia graph framework - editing services
	depends = gst-devtools-libs=1.24.3
	depends = gst-plugins-base-libs=1.24.3
	depends = gst-python=1.24.3
	optdepends = opentimelineio: Support for the OpenTimelineIO format

pkgname = gstreamer-vaapi
	pkgdesc = Multimedia graph framework - vaapi plugin
	depends = gst-plugins-bad-libs=1.24.3
	depends = libxrandr

pkgname = gst-python
	pkgdesc = Multimedia graph framework - python plugin
	depends = gst-plugins-base-libs=1.24.3
	depends = python-gobject

pkgname = gstreamer-docs
	pkgdesc = Multimedia graph framework - documentation
	license = BSD-2-Clause OR MIT OR LGPL-2.1-or-later
	license = CC-BY-SA-4.0
	license = LGPL-2.1-or-later
	license = MIT
	license = OPUBL-1.0
	options = !debug
	options = !strip
