pkgbase = ninja
	pkgdesc = Small build system with a focus on speed
	pkgver = 1.12.0
	pkgrel = 2
	url = https://ninja-build.org/
	arch = x86_64
	license = Apache-2.0
	checkdepends = gtest
	makedepends = cmake
	makedepends = python
	makedepends = re2c
	makedepends = emacs-nox
	depends = gcc-libs
	source = ninja-1.12.0.zip::https://github.com/ninja-build/ninja/archive/v1.12.0.zip
	sha1sums = 53e759ea6ed7895d71ce9f60915b37b20327da55
	sha256sums = 47411d1c95a91f416efc6f1bfb22477047c7a91951711af6123ab68ab11d6fcf

pkgname = ninja
