pkgbase = ninja
	pkgdesc = Small build system with a focus on speed
	pkgver = 1.13.2
	pkgrel = 3
	url = https://ninja-build.org/
	arch = x86_64
	license = Apache-2.0
	makedepends = cmake
	makedepends = gtest
	makedepends = python
	makedepends = re2c
	depends = glibc
	depends = libgcc
	depends = libstdc++
	source = https://github.com/ninja-build/ninja/archive/v1.13.2/ninja-1.13.2.tar.gz
	b2sums = 3418c756386a277f2a280b39f378e1bb944c4f9664254c69066de0d73a274b7faa9b688c475337b28ef24e279b5533ed990479c0cc900dcf38b0562acbdaa322

pkgname = ninja
