pkgbase = grpc
	pkgdesc = High performance, open source, general RPC framework that puts mobile and HTTP/2 first.
	pkgver = 1.64.2
	pkgrel = 2
	url = https://grpc.io
	arch = x86_64
	license = Apache-2.0
	makedepends = re2
	makedepends = re2c
	makedepends = protobuf
	makedepends = php
	makedepends = php-legacy
	makedepends = c-ares
	makedepends = openssl
	makedepends = chrpath
	makedepends = cython
	makedepends = cmake
	makedepends = benchmark
	makedepends = abseil-cpp
	makedepends = ninja
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	source = https://github.com/grpc/grpc/archive/v1.64.2/grpc-1.64.2.tar.gz
	source = https://github.com/google/googletest/archive/0e402173c97aea7a00749e825b194bfede4f2e45/googletest-0e402173c97aea7a00749e825b194bfede4f2e45.tar.gz
	sha256sums = c682fc39baefc6e804d735e6b48141157b7213602cc66dbe0bf375b904d8b5f9
	sha256sums = c8de6c60e12ad014a28225c5247ee735861d85cf906df617f6a29954ca05f547

pkgname = grpc
	depends = c-ares
	depends = protobuf
	depends = openssl
	depends = re2
	depends = abseil-cpp
	provides = libupb.so
	provides = libgrpcpp_channelz.so
	provides = libgrpc_unsecure.so
	provides = libgrpc_plugin_support.so
	provides = libgrpc.so
	provides = libgrpc++_unsecure.so
	provides = libgrpc++_reflection.so
	provides = libgrpc++_error_details.so
	provides = libgrpc++_alts.so
	provides = libgrpc++.so
	provides = libgpr.so
	provides = libaddress_sorting.so

pkgname = python-grpcio
	pkgdesc = Python language bindings for grpc, remote procedure call (RPC) framework
	depends = c-ares
	depends = python
	depends = re2
	depends = abseil-cpp

pkgname = python-grpcio-tools
	pkgdesc = Python protobuf generator for GRPC
	depends = python-setuptools
	depends = python-grpcio
	depends = python-protobuf

pkgname = php-grpc
	pkgdesc = gRPC module for PHP
	depends = grpc
	depends = php
	backup = etc/php/conf.d/grpc.ini

pkgname = php-legacy-grpc
	pkgdesc = gRPC module for PHP Legacy
	depends = grpc
	depends = php-legacy
	backup = etc/php-legacy/conf.d/grpc.ini

pkgname = grpc-cli
	pkgdesc = gRPC protocol buffers cli
	depends = grpc
