[Desktop Entry]
Encoding=UTF-8
GenericName=Arcade Emulator
GenericName[af]=Arkade Emulasie
GenericName[ar]=محاكي أركيد
GenericName[az]=Arcade Emulyatoru
GenericName[bn]=আর্কেড এমুলেটর
GenericName[br]=Kendarvanerezh tavarn
GenericName[bs]=Simulator arkada
GenericName[ca]=Emulador arcade
GenericName[cs]=Arkádový emulátor
GenericName[cy]=Efelychydd Arcêd
GenericName[da]=Arkade-emulator
GenericName[de]=Arkade-Emulator
GenericName[el]=Προσομοιωτής arcade
GenericName[eo]=Arkado-emulilo
GenericName[es]=Emulador de Arcade
GenericName[et]=Mänguautomaadi emulaator
GenericName[eu]=Arkade emuladorea
GenericName[fa]=مقلد گذرگاه تاقدار
GenericName[fi]=Videoemulaattori
GenericName[fr]=Émulateur de jeux d'arcade
GenericName[fy]=Arcade-emulaasje
GenericName[ga]=Aithriseoir Stuara
GenericName[gl]=Emulador Arcade
GenericName[he]=אמולטור למשחקי Arcade
GenericName[hi]=आर्केड एमुलेटर
GenericName[hr]=Emulator arkada
GenericName[hu]=Játéktermi emulátor
GenericName[it]=Emulatore arcade
GenericName[ja]=アーケードエミュレータ
GenericName[km]=កម្មវិធី​ត្រាប់​តាម​ការ​ធ្វើ​ដំណើរ
GenericName[ko]=오락실 흉내장이
GenericName[lo]=ຈຳລອງເກມອາເຄດດ໌
GenericName[lt]=Arkadinis emuliatorius
GenericName[lv]=Arkādes Emulators
GenericName[mk]=Аркаден емулатор
GenericName[mn]=Сансрын тоглоомын эмулатор
GenericName[ms]=Emulator Arked
GenericName[mt]=Emulatur tal-arcades
GenericName[nb]=Arkadespillemulator
GenericName[nds]=Emulator vun'n Speelhall
GenericName[nl]=Arcade-emulatie
GenericName[nn]=Arkadeemulator
GenericName[nso]=Seeekisi sa Arcade
GenericName[pa]=ਅਰਕਾਡੀ ਸਮਰੂਪ
GenericName[pl]=Emulator gry zręcznościowej
GenericName[pt]=Emulador de Arcadas
GenericName[pt_BR]=Emulador para o Arcade
GenericName[ro]=Emulator pentru joc de aventuri
GenericName[ru]=Эмулятор аркадных игр
GenericName[rw]=Mukuruzi Ikirongozi
GenericName[se]=Fearánspellu emuláhtor
GenericName[sk]=Emulátor automatov
GenericName[sl]=Arkadni emulator
GenericName[sr]=Аркадни емулатор
GenericName[sr@Latn]=Arkadni emulator
GenericName[ss]=Silingiseli Arcade
GenericName[sv]=Arkademulator
GenericName[ta]=ஆர்கேட் எமுலேட்டர்
GenericName[tg]=Эмулятори бозиҳои Arcade
GenericName[th]=จำลองเกมอาเขต
GenericName[tr]=Macera Oyunu Öyküncüsü
GenericName[tt]=Arkad Oxşaşlawı
GenericName[uk]=Емулятор "Arcade"
GenericName[uz]= Аркада ўйинлар эмулятори
GenericName[ven]=Mutevhedzeli wa Akhaidi
GenericName[vi]=Mô phỏng Mái vòm
GenericName[wa]=Djeu d' årcåde
GenericName[xh]=Umlinganisi we Emulator
GenericName[zh_CN]=街机模拟器
GenericName[zh_TW]=電子遊戲模擬器
GenericName[zu]=Umlingisi womhhume
Exec=qmc2
Icon=mame
Name=Qmamecat
Name[af]=Qmame-kat
Name[ar]=كيومامكات
Name[eo]=QMamecat
Name[fr]=QMamecat
Name[hi]=क्यूमामेकेट
Name[pa]=ਕਿਉਮੀਕੈਟ
Name[ven]=QmameTshimange
Name[xh]=Qmamekati
Path=
Terminal=false
Type=Application
Categories=Application;Game;Emulator
