pkgbase = element
	pkgdesc = A modular LV2/VST3 audio plugin host
	pkgver = 0.46.6
	pkgrel = 2
	url = https://github.com/kushview/element
	arch = x86_64
	groups = pro-audio
	license = GPL3
	checkdepends = xorg-server-xvfb
	makedepends = alsa-lib
	makedepends = boost
	makedepends = curl
	makedepends = freetype2
	makedepends = git
	makedepends = gtk3
	makedepends = imagemagick
	makedepends = jack
	makedepends = juce
	makedepends = ladspa
	makedepends = ldoc
	makedepends = libxcomposite
	makedepends = libxcursor
	makedepends = libxinerama
	makedepends = lilv
	makedepends = lua
	makedepends = lv2
	makedepends = pango
	makedepends = readline
	makedepends = serd
	makedepends = sord
	makedepends = sratom
	makedepends = suil
	makedepends = waf
	makedepends = xorg-xrandr
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = libx11
	depends = libxext
	optdepends = lua: for LUA scripting
	provides = ladspa-host
	provides = lv2-host
	provides = vst3-host
	source = https://github.com/kushview/element/releases/download/0.46.6/element-0.46.6.tar.gz
	source = git+https://github.com/kushview/element#tag=70135d89febc8bd3a46ad874b8338350ec5e9c49?signed
	source = git+https://github.com/kushview/kv-modules
	source = git+https://github.com/lvtk/jlv2
	source = git+https://github.com/kushview/lua-kv
	validpgpkeys = 52CB000FABB9DBE345CD478980A5F4BE60360CDE
	sha512sums = aa4344137ffc12bdeca24619aeb5f752499fa83e48dbc2b7821aafc0f13861fa68db47c25986fe707bb751af8ae288901f408708c3268ce4da8bb747d0a07de9
	sha512sums = 983607476f27a2a34c555cefd490b1815b1a827113de1ef524752bceef6b75e5208ae8c1dd96c179e0a0c0c6ad8c7bf436f035123da02abda8bce606c2096092
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	b2sums = 392c1f7899cb68416489e5831dd5e288f9eaed2778b624593fceb7e7126f10c4dc08aeba7e267944e36b07dcbe0ea7dd0db3ed7064d9499253f921350e89e8b8
	b2sums = e2d1a0e3dce088c1b4c3309c9c05ab0f51d455b5764cc04a879fce26c2b694f7b09e3f984ad50602f03fffd76955daf8c53e4769f03e2609bee9fb1f260efb20
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP

pkgname = element
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = libx11
	depends = libxext
	depends = libasound.so
	depends = libcurl.so
	depends = libfreetype.so
	depends = libjack.so
	depends = liblilv-0.so
	depends = libsuil-0.so
