[Unit]
Description=Kodi standalone
After=remote-fs.target

[Service]
User=kodi
Group=kodi
ExecStartPre=+/bin/sh -c 'echo 0 > /sys/class/vtconsole/vtcon1/bind'
ExecStartPre=+/usr/bin/fbset -g 4 2 4 2 32
ExecStart=/usr/bin/kodi-standalone
ExecStopPost=+/usr/bin/fbset -g $RESTOREMODE
ExecStopPost=+/bin/sh -c 'echo 1 > /sys/class/vtconsole/vtcon1/bind'
Restart=on-failure
SendSIGHUP=yes
EnvironmentFile=/etc/conf.d/kodi-framebuffer

[Install]
WantedBy=multi-user.target
