pkgbase = ruby-sassc
	pkgdesc = Use libsass with Ruby!
	pkgver = 2.4.0
	pkgrel = 7
	url = https://github.com/sass/sassc-ruby
	arch = x86_64
	license = MIT
	makedepends = git
	depends = ruby
	depends = ruby-erb
	depends = ruby-ffi
	options = !emptydirs
	source = ruby-sassc::git+https://github.com/sass/sassc-ruby#tag=v2.4.0
	source = libsass::git+https://github.com/sass/libsass.git
	sha256sums = f2eb7ab00afba92187b899d130ddfabeaafafd839ecdf7b7129c443fc36d4247
	sha256sums = SKIP

pkgname = ruby-sassc
