<pyaimt>
	<jid>aim.example.org</jid>
	<confjid>chatrooms.aim.example.org</confjid>
	<spooldir>/var/spool/pyaimt</spooldir>
	<pid>/var/run/pyaimt.pid</pid>
	<mainServer>127.0.0.1</mainServer>
	<mainServerJID>jabber.localhost</mainServerJID>
	<website>http://jabber.localhost/</website>
	<port>5348</port>
	<secret>secret</secret>
	<lang>en</lang>
	<aimServer>login.oscar.aol.com</aimServer>
	<aimPort>5190</aimPort>
	<disableAvatars/>
	<admins>
	</admins>
</pyaimt>
