[Desktop Entry]
Encoding=UTF-8
Name=PowerManga
Comment=A shoot game for Linux
Comment[it]=Un bel giochino per linux
Exec=powermanga --window
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;
StartupNotify=true
