pkgbase = onetbb
	pkgdesc = oneAPI Threading Building Blocks - a high level abstract threading library
	pkgver = 2022.2.0
	pkgrel = 1
	url = https://uxlfoundation.github.io/oneTBB/
	arch = x86_64
	license = Apache-2.0
	makedepends = cmake
	makedepends = python
	makedepends = python-setuptools
	makedepends = swig
	depends = gcc-libs
	depends = glibc
	depends = hwloc
	optdepends = python: for Python module
	provides = intel-tbb=2022.2.0
	provides = tbb=2022.2.0
	conflicts = intel-tbb
	conflicts = tbb
	replaces = intel-tbb
	replaces = tbb
	source = https://github.com/uxlfoundation/oneTBB/archive/v2022.2.0/onetbb-2022.2.0.tar.gz
	source = 010-onetbb-fix-linkage-of-test-malloc-pure-c.patch
	sha512sums = d87c67514ca17c9769910194a8fac912e183952ad5c408dbceb48edc8aef13375df3d4c9120a7366206c8ab72699ed953df65c11c261e19d8e9d273c73d073f3
	sha512sums = e94bcdfb6fd6d9d4ee9a16f4dc21c57bd24d78143899239afcf708aea0c8daf94a34490ccea1e9b2308036bdeb143eea2d3d8d02274f0806e47d83a7e9696ba5

pkgname = onetbb
