pkgbase = clang
	pkgdesc = C language family frontend for LLVM
	pkgver = 17.0.6
	pkgrel = 2
	url = https://clang.llvm.org/
	arch = x86_64
	license = custom:Apache 2.0 with LLVM Exception
	makedepends = llvm
	makedepends = cmake
	makedepends = ninja
	makedepends = python-sphinx
	makedepends = python-recommonmark
	depends = llvm-libs
	depends = gcc
	depends = compiler-rt
	optdepends = openmp: OpenMP support in clang with -fopenmp
	optdepends = python: for scan-view and git-clang-format
	optdepends = llvm: referenced by some clang headers
	provides = clang-analyzer=17.0.6
	provides = clang-tools-extra=17.0.6
	conflicts = clang-analyzer
	conflicts = clang-tools-extra
	replaces = clang-analyzer
	replaces = clang-tools-extra
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-17.0.6/clang-17.0.6.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-17.0.6/clang-17.0.6.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-17.0.6/clang-tools-extra-17.0.6.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-17.0.6/clang-tools-extra-17.0.6.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-17.0.6/llvm-17.0.6.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-17.0.6/llvm-17.0.6.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-17.0.6/cmake-17.0.6.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-17.0.6/cmake-17.0.6.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-17.0.6/third-party-17.0.6.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-17.0.6/third-party-17.0.6.src.tar.xz.sig
	source = clangd-handle-missing-ending-brace.patch::https://github.com/llvm/llvm-project/commit/9d1dada57741.patch
	source = enable-fstack-protector-strong-by-default.patch
	validpgpkeys = 474E22316ABF4785A88C6E8EA2C794A986419D8A
	validpgpkeys = D574BD5D1D0E98895E3BF90044F2485E45D59042
	sha256sums = a78f668a726ae1d3d9a7179996d97b12b90fb76ab9442a43110b972ff7ad9029
	sha256sums = SKIP
	sha256sums = aa774642415d338d7b77a66fcbad6fd1f77f382dabcb67422a6230614eff1ab9
	sha256sums = SKIP
	sha256sums = b638167da139126ca11917b6880207cc6e8f9d1cbb1a48d87d017f697ef78188
	sha256sums = SKIP
	sha256sums = 807f069c54dc20cb47b21c1f6acafdd9c649f3ae015609040d6182cab01140f4
	sha256sums = SKIP
	sha256sums = 3054d0a9c9375dab1a4539cc2cc45ab340341c5d71475f9599ba7752e222947b
	sha256sums = SKIP
	sha256sums = c102e8a6a2adb0e8729865ffb8799b22bb8a9bdf0f421991880fa4393378370a
	sha256sums = 45da5783f4e89e4507a351ed0ffbbe6ec240e21ff7070797a89c5ccf434ac612

pkgname = clang
