pkgbase = primecount
	pkgdesc = Fast C++ prime counting function implementation
	pkgver = 7.12
	pkgrel = 1
	url = https://github.com/kimwalisch/primecount
	arch = x86_64
	license = BSD-2-Clause
	makedepends = cmake
	depends = gcc-libs
	depends = glibc
	depends = primesieve
	source = https://github.com/kimwalisch/primecount/archive/v7.12/primecount-7.12.tar.gz
	sha256sums = b801aa95e434d1b7575e42cb9009286b5f94618a417888bb6bd3217ef2f1321c

pkgname = primecount
