pkgbase = primecount
	pkgdesc = Fast C++ prime counting function implementation
	pkgver = 8.1
	pkgrel = 1
	url = https://github.com/kimwalisch/primecount
	arch = x86_64
	license = BSD-2-Clause
	makedepends = cmake
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = primesieve
	source = git+https://github.com/kimwalisch/primecount#tag=v8.1
	sha256sums = fef6554110763dfaf000b2b9453eb7003e90c741f1bc226170a30ae7b3809051

pkgname = primecount
