pkgbase = primecount
	pkgdesc = Fast C++ prime counting function implementation
	pkgver = 8.5
	pkgrel = 1
	url = https://github.com/kimwalisch/primecount
	arch = x86_64
	license = BSD-2-Clause
	makedepends = cmake
	makedepends = git
	depends = glibc
	depends = libgcc
	depends = libgomp
	depends = libquadmath
	depends = libstdc++
	depends = primesieve
	source = git+https://github.com/kimwalisch/primecount#tag=v8.5
	sha256sums = 360487d3ecf74b019f7f3f8f60deba5d29a71d12f9b47ac02b5e6ee612f62e12

pkgname = primecount
