pkgbase = netcdf
	pkgdesc = network Common Data Form interface for array-oriented data access and corresponding library
	pkgver = 4.9.2
	pkgrel = 4
	url = https://www.unidata.ucar.edu/software/netcdf/
	arch = x86_64
	license = custom
	checkdepends = unzip
	makedepends = cmake
	depends = hdf5
	depends = curl
	depends = libxml2
	depends = libaec
	depends = blosc
	depends = bzip2
	depends = libzip
	depends = zstd
	optdepends = netcdf-fortran: fortran bindings
	optdepends = netcdf-cxx: c++ bindings
	options = !makeflags
	source = https://github.com/Unidata/netcdf-c/archive/v4.9.2/netcdf-4.9.2.tar.gz
	sha256sums = bc104d101278c68b303359b3dc4192f81592ae8640f1aee486921138f7f88cb7

pkgname = netcdf
