pkgbase = python-cvxopt
	pkgdesc = A free software package for convex optimization written in Python
	pkgver = 1.3.2
	pkgrel = 7
	url = https://cvxopt.org/
	arch = x86_64
	license = GPL3
	makedepends = gsl
	makedepends = fftw
	makedepends = glpk
	makedepends = dsdp
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = blas
	depends = glibc
	depends = lapack
	depends = python
	depends = suitesparse
	optdepends = gsl: for custom random number generators
	optdepends = fftw: for FFTW interface
	optdepends = glpk: solver for linear cone and PWL programming problems
	optdepends = dsdp: solver for linear cone semidefinite programming problems
	source = https://github.com/cvxopt/cvxopt/archive/1.3.2/python-cvxopt-1.3.2.tar.gz
	sha256sums = 03782bafebb86f33281a5451de5b5b648bb53ee8a1f97e38cae1d62e66a3bc72

pkgname = python-cvxopt
