# Create symlinks for i.mx keypads and touchscreens
SUBSYSTEM=="input" KERNEL=="event*" ATTRS{name}=="mxckpd",     SYMLINK+="input/keyboard0"
SUBSYSTEM=="input" KERNEL=="event*" ATTRS{name}=="mxc_ts",     SYMLINK+="input/ts0"
SUBSYSTEM=="input" KERNEL=="event*" ATTRS{name}=="imx_adc_ts", SYMLINK+="input/ts0"
SUBSYSTEM=="input" KERNEL=="event*" ATTRS{name}=="mpr084",     SYMLINK+="input/keyboard0"
SUBSYSTEM=="input" KERNEL=="event*" ATTRS{name}=="tsc2007",    SYMLINK+="input/ts0"
SUBSYSTEM=="input" KERNEL=="event*" ATTRS{name} =="STMP3XXX touchscreen",    SYMLINK+="input/ts0"
SUBSYSTEM=="input" KERNEL=="event*" ATTRS{name} =="MXS touchscreen",    SYMLINK+="input/ts0"
SUBSYSTEM=="input" KERNEL=="event*" ATTRS{name} =="HannStar P1003 Touchscreen",	SYMLINK+="input/ts0"
SUBSYSTEM=="input" KERNEL=="event*" ATTRS{name} =="eGalax Touch Screen",	SYMLINK+="input/ts0"

KERNEL=="event*", NAME="input/%k", MODE="666"
KERNEL=="event*", SUBSYSTEM=="input", GROUP="tty", MODE="0666"
SUBSYSTEM=="tty", KERNEL=="tty[0-9]*", GROUP="tty", MODE="0666"
KERNEL=="mxc_hdmi", SUBSYSTEM=="mxc_hdmi", GROUP="video", MODE="0666"
KERNEL=="mxc_hdmi_cec", SUBSYSTEM=="mxc_hdmi_cec", GROUP="video", MODE="0666"

# The long class name gets cut off to be mc13783_connectiv in 
# /sys/class/mc13783_connectivity/mc13783_connectivit
KERNEL=="mc13783_connectiv*",  NAME="mc13783_connectivity"
# Anyone has readonly permission to IIM device file
KERNEL=="mxc_iim",  MODE="0666", SYMLINK+="mxc_mem"
KERNEL=="mxs_viim", MODE="0666", SYMLINK+="mxc_mem"
KERNEL=="mxc_ipu",  MODE="0666"
KERNEL=="fb0",      MODE="0666"
KERNEL=="fb1",      MODE="0666"
KERNEL=="fb2",      MODE="0666"
KERNEL=="mxc_vpu",  MODE="0666"
SUBSYSTEM=="video", MODE="0666"
KERNEL=="gsl_kmod", MODE="0666"
KERNEL=="galcore", MODE="0666"
KERNEL=="mxc_galcore", MODE="0666"
KERNEL=="mxc_asrc",  MODE="0666"
SUBSYSTEM=="video", MODE="0666"
SUBSYSTEM=="sound", MODE="0666"
SUBSYSTEM=="video4linux", MODE="0666"

# ALSA devices
SUBSYSTEM=="sound", 		GROUP="audio"
SUBSYSTEM=="snd", 		GROUP="audio"
KERNEL=="control*",	NAME="snd/%k", MODE="0666"
KERNEL=="pcm*",		NAME="snd/%k", MODE="0666"
KERNEL=="timer",		NAME="snd/%k", MODE="0666"

# Set bluetooth power up
ACTION=="add", KERNEL=="hci0", RUN+="/usr/bin/hciconfig hci0 up"

