KERNEL=="event*", NAME="input/%k", MODE="666"
KERNEL=="event*", SUBSYSTEM=="input", GROUP="tty", MODE="0666"
SUBSYSTEM=="tty", KERNEL=="tty[0-9]*", GROUP="tty", MODE="0666"
KERNEL=="fb0",      MODE="0666"
KERNEL=="fb1",      MODE="0666"
KERNEL=="fb2",      MODE="0666"
SUBSYSTEM=="video", MODE="0666"
SUBSYSTEM=="video", MODE="0666"
SUBSYSTEM=="sound", MODE="0666"
SUBSYSTEM=="video4linux", MODE="0666"

# ALSA devices
SUBSYSTEM=="sound", 		GROUP="audio"
SUBSYSTEM=="snd", 		GROUP="audio"
KERNEL=="control*",	NAME="snd/%k", MODE="0666"
KERNEL=="pcm*",		NAME="snd/%k", MODE="0666"
KERNEL=="timer",		NAME="snd/%k", MODE="0666"

KERNEL=="hdmicec",      MODE="0666"
KERNEL=="hdmitx",      MODE="0666"
