###########################################################################################
#
# GitLab version    : 5.x - 7.x
# Contributors      : davispuh, mtorromeo, axilleas, boeserwolf91
# Downloaded from   : https://github.com/gitlabhq/gitlab-recipes/tree/master/init/systemd 
#
###########################################################################################

[Unit]
Description=GitLab - Self Hosted Git Management
Wants=gitlab-unicorn.service gitlab-sidekiq.service gitlab-backup.timer

[Install]
WantedBy=multi-user.target
