[Desktop Entry]
Comment=A Qt frontend of sopcast
Exec=qsopcast
GenericName=Online TV
Icon=qsopcast.xpm
Name=QSopcast
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Network;
