[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=FreeMind
GenericName=FreeMind
Exec=freemind
Terminal=false
Icon=freemind
Type=Application
MimeType=application/x-freemind
Categories=Application;Office;
Comment=A free mind mapping tool
