pkgbase = musl
	pkgdesc = Lightweight implementation of C standard library
	pkgver = 1.2.5
	pkgrel = 2
	url = https://www.musl-libc.org/
	arch = x86_64
	license = MIT
	makedepends = aarch64-linux-gnu-gcc
	makedepends = riscv64-linux-gnu-gcc
	options = staticlibs
	options = !buildflags
	source = https://www.musl-libc.org/releases/musl-1.2.5.tar.gz
	source = https://www.musl-libc.org/releases/musl-1.2.5.tar.gz.asc
	validpgpkeys = 836489290BB6B70F99FFDA0556BCDB593020450F
	sha256sums = a9a118bbe84d8764da0ea0d28b3ab3fae8477fc7e4085d90102b8596fc7c75e4
	sha256sums = SKIP

pkgname = musl

pkgname = musl-aarch64

pkgname = musl-riscv64
