pkgbase = libcamera
	pkgdesc = A complex camera support library for Linux, Android, and ChromeOS
	pkgver = 0.7.0
	pkgrel = 3
	url = https://libcamera.org/
	arch = x86_64
	makedepends = cmake
	makedepends = doxygen
	makedepends = git
	makedepends = glib2
	makedepends = graphviz
	makedepends = gst-plugins-base
	makedepends = gtest
	makedepends = libdrm
	makedepends = libjpeg-turbo
	makedepends = libtiff
	makedepends = libyaml
	makedepends = libyuv
	makedepends = meson
	makedepends = pybind11
	makedepends = python-jinja
	makedepends = python-ply
	makedepends = python-pyyaml
	makedepends = python-sphinx
	makedepends = python-sphinx-book-theme
	makedepends = python-sphinxcontrib-doxylink
	makedepends = qt6-base
	makedepends = qt6-tools
	makedepends = sdl2
	makedepends = systemd
	makedepends = texlive-core
	source = git+https://git.libcamera.org/libcamera/libcamera.git#tag=v0.7.0
	source = libcamera-fix-python3.14-macro-redefinition.patch
	sha512sums = 15a08aeac3f6f8762615fc2fe0896f3d0b32a07e2b0cfc8cd587bb9958d627e3e61ccadfd9c492ce91dec55b68d85ba60ca28c8fdf1829026d6b9ee0a1058358
	sha512sums = 8b54cbdf6ed767ae8d52a14480a4653f4f3a1c2187c4ccf7ceb65eaa60c819cce514122591d6e0c2dfc39d7482739f8fdd4090dbaf63701445510eefc88fb19f
	b2sums = ea1474e8abd460eed1241b7bcd8a0300b52a0fb875416129f5315b74067f95a3ebd2e0c35ff8650e1337a216816b422a13ece4e57ded911b5ce34aa812670938
	b2sums = 4a0e24feed22d32b83b0ec49c9a7616b77deb26cae82c17a38b54a81a0468e982852147bc2d5e3b611ba014ddbd7647acfe2e68591542420da73945ba1c0d6c2

pkgname = libcamera
	license = Apache-2.0
	license = CC0-1.0
	license = GPL-2.0-only WITH Linux-syscall-note
	license = GPL-2.0-or-later
	license = LGPL-2.1-or-later
	license = GPL-2.0-or-later WITH Linux-syscall-note OR BSD-3-Clause
	license = GPL-2.0-or-later WITH Linux-syscall-note OR MIT
	depends = glibc
	depends = gnutls
	depends = libcamera-ipa
	depends = libelf
	depends = libgcc
	depends = libglvnd
	depends = libstdc++
	depends = libunwind
	depends = libyaml
	depends = libyuv
	depends = sh
	depends = systemd-libs
	depends = libudev.so
	optdepends = gst-plugin-libcamera: GStreamer plugin
	optdepends = libcamera-docs: for documentation
	optdepends = libcamera-tools: for applications
	provides = libcamera.so
	provides = libcamera-base.so

pkgname = libcamera-docs
	pkgdesc = A complex camera support library for Linux, Android, and ChromeOS - documentation
	license = CC-BY-4.0
	license = CC-BY-SA-4.0
	license = CC0-1.0

pkgname = libcamera-ipa
	pkgdesc = A complex camera support library for Linux, Android, and ChromeOS - signed IPA
	license = BSD-2-Clause
	license = CC-BY-SA-4.0
	license = CC0-1.0
	license = GPL-2.0-or-later
	license = LGPL-2.1-or-later
	depends = glibc
	depends = libcamera
	depends = libcamera.so
	depends = libcamera-base.so
	depends = libgcc
	depends = libstdc++
	options = !strip

pkgname = libcamera-tools
	pkgdesc = A complex camera support library for Linux, Android, and ChromeOS - tools
	license = BSD-2-Clause
	license = CC0-1.0
	license = GPL-2.0-or-later
	license = LGPL-2.1-or-later
	depends = glibc
	depends = gtest
	depends = libcamera
	depends = libcamera.so
	depends = libcamera-base.so
	depends = libdrm
	depends = libevent
	depends = libevent-2.1.so
	depends = libevent_pthreads-2.1.so
	depends = libgcc
	depends = libjpeg-turbo
	depends = libjpeg.so
	depends = libstdc++
	depends = libtiff
	depends = libtiff.so
	depends = libyaml
	depends = qt6-base
	depends = sdl2
	conflicts = libcamera-tests<0.0.1-2
	replaces = libcamera-tests<0.0.1-2

pkgname = gst-plugin-libcamera
	pkgdesc = Multimedia graph framework - libcamera plugin
	license = CC0-1.0
	license = LGPL-2.1-or-later
	depends = glib2
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = glibc
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = libcamera
	depends = libcamera.so
	depends = libcamera-base.so
	depends = libgcc
	depends = libstdc++

pkgname = python-libcamera
	pkgdesc = A complex camera support library for Linux, Android, and ChromeOS - Python integration
	license = CC0-1.0
	license = LGPL-2.1-or-later
	depends = glibc
	depends = libcamera
	depends = libgcc
	depends = libstdc++
	depends = python
