pkgbase = erlang-cl
	pkgdesc = OpenCL binding for Erlang
	pkgver = 1.2.4
	pkgrel = 8
	url = https://github.com/tonyrog/cl
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = opencl-headers
	makedepends = rebar
	depends = erlang
	depends = opencl-icd-loader
	replaces = cl
	source = git+https://github.com/tonyrog/cl#commit=f0a5631fdcf4e1c56e6bf1568c6c2c8fff0d66df
	b2sums = SKIP

pkgname = erlang-cl
