pkgbase = erlang-cl
	pkgdesc = OpenCL binding for Erlang
	pkgver = 1.2.4
	pkgrel = 10
	url = https://github.com/tonyrog/cl
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = opencl-headers
	makedepends = rebar3
	depends = erlang
	depends = glibc
	depends = opencl-icd-loader
	replaces = cl
	source = git+https://github.com/tonyrog/cl#tag=cl-1.2.4
	b2sums = 68bae78fd520551bafb4dde229deceb8d35ee99464116af16e99e041ec1d59d7dacbfd32bf9587295167c48ca190eb686407f9dfc3b57be556e7f3b5eadfa7e0

pkgname = erlang-cl
