pkgbase = linux-rpi
	pkgdesc = Linux
	pkgver = 6.6.51
	pkgrel = 1
	url = https://github.com/raspberrypi/linux
	arch = armv7h
	arch = aarch64
	license = GPL2
	makedepends = bc
	makedepends = kmod
	makedepends = inetutils
	options = !strip
	source = linux-6.6.51-8c9ca64744.tar.gz::https://github.com/raspberrypi/linux/archive/8c9ca647449ba9df7e3b300c480242f9b5bdd867.tar.gz
	source = cmdline.txt
	source = config.txt
	source = 0001-Make-proc-cpuinfo-consistent-on-arm64-and-arm.patch
	source = linux.preset
	source = archarm.diffconfig
	md5sums = 3fff2f07355758daf1800eec29168e00
	md5sums = 3bab7426d8c8818dda8353da3892a41f
	md5sums = 16c484af9f72b9275afcf83a6b8eab36
	md5sums = a157c5bfc0f03d0728c92bd953b06265
	md5sums = 8b93b6ca167f70c60277f352f7b78024
	md5sums = 467709b52aff45a30b6e379e175026a9
	source_armv7h = config
	md5sums_armv7h = 90168072c997c0afb92390ef659ecfa6
	source_aarch64 = config8
	md5sums_aarch64 = 928e6ccc6877eb28480abb2567ccb7e7

pkgname = linux-rpi

pkgname = linux-rpi-headers
