pkgbase = gf2x
	pkgdesc = A library for multiplying polynomials over the binary field
	pkgver = 1.3.0
	pkgrel = 3
	url = https://gitlab.inria.fr/gf2x/gf2x
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = git
	depends = glibc
	source = git+https://gitlab.inria.fr/gf2x/gf2x#tag=gf2x-1.3.0
	sha256sums = becc47f5ca6e549393ea70147f7dc7b52d88af0ed5bfb9f2e3a4c47658bf48e9

pkgname = gf2x
