pkgbase = libcdio
	pkgdesc = GNU Compact Disc Input and Control Library
	pkgver = 2.3.0
	pkgrel = 1
	url = https://www.gnu.org/software/libcdio/
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = help2man
	depends = gcc-libs
	depends = glibc
	depends = ncurses
	source = git+https://github.com/libcdio/libcdio#tag=2.3.0
	validpgpkeys = DAA63BC2582034A02B923D521A8DE5008275EC21
	b2sums = b54f05a007d08d0f3e52f4f657475ae449e3c469351a355a2602fa7b3e3ae5e459bea739d35f6db5a10dd431dc744cefc86af23c914aaccb8c98d2624d44e6bb

pkgname = libcdio
