pkgbase = libcdio
	pkgdesc = GNU Compact Disc Input and Control Library
	pkgver = 2.1.0
	pkgrel = 4
	url = https://www.gnu.org/software/libcdio/
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = help2man
	depends = ncurses
	depends = gcc-libs
	source = git+https://git.savannah.gnu.org/git/libcdio.git#commit=9c7a2779846da161279bc1501e83c849cf89a594
	validpgpkeys = DAA63BC2582034A02B923D521A8DE5008275EC21
	sha256sums = SKIP

pkgname = libcdio
