pkgbase = libcdio
	pkgdesc = GNU Compact Disc Input and Control Library
	pkgver = 2.2.0
	pkgrel = 1
	url = https://www.gnu.org/software/libcdio/
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = help2man
	depends = gcc-libs
	depends = glibc
	depends = ncurses
	source = git+https://github.com/libcdio/libcdio#tag=2.2.0
	validpgpkeys = DAA63BC2582034A02B923D521A8DE5008275EC21
	b2sums = f7a71168f5957f073bf95d0fe68a69a6129f0c11410a1fa4927b41ccfc3f3828f2801e5e91597b6bab33523be4995b9a548d04a1c42463ed96367fb9c56780f5

pkgname = libcdio
