[Desktop Entry]
Name=Twinkle
Comment=A SIP softphone for Qt
Icon=/usr/share/twinkle/twinkle48.png
Exec=twinkle
Terminal=false
Type=Application
Categories=Network;
StartupNotify=false
