[Unit]
Description=Send DMARC Reports with Rspamd
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=rspamd
Group=rspamd
WorkingDirectory=/var/lib/rspamd
ExecStart=/bin/sh -c '/usr/bin/rspamadm dmarc_report -v $$(date -u -d "yesterday" "+%Y-%m-%d")'

# Security directives
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
