[Desktop Entry]
Exec=/opt/java/bin/javaws -viewer
GenericName[cs]=Spravovat a spouštět aplikace Java Web Start
GenericName=Manage and run Java Web Start Applications
Icon=java
MimeType=application/x-java-jnlp-file;
Name[cs]=Java Web Start
Name=Java Web Start
Path=
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;Java;
