[Desktop Entry]
Encoding=UTF-8
Name=Tea
Comment=A small programmer's QT editor
Exec=tea %U
Terminal=false
Type=Application
StartupNotify=true
Icon=tea.png
Categories=Application;Utility;TextEditor;
