pkgbase = x265
	pkgdesc = Open Source H265/HEVC video encoder
	pkgver = 4.0
	pkgrel = 1
	url = https://bitbucket.org/multicoreware/x265_git
	arch = x86_64
	license = GPL
	makedepends = cmake
	makedepends = git
	makedepends = nasm
	makedepends = ninja
	depends = gcc-libs
	provides = libx265.so
	source = git+https://bitbucket.org/multicoreware/x265_git#tag=6318f223684118a2c71f67f3f4633a9e35046b00
	sha256sums = 633998b9f17d335c24b3ac34eb446ac376971ce7323ef9befb86d134ee3e6453

pkgname = x265
