pkgbase = calf
	pkgdesc = LV2 plug-in suite and standalone Jack host
	pkgver = 0.90.4
	pkgrel = 1
	url = https://calf-studio-gear.org
	arch = x86_64
	groups = lv2-plugins
	groups = pro-audio
	license = LGPL2.1
	makedepends = git
	makedepends = lv2
	depends = cairo
	depends = expat
	depends = fluidsynth
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk2
	depends = hicolor-icon-theme
	depends = jack
	source = git+https://github.com/calf-studio-gear/calf#tag=0.90.4
	b2sums = a5d2ccca675c21e807b4851d26e519beafce5ce159be8e5c711d1dd1febbf17f164dd9e6bc4e776295bfc2132c6ccb67bf4dc0a975acf49f6094bd0ef8f914b1

pkgname = calf
