pkgbase = blender
	pkgdesc = A fully integrated 3D graphics creation suite
	pkgver = 3.6.4
	pkgrel = 3
	epoch = 17
	url = https://www.blender.org
	arch = x86_64
	license = GPL
	makedepends = cmake
	makedepends = boost
	makedepends = mesa
	makedepends = git
	makedepends = svn
	makedepends = llvm
	makedepends = cuda
	makedepends = ninja
	makedepends = wayland-protocols
	makedepends = libxkbcommon
	makedepends = libdecor
	makedepends = hip-runtime-amd
	makedepends = level-zero-headers
	makedepends = intel-oneapi-dpcpp-cpp
	makedepends = intel-oneapi-compiler-shared-runtime
	makedepends = intel-compute-runtime
	depends = libpng
	depends = libtiff
	depends = openexr
	depends = python
	depends = desktop-file-utils
	depends = python-requests
	depends = potrace
	depends = shared-mime-info
	depends = hicolor-icon-theme
	depends = xdg-utils
	depends = glew
	depends = openjpeg2
	depends = python-numpy
	depends = freetype2
	depends = openal
	depends = ffmpeg
	depends = fftw
	depends = boost-libs
	depends = opencollada
	depends = alembic
	depends = openxr
	depends = openimageio
	depends = libsndfile
	depends = jack
	depends = opencolorio
	depends = openimagedenoise
	depends = jemalloc
	depends = libspnav
	depends = ptex
	depends = opensubdiv
	depends = openvdb
	depends = sdl2
	depends = embree
	depends = libharu
	depends = draco
	depends = openpgl
	depends = level-zero-loader
	depends = libxkbcommon
	depends = libepoxy
	depends = intel-oneapi-compiler-shared-runtime-libs
	depends = intel-oneapi-compiler-dpcpp-cpp-runtime-libs
	optdepends = cuda: Cycles renderer CUDA support
	optdepends = intel-compute-runtime: Cycles renderer Intel OneAPI support
	optdepends = libdecor: wayland support
	options = !buildflags
	source = git+https://projects.blender.org/blender/blender.git#tag=v3.6.4
	source = https://developer.download.nvidia.com/redist/optix/v7.6/OptiX-7.6-Include.zip
	source = force-draco1.patch
	source = force-draco2.patch
	source = blender-new-sycl.patch
	sha512sums = SKIP
	sha512sums = dfe86de395dd298fb9feae73bff06a26742efa06a25bb5a4f78ffb1ba4c78f555d1af927efea98af281715cce01db219aa2adfd6bd323bf0d766c1c70ce03532
	sha512sums = e239da4f3906f1b54265435181cf770bae3d269c8d915df9a73861e6ee71ec70bf2339426e7c81a91e5a567273b3b3742d7a99feefd3398d821b26e1ff3a56d0
	sha512sums = c162646eba42ea7112cfb615466c2cbaddac8d254d4a9e91cf887c5bffef1325a983701163223a1fdee091310ac5574a400347aab7f52321825b5fa3d5a9036f
	sha512sums = b1eb2379b673514da2599c5fc3be7fc597d4d3d23550ff392b364ae53f67e332bbed7612a0d06cbf9cd255ad6833bdb29f7e3fe668471d57e91407092419f4dd

pkgname = blender
