pkgbase = blender
	pkgdesc = A fully integrated 3D graphics creation suite
	pkgver = 4.1.0
	pkgrel = 3
	epoch = 17
	url = https://www.blender.org
	arch = x86_64
	license = Apache-2.0
	license = BSD-2-Clause
	license = BSD-3-Clause
	license = GPL-2.0-or-later
	license = GPL-3.0-or-later
	license = LGPL-2.1-or-later
	license = MIT
	license = MPL-2.0
	license = Zlib
	makedepends = boost
	makedepends = cmake
	makedepends = cuda
	makedepends = git
	makedepends = git-lfs
	makedepends = hip-runtime-amd
	makedepends = intel-oneapi-compiler-shared-runtime
	makedepends = intel-oneapi-dpcpp-cpp
	makedepends = intel-compute-runtime
	makedepends = level-zero-headers
	makedepends = libdecor
	makedepends = mold
	makedepends = llvm
	makedepends = mesa
	makedepends = ninja
	makedepends = subversion
	makedepends = wayland-protocols
	depends = alembic
	depends = bash
	depends = boost-libs
	depends = draco
	depends = embree
	depends = expat
	depends = ffmpeg
	depends = fftw
	depends = freetype2
	depends = gcc-libs
	depends = glew
	depends = glibc
	depends = gmp
	depends = hicolor-icon-theme
	depends = imath
	depends = intel-oneapi-compiler-dpcpp-cpp-runtime-libs
	depends = intel-oneapi-compiler-shared-runtime-libs
	depends = jack
	depends = jemalloc
	depends = level-zero-loader
	depends = libepoxy
	depends = libharu
	depends = libjpeg-turbo
	depends = libpng
	depends = libsndfile
	depends = libspnav
	depends = libtiff
	depends = libwebp
	depends = libx11
	depends = libxfixes
	depends = libxi
	depends = libxkbcommon
	depends = libxml2
	depends = libxrender
	depends = libxxf86vm
	depends = llvm-libs
	depends = materialx
	depends = onetbb
	depends = openal
	depends = opencollada
	depends = opencolorio
	depends = openexr
	depends = openimagedenoise
	depends = openimageio
	depends = openjpeg2
	depends = openpgl
	depends = openshadinglanguage
	depends = opensubdiv
	depends = openvdb
	depends = openxr
	depends = potrace
	depends = pugixml
	depends = pystring
	depends = python
	depends = python-numpy
	depends = python-requests
	depends = sdl2
	depends = shared-mime-info
	depends = usd
	depends = xdg-utils
	depends = yaml-cpp
	depends = zlib
	depends = zstd
	optdepends = cuda: Cycles renderer CUDA support
	optdepends = intel-compute-runtime: Cycles renderer Intel OneAPI support
	optdepends = libdecor: wayland support
	options = !lto
	source = git+https://projects.blender.org/blender/blender.git#tag=v4.1.0
	source = git+https://projects.blender.org/blender/blender-addons.git#tag=v4.1.0
	source = git+https://projects.blender.org/blender/blender-addons-contrib#tag=v4.1.0
	source = git+https://projects.blender.org/blender/blender-assets#tag=v4.1.0
	source = https://developer.download.nvidia.com/redist/optix/v8.0/OptiX-8.0-Include.zip
	source = force-draco1.patch
	source = force-draco2.patch
	sha512sums = 5243728ed80dd04eb2b2922e1e71b4d2cec3247c396ce5941e38f32e12bca40ac9e3945ea1e6362529b0d85a2fba995870ed9b047c95448449b50b00e3949d1c
	sha512sums = f0894c620319f450a2a59f84e6d8d5884a61e648b3441a69f6e4c1ffdd61bff65928cbc41c2531df56a69c8f6a195d59a943d8b75380c816bfb101a55ff0c2b1
	sha512sums = 877ed9ced417c5879b0bc6a7d3d87aa68a3e4015df9c08945c468dfab59a513bdd03523b7593e556fc9d0e22dbad25d980238e25583ea34a77ffcae3693cd0e7
	sha512sums = SKIP
	sha512sums = 5502d9df847de12badc702c0444bd4f1f7620460b2235026df2c3133da1e04c148af0f1fc7f345e9a0c009c32f905f66c8d427743445e8864d3a797cdce6a483
	sha512sums = e239da4f3906f1b54265435181cf770bae3d269c8d915df9a73861e6ee71ec70bf2339426e7c81a91e5a567273b3b3742d7a99feefd3398d821b26e1ff3a56d0
	sha512sums = c162646eba42ea7112cfb615466c2cbaddac8d254d4a9e91cf887c5bffef1325a983701163223a1fdee091310ac5574a400347aab7f52321825b5fa3d5a9036f

pkgname = blender
