[Desktop Entry]
Version=0.92
Encoding=UTF-8
MultipleArgs=false
Terminal=0
Icon=/usr/share/aumix/aumix.xpm
Exec=/usr/bin/aumix
Categories=Application;GTK;AudioVideo;Audio;Video;
Type=Application
Name=GTK sound mixer
Name[en]=GTK sound mixer
Name[ru]=Микшер с GTK-интерфейсом
