pkgbase = opencc
	pkgdesc = Library for Open Chinese Convert
	pkgver = 1.1.7
	pkgrel = 2
	url = https://github.com/BYVoid/OpenCC
	arch = x86_64
	license = Apache
	makedepends = chrpath
	makedepends = cmake
	makedepends = darts
	makedepends = doxygen
	makedepends = marisa
	makedepends = pybind11
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = rapidjson
	makedepends = tclap
	makedepends = gtest
	source = https://github.com/BYVoid/OpenCC/archive/ver.1.1.7/opencc-1.1.7.tar.gz
	sha512sums = 26e4b12238f853b0fa91f9f0d9af7985bf04a0763185cc3b50b69ba99a2d80091b8c3160176d0d4cd348fbf1a680bfd80dc740dc60c938a256dc2dac8ef49f15

pkgname = opencc
	pkgdesc = Library for Open Chinese Convert
	depends = marisa

pkgname = opencc-doc
	pkgdesc = Documentation for Library for Open Chinese Convert
