pkgbase = opencc
	pkgdesc = Library for Open Chinese Convert
	pkgver = 1.3.2
	pkgrel = 1
	url = https://github.com/BYVoid/OpenCC
	arch = x86_64
	license = Apache-2.0
	makedepends = git
	makedepends = chrpath
	makedepends = cmake
	makedepends = cppjieba
	makedepends = darts
	makedepends = doxygen
	makedepends = marisa
	makedepends = pybind11
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = rapidjson
	makedepends = tclap
	makedepends = gtest
	source = git+https://github.com/BYVoid/OpenCC.git#tag=ver.1.3.2
	sha512sums = 674fd09fc4adc02fa13af8737e67a06836c9676a9c25f8c9ed57e97f832b88a71be39800fc4041ff8de207930acc6766ab50cd94286abfdecf0778109406223a

pkgname = opencc
	pkgdesc = Library for Open Chinese Convert
	depends = marisa
	provides = libopencc.so

pkgname = opencc-doc
	pkgdesc = Documentation for Library for Open Chinese Convert
