pkgbase = xfce4-whiskermenu-plugin
	pkgdesc = Menu for Xfce4
	pkgver = 2.9.1
	pkgrel = 1
	url = https://docs.xfce.org/panel-plugins/xfce4-whiskermenu-plugin/start
	arch = x86_64
	groups = xfce4-goodies
	license = GPL-2.0-or-later
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	depends = accountsservice
	depends = garcon
	depends = gtk3
	depends = gtk-layer-shell
	depends = xfce4-panel
	source = git+https://gitlab.xfce.org/panel-plugins/xfce4-whiskermenu-plugin.git#tag=v2.9.1
	sha256sums = e14ddfe692bc6b4a06c42b14ee110efd98b69e78fc98b16561ff661ade66d4a5

pkgname = xfce4-whiskermenu-plugin
