pkgbase = xfce4-whiskermenu-plugin
	pkgdesc = Menu for Xfce4
	pkgver = 2.9.2
	pkgrel = 2
	url = https://docs.xfce.org/panel-plugins/xfce4-whiskermenu-plugin/start
	arch = x86_64
	groups = xfce4-goodies
	license = GPL-2.0-or-later
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	depends = accountsservice
	depends = garcon
	depends = gtk3
	depends = gtk-layer-shell
	depends = xfce4-panel
	optdepends = mugshot: Update user details
	source = git+https://gitlab.xfce.org/panel-plugins/xfce4-whiskermenu-plugin.git#tag=v2.9.2
	sha256sums = c81107cb2d6a3358da225ce62771f5f8d7400d2c896accfbd92846098a09de15

pkgname = xfce4-whiskermenu-plugin
