[Unit]
Description=Load Broadcom bluetooth firmware
Before=bluetooth.service

[Service]
EnvironmentFile=-/etc/conf.d/bcm43xx
Type=oneshot
ExecStart=/usr/lib/systemd/scripts/start-brcm-patchram-plus
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
