pkgbase = libpgm
	pkgdesc = Library implementing the Pragmatic General Multicast (PGM, RFC3208) reliable transport protocol (OpenPGM)
	pkgver = 5.3.128
	pkgrel = 4
	url = https://github.com/steve-o/openpgm
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = git
	makedepends = python
	depends = glibc
	source = git+https://github.com/steve-o/openpgm.git#tag=release-5-3-128
	b2sums = 3718430386e4ca8b9e51dbd69a17d4bb71ef0169b8f78f66865aae3d5cca09f4bd63d18bac714b4e5a89ad09ecdb73a3fd8f7163c1806c0c1ff2f109a8898dcd

pkgname = libpgm
