[Desktop Entry]
Name=Zsnes
Comment=Super Nintendo emulator
Exec=/usr/bin/zsnes
Icon=/usr/share/pixmaps/zsnes_icon.png
Terminal=false
Type=Application
Categories=Application;Game
StartupNotify=false
