pkgbase = calligra
	pkgdesc = A set of applications for productivity and creative usage
	pkgver = 4.0.1
	pkgrel = 3
	url = https://www.calligra-suite.org/
	arch = x86_64
	license = GPL-2.0-only
	makedepends = boost
	makedepends = eigen
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = libetonyek
	makedepends = libvisio
	makedepends = libwpg
	makedepends = libwps
	makedepends = okular
	makedepends = pstoedit
	makedepends = qt6-webengine
	makedepends = vc
	depends = cauchy
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = glibc
	depends = gsl
	depends = imath
	depends = karchive
	depends = kcolorscheme
	depends = kcompletion
	depends = kconfigwidgets
	depends = kcoreaddons
	depends = kdbusaddons
	depends = kdiagram
	depends = kcmutils
	depends = kconfig
	depends = kcrash
	depends = kguiaddons
	depends = ki18n
	depends = kiconthemes
	depends = kio
	depends = kitemviews
	depends = knotifications
	depends = knotifyconfig
	depends = kservice
	depends = ktextwidgets
	depends = kwidgetsaddons
	depends = kwindowsystem
	depends = kxmlgui
	depends = libodfgen
	depends = librevenge
	depends = openssl
	depends = phonon-qt6
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = qtkeychain-qt6
	depends = sonnet
	depends = zlib
	optdepends = libetonyek: Apple Keynote import filter
	optdepends = libvisio: Microsoft Visio import filter
	optdepends = libwpg: Corel WordPerfect Graphics image importer
	optdepends = libwps: Microsoft Works file word processor format import
	optdepends = poppler: PDF to SVG filter
	optdepends = pstoedit: EPS to SVG filter
	optdepends = qt6-webengine: Braindump web shape
	source = https://download.kde.org/stable/calligra/calligra-4.0.1.tar.xz
	source = https://download.kde.org/stable/calligra/calligra-4.0.1.tar.xz.sig
	validpgpkeys = 39FFA93CAE9C6AFC212AD00202325448204E452A
	sha256sums = d401f5e73f4f1bdc0b3548ea1a50b0ac1778c1ede30a6a335944ed7fbd88d95f
	sha256sums = SKIP

pkgname = calligra
