pkgbase = ocaml
	pkgdesc = A functional language with OO extensions
	pkgver = 5.1.1
	pkgrel = 1
	url = https://caml.inria.fr/
	arch = x86_64
	license = LGPL2.1
	license = custom: QPL-1.0
	makedepends = ncurses>=5.6-7
	optdepends = ncurses: advanced ncurses features
	optdepends = tk: advanced tk features
	options = !makeflags
	options = !emptydirs
	options = staticlibs
	source = https://caml.inria.fr/distrib/ocaml-5.1/ocaml-5.1.1.tar.xz
	sha512sums = e534881eec10b79141b6598ba6d3f59e32ed46a2c64b90c226bbec199c73cdb70e6e5bfa555c34c385d3d83c15e5115f0ea9a182fdda6547db7bbb416f8ed98f

pkgname = ocaml

pkgname = ocaml-compiler-libs
	pkgdesc = Several modules used internally by the OCaml compiler
	license = custom: QPL-1.0
	depends = ocaml
	optdepends = 
