pkgbase = linux-imx6-7
	pkgdesc = Linux kernel and modules suitable for systems with Freescale's i.MX6 or i.MX7 processors
	pkgver = 4.1
	pkgrel = 1
	url = http://www.kernel.org/
	arch = armv7h
	license = GPL2
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = git
	makedepends = uboot-tools
	options = !strip
	source = http://www.kernel.org/pub/linux/kernel/v4.x/linux-4.1.tar.xz
	source = config.stub
	md5sums = fe9dc0f6729f36400ea81aa41d614c37
	md5sums = 89286875da749425677e4efb112e962d

pkgname = linux-imx6-7

