pkgbase = js128
	pkgdesc = JavaScript interpreter and libraries - Version 128
	pkgver = 128.5.0
	pkgrel = 1
	url = https://spidermonkey.dev/
	arch = x86_64
	license = MPL-2.0
	checkdepends = git
	checkdepends = mercurial
	makedepends = cbindgen
	makedepends = clang
	makedepends = lld
	makedepends = llvm
	makedepends = python
	makedepends = rust
	makedepends = zip
	depends = gcc-libs
	depends = glibc
	depends = readline
	depends = sh
	depends = zlib
	options = !lto
	source = https://archive.mozilla.org/pub/firefox/releases/128.5.0esr/source/firefox-128.5.0esr.source.tar.xz
	source = https://archive.mozilla.org/pub/firefox/releases/128.5.0esr/source/firefox-128.5.0esr.source.tar.xz.asc
	validpgpkeys = 14F26682D0916CDD81E37B6D61B7B526D98F0353
	sha256sums = 0bd18968314afdcc341edd2a9178e305c9d454560a42193154a0f994047fecb8
	sha256sums = SKIP
	b2sums = b524796854d4f622e90c219e4e302e5665f3f1e3ffb7935ba58244903dbcf1c2b9a13731e9af5507ffc25dda621d4ea13650aae842ed0317843182da55d1d652
	b2sums = SKIP

pkgname = js128
