pkgbase = js128
	pkgdesc = JavaScript interpreter and libraries - Version 128
	pkgver = 128.3.1
	pkgrel = 1
	url = https://spidermonkey.dev/
	arch = x86_64
	license = MPL-2.0
	checkdepends = git
	checkdepends = mercurial
	makedepends = cbindgen
	makedepends = clang
	makedepends = lld
	makedepends = llvm
	makedepends = python
	makedepends = rust
	makedepends = zip
	depends = gcc-libs
	depends = glibc
	depends = readline
	depends = sh
	depends = zlib
	options = !lto
	source = https://archive.mozilla.org/pub/firefox/releases/128.3.1esr/source/firefox-128.3.1esr.source.tar.xz
	source = https://archive.mozilla.org/pub/firefox/releases/128.3.1esr/source/firefox-128.3.1esr.source.tar.xz.asc
	validpgpkeys = 14F26682D0916CDD81E37B6D61B7B526D98F0353
	sha256sums = c1f4052f3a88d96a122551d5025053304007f7649886d5e2fdfd1a11ce3d70a8
	sha256sums = SKIP
	b2sums = ff2663743c160b227057bbf05915d27c9f04dcf605811933f91cc50b9de55c9e75c3583144fbfbe6a1bbc4570b636ba5918b30f034b6af744f615e6e9de0d594
	b2sums = SKIP

pkgname = js128
