# aes1610.c
ATTRS{idVendor}=="08ff", ATTRS{idProduct}=="1600", MODE="0664", GROUP="scanner"
# aes2501.c
ATTRS{idVendor}=="08ff", ATTRS{idProduct}=="2580", MODE="0664", GROUP="scanner"
# aes4000.c
ATTRS{idVendor}=="08ff", ATTRS{idProduct}=="5501", MODE="0664", GROUP="scanner"
# fdu2000.c
ATTRS{idVendor}=="1162", ATTRS{idProduct}=="0300", MODE="0664", GROUP="scanner"
# upektc.c
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="2015", MODE="0664", GROUP="scanner"
# upekts.c
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="2016", MODE="0664", GROUP="scanner"
# uru4000.c
ATTRS{idVendor}=="045e", ATTRS{idProduct}=="00bb", MODE="0664", GROUP="scanner"
ATTRS{idVendor}=="045e", ATTRS{idProduct}=="00bc", MODE="0664", GROUP="scanner"
ATTRS{idVendor}=="045e", ATTRS{idProduct}=="00bd", MODE="0664", GROUP="scanner"
ATTRS{idVendor}=="045e", ATTRS{idProduct}=="00ca", MODE="0664", GROUP="scanner"
ATTRS{idVendor}=="05ba", ATTRS{idProduct}=="0007", MODE="0664", GROUP="scanner"
ATTRS{idVendor}=="05ba", ATTRS{idProduct}=="000a", MODE="0664", GROUP="scanner"
