pkgbase = supercollider
	pkgdesc = Platform for audio synthesis and algorithmic composition
	pkgver = 3.13.0
	pkgrel = 5
	url = https://supercollider.github.io
	install = supercollider.install
	arch = x86_64
	groups = pro-audio
	license = GPL-2.0-or-later
	license = GPL-3.0-or-later
	checkdepends = xorg-server-xvfb
	makedepends = abletonlink
	makedepends = alsa-lib
	makedepends = avahi
	makedepends = boost
	makedepends = cmake
	makedepends = emacs
	makedepends = fftw
	makedepends = glib2-devel
	makedepends = libsndfile
	makedepends = qt5-tools
	makedepends = readline
	makedepends = systemd-libs
	makedepends = yaml-cpp
	depends = gcc-libs
	depends = glibc
	depends = libx11
	depends = qt5-base
	depends = qt5-svg
	depends = qt5-webengine
	depends = qt5-websockets
	optdepends = emacs: emacs interface
	optdepends = gedit: gedit interface
	optdepends = sc3-plugins: additional extension plugins for scsynth
	provides = libscsynth.so
	provides = sclang=3.13.0
	provides = scsynth=3.13.0
	source = https://github.com/supercollider/supercollider/releases/download/Version-3.13.0/SuperCollider-3.13.0-Source.tar.bz2
	source = https://github.com/supercollider/supercollider/releases/download/Version-3.13.0/SuperCollider-3.13.0-Source.tar.bz2.asc
	validpgpkeys = 2E1C4FC2F6BB58FA157B21B8064B501EB7405F04
	sha512sums = a60a128f7646f077f91adae666fa4014529aa9df78cf0dfe5d68c9bd6447f008af7da2970b8736f3f29d0adbaf67bce680a8201fcbe7e1aba29c3499a57f89cd
	sha512sums = SKIP
	b2sums = a5e57a17f93e40848b2044ee0791179f857d144eabb7f4d74580b2eebd49a31d6ec671a0526236c5b906aadeb455e5a7ad18cacb79ed214076d6bceca39ea2ae
	b2sums = SKIP

pkgname = supercollider
	depends = gcc-libs
	depends = glibc
	depends = libx11
	depends = qt5-base
	depends = qt5-svg
	depends = qt5-webengine
	depends = qt5-websockets
	depends = alsa-lib
	depends = libasound.so
	depends = avahi
	depends = libavahi-common.so
	depends = libavahi-client.so
	depends = boost-libs
	depends = libboost_filesystem.so
	depends = libboost_program_options.so
	depends = libboost_thread.so
	depends = fftw
	depends = libfftw3f.so
	depends = jack
	depends = libjack.so
	depends = libsndfile
	depends = libsndfile.so
	depends = readline
	depends = libreadline.so
	depends = systemd-libs
	depends = libudev.so
	depends = yaml-cpp
	depends = libyaml-cpp.so
