[Unit]
Description=Update GeoIP2 and GeoIP Legacy binary databases
Wants=network.target
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/geoipupdate --config-file /etc/GeoIP.conf
