pkgbase = dtools
	pkgdesc = Ancilliary tools for the D programming language
	pkgver = 2.107.0
	pkgrel = 1
	url = https://www.dlang.org
	arch = x86_64
	groups = dlang
	license = Boost
	makedepends = dmd
	makedepends = libphobos
	depends = curl
	provides = ddemangle
	provides = dustmite
	provides = rdmd
	conflicts = ddemangle
	conflicts = dustmite
	conflicts = rdmd
	source = dtools-2.107.0.tar.gz::https://github.com/dlang/tools/archive/v2.107.0.tar.gz
	sha512sums = 7e12f29eb230d7160b985bb6f892b8b267d51bdab96c9f75ab0d80d9fea596c106253f2673bfc54084f343116751c827e83aa8a27cad77c71b3475a0f9b2806d

pkgname = dtools
