pkgbase = dtools
	pkgdesc = Ancilliary tools for the D programming language
	pkgver = 2.113.0
	pkgrel = 1
	url = https://www.dlang.org
	arch = x86_64
	groups = dlang
	license = BSL-1.0
	makedepends = dmd
	makedepends = libphobos
	depends = curl
	provides = ddemangle
	provides = dustmite
	provides = rdmd
	conflicts = ddemangle
	conflicts = dustmite
	conflicts = rdmd
	options = !lto
	source = dtools-2.113.0.tar.gz::https://github.com/dlang/tools/archive/v2.113.0.tar.gz
	sha512sums = daf123d65421c37e707b6808c3bf6c78ffc76c33fb888602b4ac41c65b842c8aae8d51d71310db02f59d04bb7f9d6748e8d442f73ef657b09ffb04f2475790db

pkgname = dtools
