pkgbase = dtools
	pkgdesc = Ancilliary tools for the D programming language
	pkgver = 2.108.1
	pkgrel = 1
	url = https://www.dlang.org
	arch = x86_64
	groups = dlang
	license = BSL-1.0
	makedepends = dmd
	makedepends = libphobos
	depends = curl
	provides = ddemangle
	provides = dustmite
	provides = rdmd
	conflicts = ddemangle
	conflicts = dustmite
	conflicts = rdmd
	source = dtools-2.108.1.tar.gz::https://github.com/dlang/tools/archive/v2.108.1.tar.gz
	sha512sums = 97642024a5fa99e9f44cabd07ef34525a2d885a94e6fbe9b4a1a54a6f09e4b79b7c1390a81d20bf32b6192d61b8541ed0511bb6ed323fd6dec6a3a89c458406c

pkgname = dtools
