pkgbase = v4l-utils
	pkgdesc = Userspace tools and conversion library for Video 4 Linux
	pkgver = 1.26.0
	pkgrel = 1
	url = https://linuxtv.org/
	arch = x86_64
	license = LGPL
	makedepends = qt5-base
	makedepends = alsa-lib
	makedepends = meson
	makedepends = clang
	makedepends = doxygen
	makedepends = libbpf
	depends = hicolor-icon-theme
	depends = gcc-libs
	depends = libjpeg-turbo
	depends = systemd-libs
	depends = json-c
	optdepends = qt5-base: for qv4l2 and qvidcap
	optdepends = alsa-lib: for qv4l2
	provides = libv4l=1.26.0
	conflicts = libv4l
	replaces = libv4l
	backup = etc/rc_maps.cfg
	source = https://linuxtv.org/downloads/v4l-utils/v4l-utils-1.26.0.tar.xz
	source = https://linuxtv.org/downloads/v4l-utils/v4l-utils-1.26.0.tar.xz.asc
	validpgpkeys = 05D0169C26E41593418129DF199A64FADFB500FF
	sha256sums = dab463dc0215e55b2ef1f7a7ab230c3ae8102ea029547eefb4478da0fa8af505
	sha256sums = SKIP

pkgname = v4l-utils
