[Unit]
Description=CPU Interrupt Request Balancer

[Service]
ExecStart=/usr/bin/irqbalance --foreground
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
