pkgbase = giac
	pkgdesc = A free computer algebra system
	pkgver = 2.0.0.2
	pkgrel = 1
	url = http://www-fourier.ujf-grenoble.fr/~parisse/giac.html
	arch = x86_64
	license = GPL-3.0-only
	makedepends = hevea
	makedepends = libjpeg-turbo
	makedepends = python
	makedepends = texlive-latexrecommended
	makedepends = texlive-mathscience
	depends = blas
	depends = cblas
	depends = curl
	depends = fltk
	depends = gcc-libs
	depends = glibc
	depends = glpk
	depends = gmp
	depends = gmp-ecm
	depends = gsl
	depends = lapack
	depends = libao
	depends = libglvnd
	depends = libpng
	depends = libsamplerate
	depends = libusb
	depends = mpfi
	depends = mpfr
	depends = nauty
	depends = ntl
	depends = pari
	depends = readline
	depends = zlib
	optdepends = perl: for pgiac
	source = http://www-fourier.ujf-grenoble.fr/~parisse/debian/dists/stable/main/source/giac_2.0.0-2.tar.gz
	source = format-security.patch
	sha256sums = 58032c1447bb94ae08081b6c24f62bf1a494fd6e0d30e558248a3a48e3b45731
	sha256sums = 04288944e408807a15aa502e1215087870d8921229c9f9890d862d3c9de337cd

pkgname = giac
