pkgbase = giac
	pkgdesc = A free computer algebra system
	pkgver = 2.0.0.12
	pkgrel = 5
	url = https://www-fourier.ujf-grenoble.fr/~parisse/giac.html
	arch = x86_64
	license = GPL-3.0-only
	makedepends = hevea
	makedepends = libjpeg-turbo
	makedepends = python
	makedepends = texlive-latexrecommended
	makedepends = texlive-mathscience
	depends = blas
	depends = curl
	depends = fltk1.3
	depends = gcc-libs
	depends = glibc
	depends = glpk
	depends = gmp
	depends = gmp-ecm
	depends = gsl
	depends = hicolor-icon-theme
	depends = lapack
	depends = libao
	depends = libglvnd
	depends = libpng
	depends = libsamplerate
	depends = mpfi
	depends = mpfr
	depends = nauty
	depends = ntl
	depends = pari
	depends = readline
	depends = zlib
	optdepends = perl: for pgiac
	source = https://www-fourier.ujf-grenoble.fr/~parisse/debian/dists/stable/main/source/giac_2.0.0-12.tar.gz
	source = format-security.patch
	sha256sums = 2ca51cf4b981a6cd74a407a6cb39150b1c042777c71060d6d3dafd987d09631d
	sha256sums = 04288944e408807a15aa502e1215087870d8921229c9f9890d862d3c9de337cd

pkgname = giac
