pkgbase = mumble
	pkgdesc = An Open Source, low-latency, high quality voice chat software
	pkgver = 1.5.517
	pkgrel = 6
	url = https://www.mumble.info/
	arch = x86_64
	license = BSD
	checkdepends = xorg-server-xvfb
	makedepends = avahi
	makedepends = boost
	makedepends = cmake
	makedepends = openssl
	makedepends = protobuf
	makedepends = python
	makedepends = qt5-tools
	makedepends = alsa-lib
	makedepends = hicolor-icon-theme
	makedepends = jack
	makedepends = lib32-gcc-libs
	makedepends = libpulse
	makedepends = libsndfile
	makedepends = libspeechd
	makedepends = libx11
	makedepends = libxi
	makedepends = mesa
	makedepends = nlohmann-json
	makedepends = opus
	makedepends = poco
	makedepends = qt5-svg
	makedepends = rnnoise
	makedepends = speech-dispatcher
	makedepends = speexdsp
	makedepends = xdg-utils
	makedepends = libcap
	makedepends = systemd
	makedepends = zeroc-ice
	depends = gcc-libs
	depends = glibc
	depends = qt5-base
	source = https://github.com/mumble-voip/mumble/releases/download/v1.5.517/mumble-1.5.517.tar.gz
	source = https://github.com/mumble-voip/mumble/releases/download/v1.5.517/mumble-1.5.517.tar.gz.sig
	source = mumble-server.tmpfiles
	source = mumble-1.5.517-config_defaults.patch
	source = mumble-1.5.517-pkgconf.patch
	validpgpkeys = 1EDEBE2A93CB97FA9903D52E25F63C66245DFC60
	validpgpkeys = DA223B9603A9C7DD4691143E69F82AFF148DC0FF
	sha512sums = f64147aa392519d1a7ef538d4fa23eaba0e21474bc9155e2c9e82cff859ff93c455a9ac18aed6197513486ebfca36560bd6de51327555dc7efab884a6a601d9f
	sha512sums = SKIP
	sha512sums = 350575aaf26ac8b7dc567018defd59913da957983986017e82a92e53f2a6d21473d9c2566177abd7611d95858a723bcf7f8dad49e8ca18d18b9fa4e75fb15ca6
	sha512sums = c12f6269c5745532031f09fba5b9e3118e6beaf387ae0aaba6ff8380a1452b47f9f0d1cae04472a5763b3da695e03467de152a98bf03c01ae59bd6d553ec7100
	sha512sums = 32a4ac43ba7fb2c9bee61609a6edf17d7dc26b27e13ab425ee12aaf25cf1071d99a35c3b045ea23dec1281725790c5ef0de3c9fb5e594073281877ecca70396d
	b2sums = d61c8118423af6514ed98a899916516920fae790ce39bdbbc76c4b14a298cf6989e73e2a0f977634968e758ff1f77a03727671617e9c867728f57995ff0cfec2
	b2sums = SKIP
	b2sums = 476353608e794c431d9c79a54e11ad0442e3c96607b6492d3b2f5b589b96b120611e2e3dc1bb4f8e17c0911c238a9ca7b409277353fa08b9f690217f80d7dc4e
	b2sums = c607246691e9701f54b8d133db7d424a46ab94781178d172ae8a35df8ca505da59734ddae00789b93af316de3344d7e177a1a988e1438121e1e921ff59724f24
	b2sums = b3ea596e6603e0e0dbefdd90dea1dddd5609962e26594083c69bc28f69d306405f2ad7532d3d5360af0010ee9f06c7432089d1eca77a7ffa3df2bc7e76608106

pkgname = mumble
	pkgdesc = An Open Source, low-latency, high quality voice chat software (client)
	depends = gcc-libs
	depends = glibc
	depends = qt5-base
	depends = alsa-lib
	depends = libasound.so
	depends = avahi
	depends = libdns_sd.so
	depends = hicolor-icon-theme
	depends = jack
	depends = protobuf
	depends = libprotobuf.so
	depends = libpulse
	depends = libsndfile
	depends = libsndfile.so
	depends = libspeechd
	depends = libx11
	depends = libxi
	depends = openssl
	depends = libcrypto.so
	depends = libssl.so
	depends = opus
	depends = libopus.so
	depends = poco
	depends = qt5-svg
	depends = rnnoise
	depends = speexdsp
	depends = libspeexdsp.so
	depends = xdg-utils
	optdepends = lib32-glibc: for mumble-overlay
	optdepends = espeak-ng: Text-to-speech support
	optdepends = speech-dispatcher: Text-to-speech support

pkgname = mumble-server
	pkgdesc = An Open Source, low-latency, high quality voice chat software (server)
	install = mumble-server.install
	depends = gcc-libs
	depends = glibc
	depends = qt5-base
	depends = avahi
	depends = libdns_sd.so
	depends = libcap
	depends = libcap.so
	depends = openssl
	depends = libcrypto.so
	depends = libssl.so
	depends = protobuf
	depends = libprotobuf.so
	depends = zeroc-ice
	conflicts = murmur<1.5
	replaces = murmur<1.5
	backup = etc/mumble/mumble-server.ini
