pkgbase = go
	pkgdesc = Core compiler tools for the Go programming language
	pkgver = 1.26.5
	pkgrel = 1
	epoch = 2
	url = https://go.dev/
	arch = x86_64
	license = BSD-3-Clause
	makedepends = git
	makedepends = go
	provides = go-pie
	replaces = go-pie
	options = !strip
	options = staticlibs
	source = https://go.dev/dl/go1.26.5.src.tar.gz
	source = https://go.dev/dl/go1.26.5.src.tar.gz.asc
	source = fix-avx512ScanPackedReqsMet.patch
	validpgpkeys = EB4C1BFD4F042F6DDDCCEC917721F63BD38B4796
	sha256sums = 495be4bc87176ac567392e5b4116abd98466d33d7b49d41e764ccc6976b2dc42
	sha256sums = SKIP
	sha256sums = f1257d86f88526987d0130f4764e7b1d9cd8423676e5fc1f0fb0da146165d551

pkgname = go
