pkgbase = go
	pkgdesc = Core compiler tools for the Go programming language
	pkgver = 1.24.1
	pkgrel = 2
	epoch = 2
	url = https://golang.org/
	arch = x86_64
	license = BSD-3-Clause
	makedepends = git
	makedepends = go
	provides = go-pie
	replaces = go-pie
	options = !strip
	options = staticlibs
	source = https://go.dev/dl/go1.24.1.src.tar.gz
	source = https://go.dev/dl/go1.24.1.src.tar.gz.asc
	source = fix_vgetrandom_state_segfault.patch
	validpgpkeys = EB4C1BFD4F042F6DDDCCEC917721F63BD38B4796
	sha256sums = 8244ebf46c65607db10222b5806aeb31c1fcf8979c1b6b12f60c677e9a3c0656
	sha256sums = SKIP
	sha256sums = d86bbbc49a5ea7234f274217bcce25c518c9495831b7ae4e4454617f6a9939a3

pkgname = go
