pkgbase = go
	pkgdesc = Core compiler tools for the Go programming language
	pkgver = 1.25.7
	pkgrel = 1
	epoch = 2
	url = https://go.dev/
	arch = x86_64
	license = BSD-3-Clause
	makedepends = git
	makedepends = go
	provides = go-pie
	replaces = go-pie
	options = !strip
	options = staticlibs
	source = https://go.dev/dl/go1.25.7.src.tar.gz
	source = https://go.dev/dl/go1.25.7.src.tar.gz.asc
	validpgpkeys = EB4C1BFD4F042F6DDDCCEC917721F63BD38B4796
	sha256sums = 178f2832820274b43e177d32f06a3ebb0129e427dd20a5e4c88df2c1763cf10a
	sha256sums = SKIP

pkgname = go
