pkgbase = partclone
	pkgdesc = Utilities to save and restore used blocks on a partition
	pkgver = 0.3.31
	pkgrel = 1
	url = https://partclone.org
	arch = x86_64
	license = GPL
	depends = ntfs-3g
	depends = nilfs-utils
	source = partclone-0.3.31.tar.gz::https://github.com/Thomas-Tsai/partclone/archive/0.3.31.tar.gz
	sha256sums = a6544d8e2490945591df89a7684a063083689f9a525ba135f77802e63659c36e

pkgname = partclone
