pkgbase = jupyter-notebook
	pkgdesc = The language-agnostic HTML notebook application for Project Jupyter
	pkgver = 7.4.5
	pkgrel = 1
	url = https://github.com/jupyter/notebook
	arch = any
	license = BSD-3-Clause
	checkdepends = python-pytest-jupyter
	checkdepends = python-pytest-timeout
	checkdepends = python-requests
	makedepends = git
	makedepends = nodejs
	makedepends = python-build
	makedepends = python-hatch-jupyter-builder
	makedepends = python-installer
	depends = jupyter-notebook-shim
	depends = jupyter-server
	depends = jupyterlab
	depends = python
	depends = python-jupyter-client
	depends = python-jupyter-core
	depends = python-jupyterlab-server
	depends = python-tornado
	depends = python-traitlets
	replaces = jupyter-retrolab
	source = git+https://github.com/jupyter/notebook#tag=v7.4.5
	sha256sums = c46f6912c16e69c813d4c10df4fcd9d222daaccd97e4fa8d1cc5cef9bfd9d4a9

pkgname = jupyter-notebook
