pkgbase = jupyter-notebook
	pkgdesc = The language-agnostic HTML notebook application for Project Jupyter
	pkgver = 7.6.2
	pkgrel = 1
	url = https://github.com/jupyter/notebook
	arch = any
	license = BSD-3-Clause
	checkdepends = python-pytest-jupyter
	checkdepends = python-pytest-timeout
	checkdepends = python-requests
	makedepends = git
	makedepends = nodejs
	makedepends = python-build
	makedepends = python-hatch-jupyter-builder
	makedepends = python-installer
	makedepends = python-jupyter-builder
	depends = jupyter-notebook-shim
	depends = jupyter-server
	depends = jupyterlab
	depends = python
	depends = python-jupyter-client
	depends = python-jupyter-core
	depends = python-jupyterlab-server
	depends = python-tornado
	depends = python-traitlets
	replaces = jupyter-retrolab
	source = git+https://github.com/jupyter/notebook#tag=v7.6.2
	sha256sums = 1bf5806b1581354ca86e717f4682532ec201cb0577bf9ea4de8c2d44bf6d01cf

pkgname = jupyter-notebook
