pkgbase = jupyter-notebook
	pkgdesc = The language-agnostic HTML notebook application for Project Jupyter
	pkgver = 7.5.0
	pkgrel = 1
	url = https://github.com/jupyter/notebook
	arch = any
	license = BSD-3-Clause
	checkdepends = python-pytest-jupyter
	checkdepends = python-pytest-timeout
	checkdepends = python-requests
	makedepends = git
	makedepends = nodejs
	makedepends = python-build
	makedepends = python-hatch-jupyter-builder
	makedepends = python-installer
	depends = jupyter-notebook-shim
	depends = jupyter-server
	depends = jupyterlab
	depends = python
	depends = python-jupyter-client
	depends = python-jupyter-core
	depends = python-jupyterlab-server
	depends = python-tornado
	depends = python-traitlets
	replaces = jupyter-retrolab
	source = git+https://github.com/jupyter/notebook#tag=v7.5.0
	sha256sums = b62005b2c95d5d94e58374910dcd50683485b687cbef168fbc514a346ff1de6d

pkgname = jupyter-notebook
