[Desktop Entry]
Version=1.0
Name=tuxguitar
Comment=Edit, playback guitar tablatures
Comment[fr]=Edite, joue des tablatures de guitare
Comment[es]=Edita, reproduce tablaturas de guitarra
Icon=/usr/share/tuxguitar/share/skins/Lavender/icon-96x96.png
Terminal=false
Type=Application
Categories=Application;AudioVideo;Audio;
Exec=tuxguitar %F
MimeType=audio/x-tuxguitar;audio/x-gtp;audio/x-ptb;
#eof "$Id: tuxguitar.desktop,v 1.2 2008/09/15 07:54:28 sergej Exp $"
