pkgbase = js115
	pkgdesc = JavaScript interpreter and libraries - Version 115
	pkgver = 115.11.0
	pkgrel = 1
	url = https://spidermonkey.dev/
	arch = x86_64
	license = MPL-2.0
	checkdepends = git
	checkdepends = mercurial
	makedepends = autoconf2.13
	makedepends = clang
	makedepends = lld
	makedepends = llvm
	makedepends = python
	makedepends = rustup
	makedepends = zip
	depends = gcc-libs
	depends = glibc
	depends = readline
	depends = sh
	depends = zlib
	options = !lto
	source = https://archive.mozilla.org/pub/firefox/releases/115.11.0esr/source/firefox-115.11.0esr.source.tar.xz
	source = https://archive.mozilla.org/pub/firefox/releases/115.11.0esr/source/firefox-115.11.0esr.source.tar.xz.asc
	validpgpkeys = 14F26682D0916CDD81E37B6D61B7B526D98F0353
	sha256sums = 16be46f16a356a2b8bd3541805a24c8a2acf6f077cf8a65859689685c26025e0
	sha256sums = SKIP
	b2sums = ced11d0665215dbf0aed710015a1e27863ecb8ccbba71ff6f6c57e1789e54c3c7c1940507db86ff2d8eea4d323a9ca7fbc40eaa6eaa7b0ec922ff69ffad64886
	b2sums = SKIP

pkgname = js115
