pkgbase = js115
	pkgdesc = JavaScript interpreter and libraries - Version 115
	pkgver = 115.17.0
	pkgrel = 1
	url = https://spidermonkey.dev/
	arch = x86_64
	license = MPL-2.0
	checkdepends = git
	checkdepends = mercurial
	makedepends = clang
	makedepends = lld
	makedepends = llvm
	makedepends = python
	makedepends = rustup
	makedepends = zip
	depends = gcc-libs
	depends = glibc
	depends = readline
	depends = sh
	depends = zlib
	options = !lto
	source = https://archive.mozilla.org/pub/firefox/releases/115.17.0esr/source/firefox-115.17.0esr.source.tar.xz
	source = https://archive.mozilla.org/pub/firefox/releases/115.17.0esr/source/firefox-115.17.0esr.source.tar.xz.asc
	validpgpkeys = 14F26682D0916CDD81E37B6D61B7B526D98F0353
	sha256sums = 80f184a102a743ee75401e86dd86af0be5f1e5ebf07c81119d9ca77422d716c3
	sha256sums = SKIP
	b2sums = aa63b8bb33b3e039fef5acbd5347ff0cafc87d4b4bb6f3bf76170e2d0500cb1220728b03dc93e9f8802ca1c7de0b7c3936f891da51dce0e1277c33b2e12ebc42
	b2sums = SKIP

pkgname = js115
