pkgbase = js115
	pkgdesc = JavaScript interpreter and libraries - Version 115
	pkgver = 115.12.0
	pkgrel = 1
	url = https://spidermonkey.dev/
	arch = x86_64
	license = MPL-2.0
	checkdepends = git
	checkdepends = mercurial
	makedepends = autoconf2.13
	makedepends = clang
	makedepends = lld
	makedepends = llvm
	makedepends = python
	makedepends = rustup
	makedepends = zip
	depends = gcc-libs
	depends = glibc
	depends = readline
	depends = sh
	depends = zlib
	options = !lto
	source = https://archive.mozilla.org/pub/firefox/releases/115.12.0esr/source/firefox-115.12.0esr.source.tar.xz
	source = https://archive.mozilla.org/pub/firefox/releases/115.12.0esr/source/firefox-115.12.0esr.source.tar.xz.asc
	validpgpkeys = 14F26682D0916CDD81E37B6D61B7B526D98F0353
	sha256sums = b59e1625a0bb2f0565a737394f2bf8a7ce3171314b0d871bde533a101847a8ef
	sha256sums = SKIP
	b2sums = 6d2cc80daca9977f73ea0c0fe7e7cac999f2d7a99c324332d69d9438a6d954fe72ffb35e4df4c2a86abcdc94231c4847bb3e64dd612240f8a6d86e63abdb1be2
	b2sums = SKIP

pkgname = js115
