pkgbase = qt5-base
	pkgdesc = A cross-platform application and UI framework
	pkgver = 5.15.14+kde+r143
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt5
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = libfbclient
	makedepends = mariadb-libs
	makedepends = unixodbc
	makedepends = postgresql-libs
	makedepends = alsa-lib
	makedepends = gst-plugins-base-libs
	makedepends = gtk3
	makedepends = libpulse
	makedepends = cups
	makedepends = freetds
	makedepends = vulkan-headers
	makedepends = git
	depends = libjpeg-turbo
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = libgl
	depends = fontconfig
	depends = xdg-utils
	depends = shared-mime-info
	depends = xcb-util-wm
	depends = libxrender
	depends = libxi
	depends = sqlite
	depends = xcb-util-image
	depends = mesa
	depends = tslib
	depends = libinput
	depends = libxkbcommon-x11
	depends = libproxy
	depends = libcups
	depends = double-conversion
	depends = md4c
	optdepends = qt5-svg: to use SVG icon themes
	optdepends = qt5-wayland: to run Qt applications in a Wayland session
	optdepends = postgresql-libs: PostgreSQL driver
	optdepends = mariadb-libs: MariaDB driver
	optdepends = unixodbc: ODBC driver
	optdepends = libfbclient: Firebird/iBase driver
	optdepends = freetds: MS SQL driver
	optdepends = gtk3: GTK platform plugin
	optdepends = perl: for fixqt4headers and syncqt
	conflicts = qtchooser
	source = kde-qtbase::git+https://invent.kde.org/qt/qt/qtbase#commit=9f9a56d750caff8b4459e7e9bf82f1f4d725f72f
	source = work-around-pyside2-brokenness.patch
	source = qmake-cflags.patch
	source = qmake-config.patch
	sha256sums = bb2f9696a97908f96c0b06c185ea6a76e718f7c483bc9f5293fac3cd820e8eb7
	sha256sums = 6a4ec2bfcf4e7cff73346762b252cc28be5ca0ed79fde5e69350efe229b43adc
	sha256sums = 5411edbe215c24b30448fac69bd0ba7c882f545e8cf05027b2b6e2227abc5e78
	sha256sums = 4abc22150fa3e06b2fdcec32146abc9be4e316692aa4d5bd5aa53b4b726783fa

pkgname = qt5-base
	pkgdesc = A cross-platform application and UI framework
	depends = libjpeg-turbo
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = libgl
	depends = fontconfig
	depends = xdg-utils
	depends = shared-mime-info
	depends = xcb-util-wm
	depends = libxrender
	depends = libxi
	depends = sqlite
	depends = xcb-util-image
	depends = mesa
	depends = tslib
	depends = libinput
	depends = libxkbcommon-x11
	depends = libproxy
	depends = libcups
	depends = double-conversion
	depends = md4c
	depends = qt5-translations

pkgname = qt5-xcb-private-headers
	pkgdesc = Private headers for Qt5 Xcb
	groups = 
	depends = qt5-base=5.15.14+kde+r143
	optdepends = 
	conflicts = 
