pkgbase = yaml-cpp
	pkgdesc = YAML parser and emitter in C++, written around the YAML 1.2 spec
	pkgver = 0.8.0
	pkgrel = 3
	url = https://github.com/jbeder/yaml-cpp
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	depends = glibc
	depends = libgcc
	depends = libstdc++
	provides = libyaml-cpp.so
	source = git+https://github.com/jbeder/yaml-cpp.git#tag=0.8.0
	b2sums = 0204d6a76cb41f387e31b5123930eda5e51fef971c99b7e2b65ee26981b7888162f2b59ef167d03a2555ceb7a66c8eaf8c27d6b62b0264941462701b284d1975

pkgname = yaml-cpp
