pkgbase = mesa
	pkgdesc = Open-source OpenGL drivers
	pkgver = 24.0.3
	pkgrel = 2
	epoch = 1
	url = https://www.mesa3d.org/
	arch = x86_64
	license = MIT AND BSD-3-Clause AND SGI-B-2.0
	makedepends = clang
	makedepends = expat
	makedepends = libdrm
	makedepends = libelf
	makedepends = libglvnd
	makedepends = libunwind
	makedepends = libva
	makedepends = libvdpau
	makedepends = libx11
	makedepends = libxdamage
	makedepends = libxml2
	makedepends = libxrandr
	makedepends = libxshmfence
	makedepends = libxxf86vm
	makedepends = llvm
	makedepends = lm_sensors
	makedepends = rust
	makedepends = spirv-llvm-translator
	makedepends = spirv-tools
	makedepends = systemd
	makedepends = vulkan-icd-loader
	makedepends = wayland
	makedepends = xcb-util-keysyms
	makedepends = zstd
	makedepends = clang
	makedepends = cmake
	makedepends = elfutils
	makedepends = glslang
	makedepends = libclc
	makedepends = meson
	makedepends = python-mako
	makedepends = python-ply
	makedepends = rust-bindgen
	makedepends = wayland-protocols
	makedepends = xorgproto
	makedepends = valgrind
	makedepends = directx-headers
	makedepends = libomxil-bellagio
	source = https://mesa.freedesktop.org/archive/mesa-24.0.3.tar.xz
	source = https://mesa.freedesktop.org/archive/mesa-24.0.3.tar.xz.sig
	source = radeon_bo_can_reclaim_slab.diff
	source = proc-macro2-1.0.70.tar.gz::https://crates.io/api/v1/crates/proc-macro2/1.0.70/download
	source = unicode-ident-1.0.12.tar.gz::https://crates.io/api/v1/crates/unicode-ident/1.0.12/download
	source = quote-1.0.33.tar.gz::https://crates.io/api/v1/crates/quote/1.0.33/download
	source = syn-2.0.39.tar.gz::https://crates.io/api/v1/crates/syn/2.0.39/download
	validpgpkeys = 8703B6700E7EE06D7A39B8D6EDAE37B02CEB490D
	validpgpkeys = 946D09B5E4C9845E63075FF1D961C596A7203456
	validpgpkeys = E3E8F480C52ADD73B278EE78E1ECBE07D7D70895
	validpgpkeys = A5CC9FEC93F2F837CB044912336909B6B25FADFA
	validpgpkeys = 71C4B75620BC75708B4BDB254C95FAAB3EB073EC
	validpgpkeys = 57551DE15B968F6341C248F68D8E31AFC32428A6
	sha256sums = 77aec9a2a37b7d3596ea1640b3cc53d0b5d9b3b52abed89de07e3717e91bfdbe
	sha256sums = SKIP
	sha256sums = 3fd1ad8cd29319502a6f80ecb96bb9a059e5de83a8b6e39f23de8d93921fd922
	sha256sums = 39278fbbf5fb4f646ce651690877f89d1c5811a3d4acb27700c1cb3cdb78fd3b
	sha256sums = 3354b9ac3fae1ff6755cb6db53683adb661634f67557942dea4facebec0fee4b
	sha256sums = 5267fca4496028628a95160fc423a33e8b2e6af8a5302579e322e4b520293cae
	sha256sums = 23e78b90f2fcf45d3e842032ce32e3f2d1545ba6636271dcbf24fa306d87be7a
	b2sums = 7af5dc7f11bb11a3d04b3d71b5122a5bf9fe9242440444f266c6d1fac5891b4380a5f792fb66216f1937a7d886402f786d44365c93362d31fb6840d0954c95b4
	b2sums = SKIP
	b2sums = e7c3451a342cc648149375ce58697ae24273d47060e74ca2948d45ea8fe29b104f1daae4c91968fb6f37d41963d176987abf9ee21acfba0172a9b5d30300a72e
	b2sums = fff0dec06b21e391783cc136790238acb783780eaedcf14875a350e7ceb46fdc100c8b9e3f09fb7f4c2196c25d4c6b61e574c0dad762d94533b628faab68cf5c
	b2sums = 4cede03c08758ccd6bf53a0d0057d7542dfdd0c93d342e89f3b90460be85518a9fd24958d8b1da2b5a09b5ddbee8a4263982194158e171c2bba3e394d88d6dac
	b2sums = 77c4b166f1200e1ee2ab94a5014acd334c1fe4b7d72851d73768d491c56c6779a0882a304c1f30c88732a6168351f0f786b10516ae537cff993892a749175848
	b2sums = 2cff6626624d03f70f1662af45a8644c28a9f92e2dfe38999bef3ba4a4c1ce825ae598277e9cb7abd5585eebfb17b239effc8d0bbf1c6ac196499f0d288e5e01

pkgname = vulkan-mesa-layers
	pkgdesc = Mesa's Vulkan layers
	depends = libdrm
	depends = libxcb
	depends = wayland
	depends = python
	conflicts = vulkan-mesa-layer
	replaces = vulkan-mesa-layer

pkgname = opencl-clover-mesa
	pkgdesc = Open-source OpenCL drivers - Clover variant
	depends = clang
	depends = expat
	depends = libdrm
	depends = libelf
	depends = spirv-llvm-translator
	depends = zstd
	depends = libclc
	optdepends = opencl-headers: headers necessary for OpenCL development
	provides = opencl-driver
	conflicts = opencl-mesa
	replaces = opencl-mesa<=23.1.4-1

pkgname = opencl-rusticl-mesa
	pkgdesc = Open-source OpenCL drivers - RustICL variant
	depends = clang
	depends = expat
	depends = libdrm
	depends = libelf
	depends = lm_sensors
	depends = spirv-llvm-translator
	depends = zstd
	depends = libclc
	optdepends = opencl-headers: headers necessary for OpenCL development
	provides = opencl-driver
	conflicts = opencl-mesa
	replaces = opencl-mesa<=23.1.4-1

pkgname = vulkan-intel
	pkgdesc = Open-source Vulkan driver for Intel GPUs
	depends = libdrm
	depends = libx11
	depends = libxshmfence
	depends = systemd
	depends = wayland
	depends = xcb-util-keysyms
	depends = zstd
	optdepends = vulkan-mesa-layers: additional vulkan layers
	provides = vulkan-driver

pkgname = vulkan-nouveau
	pkgdesc = Open-source Vulkan driver for Nvidia GPUs
	depends = libdrm
	depends = libx11
	depends = libxshmfence
	depends = systemd
	depends = wayland
	depends = xcb-util-keysyms
	depends = zstd
	optdepends = vulkan-mesa-layers: additional vulkan layers
	provides = vulkan-driver

pkgname = vulkan-radeon
	pkgdesc = Open-source Vulkan driver for AMD GPUs
	depends = libdrm
	depends = libelf
	depends = libx11
	depends = libxshmfence
	depends = llvm-libs
	depends = systemd
	depends = wayland
	depends = xcb-util-keysyms
	depends = zstd
	optdepends = vulkan-mesa-layers: additional vulkan layers
	provides = vulkan-driver

pkgname = vulkan-swrast
	pkgdesc = Open-source Vulkan driver for CPUs (Software Rasterizer)
	depends = libdrm
	depends = libunwind
	depends = libx11
	depends = libxshmfence
	depends = llvm-libs
	depends = systemd
	depends = wayland
	depends = xcb-util-keysyms
	depends = zstd
	optdepends = vulkan-mesa-layers: additional vulkan layers
	provides = vulkan-driver
	conflicts = vulkan-mesa
	replaces = vulkan-mesa

pkgname = vulkan-virtio
	pkgdesc = Open-source Vulkan driver for Virtio-GPU (Venus)
	depends = libdrm
	depends = libx11
	depends = libxshmfence
	depends = systemd
	depends = wayland
	depends = xcb-util-keysyms
	depends = zstd
	optdepends = vulkan-mesa-layers: additional vulkan layers
	provides = vulkan-driver

pkgname = libva-mesa-driver
	pkgdesc = Open-source VA-API drivers
	depends = expat
	depends = libdrm
	depends = libelf
	depends = libx11
	depends = libxshmfence
	depends = llvm-libs
	depends = zstd
	provides = libva-driver

pkgname = mesa-vdpau
	pkgdesc = Open-source VDPAU drivers
	depends = expat
	depends = libdrm
	depends = libelf
	depends = libx11
	depends = libxshmfence
	depends = llvm-libs
	depends = zstd
	provides = vdpau-driver

pkgname = mesa
	depends = libdrm
	depends = libelf
	depends = libglvnd
	depends = libunwind
	depends = libxdamage
	depends = libxshmfence
	depends = libxxf86vm
	depends = llvm-libs
	depends = lm_sensors
	depends = vulkan-icd-loader
	depends = wayland
	depends = zstd
	depends = libomxil-bellagio
	optdepends = opengl-man-pages: for the OpenGL API man pages
	provides = mesa-libgl
	provides = opengl-driver
	conflicts = mesa-libgl
	replaces = mesa-libgl
