[Unit]
Description = Starts an instance of kodi
After = remote-fs.target

[Service]
User = kodi
Group = kodi
Type = simple
ExecStart = /usr/bin/runkodi
Restart = on-failure

[Install]
WantedBy = multi-user.target
