[Unit]
Description = Starts an instance of XBMC
After = remote-fs.target

[Service]
User = kodi
Group = kodi
Type = simple
ExecStart = /usr/bin/kodi-standalone -l /run/lirc/lircd
Restart = on-failure

[Install]
WantedBy = multi-user.target
