pkgbase = java8-openjdk
	pkgver = 8.482.u08
	pkgrel = 1
	url = https://openjdk.java.net/
	arch = x86_64
	license = LicenseRef-Java
	makedepends = alsa-lib
	makedepends = bash
	makedepends = cpio
	makedepends = fontconfig
	makedepends = giflib
	makedepends = git
	makedepends = java-environment=8
	makedepends = libcups
	makedepends = libxrender
	makedepends = libxt
	makedepends = libxtst
	makedepends = unzip
	makedepends = zip
	optdepends = gvfs: open links e.g. hyperlinks
	options = !lto
	source = https://github.com/openjdk/jdk8u/archive/refs/tags/jdk8u482-b08.tar.gz
	b2sums = 452b3f52eeb6fd8c3359f3e1a0d41bf7c04edaee39a070c623c44ee55c933e84f906579dc247899b13f4230b4145aa02e037e621e68be201c56abfb6a7e89105

pkgname = jre8-openjdk-headless
	pkgdesc = OpenJDK Java 8 headless runtime environment
	install = install_jre8-openjdk-headless.sh
	depends = java-runtime-common
	depends = ca-certificates-utils
	depends = nss
	optdepends = java-rhino: for some JavaScript support
	provides = java-runtime-headless=8
	provides = java-runtime-headless-openjdk=8
	replaces = jre8-openjdk-headless-wm
	backup = 

pkgname = jre8-openjdk
	pkgdesc = OpenJDK Java 8 full runtime environment
	install = install_jre8-openjdk.sh
	depends = jre8-openjdk-headless=8.482.u08-1
	depends = giflib
	depends = hicolor-icon-theme
	depends = xdg-utils
	optdepends = icedtea-web: web browser plugin + Java Web Start
	optdepends = alsa-lib: for basic sound support
	optdepends = gtk3: for the Gtk+ look and feel - desktop usage
	optdepends = java8-openjfx: for JavaFX GUI components support
	provides = java-runtime=8
	provides = java-runtime-openjdk=8
	replaces = jre8-openjdk-wm

pkgname = jdk8-openjdk
	pkgdesc = OpenJDK Java 8 development kit
	install = install_jdk8-openjdk.sh
	depends = jre8-openjdk=8.482.u08-1
	depends = java-environment-common
	provides = java-environment=8
	provides = java-environment-openjdk=8
	replaces = jdk8-openjdk-wm

pkgname = openjdk8-src
	pkgdesc = OpenJDK Java 8 sources

pkgname = openjdk8-doc
	pkgdesc = OpenJDK Java 8 documentation
