pkgbase = girara
	pkgdesc = User interface library focused on simplicity and minimalism
	pkgver = 0.4.4
	pkgrel = 1
	url = https://pwmt.org/projects/girara
	arch = x86_64
	license = Zlib
	checkdepends = xorg-server-xvfb
	makedepends = meson
	makedepends = ninja
	makedepends = doxygen
	makedepends = check
	depends = gtk3
	depends = glib2
	depends = json-glib
	depends = pango
	depends = glibc
	provides = girara-gtk3
	provides = girara-common
	conflicts = girara-gtk3
	conflicts = girara-common
	replaces = girara-gtk3
	replaces = girara-common
	source = girara-0.4.4.tar.gz::https://github.com/pwmt/girara/archive/refs/tags/0.4.4.tar.gz
	sha512sums = 4c106c2156ff397caad2c173cbfb5f2dc8f4574a59c70e7d04e941fd5273948c7e2cc4662b91a489dc689e6537b72bdb1771849cf7775d6afa167f2616a3d4c7

pkgname = girara
