pkgbase = earlyoom
	pkgdesc = Early OOM Daemon for Linux
	pkgver = 1.8
	pkgrel = 1
	url = https://github.com/rfjakob/earlyoom
	arch = x86_64
	license = MIT
	makedepends = pandoc
	depends = glibc
	optdepends = systembus-notify: desktop notifications
	backup = etc/default/earlyoom
	source = https://github.com/rfjakob/earlyoom/archive/v1.8/earlyoom-1.8.tar.gz
	sha256sums = bbb050a2294e60dafc0b129fcec705ef95d9d27f4c9dae1d3b4f25e4f698ae41

pkgname = earlyoom
