pkgbase = earlyoom
	pkgdesc = Early OOM Daemon for Linux
	pkgver = 1.8.2
	pkgrel = 1
	url = https://github.com/rfjakob/earlyoom
	arch = x86_64
	license = MIT
	makedepends = pandoc
	depends = glibc
	optdepends = systembus-notify: desktop notifications
	backup = etc/default/earlyoom
	source = https://github.com/rfjakob/earlyoom/archive/v1.8.2/earlyoom-1.8.2.tar.gz
	sha256sums = 13869413dc0d973e454854077be7a2049d350f77a97f6911b654e88dc4b20346

pkgname = earlyoom
