pkgbase = elfutils
	pkgdesc = Handle ELF object files and DWARF debugging information
	pkgver = 0.192
	pkgrel = 1
	url = https://sourceware.org/elfutils/
	arch = x86_64
	makedepends = bzip2
	makedepends = curl
	makedepends = gcc-libs
	makedepends = json-c
	makedepends = libarchive
	makedepends = libmicrohttpd
	makedepends = sqlite
	makedepends = xz
	makedepends = zlib
	makedepends = zstd
	options = staticlibs
	source = https://sourceware.org/elfutils/ftp/0.192/elfutils-0.192.tar.bz2
	source = https://sourceware.org/elfutils/ftp/0.192/elfutils-0.192.tar.bz2.sig
	validpgpkeys = EC3CFE88F6CA0788774F5C1D1AA44BE649DE760A
	validpgpkeys = 6C2B631563B8D330578D3CB474FD3FA2779E7073
	sha512sums = 543188f5f2cfe5bc7955a878416c5f252edff9926754e5de0c6c57b132f21d9285c9b29e41281e93baad11d4ae7efbbf93580c114579c182103565fe99bd3909
	sha512sums = SKIP
	b2sums = cf9036a1fca416e0d47c76471093609230545aee63e31e30991dc3c88417d7c621c930bb74809374da3bf142501cee91a2b861a5a89efcb5e1ac184df5defce1
	b2sums = SKIP

pkgname = elfutils
	pkgdesc = Handle ELF object files and DWARF debugging information (utilities)
	license = GPL-3.0-or-later
	depends = gcc-libs
	depends = glibc
	depends = libarchive
	depends = libarchive.so
	depends = libelf=0.192
	depends = sh

pkgname = libelf
	pkgdesc = Handle ELF object files and DWARF debugging information (libraries)
	license = GPL-2.0-or-later OR LGPL-3.0-or-later
	depends = bzip2
	depends = libbz2.so
	depends = curl
	depends = libcurl.so
	depends = glibc
	depends = json-c
	depends = xz
	depends = liblzma.so
	depends = zlib
	depends = zstd
	depends = libzstd.so

pkgname = debuginfod
	pkgdesc = Handle ELF object files and DWARF debugging information (debuginfod)
	license = GPL-3.0-or-later
	depends = gcc-libs
	depends = glibc
	depends = json-c
	depends = libarchive
	depends = libarchive.so
	depends = libelf=0.192
	depends = libmicrohttpd
	depends = libmicrohttpd.so
	depends = sqlite
	depends = libsqlite3.so
	depends = xz
	depends = liblzma.so
	optdepends = elfutils=0.192: for translations
