pkgbase = elfutils
	pkgdesc = Handle ELF object files and DWARF debugging information
	pkgver = 0.191
	pkgrel = 2
	url = https://sourceware.org/elfutils/
	arch = x86_64
	makedepends = bzip2
	makedepends = curl
	makedepends = gcc-libs
	makedepends = libarchive
	makedepends = libmicrohttpd
	makedepends = sqlite
	makedepends = xz
	makedepends = zlib
	makedepends = zstd
	options = staticlibs
	source = https://sourceware.org/elfutils/ftp/0.191/elfutils-0.191.tar.bz2
	source = https://sourceware.org/elfutils/ftp/0.191/elfutils-0.191.tar.bz2.sig
	validpgpkeys = EC3CFE88F6CA0788774F5C1D1AA44BE649DE760A
	validpgpkeys = 6C2B631563B8D330578D3CB474FD3FA2779E7073
	sha512sums = e22d85f25317a79b36d370347e50284c9120c86f9830f08791b7b6a7b4ad89b9bf4c7c71129133b8d193a0edffb2a2c17987b7e48428b9670aff5ce918777e04
	sha512sums = SKIP
	b2sums = 2a7ad251369eca7ba609ab8644181fd479ad8596ee58dc068398ca22be25a978e96b81a10a92a5555d7574fd1b9227c8d54fb41dceb4025aedfc6ae32870bbca
	b2sums = SKIP

pkgname = elfutils
	pkgdesc = Handle ELF object files and DWARF debugging information (utilities)
	license = GPL-3.0-or-later
	depends = gcc-libs
	depends = glibc
	depends = libarchive
	depends = libarchive.so
	depends = libelf=0.191
	depends = sh

pkgname = libelf
	pkgdesc = Handle ELF object files and DWARF debugging information (libraries)
	license = GPL-2.0-or-later OR LGPL-3.0-or-later
	depends = bzip2
	depends = libbz2.so
	depends = curl
	depends = libcurl.so
	depends = gcc-libs
	depends = glibc
	depends = xz
	depends = liblzma.so
	depends = zlib
	depends = zstd
	depends = libzstd.so

pkgname = debuginfod
	pkgdesc = Handle ELF object files and DWARF debugging information (debuginfod)
	license = GPL-3.0-or-later
	depends = gcc-libs
	depends = glibc
	depends = libarchive
	depends = libarchive.so
	depends = libelf=0.191
	depends = libmicrohttpd
	depends = libmicrohttpd.so
	depends = sqlite
	depends = libsqlite3.so
	optdepends = elfutils=0.191: for translations
