pkgbase = elfutils
	pkgdesc = Handle ELF object files and DWARF debugging information
	pkgver = 0.195
	pkgrel = 1
	url = https://sourceware.org/elfutils/
	arch = x86_64
	makedepends = bzip2
	makedepends = curl
	makedepends = git
	makedepends = json-c
	makedepends = libarchive
	makedepends = libgcc
	makedepends = libmicrohttpd
	makedepends = libstdc++
	makedepends = sqlite
	makedepends = xz
	makedepends = zlib
	makedepends = zstd
	options = staticlibs
	source = git+https://sourceware.org/git/elfutils.git?signed#tag=elfutils-0.195
	source = remove-comment.patch
	validpgpkeys = EC3CFE88F6CA0788774F5C1D1AA44BE649DE760A
	validpgpkeys = 6C2B631563B8D330578D3CB474FD3FA2779E7073
	sha512sums = 7bbc1db55939e999683ccff41f287433ed926e255b4a35048812bc85505a1b3339828691691c769c4d79347f513792356c2d6b1727eabe0fd720722f7076643e
	sha512sums = e33fe8d3fc9347fc9839c3958e51f8dbb7fbe4670b44ede503f5e8237998c80c4d53dfb7a6f36bc33d552ee35aaa955f7323a60476f315afd4fbee052a6551a1
	b2sums = 6be17af5c5d015e028f1658f63a5a635c00952c98fa76be4f5a56c27366681a56f8e288261db876c51bc884a8a3fc4d03ecdf965e0e0fc98a2ebb3d4351d2d1c
	b2sums = c48aba30e2890744700982a49fef69bae94e1db0036fb25c0168c18ebbe8baf2f7ab49e46c384506ef7d35d4bebb028241112103f2be474c717f292d9a4c003b

pkgname = elfutils
	pkgdesc = Handle ELF object files and DWARF debugging information (utilities)
	license = GPL-3.0-or-later
	depends = glibc
	depends = libarchive
	depends = libarchive.so
	depends = libelf=0.195
	depends = libgcc
	depends = libstdc++
	depends = sh

pkgname = libelf
	pkgdesc = Handle ELF object files and DWARF debugging information (libraries)
	license = GPL-2.0-or-later OR LGPL-3.0-or-later
	depends = bzip2
	depends = libbz2.so
	depends = curl
	depends = libcurl.so
	depends = glibc
	depends = json-c
	depends = xz
	depends = liblzma.so
	depends = zlib
	depends = zstd
	depends = libzstd.so

pkgname = debuginfod
	pkgdesc = Handle ELF object files and DWARF debugging information (debuginfod)
	license = GPL-3.0-or-later
	depends = glibc
	depends = json-c
	depends = libarchive
	depends = libarchive.so
	depends = libelf=0.195
	depends = libgcc
	depends = libmicrohttpd
	depends = libmicrohttpd.so
	depends = libstdc++
	depends = sqlite
	depends = libsqlite3.so
	depends = xz
	depends = liblzma.so
	optdepends = elfutils=0.195: for translations
