pkgbase = fftw
	pkgdesc = A library for computing the discrete Fourier transform (DFT)
	pkgver = 3.3.10
	pkgrel = 7
	url = http://www.fftw.org/
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = bash
	makedepends = cmake
	makedepends = gcc-fortran
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = openmpi
	source = http://www.fftw.org/fftw-3.3.10.tar.gz
	sha512sums = 2d34b5ccac7b08740dbdacc6ebe451d8a34cf9d9bfec85a5e776e87adf94abfd803c222412d8e10fbaa4ed46f504aa87180396af1b108666cde4314a55610b40
	b2sums = 3663872bd95a01d2c79af185f53918e1d1a9c91c620082402772c07f25b9b77d4920a78dc686fac6b51aa961b8d62b7e2cef3f3031e096bed40ced80b59b29d5

pkgname = fftw
	depends = bash
	depends = gcc-libs
	depends = glibc
	optdepends = fftw-openmpi: for OpenMPI integration
	provides = libfftw3q_threads.so
	provides = libfftw3q_omp.so
	provides = libfftw3q.so
	provides = libfftw3l_threads.so
	provides = libfftw3l_omp.so
	provides = libfftw3l.so
	provides = libfftw3f_threads.so
	provides = libfftw3f_omp.so
	provides = libfftw3f.so
	provides = libfftw3_threads.so
	provides = libfftw3_omp.so
	provides = libfftw3.so

pkgname = fftw-openmpi
	pkgdesc = A library for computing the discrete Fourier transform (DFT) - OpenMPI libraries
	depends = fftw
	depends = glibc
	depends = openmpi
	provides = libfftw3l_mpi.so
	provides = libfftw3f_mpi.so
	provides = libfftw3_mpi.so
