pkgbase = texlive-bin
	pkgver = 2025.2
	pkgrel = 2
	url = https://tug.org/texlive/
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = bash
	makedepends = cairo
	makedepends = clisp
	makedepends = ffcall
	makedepends = fontconfig
	makedepends = freetype2
	makedepends = gcc-libs
	makedepends = gd
	makedepends = git
	makedepends = glibc
	makedepends = gmp
	makedepends = graphite
	makedepends = harfbuzz
	makedepends = icu
	makedepends = libjpeg-turbo
	makedepends = libpaper
	makedepends = libpng
	makedepends = libsigsegv
	makedepends = libunistring
	makedepends = libx11
	makedepends = libxaw
	makedepends = libxcrypt
	makedepends = libxmu
	makedepends = libxpm
	makedepends = libxt
	makedepends = mpfr
	makedepends = ncurses
	makedepends = perl
	makedepends = pixman
	makedepends = potrace
	makedepends = readline
	makedepends = subversion
	makedepends = zlib
	makedepends = zziplib
	source = git+https://github.com/Tex-Live/texlive-source.git#commit=8115c4d97aa0e68da1f957a56bca780449d1be59
	source = ptex-debug-print.patch
	source = lua-root.patch
	sha256sums = 842fc0a45cb4d363253eefcaae1f88be7b8446def80d78cce251dad32d3802ec
	sha256sums = aa838f09003c62c2efb5770a8de66f99b409df049fbd65098d80fd1957d06c50
	sha256sums = c2d6a8b14dd8197874c1d894e70df80ad076f28ee4d1cff81e3b7811d9264fb9

pkgname = texlive-bin
	pkgdesc = TeX Live binaries
	depends = bash
	depends = cairo
	depends = ffcall
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = gd
	depends = glibc
	depends = gmp
	depends = graphite
	depends = harfbuzz
	depends = icu
	depends = libpaper
	depends = libpng
	depends = libsigsegv
	depends = libsynctex
	depends = libunistring
	depends = libx11
	depends = libxaw
	depends = libxcrypt
	depends = libxmu
	depends = libxpm
	depends = libxt
	depends = mpfr
	depends = ncurses
	depends = perl
	depends = pixman
	depends = potrace
	depends = readline
	depends = zlib
	depends = zziplib
	optdepends = psutils: to manipulate the output of dvips
	provides = lcdf-typetools
	provides = libptexenc.so
	provides = libtexlua53.so
	provides = libtexluajit.so
	provides = kpathsea
	provides = xindy

pkgname = libsynctex
	pkgdesc = Library for synchronization between TeX files and resulting file
	depends = glibc
	depends = zlib
	provides = libsynctex.so
