pkgbase = texlive-bin
	pkgver = 2025.1
	pkgrel = 1
	url = https://tug.org/texlive/
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = bash
	makedepends = cairo
	makedepends = clisp
	makedepends = ffcall
	makedepends = fontconfig
	makedepends = freetype2
	makedepends = gcc-libs
	makedepends = gd
	makedepends = git
	makedepends = glibc
	makedepends = gmp
	makedepends = graphite
	makedepends = harfbuzz
	makedepends = icu
	makedepends = libjpeg-turbo
	makedepends = libpaper
	makedepends = libpng
	makedepends = libsigsegv
	makedepends = libunistring
	makedepends = libx11
	makedepends = libxaw
	makedepends = libxcrypt
	makedepends = libxmu
	makedepends = libxpm
	makedepends = libxt
	makedepends = mpfr
	makedepends = ncurses
	makedepends = perl
	makedepends = pixman
	makedepends = potrace
	makedepends = readline
	makedepends = subversion
	makedepends = t1lib
	makedepends = zlib
	makedepends = zziplib
	source = git+https://github.com/Tex-Live/texlive-source.git#commit=185be24413872a4530c338343f8168d70bb45077
	source = ptex-debug-print.patch
	sha256sums = a782bce3fe71fc30a70d8ffa581d49b99ce197447ed02fa169d54023e075b9c6
	sha256sums = aa838f09003c62c2efb5770a8de66f99b409df049fbd65098d80fd1957d06c50

pkgname = texlive-bin
	pkgdesc = TeX Live binaries
	depends = bash
	depends = cairo
	depends = ffcall
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = gd
	depends = glibc
	depends = gmp
	depends = graphite
	depends = harfbuzz
	depends = icu
	depends = libpaper
	depends = libpng
	depends = libsigsegv
	depends = libsynctex
	depends = libunistring
	depends = libx11
	depends = libxaw
	depends = libxcrypt
	depends = libxmu
	depends = libxpm
	depends = libxt
	depends = mpfr
	depends = ncurses
	depends = perl
	depends = pixman
	depends = potrace
	depends = readline
	depends = zlib
	depends = zziplib
	optdepends = psutils: to manipulate the output of dvips
	provides = lcdf-typetools
	provides = libptexenc.so
	provides = libtexlua53.so
	provides = libtexluajit.so
	provides = kpathsea
	provides = xindy

pkgname = libsynctex
	pkgdesc = Library for synchronization between TeX files and resulting file
	depends = glibc
	depends = zlib
	provides = libsynctex.so
