pkgbase = texlive-bin
	pkgver = 2023.66984
	pkgrel = 18
	url = https://tug.org/texlive/
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = cairo
	makedepends = pixman
	makedepends = graphite
	makedepends = t1lib
	makedepends = gd
	makedepends = libsigsegv
	makedepends = zziplib
	makedepends = libpng
	makedepends = libjpeg
	makedepends = freetype2
	makedepends = icu
	makedepends = harfbuzz-icu
	makedepends = mpfr
	makedepends = potrace
	makedepends = libpaper
	makedepends = perl
	makedepends = clisp
	makedepends = ffcall
	makedepends = libxcrypt
	makedepends = subversion
	makedepends = glibc
	makedepends = zlib
	makedepends = bash
	makedepends = libxaw
	makedepends = fontconfig
	makedepends = icu
	makedepends = readline
	makedepends = libxmu
	makedepends = libxpm
	makedepends = libunistring
	makedepends = libxt
	makedepends = libx11
	makedepends = ncurses
	makedepends = gcc-libs
	makedepends = harfbuzz
	source = git+https://github.com/Tex-Live/texlive-source.git#commit=871c7a2856d70e1a9703d1f72f0587b9995dba5f
	source = ptex-debug-print.patch
	source = context-luatex-1.17.patch
	sha256sums = SKIP
	sha256sums = aa838f09003c62c2efb5770a8de66f99b409df049fbd65098d80fd1957d06c50
	sha256sums = a56838d19c3bd820781693b5a2e058e1a22378b37ea199bac426d97fcc420920

pkgname = texlive-bin
	pkgdesc = TeX Live binaries
	depends = cairo
	depends = pixman
	depends = graphite
	depends = t1lib
	depends = gd
	depends = poppler
	depends = ffcall
	depends = libsigsegv
	depends = zziplib
	depends = libpng
	depends = libjpeg
	depends = freetype2
	depends = libxcrypt
	depends = harfbuzz-icu
	depends = mpfr
	depends = potrace
	depends = libpaper
	depends = libsynctex
	depends = glibc
	depends = zlib
	depends = bash
	depends = libxaw
	depends = fontconfig
	depends = icu
	depends = readline
	depends = libxmu
	depends = libxpm
	depends = libunistring
	depends = libxt
	depends = libx11
	depends = ncurses
	depends = gcc-libs
	depends = harfbuzz
	optdepends = psutils: to manipulate the output of dvips
	provides = lcdf-typetools
	provides = kpathsea
	provides = xindy

pkgname = libsynctex
	pkgdesc = Library for synchronization between TeX files and resulting file
	depends = glibc
	depends = zlib
