pkgbase = vbam
	pkgdesc = Nintendo GameBoy Advance emulator
	pkgver = 2.1.11
	pkgrel = 2
	url = https://visualboyadvance-m.org
	arch = x86_64
	license = GPL2
	makedepends = cmake
	makedepends = ffmpeg
	makedepends = git
	makedepends = libglvnd
	makedepends = ninja
	makedepends = wxwidgets-gtk3
	makedepends = zip
	depends = glu
	depends = libsfml-network.so
	depends = libsfml-system.so
	depends = libgl
	depends = libpng
	depends = sdl2
	depends = sfml
	depends = zlib
	source = git+https://github.com/visualboyadvance-m/visualboyadvance-m.git?signed#tag=v2.1.11
	validpgpkeys = A0C0E526E36FD2138C149D4D08AB596679D86240
	validpgpkeys = 0662A706ABE516087A23D1B9F2E06F4EE438BE81
	b2sums = caa270b95f5fa1ea543d57d9ed4309b7bdb345b421d91c4fd1511b8918997339a3143333bad08ce754207ea38f4686d7f7b594b951ea1636a5e7a99a7db4790a

pkgname = vbam-sdl
	conflicts = vbam-wx
	backup = etc/vbam.cfg

pkgname = vbam-wx
	depends = glu
	depends = libsfml-network.so
	depends = libsfml-system.so
	depends = libgl
	depends = libpng
	depends = sdl2
	depends = sfml
	depends = zlib
	depends = glib2
	depends = gtk3
	depends = libavcodec.so
	depends = libavformat.so
	depends = libavutil.so
	depends = libswscale.so
	depends = openal
	depends = wxwidgets-gtk3
	depends = zip
	conflicts = vbam-sdl
