[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Texmaker
Comment=Free cross-platform (QT4) LaTeX editor
Icon=texmaker.png
Exec=texmaker
Categories=Office;

