# Configuration file for fw_(printenv/saveenv) utility.
# Up to two entries are valid, in this case the redundand
# environment sector is assumed present.
# MTD device name       Device offset   Env. size       Flash sector size
#/dev/mtd2               0x0000          0x20000         0x20000

# segate dockstar:
# /dev/mtd0               0xc0000         0x20000         0x20000

# iomega iconnect
# /dev/mtd0               0xa0000         0x20000         0x20000

# CuBox
# /dev/mtd0               0xc0000         0x10000         0x10000
