pkgbase = xine-lib
	pkgdesc = Multimedia playback engine
	pkgver = 1.2.13
	pkgrel = 7
	url = https://www.xine-project.org
	arch = x86_64
	license = GPL-2.0-or-later
	license = LGPL-2.0-or-later
	makedepends = mercurial
	makedepends = mesa
	makedepends = libdvdnav
	makedepends = libdvdread
	makedepends = vcdimager
	makedepends = glu
	makedepends = sdl
	makedepends = wayland
	makedepends = aalib
	makedepends = a52dec
	makedepends = faad2
	makedepends = flac
	makedepends = libdca
	makedepends = libmad
	makedepends = libmodplug
	makedepends = libmpcdec
	makedepends = wavpack
	makedepends = gdk-pixbuf2
	makedepends = imagemagick
	makedepends = libcaca
	makedepends = libmng
	makedepends = libnfs
	makedepends = libnsl
	makedepends = smbclient
	depends = ffmpeg
	depends = libjpeg-turbo
	depends = libpng
	depends = libx11
	depends = libxcb
	depends = libxext
	depends = libxinerama
	depends = libxv
	depends = libxvmc
	depends = zlib
	optdepends = libdvdnav: for dvd plugin
	optdepends = libdvdread: for spu and dxr3 plugins
	optdepends = vcdimager: for vcd plugin
	optdepends = glu: for opengl and vaapi plugins
	optdepends = sdl: for sdl plugin
	optdepends = wayland: for egl_wl plugin
	optdepends = aalib: for aalib plugin
	optdepends = a52dec: for a52 plugin
	optdepends = faad2: for faad plugin
	optdepends = flac: for flac plugin
	optdepends = libdca: for dts (dca) plugin
	optdepends = libmad: for mad (mp3) plugin
	optdepends = libmpcdec: for mpc (musepack) plugin
	optdepends = libmodplug: for modplug plugin
	optdepends = wavpack: for wavpack plugin
	optdepends = gdk-pixbuf2: for gdk_pixbuf plugin
	optdepends = imagemagick: for imagemagick plugin
	optdepends = libcaca: for caca plugin
	optdepends = libmng: for mng plugin
	optdepends = libnfs: for nfs plugin
	optdepends = libssh2: for ssh plugin
	optdepends = smbclient: for samba plugin
	source = hg+http://hg.code.sf.net/p/xine/xine-lib-1.2#tag=1.2.13
	sha256sums = 9d1e3951d945507e960aae670079036e468ac766321dfa481bc106d19ac777d9

pkgname = xine-lib
