[Unit]
Description=A small printer daemon intended for diskless workstations that passes jobs directly to the printer
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/p910nd
ExecStart=/usr/bin/p910nd $P910ND_OPTS $P910ND_NUM

[Install]
WantedBy=multi-user.target
