pkgbase = eza
	pkgdesc = A modern replacement for ls (community fork of exa)
	pkgver = 0.18.17
	pkgrel = 1
	url = https://github.com/eza-community/eza
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = pandoc
	depends = gcc-libs
	depends = glibc
	depends = libgit2
	depends = zlib
	provides = exa
	conflicts = exa
	replaces = exa
	source = https://github.com/eza-community/eza/archive/v0.18.17/eza-0.18.17.tar.gz
	sha256sums = fb9eea00bff8ad0283c046398259f03b1ce2830a49cdd7417b65c9dade07d709
	b2sums = 6c4db0e88a65a58deaeba09e4350db39a468a5821e6d1ad70173d885f6525e8e88c01303ba2b6300660206e3b72b23ab5f416424f0dd3a01db0ef36f82630eb5

pkgname = eza
	depends = gcc-libs
	depends = glibc
	depends = libgit2
	depends = zlib
	depends = libgit2.so
	depends = libz.so
