pkgbase = eza
	pkgdesc = A modern replacement for ls (community fork of exa)
	pkgver = 0.18.19
	pkgrel = 1
	url = https://github.com/eza-community/eza
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = pandoc
	depends = gcc-libs
	depends = glibc
	depends = libgit2
	depends = zlib
	provides = exa
	conflicts = exa
	replaces = exa
	source = https://github.com/eza-community/eza/archive/v0.18.19/eza-0.18.19.tar.gz
	sha256sums = b721cea8d9f7da7a9e17298911632912606bc51a983a0c1fc52340dbc4dc6ffa
	b2sums = 5eaa049717c2fc0b52eea0bc99b53856852f3fb7d1307f71a3e917b36c3f3ec0d1485b8f4d630e84fd645670c9a1f25cf5133690e1361fd14740674e775e02ce

pkgname = eza
	depends = gcc-libs
	depends = glibc
	depends = libgit2
	depends = zlib
	depends = libgit2.so
	depends = libz.so
