pkgbase = eza
	pkgdesc = A modern replacement for ls (community fork of exa)
	pkgver = 0.18.16
	pkgrel = 1
	url = https://github.com/eza-community/eza
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = pandoc
	depends = gcc-libs
	depends = glibc
	depends = libgit2
	depends = zlib
	provides = exa
	conflicts = exa
	replaces = exa
	source = https://github.com/eza-community/eza/archive/v0.18.16/eza-0.18.16.tar.gz
	sha256sums = dd713474b902568cb2c7c8ea7db8e08db5818617e34908ae7142e9da9cefd17b
	b2sums = 6761aec3dd638976b0482ece6e8ede8726d4ba90b5fd0d54d8198359601f9bb4abbf6771eb0ab624034a61222c6653adfdce86b64b1c506a4f6326f17e0988e1

pkgname = eza
	depends = gcc-libs
	depends = glibc
	depends = libgit2
	depends = zlib
	depends = libgit2.so
	depends = libz.so
