pkgbase = embree
	pkgdesc = Collection of high-performance ray tracing kernels
	pkgver = 4.3.3
	pkgrel = 1
	url = https://embree.github.io/
	arch = x86_64
	license = Apache
	makedepends = cmake
	makedepends = ispc
	makedepends = freeglut
	makedepends = libxmu
	makedepends = ninja
	depends = gcc-libs
	depends = glibc
	depends = intel-tbb
	source = https://github.com/embree/embree/archive/v4.3.3/embree-4.3.3.tar.gz
	sha256sums = 8a3bc3c3e21aa209d9861a28f8ba93b2f82ed0dc93341dddac09f1f03c36ef2d

pkgname = embree
