pkgbase = percona-server
	pkgver = 8.4.6_6
	pkgrel = 1
	url = https://www.percona.com/software/mysql-database/percona-server
	arch = x86_64
	license = GPL
	makedepends = cmake
	makedepends = zlib
	makedepends = lz4
	makedepends = zstd
	makedepends = libaio
	makedepends = systemd-tools
	makedepends = pam
	makedepends = numactl
	makedepends = jemalloc
	makedepends = openssl
	makedepends = rpcsvc-proto
	makedepends = doxygen
	makedepends = graphviz
	makedepends = libevent
	makedepends = libfido2
	source = https://www.percona.com/downloads/Percona-Server-8.4/Percona-Server-8.4.6-6/source/tarball/percona-server-8.4.6-6.tar.gz
	source = gcc-14.patch
	source = my.cnf
	source = mysql-user.conf
	source = mysqlrouter-user.conf
	sha256sums = ab4d64fbf4f3bd3ee1e766ea9fd89c73a54c96b5148cc0cd2b3d14753c805a35
	sha256sums = eeb9c6c8f70dd5eb05f735df0cdfc294365b393e5819f26029320e38714069a6
	sha256sums = b467b04d6d06152b2abc33f2a6de63fef0fc922dd5119d2ee1d07d3c1a489731
	sha256sums = b4e357a0e2e3a7dc01f9459efcbed77ce3229f8d94273e3ff464bcd67c9413fc
	sha256sums = 4c8bdd0bc71b4ab9d69485b7e51937bf45f1c87323e380290db357483c154505

pkgname = libperconaserverclient
	pkgdesc = Percona Server client libraries
	depends = zlib
	depends = zstd
	depends = openssl
	depends = libfido2
	optdepends = libsasl: authentication_ldap_sasl_client plugin

pkgname = percona-server-clients
	pkgdesc = Percona Server client tools
	depends = libperconaserverclient
	depends = zlib
	depends = zstd
	depends = lz4
	depends = openssl
	depends = jemalloc
	depends = readline
	provides = mysql-clients=8.4.6_6
	provides = mariadb-clients=8.4.6_6
	conflicts = mysql-clients

pkgname = percona-server
	pkgdesc = Drop-in replacement for MySQL that provides improved performance, diagnostics, instrumentation and MyRocks storage engine
	depends = libaio
	depends = systemd-tools
	depends = pam
	depends = jemalloc
	depends = numactl
	depends = lz4
	depends = zstd
	depends = openssl
	depends = libtirpc
	depends = curl
	depends = libevent
	depends = icu
	optdepends = perl-dbd-mysql
	provides = mysql=8.4.6_6
	provides = mariadb=8.4.6_6
	conflicts = mysql
	options = emptydirs
	backup = etc/mysql/my.cnf
	backup = etc/mysqlrouter/mysqlrouter.conf
