#!/bin/bash
. /etc/rc.conf
. /etc/rc.d/functions

case "$1" in
  start)
        stat_busy 'Starting Open Sound System'
	if /usr/sbin/soundon
	then
		add_daemon oss
		stat_done
	else
		stat_fail
	fi
        ;;
  stop)
        stat_busy 'Stopping Open Sound System'
	if /usr/sbin/soundoff
	then
		rm_daemon oss
		stat_done
	else
		stat_fail
	fi
        ;;
  restart)
        $0 stop
        $0 start
        ;;
  *)
        echo "Usage: $0 {start|stop|restart}"
esac
