pkgbase = cantor
	pkgdesc = KDE Frontend to Mathematical Software
	pkgver = 25.04.0
	pkgrel = 1
	url = https://apps.kde.org/cantor/
	arch = x86_64
	groups = kde-applications
	groups = kde-education
	license = GPL-2.0-or-later
	license = LGPL-2.0-or-later
	makedepends = analitza
	makedepends = extra-cmake-modules
	makedepends = julia
	makedepends = kdoctools
	makedepends = luajit
	makedepends = python
	makedepends = r
	depends = gcc-libs
	depends = glibc
	depends = karchive
	depends = kcolorscheme
	depends = kcompletion
	depends = kconfig
	depends = kconfigwidgets
	depends = kcoreaddons
	depends = kcrash
	depends = ki18n
	depends = kiconthemes
	depends = kio
	depends = knewstuff
	depends = kparts
	depends = ktexteditor
	depends = ktextwidgets
	depends = kwidgetsaddons
	depends = kxmlgui
	depends = libqalculate
	depends = libspectre
	depends = libxml2
	depends = libxslt
	depends = poppler-qt6
	depends = qt6-base
	depends = qt6-svg
	depends = qt6-tools
	depends = qt6-webengine
	depends = syntax-highlighting
	optdepends = analitza: KAlgebra backend
	optdepends = maxima: Maxima backend
	optdepends = octave: Octave backend
	optdepends = r: R backend
	optdepends = luajit: LUA backend
	optdepends = python: Python backend
	optdepends = sagemath: SageMath backend
	optdepends = julia: Julia backend
	source = https://download.kde.org/stable/release-service/25.04.0/src/cantor-25.04.0.tar.xz
	source = https://download.kde.org/stable/release-service/25.04.0/src/cantor-25.04.0.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 98f96661f20ad4c91fa5fe64bc0ecbef03d85969b64851c660d2d369682c3f00
	sha256sums = SKIP

pkgname = cantor
