pkgbase = aom
	pkgdesc = Alliance for Open Media video codec
	pkgver = 3.12.1
	pkgrel = 1
	url = https://aomedia.org/
	arch = x86_64
	license = BSD-3-Clause
	makedepends = cmake
	makedepends = doxygen
	makedepends = ninja
	makedepends = yasm
	depends = gcc-libs
	depends = glibc
	source = https://storage.googleapis.com/aom-releases/libaom-3.12.1.tar.gz
	source = https://storage.googleapis.com/aom-releases/libaom-3.12.1.tar.gz.asc
	validpgpkeys = B002F08B74A148DAA01F7123A48E86DB0B830498
	b2sums = 4fa4ea0620b27013d2c39589ea5bc4333ea26ffe51dad64e95b240cdf5c82fcd0810fecf45410f34b89057d9000c93efae106c49e4017796d7c8b2752357709d
	b2sums = SKIP

pkgname = aom
	provides = libaom.so

pkgname = aom-docs
	pkgdesc = Alliance for Open Media video codec (documentation)
	depends = 
