pkgbase = aom
	pkgdesc = Alliance for Open Media video codec
	pkgver = 3.9.1
	pkgrel = 1
	url = https://aomedia.org/
	arch = x86_64
	license = BSD-3-Clause
	makedepends = cmake
	makedepends = doxygen
	makedepends = ninja
	makedepends = yasm
	depends = gcc-libs
	depends = glibc
	source = https://storage.googleapis.com/aom-releases/libaom-3.9.1.tar.gz
	source = https://storage.googleapis.com/aom-releases/libaom-3.9.1.tar.gz.asc
	validpgpkeys = B002F08B74A148DAA01F7123A48E86DB0B830498
	b2sums = 2f983a4a563e16120aa8937e059f4cd267fb60b6d4148f952f1e664a50b84bc0d8ba7629231b60e4263963d97559a819752a4fa0dcf2427c9f94036716221324
	b2sums = SKIP

pkgname = aom
	provides = libaom.so

pkgname = aom-docs
	pkgdesc = Alliance for Open Media video codec (documentation)
	depends = 
