pkgbase = aom
	pkgdesc = Alliance for Open Media video codec
	pkgver = 3.13.2
	pkgrel = 1
	url = https://aomedia.org/
	arch = x86_64
	license = BSD-3-Clause
	makedepends = cmake
	makedepends = doxygen
	makedepends = ninja
	makedepends = yasm
	depends = glibc
	depends = libgcc
	depends = libstdc++
	source = https://storage.googleapis.com/aom-releases/libaom-3.13.2.tar.gz
	source = https://storage.googleapis.com/aom-releases/libaom-3.13.2.tar.gz.asc
	validpgpkeys = B002F08B74A148DAA01F7123A48E86DB0B830498
	b2sums = ce47433a9bf9cdd951a7af1a840116dac1d6c6fddacfa490143ad416a8bee602bb63258fcd675efede25bf89da2e9a4b4ebaa7c6bb2a2ab0091672a85494e52b
	b2sums = SKIP

pkgname = aom
	provides = libaom.so

pkgname = aom-docs
	pkgdesc = Alliance for Open Media video codec (documentation)
	depends = 
