[Desktop Entry]
Name=grass
GenericName=GIS
Comment="Geographic Information System (GIS) used for geospatial data management and analysis"
Exec=/usr/bin/grass62
Icon=/usr/share/pixmaps/grass.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Science
