; Original Author: Travis Cross <tc@traviscross.com>
; Adapted for AUR/Arch by Brent Saner <brent (dot) saner (at) gmail (dot) com>
; fetched from https://raw.github.com/FreeSWITCH/FreeSWITCH/8099af65647d01dc5e2d65a50626a4299fc7d70c/debian/freeswitch-systemd.freeswitch.service

[Unit]
Description=freeswitch
After=syslog.target network.target local-fs.target

[Service]
; service
Type=forking
PIDFile=/run/freeswitch/freeswitch.pid
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /run/freeswitch
ExecStartPre=/bin/chown freeswitch:freeswitch /run/freeswitch
ExecStart=/usr/bin/freeswitch -nc -nonat
TimeoutSec=45s
Restart=always
; exec
User=freeswitch
Group=freeswitch
UMask=0007

[Install]
WantedBy=multi-user.target
