pkgbase = openmpi
	pkgdesc = High performance message passing library (MPI)
	pkgver = 4.1.6
	pkgrel = 3
	url = https://www.open-mpi.org
	arch = x86_64
	license = custom:OpenMPI
	makedepends = cuda
	makedepends = gcc-fortran
	makedepends = valgrind
	depends = gcc-libs
	depends = glibc
	depends = hwloc
	depends = libevent
	depends = libnl
	depends = openpmix
	depends = openssh
	depends = zlib
	optdepends = cuda: cuda support
	optdepends = gcc-fortran: fortran support
	optdepends = perl: for aggregate_profile.pl and profile2mat.pl
	provides = libmca_common_cuda.so
	provides = libmca_common_monitoring.so
	provides = libmca_common_ompio.so
	provides = libmca_common_sm.so
	provides = libmpi.so
	provides = libmpi_cxx.so
	provides = libmpi_mpifh.so
	provides = libmpi_usempi_ignore_tkr.so
	provides = libmpi_usempif08.so
	provides = libompitrace.so
	provides = libopen-pal.so
	provides = libopen-rte.so
	source = https://www.open-mpi.org/software/ompi/v4.1/downloads/openmpi-4.1.6.tar.bz2
	sha256sums = f740994485516deb63b5311af122c265179f5328a0d857a567b85db00b11e415
	b2sums = 4f119e1ed9b8787f0f860295ab1721fe2fd5300b8e182230a9eba3a864680b02bbd30618cc6d798a693a121626fc0ad5f447144d9ba91becb734f1a530d7a23a

pkgname = openmpi
	depends = gcc-libs
	depends = glibc
	depends = hwloc
	depends = libevent
	depends = libnl
	depends = openpmix
	depends = openssh
	depends = zlib
	depends = libpmix.so
