[Desktop Entry]
Name=OpenJDK Java 9 Console
Name[fi]=OpenJDK Java 9 - konsoli
Comment=OpenJDK Java 9 Monitoring & Management Console
Comment[fi]=OpenJDK Java 9 - valvonta- ja hallintakonsoli
Keywords=java;console;monitoring
Exec=/usr/lib/jvm/java-9-openjdk/bin/jconsole
Terminal=false
Type=Application
Icon=java9-openjdk
Categories=Application;System;
