[Desktop Entry]
Name=ROX Filer
Comment=ROX Filer
Exec=rox
Icon=rox
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;FileManager;

