[Desktop Entry]
Encoding=UTF-8
Name=GutenPy
Comment=A text reader and catalog browser
Exec=gutenpy.py
Terminal=false
Type=Application
StartupNotify=true
Icon=gutenpy.xpm
Categories=GTK;Application;Utility
