[Unit]
Description=Distributed C, C++ and Objective-C compiler
Documentation=man:distccd(1)
After=network.target

[Service]
User=distcc
EnvironmentFile=/etc/conf.d/distccd
ExecStart=/usr/bin/distccd --no-detach --daemon $DISTCC_ARGS

[Install]
WantedBy=multi-user.target
