[Unit]
Description=Ollama Service
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/bin/ollama serve
WorkingDirectory=/var/lib/ollama
Environment='LD_LIBRARY_PATH=/usr/lib/ollama'
Environment='HOME=/var/lib/ollama'
Environment='OLLAMA_HOST=http://127.0.0.1:11434'
Environment='OLLAMA_MODELS=/var/lib/ollama'
# 5m, 10h, -1 (unlimited)
Environment='OLLAMA_KEEP_ALIVE=5m'
Environment='OLLAMA_FLASH_ATTENTION=0'
# f16, q8_0, q4_0
Environment='OLLAMA_KV_CACHE_TYPE=f16'
Environment='OLLAMA_NUM_PARALLEL=2'
Environment='OLLAMA_MAX_LOADED_MODELS=4'
Environment='OLLAMA_NEW_ESTIMATES=0'
Environment='OLLAMA_DEBUG=0'
User=ollama
Group=ollama
Restart=on-failure
RestartSec=3
RestartPreventExitStatus=1
Type=simple
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

[Install]
WantedBy=multi-user.target
