[Unit]
Description=MAC address change %I
Before=dhcpcd@%i.service netctl@%1.service netctl-ifplugd@%i.service netctl-auto@%i.service

[Service]
Type=oneshot
EnvironmentFile=/etc/conf.d/macspoof
ExecStart=/usr/bin/ip link set dev %i down
ExecStart=/usr/bin/ip link set dev %i address ${mac_addr_%i}


[Install]
WantedBy=network.target