pkgbase = openssl-1.1
	pkgdesc = The Open Source toolkit for Secure Sockets Layer and Transport Layer Security
	pkgver = 1.1.1.w
	pkgrel = 2
	url = https://www.openssl.org
	arch = x86_64
	license = custom:BSD
	makedepends = perl
	depends = glibc
	provides = libcrypto.so
	provides = libssl.so
	source = https://www.openssl.org/source/openssl-1.1.1w.tar.gz
	source = https://www.openssl.org/source/openssl-1.1.1w.tar.gz.asc
	source = ca-dir.patch
	validpgpkeys = 8657ABB260F056B1E5190839D9C4D26D0E604491
	validpgpkeys = 7953AC1FBC3DC8B3B292393ED5E9E43F7DF9EE8C
	validpgpkeys = A21FAB74B0088AA361152586B8EF1A6BA9DA2D5C
	validpgpkeys = EFC0A467D613CB83C7ED6D30D894E2CE8B3D79F5
	sha256sums = cf3098950cb4d853ad95c0841f1f9c6d3dc102dccfcacd521d93925208b76ac8
	sha256sums = SKIP
	sha256sums = 75aa8c2c638c8a3ebfd9fa146fc61c7ff878fc997dc6aa10d39e4b2415d669b2

pkgname = openssl-1.1
