pkgbase = qt6-webengine
	pkgdesc = Provides support for web applications using the Chromium browser project
	pkgver = 6.7.2
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = git
	makedepends = gperf
	makedepends = jsoncpp
	makedepends = libepoxy
	makedepends = ninja
	makedepends = nodejs
	makedepends = perf
	makedepends = pipewire
	makedepends = python-html5lib
	makedepends = qt6-tools
	makedepends = qt6-websockets
	depends = alsa-lib
	depends = dbus
	depends = expat
	depends = ffmpeg
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = harfbuzz
	depends = icu
	depends = lcms2
	depends = libdrm
	depends = libevent
	depends = libjpeg-turbo
	depends = libpng
	depends = libtiff
	depends = libwebp
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxfixes
	depends = libxkbcommon
	depends = libxkbfile
	depends = libxdamage
	depends = libxext
	depends = libxml2
	depends = libxrandr
	depends = libxslt
	depends = libxtst
	depends = mesa
	depends = minizip
	depends = nspr
	depends = nss
	depends = openjpeg2
	depends = opus
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-positioning
	depends = qt6-webchannel
	depends = snappy
	depends = ttf-font
	depends = zlib
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	source = git+https://code.qt.io/qt/qtwebengine#tag=v6.7.2
	source = git+https://code.qt.io/qt/qtwebengine-chromium
	source = qtwebengine-6.7.0-ninja1.12.patch
	source = qtwebengine-ffmpeg-7.patch
	source = no-h264.patch
	sha256sums = e4ea371bbe91763e0499b7d12166b43162f29e57ba81705870a0f8c4ba784408
	sha256sums = SKIP
	sha256sums = c037cccc1d43bcd9d67045354ca48b405acec217149cb4b2bd3cfb7b5561cc33
	sha256sums = d31143fcb04acdb4d0a183eb0e1f37be66aad19454ebbbd326a8fa68ce6f0d35
	sha256sums = 5e41df98141a5a3c6ab1ef1f1a45ea4a27631cfa3fe8b0cdd524624424d74541

pkgname = qt6-webengine
