pkgbase = qt6-webengine
	pkgdesc = Provides support for web applications using the Chromium browser project
	pkgver = 6.6.1
	pkgrel = 2
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = gperf
	makedepends = jsoncpp
	makedepends = libepoxy
	makedepends = ninja
	makedepends = nodejs
	makedepends = perf
	makedepends = pipewire
	makedepends = python-html5lib
	makedepends = qt6-tools
	makedepends = qt6-websockets
	depends = alsa-lib
	depends = dbus
	depends = expat
	depends = ffmpeg
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = harfbuzz
	depends = icu
	depends = lcms2
	depends = libdrm
	depends = libevent
	depends = libjpeg-turbo
	depends = libpng
	depends = libtiff
	depends = libwebp
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxfixes
	depends = libxkbcommon
	depends = libxkbfile
	depends = libxdamage
	depends = libxext
	depends = libxml2
	depends = libxrandr
	depends = libxslt
	depends = libxtst
	depends = mesa
	depends = minizip
	depends = nspr
	depends = nss
	depends = openjpeg2
	depends = opus
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-positioning
	depends = qt6-webchannel
	depends = snappy
	depends = ttf-font
	depends = zlib
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	source = https://download.qt.io/official_releases/qt/6.6/6.6.1/submodules/qtwebengine-everywhere-src-6.6.1.tar.xz
	source = libxml-2.12.patch
	source = icu-74.patch
	sha256sums = 7a6ea228214bd66029ca90549b29021f30f7544abff997b7f831ceac2ce73691
	sha256sums = bfae9e773edfd0ddbc617777fdd4c0609cba2b048be7afe40f97768e4eb6117e
	sha256sums = 547e092f6a20ebd15e486b31111145bc94b8709ec230da89c591963001378845

pkgname = qt6-webengine
