pkgbase = rust
	pkgdesc = Systems programming language focused on safety, speed and concurrency
	pkgver = 1.86.0
	pkgrel = 1
	epoch = 1
	url = https://www.rust-lang.org/
	arch = x86_64
	license = Apache-2.0 OR MIT
	checkdepends = gdb
	checkdepends = procps-ng
	makedepends = aarch64-linux-gnu-gcc
	makedepends = aarch64-linux-gnu-glibc
	makedepends = clang
	makedepends = cmake
	makedepends = lib32-gcc-libs
	makedepends = lib32-glibc
	makedepends = libffi
	makedepends = lld
	makedepends = llvm
	makedepends = musl
	makedepends = musl-aarch64
	makedepends = ninja
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = wasi-libc
	makedepends = wasm-component-ld
	depends = bash
	depends = curl
	depends = gcc
	depends = gcc-libs
	depends = glibc
	depends = libssh2
	depends = llvm-libs
	depends = openssl
	depends = zlib
	options = !emptydirs
	options = !lto
	source = https://static.rust-lang.org/dist/rustc-1.86.0-src.tar.gz
	source = https://static.rust-lang.org/dist/rustc-1.86.0-src.tar.gz.asc
	source = 0001-bootstrap-Change-libexec-dir.patch
	source = 0002-bootstrap-Change-bash-completion-dir.patch
	source = 0003-compiler-Change-LLVM-targets.patch
	source = 0004-compiler-Use-wasm-ld-for-wasm-targets.patch
	source = 0005-compiler-Use-aarch64-linux-gnu-gcc-to-link-aarch64-t.patch
	source = 0006-bootstrap-Use-lld-mode-only-for-host-linked-targets.patch
	validpgpkeys = 108F66205EAEB0AAA8DD5E1C85AB96E6FA1BE5FE
	b2sums = 5f3b4994f168469fdbb575a4710ef50bd41aa6fd06155039b75edf7913c413ae9fc754bb3c86abbf03cd55d2c4463da76655974a838c3e0233324303ec48e19a
	b2sums = SKIP
	b2sums = 83034ef7e1b099af9d98a95c7e07a0bee32a7a07d7496512fb7eac079fbb4eac157ed1752f925f02f48552c93d1b010e48bec2924f6dc3290be9200d6313679b
	b2sums = bc0773f8b53054b32e3cd9ced303205dc83210c84fea4a3e2d7126b7b991abbcec5df9ac408cbbefd73bc912084766e567a57800f3ce902b4eaa5f19a8f1126d
	b2sums = f4f2d23e14088745493cd07d795dc7c7c62979994a5e39f6a58e1c8ca447aecc4d5b10a2ac6357536d1f13c89cf17c44b305b39016cf48c879a0149063bd4c6e
	b2sums = b50e77529edc7640e2e08a434aa48591b5b809b35e61db026010e28b6c4caf61a780131500a5b0f9339d2a98177de7adb13d7589a0b2f084304d059c4de112ee
	b2sums = c7e7b0d25acf1165c32372286622cf7b748ce832fd5fcc94938f4932863a3a1d9e6ec42040e5b5837aa6ab3bba33ea1f19751d6025fd1669ba58b58495e0a4e1
	b2sums = ff4f8726a093cb7ad157c04880e4a66afec7431cf3680220896ff3f2117fd86f88cdc0729b179f1764316c0663307063a3c9fd1d8b674e69d4743bca097b7342

pkgname = rust
	optdepends = gdb: rust-gdb script
	optdepends = lldb: rust-lldb script
	provides = cargo
	provides = rustfmt
	conflicts = cargo
	conflicts = rust-docs<1:1.56.1-3
	conflicts = rustfmt
	replaces = cargo
	replaces = cargo-tree
	replaces = rust-docs<1:1.56.1-3
	replaces = rustfmt

pkgname = lib32-rust-libs
	pkgdesc = 32-bit target and libraries for Rust
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = rust
	provides = lib32-rust
	conflicts = lib32-rust
	replaces = lib32-rust

pkgname = rust-musl
	pkgdesc = Musl target for Rust
	depends = rust

pkgname = rust-aarch64-gnu
	pkgdesc = AArch64 GNU target for Rust
	depends = aarch64-linux-gnu-gcc
	depends = aarch64-linux-gnu-glibc
	depends = rust

pkgname = rust-aarch64-musl
	pkgdesc = AArch64 Musl target for Rust
	depends = aarch64-linux-gnu-gcc
	depends = rust

pkgname = rust-wasm
	pkgdesc = WebAssembly targets for Rust
	depends = lld
	depends = rust
	depends = wasm-component-ld

pkgname = rust-src
	pkgdesc = Source code for the Rust standard library
	depends = rust
