pkgbase = rust
	pkgdesc = Systems programming language focused on safety, speed and concurrency
	pkgver = 1.84.0
	pkgrel = 1
	epoch = 1
	url = https://www.rust-lang.org/
	arch = x86_64
	license = Apache-2.0 OR MIT
	checkdepends = gdb
	checkdepends = procps-ng
	makedepends = aarch64-linux-gnu-gcc
	makedepends = aarch64-linux-gnu-glibc
	makedepends = clang
	makedepends = cmake
	makedepends = lib32-gcc-libs
	makedepends = lib32-glibc
	makedepends = libffi
	makedepends = lld
	makedepends = llvm
	makedepends = musl
	makedepends = musl-aarch64
	makedepends = ninja
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = wasi-libc
	makedepends = wasm-component-ld
	depends = bash
	depends = curl
	depends = gcc
	depends = gcc-libs
	depends = glibc
	depends = libssh2
	depends = llvm-libs
	depends = openssl
	depends = zlib
	options = !emptydirs
	options = !lto
	source = https://static.rust-lang.org/dist/rustc-1.84.0-src.tar.gz
	source = https://static.rust-lang.org/dist/rustc-1.84.0-src.tar.gz.asc
	source = 0001-bootstrap-Change-libexec-dir.patch
	source = 0002-bootstrap-Change-bash-completion-dir.patch
	source = 0003-compiler-Change-LLVM-targets.patch
	source = 0004-compiler-Use-wasm-ld-for-wasm-targets.patch
	source = 0005-compiler-Use-aarch64-linux-gnu-gcc-to-link-aarch64-t.patch
	validpgpkeys = 108F66205EAEB0AAA8DD5E1C85AB96E6FA1BE5FE
	b2sums = dd1942fbd6e9b48ad9e5a9253390fdc1f93ddf6ef4340ccce5e1418621d874004a6e692a108ad70b9d6b897ef239d7db0aeadb899b7537796c97fa8c552a4613
	b2sums = SKIP
	b2sums = 2ae7ab3bc534f7febfad3585c947505368d3f7ba1aef84de6520f32437d80f00d6c4a21dd69483eb0941e14e30d900636b119356cb4ab46ab8751f518d4b576f
	b2sums = c842268646fbb5c3e8bac899fbf6eb3a0eb3a952fd5076ffc7fb572da7adfda48b9304c06facccb2fc8a8f9dc4699f33fecd0b1de4ee231ba88b5f2cd5966703
	b2sums = 17aa45250ac4842e4cdc9e37e4e805ee064ea06b3c81d2ce549d0bc4c51cbd9f96efd16de7683e02efe4542553277a340e9edb27b4f6e48ba7f162bc4e4ca5d2
	b2sums = b50e77529edc7640e2e08a434aa48591b5b809b35e61db026010e28b6c4caf61a780131500a5b0f9339d2a98177de7adb13d7589a0b2f084304d059c4de112ee
	b2sums = 6805ff5c678bfeb1a951875de902b49b2f0ded812b0bf9fa7368a375888985b8d6e3c74cda4d9b830706f7da1ec4fa239f9799a013409b4cd79e4b5c065c643b

pkgname = rust
	optdepends = gdb: rust-gdb script
	optdepends = lldb: rust-lldb script
	provides = cargo
	provides = rustfmt
	conflicts = cargo
	conflicts = rust-docs<1:1.56.1-3
	conflicts = rustfmt
	replaces = cargo
	replaces = cargo-tree
	replaces = rust-docs<1:1.56.1-3
	replaces = rustfmt

pkgname = lib32-rust-libs
	pkgdesc = 32-bit target and libraries for Rust
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = rust
	provides = lib32-rust
	conflicts = lib32-rust
	replaces = lib32-rust

pkgname = rust-musl
	pkgdesc = Musl target for Rust
	depends = rust

pkgname = rust-aarch64-gnu
	pkgdesc = AArch64 GNU target for Rust
	depends = aarch64-linux-gnu-gcc
	depends = aarch64-linux-gnu-glibc
	depends = rust

pkgname = rust-aarch64-musl
	pkgdesc = AArch64 Musl target for Rust
	depends = aarch64-linux-gnu-gcc
	depends = rust

pkgname = rust-wasm
	pkgdesc = WebAssembly targets for Rust
	depends = lld
	depends = rust
	depends = wasm-component-ld

pkgname = rust-src
	pkgdesc = Source code for the Rust standard library
	depends = rust
