pkgbase = rust
	pkgdesc = Systems programming language focused on safety, speed and concurrency
	pkgver = 1.93.0
	pkgrel = 1
	epoch = 1
	url = https://www.rust-lang.org/
	arch = aarch64
	arch = x86_64
	license = Apache-2.0 OR MIT
	checkdepends = gdb
	checkdepends = procps-ng
	makedepends = clang
	makedepends = cmake
	makedepends = libffi
	makedepends = llvm
	makedepends = musl
	makedepends = ninja
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = wasi-libc
	makedepends = wasm-component-ld
	depends = bash
	depends = compiler-rt
	depends = curl
	depends = gcc
	depends = gcc-libs
	depends = glibc
	depends = libssh2
	depends = lld
	depends = llvm-libs
	depends = openssl
	depends = zlib
	options = !emptydirs
	options = !lto
	source = https://static.rust-lang.org/dist/rustc-1.93.0-src.tar.gz
	source = https://static.rust-lang.org/dist/rustc-1.93.0-src.tar.gz.asc
	source = 0001-bootstrap-Change-libexec-dir.patch
	source = 0002-bootstrap-Change-bash-completion-dir.patch
	source = 0003-bootstrap-Workaround-for-system-stage0.patch
	source = 0004-compiler-Change-LLVM-targets.patch
	source = 0005-compiler-Use-ld.lld-by-default.patch
	source = 0006-compiler-Use-target-specific-GCC-linkers.patch
	source = 0007-compiler-Swap-primary-and-secondary-lib-dirs.patch
	validpgpkeys = 108F66205EAEB0AAA8DD5E1C85AB96E6FA1BE5FE
	b2sums = ab35dfebfc8c9beb0b93fa564d7178da225f47591fb5de90566d59fb0dcf55a275f014c287805df3f901aba80374e92f5bdd93ac925585a869eed5dcd2571d48
	b2sums = SKIP
	b2sums = f4a836270fb15b419f05db590c0f95f95c171addf85bf7324257690df29eac9139e53c0b73dd74b56921cc0c238e92bb0f3ba3b0969fac9c5cc90caf2cad0384
	b2sums = 26edd385582537da6ef2c937aae70122fb6129bc18f43aca155bec010007da63d121a6aa07363c6d35bd7c6b8c799c1e0429d34787d4cc86125c5d176b5678cb
	b2sums = de6d1a7e4c1da3817cd0de12ec5570a71de14bd57b9233d87068338db8211c6fb099178ca7e73cf015cabec93b308a5949bbabdd34e51027c6a940b322c02d9d
	b2sums = 00a637dde35e9df1e8852ea647fc9af043efb9c9adae8f2904dbf3692a2ab09ecbbd75147314d8a41802b5c68fce515247c8d21bc7ba28663e768ee9adbacd8d
	b2sums = 29b134cd1ef57ae3a9c46985ec1221709def57472c28f1e737a3d4f27c105c4bc22d6cccc48c0f4a0677460277ce57c3a0d381368d99c8a1f4dd1bf7e7b41970
	b2sums = 8015b14bd00f412c0935961fce5f9671fe3d51256a70eacbf61573c4c8ae35f3cd81372681fe406395ca571363e9f9a9c5b40969e79513f22d808e677a841ae7
	b2sums = b8e3d23c3a7617e231246465a264708789152abfc73203d901d64290701fabffff59d600fc8ecb1ec5d507313125d17c4040ec769474f4d58ea159d9cafc3910
	source_aarch64 = bootstrap.aarch64.toml
	b2sums_aarch64 = 63ce33811457d6f271ea92ef0b3c2c0ae81d0c2cc8545273ad308237131c6eb1807d56e4de75037b525d19b6d405f9c5558665d85bd821a2d05ae40c1f9f2926
	source_x86_64 = bootstrap.x86_64.toml
	makedepends_x86_64 = aarch64-linux-gnu-gcc
	makedepends_x86_64 = aarch64-linux-gnu-glibc
	makedepends_x86_64 = lib32-gcc-libs
	makedepends_x86_64 = lib32-glibc
	makedepends_x86_64 = musl-aarch64
	b2sums_x86_64 = b1808412ce71ec37b80bc44034e13fb4918577052b5cae0ee4809ffc499c7ccfeb01dfb8a1c49141a0b614861875680f80e6fff4add8c015a4c4becda3859e1e

pkgname = rust
	optdepends = gdb: rust-gdb script
	optdepends = lldb: rust-lldb script
	provides = cargo
	provides = rustfmt
	conflicts = cargo
	conflicts = rust-docs<1:1.56.1-3
	conflicts = rustfmt
	replaces = cargo
	replaces = cargo-tree
	replaces = rust-docs<1:1.56.1-3
	replaces = rustfmt

pkgname = rust-musl
	pkgdesc = Musl target for Rust
	depends = rust

pkgname = rust-src
	pkgdesc = Source code for the Rust standard library
	depends = rust

pkgname = rust-wasm
	pkgdesc = WebAssembly targets for Rust
	depends = rust
	depends = wasm-component-ld

pkgname = lib32-rust-libs
	pkgdesc = 32-bit target and libraries for Rust
	arch = x86_64
	depends = lib32-gcc-libs
	depends = lib32-glibc
	depends = rust
	provides = lib32-rust
	conflicts = lib32-rust
	replaces = lib32-rust

pkgname = rust-aarch64-gnu
	pkgdesc = AArch64 GNU target for Rust
	arch = x86_64
	depends = aarch64-linux-gnu-gcc
	depends = aarch64-linux-gnu-glibc
	depends = rust

pkgname = rust-aarch64-musl
	pkgdesc = AArch64 Musl target for Rust
	arch = x86_64
	depends = aarch64-linux-gnu-gcc
	depends = rust
