pkgbase = sbcl
	pkgdesc = Steel Bank Common Lisp
	pkgver = 2.6.1
	pkgrel = 1
	url = http://www.sbcl.org/
	arch = x86_64
	license = BSD-2-Clause
	license = BSD-3-Clause
	license = Xerox
	license = LOOP
	makedepends = sbcl
	depends = zlib
	depends = zstd
	provides = common-lisp
	provides = cl-asdf
	source = https://downloads.sourceforge.net/project/sbcl/sbcl/2.6.1/sbcl-2.6.1-source.tar.bz2
	source = arch-fixes.lisp
	sha256sums = 5f2cd5bb7d3e6d9149a59c05acd8429b3be1849211769e5a37451d001e196d7f
	sha256sums = b5a6468dcbc1012cae2c3cda155762a37b6d96ef89bba4f723315063b0b5e7ce

pkgname = sbcl
