pkgbase = grub
	pkgdesc = GNU GRand Unified Bootloader (2)
	pkgver = 2.12rc1
	pkgrel = 5
	epoch = 2
	url = https://www.gnu.org/software/grub/
	install = grub.install
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = rsync
	makedepends = xz
	makedepends = freetype2
	makedepends = ttf-dejavu
	makedepends = python
	makedepends = autogen
	makedepends = texinfo
	makedepends = help2man
	makedepends = gettext
	makedepends = device-mapper
	makedepends = fuse3
	depends = sh
	depends = xz
	depends = gettext
	depends = device-mapper
	optdepends = freetype2: For grub-mkfont usage
	optdepends = fuse3: For grub-mount usage
	optdepends = dosfstools: For grub-mkrescue FAT FS and EFI support
	optdepends = lzop: For grub-mkrescue LZO support
	optdepends = efibootmgr: For grub-install EFI support
	optdepends = libisoburn: Provides xorriso for generating grub rescue iso using grub-mkrescue
	optdepends = os-prober: To detect other OSes when generating grub.cfg in BIOS systems
	optdepends = mtools: For grub-mkrescue FAT FS support
	provides = grub-common
	provides = grub-bios
	provides = grub-emu
	provides = grub-efi-x86_64
	conflicts = grub-common
	conflicts = grub-bios
	conflicts = grub-emu
	conflicts = grub-efi-x86_64
	conflicts = grub-legacy
	replaces = grub-common
	replaces = grub-bios
	replaces = grub-emu
	replaces = grub-efi-x86_64
	options = !makeflags
	backup = etc/default/grub
	backup = etc/grub.d/40_custom
	source = git+https://git.savannah.gnu.org/git/grub.git#tag=bb59f566e1e5c387dbfd342bb3767f761422c744?signed
	source = git+https://git.savannah.gnu.org/git/gnulib.git
	source = https://ftp.gnu.org/gnu/unifont/unifont-15.1.02/unifont-15.1.02.bdf.gz
	source = https://ftp.gnu.org/gnu/unifont/unifont-15.1.02/unifont-15.1.02.bdf.gz.sig
	source = 0001-00_header-add-GRUB_COLOR_-variables.patch
	source = 0002-10_linux-detect-archlinux-initramfs.patch
	source = 0003-support-dropins-for-default-configuration.patch
	source = 0004-ntfs-module-security.patch
	source = 0005-fix-xfs-boundary-check.patch
	source = grub.default
	source = sbat.csv
	validpgpkeys = E53D497F3FA42AD8C9B4D1E835A93B74E82E4209
	validpgpkeys = BE5C23209ACDDACEB20DB0A28C8189F1988C2166
	validpgpkeys = 95D2E9AB8740D8046387FD151A09227B1F435A33
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 912834ab9cd372f300541894615f910af4db82477c91b236674057eadfc76429
	sha256sums = SKIP
	sha256sums = 5dee6628c48eef79812bb9e86ee772068d85e7fcebbd2b2b8d1e19d24eda9dab
	sha256sums = 8488aec30a93e8fe66c23ef8c23aefda39c38389530e9e73ba3fbcc8315d244d
	sha256sums = b5d9fcd62ffb3c3950fdeb7089ec2dc2294ac52e9861980ad90a437dedbd3d47
	sha256sums = 4bdd5ceb13dbd4c41fde24163f16a0ba05447d821e74d938a0b9e5fce0431140
	sha256sums = 9f8921b2bacd69bde7ab0c3aff88c678d52c2a625c89264fb92184e7427b819b
	sha256sums = 7df3f5cb5df7d2dfb17f4c9b5c5dedc9519ddce6f8d2c6cd43d1be17cecb65cb
	sha256sums = f34c2b0aa2ed4ab9c7e7bcab5197470c30fedc6c2148f337839dd24bceae35fd

pkgname = grub
