pkgbase = kitty
	pkgdesc = A modern, hackable, featureful, OpenGL-based terminal emulator
	pkgver = 0.36.0
	pkgrel = 1
	url = https://github.com/kovidgoyal/kitty
	arch = x86_64
	license = GPL-3.0-only
	makedepends = libxinerama
	makedepends = libxrandr
	makedepends = wayland-protocols
	makedepends = go
	makedepends = simde
	makedepends = ttf-nerd-fonts-symbols-mono
	depends = python3
	depends = freetype2
	depends = fontconfig
	depends = wayland
	depends = libx11
	depends = libxkbcommon-x11
	depends = libxcursor
	depends = libxi
	depends = hicolor-icon-theme
	depends = libgl
	depends = dbus
	depends = lcms2
	depends = librsync
	depends = xxhash
	options = !lto
	source = kitty-0.36.0.tar.xz::https://github.com/kovidgoyal/kitty/releases/download/v0.36.0/kitty-0.36.0.tar.xz
	source = kitty-0.36.0.tar.xz.sig::https://github.com/kovidgoyal/kitty/releases/download/v0.36.0/kitty-0.36.0.tar.xz.sig
	validpgpkeys = 3CE1780F78DD88DF45194FD706BC317B515ACE7C
	b2sums = 7070f1cd1f0dbdd11a91771c124d7278a4918f320b3f2bbc299cd1d5cab05e617761d97f2531736757788b130453de73951ee75a4d604ee99b8ef819080e58ac
	b2sums = SKIP

pkgname = kitty
	depends = python3
	depends = freetype2
	depends = fontconfig
	depends = wayland
	depends = libx11
	depends = libxkbcommon-x11
	depends = libxcursor
	depends = libxi
	depends = hicolor-icon-theme
	depends = libgl
	depends = dbus
	depends = lcms2
	depends = librsync
	depends = xxhash
	depends = kitty-terminfo
	depends = kitty-shell-integration
	optdepends = imagemagick: viewing images with icat
	optdepends = python-pygments: syntax highlighting in kitty +kitten diff
	optdepends = libcanberra: playing "bell" sound on terminal bell

pkgname = kitty-terminfo
	pkgdesc = Terminfo for kitty, an OpenGL-based terminal emulator
	depends = ncurses

pkgname = kitty-shell-integration
	pkgdesc = Shell integration scripts for kitty, an OpenGL-based terminal emulator
