pkgbase = kitty
	pkgdesc = A modern, hackable, featureful, OpenGL-based terminal emulator
	pkgver = 0.37.0
	pkgrel = 2
	url = https://github.com/kovidgoyal/kitty
	arch = x86_64
	license = GPL-3.0-only
	makedepends = libxinerama
	makedepends = libxrandr
	makedepends = wayland-protocols
	makedepends = go
	makedepends = simde
	makedepends = ttf-nerd-fonts-symbols-mono
	depends = python3
	depends = freetype2
	depends = fontconfig
	depends = wayland
	depends = libx11
	depends = libxkbcommon-x11
	depends = libxcursor
	depends = libxi
	depends = hicolor-icon-theme
	depends = libgl
	depends = dbus
	depends = lcms2
	depends = librsync
	depends = xxhash
	options = !lto
	source = kitty-0.37.0.tar.xz::https://github.com/kovidgoyal/kitty/releases/download/v0.37.0/kitty-0.37.0.tar.xz
	source = kitty-0.37.0.tar.xz.sig::https://github.com/kovidgoyal/kitty/releases/download/v0.37.0/kitty-0.37.0.tar.xz.sig
	validpgpkeys = 3CE1780F78DD88DF45194FD706BC317B515ACE7C
	b2sums = ad1fb416ac692dcaf6b05306f4cc5838db8e0c172bab483ee52cddf86c21f864071d22d0f122031635227379957c9bd7fd2f4e971c2ddc74f99ad2e6212cb440
	b2sums = SKIP

pkgname = kitty
	depends = python3
	depends = freetype2
	depends = fontconfig
	depends = wayland
	depends = libx11
	depends = libxkbcommon-x11
	depends = libxcursor
	depends = libxi
	depends = hicolor-icon-theme
	depends = libgl
	depends = dbus
	depends = lcms2
	depends = librsync
	depends = xxhash
	depends = kitty-terminfo
	depends = kitty-shell-integration
	optdepends = imagemagick: viewing images with icat
	optdepends = python-pygments: syntax highlighting in kitty +kitten diff
	optdepends = libcanberra: playing "bell" sound on terminal bell

pkgname = kitty-terminfo
	pkgdesc = Terminfo for kitty, an OpenGL-based terminal emulator
	depends = ncurses

pkgname = kitty-shell-integration
	pkgdesc = Shell integration scripts for kitty, an OpenGL-based terminal emulator
