pkgbase = python-xcffib
	pkgdesc = Python3 drop in replacement for xpyb, an XCB python binding
	pkgver = 1.5.0
	pkgrel = 2
	url = https://pypi.python.org/pypi/xcffib
	arch = any
	license = Apache
	checkdepends = python-pytest
	checkdepends = xorg-server-xvfb
	checkdepends = xorg-xeyes
	makedepends = git
	makedepends = python-setuptools
	makedepends = haskell-xcffib
	depends = python-cffi
	depends = libxcb
	source = git+https://github.com/tych0/xcffib.git#tag=v1.5.0
	sha512sums = 9173252f126610b39a683f8d79a78cbe160980b686bfa3b0d0538e0c07048db273a4fa9e206b3d01df202511b54d34b9050dc68e1e333f52d1c6a9651d7af1ba

pkgname = python-xcffib
