pkgbase = python-xcffib
	pkgdesc = Python3 drop in replacement for xpyb, an XCB python binding
	pkgver = 1.3.0
	pkgrel = 1
	url = https://pypi.python.org/pypi/xcffib
	arch = any
	license = Apache
	checkdepends = python-pytest
	checkdepends = xorg-server-xvfb
	checkdepends = xorg-xeyes
	makedepends = git
	makedepends = python-setuptools
	makedepends = haskell-xcffib
	depends = python-cffi
	depends = libxcb
	source = git+https://github.com/tych0/xcffib.git#commit=76b0c03597ee59fd4109a671d8c536842f904b4c
	sha512sums = SKIP

pkgname = python-xcffib
