pkgbase = python-xcffib
	pkgdesc = xcffib is the XCB binding for python
	pkgver = 1.6.0
	pkgrel = 1
	url = https://pypi.python.org/pypi/xcffib
	arch = any
	license = Apache-2.0
	checkdepends = python-pytest
	checkdepends = xorg-server-xvfb
	checkdepends = xorg-xeyes
	makedepends = git
	makedepends = python-setuptools
	makedepends = haskell-xcffib
	depends = python-cffi
	depends = libxcb
	source = git+https://github.com/tych0/xcffib.git#tag=v1.6.0
	sha512sums = 25fe693cd486da5395b75ccf918cce916c5b889123a6e43ab1538c630708356a16198c97a412bf8cd52447908e00a44e9dfe1cd81f505305d5caf59cc1563ed8

pkgname = python-xcffib
