pkgbase = libvirt
	pkgdesc = API for controlling virtualization engines (openvz,kvm,qemu,virtualbox,xen,etc)
	pkgver = 10.4.0
	pkgrel = 1
	epoch = 1
	url = https://libvirt.org/
	arch = x86_64
	license = LGPL-2.1-or-later
	license = GPL-3.0-or-later
	makedepends = meson
	makedepends = libxslt
	makedepends = python-docutils
	makedepends = lvm2
	makedepends = open-iscsi
	makedepends = libiscsi
	makedepends = glusterfs
	makedepends = bash-completion
	makedepends = dnsmasq
	makedepends = iproute2
	makedepends = qemu-base
	depends = libpciaccess
	depends = yajl
	depends = fuse3
	depends = gnutls
	depends = parted
	depends = libssh
	depends = libxml2
	depends = numactl
	depends = polkit
	depends = libnbd
	depends = libnl
	optdepends = libvirt-storage-gluster: Gluster storage backend
	optdepends = libvirt-storage-iscsi-direct: iSCSI-direct storage backend
	optdepends = gettext: required for libvirt-guests.service
	optdepends = openbsd-netcat: for remote management over ssh
	optdepends = dmidecode: DMI system info support
	optdepends = dnsmasq: required for default NAT/DHCP for guests
	optdepends = radvd: IPv6 RAD support
	optdepends = iptables-nft: required for default NAT networking
	optdepends = qemu-desktop: QEMU/KVM support
	optdepends = qemu-emulators-full: Support of additional QEMU architectures
	optdepends = lvm2: Logical Volume Manager support
	optdepends = open-iscsi: iSCSI support via iscsiadm
	optdepends = swtpm: TPM emulator support
	backup = etc/libvirt/libvirt-admin.conf
	backup = etc/libvirt/libvirt.conf
	backup = etc/libvirt/libvirtd.conf
	backup = etc/libvirt/lxc.conf
	backup = etc/libvirt/nwfilter/allow-arp.xml
	backup = etc/libvirt/nwfilter/allow-dhcp-server.xml
	backup = etc/libvirt/nwfilter/allow-dhcpv6-server.xml
	backup = etc/libvirt/nwfilter/allow-dhcp.xml
	backup = etc/libvirt/nwfilter/allow-dhcpv6.xml
	backup = etc/libvirt/nwfilter/allow-incoming-ipv4.xml
	backup = etc/libvirt/nwfilter/allow-incoming-ipv6.xml
	backup = etc/libvirt/nwfilter/allow-ipv6.xml
	backup = etc/libvirt/nwfilter/allow-ipv4.xml
	backup = etc/libvirt/nwfilter/clean-traffic-gateway.xml
	backup = etc/libvirt/nwfilter/clean-traffic.xml
	backup = etc/libvirt/nwfilter/no-arp-ip-spoofing.xml
	backup = etc/libvirt/nwfilter/no-arp-mac-spoofing.xml
	backup = etc/libvirt/nwfilter/no-arp-spoofing.xml
	backup = etc/libvirt/nwfilter/no-ip-multicast.xml
	backup = etc/libvirt/nwfilter/no-ipv6-multicast.xml
	backup = etc/libvirt/nwfilter/no-ip-spoofing.xml
	backup = etc/libvirt/nwfilter/no-ipv6-spoofing.xml
	backup = etc/libvirt/nwfilter/no-mac-spoofing.xml
	backup = etc/libvirt/nwfilter/no-mac-broadcast.xml
	backup = etc/libvirt/nwfilter/no-other-l2-traffic.xml
	backup = etc/libvirt/nwfilter/no-other-rarp-traffic.xml
	backup = etc/libvirt/nwfilter/qemu-announce-self-rarp.xml
	backup = etc/libvirt/nwfilter/qemu-announce-self.xml
	backup = etc/libvirt/qemu.conf
	backup = etc/libvirt/qemu-lockd.conf
	backup = etc/libvirt/qemu/networks/default.xml
	backup = etc/libvirt/virtchd.conf
	backup = etc/libvirt/virtinterfaced.conf
	backup = etc/libvirt/virtlockd.conf
	backup = etc/libvirt/virtlogd.conf
	backup = etc/libvirt/virt-login-shell.conf
	backup = etc/libvirt/virtlxcd.conf
	backup = etc/libvirt/virtnetworkd.conf
	backup = etc/libvirt/virtnodedevd.conf
	backup = etc/libvirt/virtnwfilterd.conf
	backup = etc/libvirt/virtproxyd.conf
	backup = etc/libvirt/virtqemud.conf
	backup = etc/libvirt/virtsecretd.conf
	backup = etc/libvirt/virtstoraged.conf
	backup = etc/libvirt/virtvboxd.conf
	backup = etc/logrotate.d/libvirtd
	backup = etc/logrotate.d/libvirtd.lxc
	backup = etc/logrotate.d/libvirtd.qemu
	backup = etc/sasl2/libvirt.conf
	source = https://libvirt.org/sources/libvirt-10.4.0.tar.xz
	source = https://libvirt.org/sources/libvirt-10.4.0.tar.xz.asc
	validpgpkeys = 453B65310595562855471199CA68BE8010084C9C
	sha256sums = d1308be98da418ce463f0d9e4ac28a94b1a859364db3bb078d6e153dc587efe4
	sha256sums = SKIP

pkgname = libvirt
	provides = libvirt=10.4.0
	provides = libvirt.so
	provides = libvirt-admin.so
	provides = libvirt-lxc.so
	provides = libvirt-qemu.so

pkgname = libvirt-storage-gluster
	pkgdesc = Libvirt Gluster storage backend
	depends = libvirt=10.4.0
	depends = glusterfs
	optdepends = 
	backup = 

pkgname = libvirt-storage-iscsi-direct
	pkgdesc = Libvirt iSCSI-direct storage backend
	depends = libvirt=10.4.0
	depends = libiscsi
	optdepends = 
	backup = 
