pkgbase = libvirt
	pkgdesc = API for controlling virtualization engines (openvz,kvm,qemu,virtualbox,xen,etc)
	pkgver = 11.0.0
	pkgrel = 2
	epoch = 1
	url = https://libvirt.org/
	arch = x86_64
	license = LGPL-2.1-or-later
	license = GPL-3.0-or-later
	makedepends = bash-completion
	makedepends = dnsmasq
	makedepends = glusterfs
	makedepends = iproute2
	makedepends = libiscsi
	makedepends = libxslt
	makedepends = lvm2
	makedepends = meson
	makedepends = open-iscsi
	makedepends = python-docutils
	makedepends = qemu-base
	makedepends = systemd
	depends = acl
	depends = audit
	depends = bash
	depends = curl
	depends = device-mapper
	depends = fuse3
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gnutls
	depends = json-c
	depends = libcap-ng
	depends = libnbd
	depends = libnl
	depends = libpcap
	depends = libpciaccess
	depends = libsasl
	depends = libssh
	depends = libssh2
	depends = libtirpc
	depends = libxml2
	depends = numactl
	depends = parted
	depends = polkit
	depends = readline
	depends = systemd-libs
	depends = util-linux-libs
	optdepends = dmidecode: DMI system info support
	optdepends = dnsmasq: required for default NAT/DHCP for guests
	optdepends = gettext: required for libvirt-guests.service
	optdepends = iptables-nft: required for default NAT networking
	optdepends = libvirt-python: for virt-qemu-qmp-proxy and virt-qemu-sev-validate commands
	optdepends = libvirt-storage-gluster: Gluster storage backend
	optdepends = libvirt-storage-iscsi-direct: iSCSI-direct storage backend
	optdepends = lvm2: Logical Volume Manager support
	optdepends = openbsd-netcat: for remote management over ssh
	optdepends = open-iscsi: iSCSI support via iscsiadm
	optdepends = python-cryptography: for virt-qemu-sev-validate command
	optdepends = python-lxml: for virt-qemu-sev-validate command
	optdepends = qemu-base: QEMU/KVM support
	optdepends = qemu-desktop: QEMU/KVM desktop support
	optdepends = qemu-emulators-full: Support of additional QEMU architectures
	optdepends = radvd: IPv6 RAD support
	optdepends = swtpm: TPM emulator support
	backup = etc/libvirt/libvirt-admin.conf
	backup = etc/libvirt/libvirt.conf
	backup = etc/libvirt/libvirtd.conf
	backup = etc/libvirt/lxc.conf
	backup = etc/libvirt/network.conf
	backup = etc/libvirt/nwfilter/allow-arp.xml
	backup = etc/libvirt/nwfilter/allow-dhcp-server.xml
	backup = etc/libvirt/nwfilter/allow-dhcpv6-server.xml
	backup = etc/libvirt/nwfilter/allow-dhcp.xml
	backup = etc/libvirt/nwfilter/allow-dhcpv6.xml
	backup = etc/libvirt/nwfilter/allow-incoming-ipv4.xml
	backup = etc/libvirt/nwfilter/allow-incoming-ipv6.xml
	backup = etc/libvirt/nwfilter/allow-ipv6.xml
	backup = etc/libvirt/nwfilter/allow-ipv4.xml
	backup = etc/libvirt/nwfilter/clean-traffic-gateway.xml
	backup = etc/libvirt/nwfilter/clean-traffic.xml
	backup = etc/libvirt/nwfilter/no-arp-ip-spoofing.xml
	backup = etc/libvirt/nwfilter/no-arp-mac-spoofing.xml
	backup = etc/libvirt/nwfilter/no-arp-spoofing.xml
	backup = etc/libvirt/nwfilter/no-ip-multicast.xml
	backup = etc/libvirt/nwfilter/no-ipv6-multicast.xml
	backup = etc/libvirt/nwfilter/no-ip-spoofing.xml
	backup = etc/libvirt/nwfilter/no-ipv6-spoofing.xml
	backup = etc/libvirt/nwfilter/no-mac-spoofing.xml
	backup = etc/libvirt/nwfilter/no-mac-broadcast.xml
	backup = etc/libvirt/nwfilter/no-other-l2-traffic.xml
	backup = etc/libvirt/nwfilter/no-other-rarp-traffic.xml
	backup = etc/libvirt/nwfilter/qemu-announce-self-rarp.xml
	backup = etc/libvirt/nwfilter/qemu-announce-self.xml
	backup = etc/libvirt/network.conf
	backup = etc/libvirt/qemu.conf
	backup = etc/libvirt/qemu-lockd.conf
	backup = etc/libvirt/qemu/networks/default.xml
	backup = etc/libvirt/virtchd.conf
	backup = etc/libvirt/virtinterfaced.conf
	backup = etc/libvirt/virtlockd.conf
	backup = etc/libvirt/virtlogd.conf
	backup = etc/libvirt/virt-login-shell.conf
	backup = etc/libvirt/virtlxcd.conf
	backup = etc/libvirt/virtnetworkd.conf
	backup = etc/libvirt/virtnodedevd.conf
	backup = etc/libvirt/virtnwfilterd.conf
	backup = etc/libvirt/virtproxyd.conf
	backup = etc/libvirt/virtqemud.conf
	backup = etc/libvirt/virtsecretd.conf
	backup = etc/libvirt/virtstoraged.conf
	backup = etc/libvirt/virtvboxd.conf
	backup = etc/logrotate.d/libvirtd
	backup = etc/logrotate.d/libvirtd.lxc
	backup = etc/logrotate.d/libvirtd.qemu
	backup = etc/sasl2/libvirt.conf
	source = https://libvirt.org/sources/libvirt-11.0.0.tar.xz
	source = https://libvirt.org/sources/libvirt-11.0.0.tar.xz.asc
	source = https://gitlab.com/libvirt/libvirt/-/merge_requests/448.patch
	validpgpkeys = 453B65310595562855471199CA68BE8010084C9C
	sha256sums = 01a176ff4042ad58cf83c09fe0925d6bc8eed0ecce1e0ee19b8ef4c1ffa3806e
	sha256sums = SKIP
	sha256sums = b71b3ae1c9ad9c0d2c77ca769c3220429e93cc8ca78dbbb01af17149908b20a5

pkgname = libvirt
	provides = libvirt=11.0.0
	provides = libvirt.so
	provides = libvirt-admin.so
	provides = libvirt-lxc.so
	provides = libvirt-qemu.so

pkgname = libvirt-storage-gluster
	pkgdesc = Libvirt Gluster storage backend
	depends = libvirt=11.0.0
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = glusterfs
	optdepends = 
	backup = 

pkgname = libvirt-storage-iscsi-direct
	pkgdesc = Libvirt iSCSI-direct storage backend
	depends = libvirt=11.0.0
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libiscsi
	optdepends = 
	backup = 
