pkgbase = rclone
	pkgdesc = Sync files to and from Google Drive, S3, Swift, Cloudfiles, Dropbox and Google Cloud Storage
	pkgver = 1.64.2
	pkgrel = 1
	url = https://github.com/rclone/rclone
	arch = x86_64
	license = MIT
	makedepends = python
	makedepends = pandoc
	makedepends = go
	makedepends = git
	makedepends = fuse3
	depends = glibc
	optdepends = fuse3: for rclone mount
	options = !lto
	source = rclone-1.64.2.tar.gz::https://github.com/rclone/rclone/archive/v1.64.2.tar.gz
	sha512sums = 8522c27984a782350c8f6e9370d471a927a3f54e21a3f02ae8520248e42c65e5954fc3442b62d4251a3ebbccbf1ca4a12c77608c9663337d6bf0280dd4cd24ef

pkgname = rclone
