pkgbase = rclone
	pkgdesc = Sync files to and from Google Drive, S3, Swift, Cloudfiles, Dropbox and Google Cloud Storage
	pkgver = 1.68.2
	pkgrel = 1
	url = https://github.com/rclone/rclone
	arch = x86_64
	license = MIT
	makedepends = python
	makedepends = pandoc
	makedepends = go
	makedepends = git
	makedepends = fuse3
	depends = glibc
	optdepends = fuse3: for rclone mount
	options = !lto
	source = rclone-1.68.2.tar.gz::https://github.com/rclone/rclone/archive/v1.68.2.tar.gz
	sha512sums = 02baef752b8537ef5de05c51ce556ee76aee62c6835dc2f0cb6a8ebf0837d524dee1ed69136fb8319511a248d6776e36e53038138bf245f19aa66ea2aac6815c

pkgname = rclone
