pkgbase = rclone
	pkgdesc = Sync files to and from Google Drive, S3, Swift, Cloudfiles, Dropbox and Google Cloud Storage
	pkgver = 1.65.0
	pkgrel = 1
	url = https://github.com/rclone/rclone
	arch = x86_64
	license = MIT
	makedepends = python
	makedepends = pandoc
	makedepends = go
	makedepends = git
	makedepends = fuse3
	depends = glibc
	optdepends = fuse3: for rclone mount
	options = !lto
	source = rclone-1.65.0.tar.gz::https://github.com/rclone/rclone/archive/v1.65.0.tar.gz
	sha512sums = ed0432a48d9016f8d6bb70ab852a6bb51216d9a3182fc8cea0b7c8ba1654ac555fc50b8cd189a12ec708c49c4ba6410157e0a08baf2459d81078c53cbc3fe213

pkgname = rclone
