pkgbase = jemalloc
	pkgdesc = General-purpose scalable concurrent malloc implementation
	pkgver = 5.3.0
	pkgrel = 4
	epoch = 1
	url = http://www.canonware.com/jemalloc/
	arch = x86_64
	license = BSD
	makedepends = clang
	depends = glibc
	optdepends = perl: for jeprof
	provides = libjemalloc.so
	options = !lto
	source = https://github.com/jemalloc/jemalloc/releases/download/5.3.0/jemalloc-5.3.0.tar.bz2
	sha256sums = 2db82d1e7119df3e71b7640219b6dfe84789bc0537983c3b7ac4f7189aecfeaa

pkgname = jemalloc
