[Desktop Entry]
Type=Application
Name=Hedgewars
GenericName=Platform Game
Comment=Worms style game
Exec=hedgewars
Icon=hedgewars
Categories=Game;ArcadeGame;