pkgbase = python-matplotlib
	pkgdesc = A python plotting library, making publication quality plots
	pkgver = 3.11.0
	pkgrel = 1
	url = https://matplotlib.org
	arch = x86_64
	license = PSF-2.0
	checkdepends = ffmpeg
	checkdepends = ghostscript
	checkdepends = gtk4
	checkdepends = imagemagick
	checkdepends = inkscape
	checkdepends = jupyter-nbconvert
	checkdepends = jupyter-nbformat
	checkdepends = noto-fonts-cjk
	checkdepends = pyside6
	checkdepends = python-cairo
	checkdepends = python-cairocffi
	checkdepends = python-gobject
	checkdepends = python-ipykernel
	checkdepends = python-pandas
	checkdepends = python-pikepdf
	checkdepends = python-pyqt6
	checkdepends = python-pytest
	checkdepends = python-pytest-rerunfailures
	checkdepends = python-pytest-xdist
	checkdepends = python-pytz
	checkdepends = python-tornado
	checkdepends = python-wxpython
	checkdepends = python-xarray
	checkdepends = python-xcffib
	checkdepends = qt6-svg
	checkdepends = texlive-bin
	checkdepends = texlive-fontsrecommended
	checkdepends = texlive-latexextra
	checkdepends = texlive-luatex
	checkdepends = texlive-pictures
	checkdepends = texlive-xetex
	checkdepends = tk
	checkdepends = ttf-dejavu
	checkdepends = wqy-zenhei
	checkdepends = xorg-server-xvfb
	makedepends = git
	makedepends = meson-python
	makedepends = pybind11
	makedepends = python-build
	makedepends = python-certifi
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = glibc
	depends = freetype2
	depends = libgcc
	depends = libstdc++
	depends = python
	depends = python-contourpy
	depends = python-cycler
	depends = python-dateutil
	depends = python-fonttools
	depends = python-kiwisolver
	depends = python-numpy
	depends = python-packaging
	depends = python-pillow
	depends = python-pyparsing
	depends = qhull
	optdepends = tk: Tk{Agg,Cairo} backends
	optdepends = pyside6: alternative for Qt6{Agg,Cairo} backends
	optdepends = python-pyqt6: Qt6{Agg,Cairo} backends
	optdepends = python-gobject: for GTK{3,4}{Agg,Cairo} backend
	optdepends = python-wxpython: WX{Agg,Cairo} backend
	optdepends = python-cairo: {GTK{3,4},Qt{5,6},Tk,WX}Cairo backends
	optdepends = python-cairocffi: alternative for Cairo backends
	optdepends = python-tornado: WebAgg backend
	optdepends = ffmpeg: for saving movies
	optdepends = imagemagick: for saving animated gifs
	optdepends = ghostscript: usetex dependencies
	optdepends = texlive-binextra: usetex dependencies
	optdepends = texlive-fontsrecommended: usetex dependencies
	optdepends = texlive-latexrecommended: usetex usage with pdflatex
	optdepends = python-certifi: https support
	source = git+https://github.com/matplotlib/matplotlib.git?signed#tag=v3.11.0
	validpgpkeys = 23CAB59E3332F94D26BEF0378D86E7FAE5EB0C10
	validpgpkeys = EB8322187FD451192E430A7279B3FEC456F12599
	b2sums = 404927dd3c3184b0d4b17ded179c62839d3c5b24b3c3b8b2095fc52b0037234b19383cf55f398a1c06292f9d4e104073ae4b90a44cb6832b83103e4cf95dc252

pkgname = python-matplotlib
