[Unit]
Description=Mochad X10 Daemon
Wants=network.target
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/mochad

[Install]
#WantedBy=multi-user.target

