[Desktop Entry]
Type=Application
Name=Fillets-NG
GenericName=Fish Fillets
Comment=Wonderful puzzle game Fish Fillets
Comment[cs]=Podmořská logická hra ve které ovládáte dva rybí agenty
Icon=fillets-ng
Exec=fillets
StartupNotify=true
Terminal=false
Categories=Game;LogicGame;
