pkgbase = carla
	pkgdesc = Audio Plugin Host
	pkgver = 2.5.8
	pkgrel = 1
	url = https://kxstudio.linuxaudio.org/Applications:Carla
	arch = x86_64
	groups = pro-audio
	license = GPL-2.0-or-later
	makedepends = alsa-lib
	makedepends = file
	makedepends = fluidsynth
	makedepends = freetype2
	makedepends = git
	makedepends = libglvnd
	makedepends = liblo
	makedepends = libpulse
	makedepends = libsndfile
	makedepends = python-requests
	makedepends = python-tornado
	makedepends = qt5-tools
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = libx11
	depends = python
	depends = python-pyqt5
	depends = python-pyliblo
	depends = python-rdflib
	depends = qt5-base
	depends = qt5-svg
	depends = sdl2
	depends = sh
	optdepends = jack: for using carla with JACK
	optdepends = lv2-host: for the LV2 plugin
	optdepends = vst-host: for the VST plugin
	optdepends = python-requests: for qtweb backend
	optdepends = python-tornado: for MOD UI
	provides = dssi-host
	provides = ladspa-host
	provides = lv2-host
	provides = vst-host
	provides = vst3-host
	source = git+https://github.com/falktx/carla#commit=4f94d6120209f7605f62200b03fe8e7de84a1b91?signed
	validpgpkeys = 62B11043D2F6EB6672D93103CDBAA37ABC74FBA0
	sha512sums = SKIP
	b2sums = SKIP

pkgname = carla
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = libx11
	depends = python
	depends = python-pyqt5
	depends = python-pyliblo
	depends = python-rdflib
	depends = qt5-base
	depends = qt5-svg
	depends = sdl2
	depends = sh
	depends = alsa-lib
	depends = libasound.so
	depends = file
	depends = libmagic.so
	depends = fluidsynth
	depends = libfluidsynth.so
	depends = freetype2
	depends = libfreetype.so
	depends = libglvnd
	depends = libGL.so
	depends = liblo
	depends = liblo.so
	depends = libpulse
	depends = libpulse.so
	depends = libpulse-simple.so
	depends = libsndfile
	depends = libsndfile.so
