pkgbase = carla
	pkgdesc = Audio Plugin Host
	pkgver = 2.5.8
	pkgrel = 2
	url = https://kxstudio.linuxaudio.org/Applications:Carla
	arch = x86_64
	groups = pro-audio
	license = GPL-2.0-or-later
	makedepends = alsa-lib
	makedepends = file
	makedepends = fluidsynth
	makedepends = freetype2
	makedepends = git
	makedepends = libglvnd
	makedepends = liblo
	makedepends = libpulse
	makedepends = libsndfile
	makedepends = python-requests
	makedepends = python-tornado
	makedepends = qt5-tools
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = libx11
	depends = python
	depends = python-pyqt5
	depends = python-pyliblo
	depends = python-rdflib
	depends = qt5-base
	depends = qt5-svg
	depends = sdl2
	depends = sh
	optdepends = jack: for using carla with JACK
	optdepends = lv2-host: for the LV2 plugin
	optdepends = vst-host: for the VST plugin
	optdepends = python-requests: for qtweb backend
	optdepends = python-tornado: for MOD UI
	provides = dssi-host
	provides = ladspa-host
	provides = lv2-host
	provides = vst-host
	provides = vst3-host
	source = git+https://github.com/falktx/carla.git?signed#tag=v2.5.8
	validpgpkeys = 62B11043D2F6EB6672D93103CDBAA37ABC74FBA0
	sha512sums = 6d05694f2395258f568caa444230cd652b3cc885d251f54b2cf77f43bfdfcc18bcb673a2dea05091a012349d746c84c9c4e07da323be8cfa93d9583cd459b9d4
	b2sums = e6444987502854a27598422bbe7f49d7edf298fb3e09470e76ca8fcf30cca8bd997b1a5bcfa1a655df0773b3ece7cffa1bacfd9ef3c93f7bad89f14a376758a9

pkgname = carla
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = libx11
	depends = python
	depends = python-pyqt5
	depends = python-pyliblo
	depends = python-rdflib
	depends = qt5-base
	depends = qt5-svg
	depends = sdl2
	depends = sh
	depends = alsa-lib
	depends = libasound.so
	depends = file
	depends = libmagic.so
	depends = fluidsynth
	depends = libfluidsynth.so
	depends = freetype2
	depends = libfreetype.so
	depends = libglvnd
	depends = libGL.so
	depends = liblo
	depends = liblo.so
	depends = libpulse
	depends = libpulse.so
	depends = libpulse-simple.so
	depends = libsndfile
	depends = libsndfile.so
