pkgbase = libantlr3c
	pkgdesc = ANother Tool for Language Recognition
	pkgver = 3.5.3
	pkgrel = 2
	url = https://www.antlr3.org
	arch = x86_64
	license = BSD-3-Clause
	makedepends = git
	depends = glibc
	source = git+https://github.com/antlr/antlr3.git#tag=3.5.3
	sha256sums = a4bae60b1fc24bacd6fbf54524fe0debce9fa2b51391a4836f93a5bfc304d70d

pkgname = libantlr3c
