pkgbase = lrs
	pkgdesc = C implementation of the reverse search algorithm for vertex enumeration/convex hull problems
	pkgver = 073
	pkgrel = 1
	url = http://cgm.cs.mcgill.ca/~avis/C/lrs.html
	arch = x86_64
	license = GPL-2.0-or-later
	depends = glibc
	depends = gmp
	source = http://cgm.cs.mcgill.ca/~avis/C/lrslib/archive/lrslib-073.tar.gz
	source = lrs-system-cflags.patch
	sha256sums = c49a4ebd856183473d1d5a62785fcdfe1057d5d671d4b96f3a1250eb1afe4e83
	sha256sums = 617ed06ae2584ef3349a3b1f6ab1a4acd11f18211394458498e1223a65bb0e73

pkgname = lrs
