pkgbase = pacman
	pkgdesc = A library-based package manager with dependency support
	pkgver = 7.0.0.r6.gc685ae6
	pkgrel = 6.1
	url = https://www.archlinux.org/pacman/
	arch = x86_64
	license = GPL-2.0-or-later
	checkdepends = fakechroot
	checkdepends = python
	makedepends = asciidoc
	makedepends = doxygen
	makedepends = git
	makedepends = meson
	depends = bash
	depends = coreutils
	depends = curl
	depends = libcurl.so
	depends = gawk
	depends = gettext
	depends = glibc
	depends = gnupg
	depends = gpgme
	depends = libgpgme.so
	depends = grep
	depends = libarchive
	depends = libarchive.so
	depends = openssl
	depends = libcrypto.so
	depends = pacman-mirrorlist
	depends = systemd
	optdepends = base-devel: required to use makepkg
	optdepends = perl-locale-gettext: translation support in makepkg-template
	provides = libalpm.so
	backup = etc/pacman.conf
	backup = etc/makepkg.conf
	backup = etc/makepkg.conf.d/rust.conf
	source = git+https://gitlab.archlinux.org/pacman/pacman.git#tag=v7.0.0?signed
	source = revertme-makepkg-remove-libdepends-and-libprovides.patch::https://gitlab.archlinux.org/pacman/pacman/-/commit/354a300cd26bb1c7e6551473596be5ecced921de.patch
	source = pacman.conf
	source = makepkg.conf
	source = alpm.sysusers
	source = rust.conf
	validpgpkeys = 6645B0A8C7005E78DB1D7864F99FFE0FEAE999BD
	validpgpkeys = B8151B117037781095514CA7BBDFFC92306B1121
	sha256sums = 06d082c3ce6f0811ca728515aa82d69d372800bd3ada99f5c445ef9429b6e3a6
	sha256sums = b3bce9d662e189e8e49013b818f255d08494a57e13fc264625f852f087d3def2
	sha256sums = bc80e9d0439caddd29b99a69b5060b5589cad2398c23abc5b2b8b990fae6ad8c
	sha256sums = 46568a641607ea452beb45a5b26d2120755a0b2576211e6331e7a97f1eafa7d6
	sha256sums = c8760d7ebb6c9817d508c691c67084be251cd9c8811ee1ccf92c1278bad74c1c
	sha256sums = 6fe03e6ea3f69d99d59a48847a8ae97c2160fca847c7aedf7b89d05e4aa9386d

pkgname = pacman
