pkgbase = pacman
	pkgdesc = A library-based package manager with dependency support
	pkgver = 7.0.0.r6.gc685ae6
	pkgrel = 1
	url = https://www.archlinux.org/pacman/
	arch = x86_64
	license = GPL-2.0-or-later
	checkdepends = fakechroot
	checkdepends = python
	makedepends = asciidoc
	makedepends = doxygen
	makedepends = git
	makedepends = meson
	depends = bash
	depends = coreutils
	depends = curl
	depends = gawk
	depends = gettext
	depends = glibc
	depends = gnupg
	depends = gpgme
	depends = grep
	depends = libarchive
	depends = pacman-mirrorlist
	depends = systemd
	optdepends = base-devel: required to use makepkg
	optdepends = perl-locale-gettext: translation support in makepkg-template
	provides = libalpm.so
	backup = etc/pacman.conf
	backup = etc/makepkg.conf
	backup = etc/makepkg.conf.d/rust.conf
	source = git+https://gitlab.archlinux.org/pacman/pacman.git#tag=v7.0.0?signed
	source = revertme-makepkg-remove-libdepends-and-libprovides.patch::https://gitlab.archlinux.org/pacman/pacman/-/commit/354a300cd26bb1c7e6551473596be5ecced921de.patch
	source = pacman.conf
	source = makepkg.conf
	source = alpm.sysusers
	source = rust.conf
	validpgpkeys = 6645B0A8C7005E78DB1D7864F99FFE0FEAE999BD
	validpgpkeys = B8151B117037781095514CA7BBDFFC92306B1121
	sha256sums = 06d082c3ce6f0811ca728515aa82d69d372800bd3ada99f5c445ef9429b6e3a6
	sha256sums = b3bce9d662e189e8e49013b818f255d08494a57e13fc264625f852f087d3def2
	sha256sums = 0e84952e4b8eacbb38c018608d152ddd6f98e205c4c6c7d3cdca854d4b7d4179
	sha256sums = d99c1f9608362fff9ab3a2ca0a3096a317927b42a6725bc86599da6849c9c67c
	sha256sums = c8760d7ebb6c9817d508c691c67084be251cd9c8811ee1ccf92c1278bad74c1c
	sha256sums = 59a8bbdc32830c90dbce5ead9f90074a2bb31cd85ec92bc5f92251bb4bcf8a1d

pkgname = pacman
