pkgbase = ncmpcpp
	pkgdesc = Featureful ncurses based MPD client inspired by ncmpc
	pkgver = 0.10
	pkgrel = 1
	url = https://github.com/ncmpcpp/ncmpcpp
	arch = x86_64
	license = GPL-2.0-only
	makedepends = boost
	makedepends = git
	depends = curl
	depends = libcurl.so
	depends = libmpdclient
	depends = libmpdclient.so
	depends = fftw
	depends = libfftw3.so
	depends = boost-libs
	depends = libboost_filesystem.so
	depends = libboost_locale.so
	depends = libboost_program_options.so
	depends = libboost_thread.so
	depends = icu
	depends = libicui18n.so
	depends = libicuuc.so
	depends = glibc
	depends = gcc-libs
	depends = ncurses
	depends = libncursesw.so
	depends = readline
	depends = libreadline.so
	depends = taglib
	source = git+https://github.com/ncmpcpp/ncmpcpp.git#tag=0.10
	sha512sums = 11ecfca5ab9e9c55666990dce720b628e13abc84476770be5956b9736e9ee96de028ac96a60430218f6ce05859617b6875c540c2f4d9fe8dcc252017e72f5f48
	b2sums = 6009107e2c58c2a1281313ab8071723b34a6b26f353f8fb13d99d39cc1315357a2b7f05f89910edd2829023fa54f1a7d6ae29f9a78830116849a847f46ac2f56

pkgname = ncmpcpp
