[Desktop Entry]
Version=1.0
Name=PulseAudio Volume Control
GenericName=Volume Control
Comment=Adjust the volume level
Exec=pavucontrol
Icon=multimedia-volume-control
StartupNotify=true
Type=Application
Categories=AudioVideo;Audio;
GenericName[en_GB]=Volume Control
