[Desktop Entry]
Name=Atomic Tanks
Comment=A remake of a classic DOS game "Scorched Earth"
Exec=atanks
Icon=atanks
Terminal=false
Type=Application
Categories=Game;ArcadeGame;StrategyGame;
