[Unit]
Description=MythTV Backend
Wants=network-online.target
After=network.target mysqld.service

[Service]
Type=simple
Environment=HOME=/var/lib/mythtv
User=mythtv
ExecStart=/usr/bin/mythbackend --logpath /var/log/mythtv
ExecStop=/usr/bin/mythshutdown --setscheduledwakeup
#ExecStop=/usr/bin/mythshutdown --shutdown
Restart=on-failure

[Install]
WantedBy=multi-user.target
