[Unit]
Description=An automatic NZB and torrent movie downloader

[Service]
ExecStart=/usr/bin/python2 /opt/couchpotato/CouchPotato.py --config_file /opt/couchpotato/config.ini --data_dir /opt/couchpotato/data --daemon --quiet
GuessMainPID=no
Type=forking
User=couchpotato
Group=couchpotato

[Install]
WantedBy=multi-user.target


