pkgbase = opencv
	pkgdesc = Open Source Computer Vision Library
	pkgver = 4.9.0
	pkgrel = 5
	url = https://opencv.org/
	arch = x86_64
	license = Apache-2.0
	makedepends = ant
	makedepends = cmake
	makedepends = cudnn
	makedepends = eigen
	makedepends = fmt
	makedepends = glew
	makedepends = hdf5
	makedepends = java-environment
	makedepends = lapacke
	makedepends = mesa
	makedepends = nlohmann-json
	makedepends = openmpi
	makedepends = pugixml
	makedepends = python-numpy
	makedepends = python-setuptools
	makedepends = qt6-5compat
	makedepends = vtk
	depends = abseil-cpp
	depends = cblas
	depends = ffmpeg
	depends = freetype2
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gst-plugins-base
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = harfbuzz
	depends = lapack
	depends = libdc1394
	depends = libglvnd
	depends = libjpeg-turbo
	depends = libpng
	depends = libtiff
	depends = libwebp
	depends = openexr
	depends = openjpeg2
	depends = verdict
	depends = protobuf
	depends = tbb
	depends = zlib
	optdepends = opencv-samples: samples
	optdepends = vtk: for the viz module
	optdepends = glew: for the viz module
	optdepends = qt6-base: for the HighGUI module
	optdepends = hdf5: for the HDF5 module
	optdepends = opencl-icd-loader: For coding with OpenCL
	optdepends = java-runtime: Java interface
	source = https://github.com/opencv/opencv/archive/4.9.0/opencv-4.9.0.tar.gz
	source = https://github.com/opencv/opencv_contrib/archive/4.9.0/opencv_contrib-4.9.0.tar.gz
	source = opencv-cccl-2.2.0.zip::https://github.com/NVIDIA/cccl/archive/refs/tags/v2.2.0.zip
	source = vtk9.patch
	source = fix-nppi-bufsize-type.patch
	sha256sums = ddf76f9dffd322c7c3cb1f721d0887f62d747b82059342213138dc190f28bc6c
	sha256sums = 8952c45a73b75676c522dd574229f563e43c271ae1d5bbbd26f8e2b6bc1a4dae
	sha256sums = f0899311b537614f3bb79fcb20e5fa09e72b857ba3e5ef5d13ef64c6710483e7
	sha256sums = f35a2d4ea0d6212c7798659e59eda2cb0b5bc858360f7ce9c696c77d3029668e
	sha256sums = 993032a43a62faecc56f3f7aeaed29e471605dabdf28579fbeb36d52ecaa4060

pkgname = opencv

pkgname = opencv-samples
	pkgdesc = Open Source Computer Vision Library (samples)
	depends = opencv

pkgname = python-opencv
	pkgdesc = Python bindings for OpenCV
	depends = fmt
	depends = glew
	depends = hdf5
	depends = jsoncpp
	depends = opencv
	depends = openmpi
	depends = pugixml
	depends = python-numpy
	depends = qt6-base
	depends = vtk

pkgname = opencv-cuda
	pkgdesc = Open Source Computer Vision Library (with CUDA support)
	depends = abseil-cpp
	depends = cblas
	depends = ffmpeg
	depends = freetype2
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gst-plugins-base
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = harfbuzz
	depends = lapack
	depends = libdc1394
	depends = libglvnd
	depends = libjpeg-turbo
	depends = libpng
	depends = libtiff
	depends = libwebp
	depends = openexr
	depends = openjpeg2
	depends = verdict
	depends = protobuf
	depends = tbb
	depends = zlib
	depends = cudnn
	provides = opencv=4.9.0
	conflicts = opencv
	options = !debug
