pkgbase = gocryptfs
	pkgdesc = Encrypted overlay filesystem written in Go.
	pkgver = 2.5.2
	pkgrel = 1
	url = https://github.com/rfjakob/gocryptfs
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = pandoc
	makedepends = man-db
	depends = glibc
	depends = openssl
	depends = fuse3
	source = gocryptfs-2.5.2.tar.gz::https://github.com/rfjakob/gocryptfs/releases/download/v2.5.2/gocryptfs_v2.5.2_src-deps.tar.gz
	source = gocryptfs-2.5.2.tar.gz.asc::https://github.com/rfjakob/gocryptfs/releases/download/v2.5.2/gocryptfs_v2.5.2_src-deps.tar.gz.asc
	validpgpkeys = FFF3E01444FED7C316A3545A895F5BC123A02740
	sha256sums = cc45bdc774592d392c4625c242529c2632bcf1e55ed16d8e81b142fc58616a60
	sha256sums = SKIP

pkgname = gocryptfs
