pkgbase = python-audioop-lts
	pkgdesc = A LTS port of Python's 'audioop' module
	pkgver = 0.2.2
	pkgrel = 2
	url = https://github.com/AbstractUmbra/audioop
	arch = x86_64
	license = PSF-2.0
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = glibc
	depends = python
	provides = python-audioop
	source = python-audioop-lts::git+https://github.com/AbstractUmbra/audioop#tag=0.2.2
	sha512sums = 171d299538e62d68ac2c19449f7a296ddb660e572a07dc3e33a0373ab2c493f220dfaf2004822972a443a10afb64ba305b145e3fc269fbd348f2e41b5c19fdec
	b2sums = e7143b62b9e8e1fa43964894f6c7dac02947fab4d0d8c33014c87e0b1304aba2e951ef4a840b1d58f56e03521bef460013149c7751c6b1812d945f24862b0081

pkgname = python-audioop-lts
