pkgbase = gssdp
	pkgdesc = GObject-based API for handling resource discovery and announcement over SSDP
	pkgver = 1.6.3
	pkgrel = 2
	url = https://wiki.gnome.org/Projects/GUPnP
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = gi-docgen
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gtk4
	makedepends = meson
	makedepends = pandoc
	makedepends = vala
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libsoup3
	source = git+https://gitlab.gnome.org/GNOME/gssdp.git?signed#tag=gssdp-1.6.3
	validpgpkeys = AC9CD4E32D7C7F6357BA8ADD10F6E970175D29E1
	b2sums = b92fd3945674b65f158d9e4b6c384580a8c13d97bdb4bab86895a458e54e79f7d0186b2dc3615a52ac8f029709c7877346a59863d4f26d06cc5fd4358025e1dc

pkgname = gssdp
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libsoup3
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = libgio-2.0.so
	depends = libsoup-3.0.so
	optdepends = gtk4: gssdp-device-sniffer
	provides = libgssdp-1.6.so

pkgname = gssdp-docs
	pkgdesc = GObject-based API for handling resource discovery and announcement over SSDP (documentation)
	depends = 
