pkgbase = uv
	pkgdesc = An extremely fast Python package installer and resolver written in Rust
	pkgver = 0.5.31
	pkgrel = 1
	url = https://github.com/astral-sh/uv
	arch = x86_64
	license = MIT
	license = Apache-2.0
	checkdepends = python
	checkdepends = python-zstandard
	checkdepends = libxcrypt-compat
	checkdepends = clang
	makedepends = cargo
	makedepends = maturin
	makedepends = python-installer
	makedepends = cmake
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = zlib
	depends = bzip2
	options = !lto
	source = git+https://github.com/astral-sh/uv.git#tag=0.5.31
	sha256sums = 37cf17fc20b14d226d97e29027c7455d553ee589c6458004537ae373ea3ce355

pkgname = uv

pkgname = python-uv
	depends = python
	depends = uv
