pkgbase = uv
	pkgdesc = An extremely fast Python package installer and resolver written in Rust
	pkgver = 0.6.16
	pkgrel = 1
	url = https://github.com/astral-sh/uv
	arch = x86_64
	license = MIT
	license = Apache-2.0
	checkdepends = python
	checkdepends = python-zstandard
	checkdepends = libxcrypt-compat
	checkdepends = clang
	makedepends = cargo
	makedepends = maturin
	makedepends = python-installer
	makedepends = cmake
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = zlib
	depends = bzip2
	options = !lto
	source = git+https://github.com/astral-sh/uv.git#tag=0.6.16
	sha256sums = 7d45bd61c1e4d6d26a4d4927109ba61be7d82ee5c369fd8897d982da2818f203

pkgname = uv

pkgname = python-uv
	depends = python
	depends = uv
