pkgbase = uv
	pkgdesc = An extremely fast Python package installer and resolver written in Rust
	pkgver = 0.10.10
	pkgrel = 1
	url = https://github.com/astral-sh/uv
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	makedepends = cmake
	makedepends = git
	makedepends = maturin
	makedepends = python-installer
	makedepends = xz
	depends = bzip2
	depends = gcc-libs
	depends = glibc
	options = !lto
	source = git+https://github.com/astral-sh/uv.git#tag=0.10.10
	sha256sums = 9de67ffbd57b82d7c65ef8e8116fc19bbda2c2b3cc8f61c9fbcd93b4340a673f

pkgname = uv
	depends = gcc-libs
	depends = glibc
	depends = bzip2

pkgname = python-uv
	pkgdesc = An extremely fast Python package installer and resolver written in Rust - Python wrapper
	depends = python
	depends = uv=0.10.10

pkgname = python-uv-build
	pkgdesc = An extremely fast Python package installer and resolver written in Rust - Python build backend
	groups = python-build-backend
	depends = bzip2
	depends = gcc-libs
	depends = glibc
	depends = python
	depends = xz
