[Desktop Entry]
Version=1.0
Type=Application
Icon=/usr/share/xmoto/xmoto_icone_x.ico
Exec=/usr/bin/xmoto
Terminal=false
StartupNotify=false

Name=XMoto
GenericName=Game
Comment=is a 2D physics-based motocross game.

Categories=Game;
