pkgbase = fragments
	pkgdesc = BitTorrent client for GNOME
	pkgver = 3.0.1
	pkgrel = 3
	url = https://apps.gnome.org/Fragments/
	arch = x86_64
	groups = gnome-circle
	license = GPL-3.0-or-later
	makedepends = appstream
	makedepends = git
	makedepends = meson
	makedepends = rust
	depends = dconf
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = openssl
	depends = transmission-cli
	depends = zlib
	options = !lto
	source = git+https://gitlab.gnome.org/World/Fragments.git#tag=3.0.1
	b2sums = 13afaddc26eab6e68199d0d1d8889c96bba394c5be63d641741d9994ae243e79e31ac243afc624b835cc575028723ecea556bfb419e0e01577429f6035f80c77

pkgname = fragments
