#!/bin/bash

# general config
. /etc/rc.conf
. /etc/rc.d/functions

case "$1" in
    start)
        stat_busy "Starting xl2tpd"
        /usr/sbin/xl2tpd
        if [ $? -gt 0 ]; then
            stat_fail
        else
            add_daemon xl2tpd
            stat_done
        fi
        ;;
    stop)
        stat_busy "Stopping xl2tpd"
	[ -f /var/run/xl2tpd.pid ] && kill `cat /var/run/xl2tpd.pid`
        if [ $? -gt 0 ]; then
            stat_fail
        else
	    rm -f /var/run/xl2tpd.pid
            rm_daemon xl2tpd
            stat_done
        fi
        ;;
    restart)
        $0 stop
	sleep 1
        $0 start
        ;;
    *)
        echo "usage: $0 {start|stop|restart}"
	;;
esac
exit 0
