[Desktop Entry]
Type=Application
Version=1.0
Name=SABnzbd+
GenericName=Binary Newsreader
Exec=sh /opt/sabnzbd/addnzb.sh %u
Terminal=false
Categories=Network
MimeType=application/x-nzb
