pkgbase = openmpi
	pkgdesc = High performance message passing library (MPI)
	pkgver = 5.0.9
	pkgrel = 3
	url = https://www.open-mpi.org
	arch = x86_64
	license = BSD-3-Clause AND LicenseRef-MPICH
	makedepends = cuda
	makedepends = nvidia-utils
	makedepends = gcc-fortran
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = hip-runtime-amd
	makedepends = hwloc
	makedepends = libevent
	makedepends = libfabric
	makedepends = libnl
	makedepends = openpmix
	makedepends = openucc
	makedepends = openucx
	makedepends = prrte
	makedepends = valgrind
	makedepends = zlib
	source = https://www.open-mpi.org/software/ompi/v5.0/downloads/openmpi-5.0.9.tar.bz2
	sha256sums = dfb72762531170847af3e4a0f21d77d7b23cf36f67ce7ce9033659273677d80b
	b2sums = f6c822f9bcbf5cbdb508cf70a6fcb717630157c6753bda1f01dc378617971744600b46052baa5a89e5964240f03c241cd41f7b119ce7e084704cd3a71eb8637e

pkgname = openmpi
	depends = gcc-libs
	depends = glibc
	depends = hwloc
	depends = libevent
	depends = libevent_core-2.1.so
	depends = libevent_pthreads-2.1.so
	depends = libfabric
	depends = libnl
	depends = openpmix
	depends = libpmix.so
	depends = openucx
	depends = prrte
	depends = zlib
	optdepends = cuda: cuda support
	optdepends = hip-runtime-amd: ROCm support
	optdepends = gcc-fortran: fortran support
	optdepends = openssh: for execution on remote hosts via plm_ssh_agent
	optdepends = openucc: for UCC accelerated collectives
	provides = libmpi.so
	provides = libmpi_mpifh.so
	provides = libmpi_usempi_ignore_tkr.so
	provides = libmpi_usempif08.so
	provides = libopen-pal.so
	provides = liboshmem.so
	backup = etc/openmpi/openmpi-mca-params.conf

pkgname = openmpi-docs
	pkgdesc = High performance message passing library (MPI) - documentation
