pkgbase = couchdb
	pkgdesc = Document-oriented database that can be queried and indexed in a MapReduce fashion using JSON
	pkgver = 3.5.0
	pkgrel = 1
	url = https://couchdb.apache.org
	arch = x86_64
	license = Apache-2.0
	checkdepends = elixir
	checkdepends = procps-ng
	checkdepends = python
	makedepends = erlang-asn1
	makedepends = erlang-erts
	makedepends = erlang-eunit
	makedepends = erlang-os_mon
	makedepends = erlang-reltool
	makedepends = erlang-xmerl
	makedepends = rebar3
	depends = gcc-libs
	depends = glibc
	depends = icu
	depends = ncurses
	depends = zlib
	optdepends = erlang-erts: for weatherreport
	options = !makeflags
	backup = etc/couchdb/local.ini
	backup = etc/couchdb/vm.args
	backup = etc/default/couchdb
	source = https://archive.apache.org/dist/couchdb/source/3.5.0/apache-couchdb-3.5.0.tar.gz
	source = https://archive.apache.org/dist/couchdb/source/3.5.0/apache-couchdb-3.5.0.tar.gz.asc
	source = couchdb.default
	source = couchdb.service
	source = couchdb.sysusers
	source = couchdb.tmpfiles
	validpgpkeys = 2EC788AE3F239FA13E82D215CDE711289384AE37
	validpgpkeys = D2B17F9DA23C0A10991AF2E3D9EE01E47852AEE4
	validpgpkeys = 0BD7A98499C4AB41C910EE65FC04DFBC9657A78E
	sha256sums = 6a98b90a9a980bbef2c35b4996a8e71a2f1ae5227546c85f04c436101bdf78bf
	sha256sums = SKIP
	sha256sums = 0d21fdd7851b3a6fa099b030cab0e96705b1d5a3a83a4ff1c871814d8742cae9
	sha256sums = 6ab3d362f3fcd9079036c883dc09dc597584cb627831460f2e0c68a31aa052ae
	sha256sums = 76404436346167dd19c3eace1164e35e3ac91ffed9bc3c20acb1b76e6d306f43
	sha256sums = 7331b9675e3668c5f0d632bee5d154c061cc3e60d451bef3dc0d0ab2dadfa006

pkgname = couchdb
