pkgbase = pybind11
	pkgdesc = A lightweight header-only library that exposes C++ types in Python and vice versa
	pkgver = 2.13.3
	pkgrel = 1
	url = https://pybind11.readthedocs.org/
	arch = any
	license = BSD-3-Clause
	checkdepends = python-numpy
	makedepends = cmake
	makedepends = boost
	makedepends = eigen
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-pytest
	makedepends = python-wheel
	optdepends = python-setuptools: for python bindings
	source = https://github.com/pybind/pybind11/archive/v2.13.3/pybind11-2.13.3.tar.gz
	source = 010-pybind11-remove-unwanted-pip-build-deps.patch
	sha256sums = 6e7a84ec241544f2f5e30c7a82c09c81f0541dd14e9d9ef61051e07105f9c445
	sha256sums = 27f13a9b32ef344223d70f7340cc32d181ed1de0beb9ce8b6779271f7abd15c9

pkgname = pybind11
