pkgbase = php-legacy
	pkgver = 8.2.20
	pkgrel = 2
	url = https://www.php.net/
	arch = x86_64
	license = PHP-3.01
	checkdepends = procps-ng
	makedepends = apache
	makedepends = aspell
	makedepends = gdbm
	makedepends = enchant
	makedepends = gd
	makedepends = gmp
	makedepends = icu
	makedepends = libsodium
	makedepends = libxslt
	makedepends = libzip
	makedepends = net-snmp
	makedepends = postgresql-libs
	makedepends = sqlite
	makedepends = systemd
	makedepends = tidy
	makedepends = unixodbc
	makedepends = curl
	makedepends = libtool
	makedepends = postfix
	makedepends = freetds
	makedepends = pcre2
	makedepends = libnsl
	makedepends = oniguruma
	makedepends = patchelf
	source = https://php.net/distributions/php-8.2.20.tar.xz
	source = https://php.net/distributions/php-8.2.20.tar.xz.asc
	source = apache.conf
	source = php-fpm.tmpfiles
	source = apache.patch
	source = php-fpm.patch
	source = php.ini.patch
	source = php-legacy.patch
	source = https://github.com/php/php-src/commit/ee7d35cc4d234a2324e05d9eb0cc87e9fba2ae38.patch
	validpgpkeys = 1198C0117593497A5EC5C199286AF1F9897469DC
	validpgpkeys = 39B641343D8C104B2B146DC3F9C39DC0B9698544
	validpgpkeys = E60913E4DF209907D8E30D96659A97C9CF2A795A
	sha256sums = 4474cc430febef6de7be958f2c37253e5524d5c5331a7e1765cd2d2234881e50
	sha256sums = SKIP
	sha256sums = 2173046ac22ac50c7a6721306d3f79b2086f66a7a6ff5d8af249a474763197a1
	sha256sums = f3236ca866095d5e42e51e3fa600082ccd0afcfb7f1aecbeb286ef9d4f0dd564
	sha256sums = 702b163c66c65af92dcad8d79f41bda84bcd5d863235fcf1497c33a86db9e4ca
	sha256sums = b23547fb1fcdd47a1dab1082c921485c7306af23734c66c7203d33a1d0cfaf41
	sha256sums = 770eb5232d24749f8399bf649998bb3adda51b49985c61db66f3af82f9d81805
	sha256sums = a1859005c9fad835079470e6fb3c0721b9bd024c8f3ae1f34cb082ec41c63194
	sha256sums = 2be71fec71124e629d7b23143e30d97a7ff823f2f3f14f09d71edf6d273cc076

pkgname = php-legacy
	pkgdesc = A general-purpose scripting language that is especially suited to web development
	depends = libxml2
	depends = curl
	depends = libzip
	depends = pcre2
	depends = argon2
	depends = oniguruma
	depends = gdbm
	provides = php-interpreter=8.2
	provides = php-legacy-intl=8.2.20
	conflicts = php-legacy-intl
	replaces = php-legacy-intl
	backup = etc/php-legacy/php.ini

pkgname = php-legacy-cgi
	pkgdesc = CGI and FCGI SAPI for PHP
	depends = php-legacy
	provides = php-cgi-interpreter=8.2

pkgname = php-legacy-apache
	pkgdesc = Apache SAPI for PHP
	depends = php-legacy
	depends = apache
	provides = php-apache-interpreter=8.2
	backup = etc/httpd/conf/extra/php-legacy_module.conf

pkgname = php-legacy-fpm
	pkgdesc = FastCGI Process Manager for PHP
	depends = php-legacy
	depends = systemd
	provides = php-fpm-interpreter=8.2
	options = !emptydirs
	backup = etc/php-legacy/php-fpm.conf
	backup = etc/php-legacy/php-fpm.d/www.conf

pkgname = php-legacy-embed
	pkgdesc = Embedded PHP SAPI library
	depends = php-legacy
	depends = systemd-libs
	provides = php-embed-interpreter=8.2
	options = !emptydirs

pkgname = php-legacy-phpdbg
	pkgdesc = Interactive PHP debugger
	depends = php-legacy
	provides = php-phpdbg-interpreter=8.2
	options = !emptydirs

pkgname = php-legacy-dblib
	pkgdesc = dblib module for PHP
	depends = php-legacy
	depends = freetds
	provides = php-dblib-interpreter=8.2

pkgname = php-legacy-enchant
	pkgdesc = enchant module for PHP
	depends = php-legacy
	depends = enchant
	provides = php-enchant-interpreter=8.2

pkgname = php-legacy-gd
	pkgdesc = gd module for PHP
	depends = php-legacy
	depends = gd
	provides = php-gd-interpreter=8.2

pkgname = php-legacy-sodium
	pkgdesc = sodium module for PHP
	depends = php-legacy
	depends = libsodium
	provides = php-sodium-interpreter=8.2

pkgname = php-legacy-odbc
	pkgdesc = ODBC modules for PHP
	depends = php-legacy
	depends = unixodbc
	provides = php-odbc-interpreter=8.2

pkgname = php-legacy-pgsql
	pkgdesc = PostgreSQL modules for PHP
	depends = php-legacy
	depends = postgresql-libs
	provides = php-pgsql-interpreter=8.2

pkgname = php-legacy-pspell
	pkgdesc = pspell module for PHP
	depends = php-legacy
	depends = aspell
	provides = php-pspell-interpreter=8.2

pkgname = php-legacy-snmp
	pkgdesc = snmp module for PHP
	depends = php-legacy
	depends = net-snmp
	provides = php-snmp-interpreter=8.2

pkgname = php-legacy-sqlite
	pkgdesc = sqlite module for PHP
	depends = php-legacy
	depends = sqlite
	provides = php-sqlite-interpreter=8.2

pkgname = php-legacy-tidy
	pkgdesc = tidy module for PHP
	depends = php-legacy
	depends = tidy
	provides = php-tidy-interpreter=8.2

pkgname = php-legacy-xsl
	pkgdesc = xsl module for PHP
	depends = php-legacy
	depends = libxslt
	provides = php-xsl-interpreter=8.2
