pkgbase = cloud-init
	pkgdesc = Cloud instance initialization
	pkgver = 25.3
	pkgrel = 2
	url = https://cloud-init.io
	arch = any
	license = GPL-3.0-only OR Apache-2.0
	checkdepends = procps-ng
	checkdepends = python-httpretty
	checkdepends = python-passlib
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	checkdepends = python-responses
	makedepends = bash-completion
	makedepends = meson
	depends = bash
	depends = dhcp-client
	depends = openbsd-netcat
	depends = python
	depends = python-configobj
	depends = python-jinja
	depends = python-jsonpatch
	depends = python-jsonschema
	depends = python-netifaces
	depends = python-oauthlib
	depends = python-pyserial
	depends = python-pyyaml
	depends = python-requests
	depends = python-typing_extensions
	depends = sudo
	depends = systemd
	optdepends = cloud-guest-utils: for growpart
	optdepends = netplan: for configuring network using netplan
	optdepends = python-passlib: for Azure and BSD support
	optdepends = python-urllib3: for LXD and Scaleway data sources
	backup = etc/cloud/cloud.cfg
	backup = etc/cloud/cloud.cfg.d/05_logging.cfg
	source = https://github.com/canonical/cloud-init/archive/25.3/cloud-init-25.3.tar.gz
	sha512sums = f881cac48fcb421fc07a435cd7a1acdf0b0c13aebf997af3100ecaca276e595a7ddaf778cff817c385a6b0103a36e326a5eeb8e281e8ef270ba2a4508d91168d
	b2sums = c49494ce91200f54a194554c19067f6533587fe3caebaf54e71d99548dcb956545ae709a775e09fad33a84702043b4e311626103c42b7d72190d1304bc45bdb3

pkgname = cloud-init
