pkgbase = ffcall
	pkgdesc = C library for implementing foreign function calls in embedded interpreters
	pkgver = 2.4
	pkgrel = 3
	url = https://www.gnu.org/software/libffcall/
	arch = x86_64
	license = GPL2
	depends = glibc
	options = !makeflags
	options = staticlibs
	source = https://ftp.gnu.org/gnu/libffcall/libffcall-2.4.tar.gz
	sha256sums = 8ef69921dbdc06bc5bb90513622637a7b83a71f31f5ba377be9d8fd8f57912c2

pkgname = ffcall
