[Desktop Entry]
Type=Application
Name=GPSBabel
Comment=Qt GUI interface for GPSBabel
GenericName=GPSBabel
Icon=gpsbabel
Exec=gpsbabelfe-bin
Terminal=false
Categories=Geography;Education;Utility;
