[Desktop Entry]
Name=glsof
Comment=A GUI for lsof
Comment[pl]=GUI do lsof
Exec=glsof
Icon=glsof.png
StartupNotify=false
Terminal=false
Type=Application
Categories=GTK;System;Monitor;
Encoding=UTF-8
# vi: encoding=utf-8
