pkgbase = sshfs
	pkgdesc = FUSE client based on the SSH File Transfer Protocol
	pkgver = 3.7.6
	pkgrel = 1
	url = https://github.com/libfuse/sshfs
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = meson
	makedepends = python-docutils
	depends = fuse3
	depends = glib2
	depends = glibc
	depends = openssh
	source = https://github.com/libfuse/sshfs/releases/download/sshfs-3.7.6/sshfs-3.7.6.tar.xz
	source = https://github.com/libfuse/sshfs/releases/download/sshfs-3.7.6/sshfs-3.7.6.tar.xz.asc
	validpgpkeys = 9C113099DF707BD240A192D4C6E054D074D5DD2B
	b2sums = d7a6fc97ef9a9d67d89afbe48272f684b10c3cd70333c73d88d068821bcb9aadaef72599d6c1de1bc114f1ce311e9ecb23f052468e7bde1d6007d28b0b95639a
	b2sums = SKIP

pkgname = sshfs
