[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Extreme Tux Racer
Comment=Open source racing game featuring Tux the Linux Penguin. 
Icon=/usr/share/pixmaps/extremetuxracer.png
Exec=etracer
Terminal=false
StartupNotify=true
Categories=Application;Game;ArcadeGame

