pkgbase = libdrm
	pkgdesc = Userspace interface to kernel DRM services
	pkgver = 2.4.119
	pkgrel = 1
	url = https://dri.freedesktop.org/
	arch = x86_64
	license = custom
	checkdepends = cairo
	makedepends = python-docutils
	makedepends = meson
	depends = libpciaccess
	depends = glibc
	optdepends = cairo: needed for modetest tool
	replaces = libdrm-new
	replaces = libdrm-nouveau
	source = https://dri.freedesktop.org/libdrm/libdrm-2.4.119.tar.xz
	source = https://dri.freedesktop.org/libdrm/libdrm-2.4.119.tar.xz.sig
	source = COPYING
	validpgpkeys = F3A52DB8ECE9EB9E33BC48C6917A3EE97A0FCD1A
	sha512sums = c8dd7665e85c01a67fcce1c1c614bc05a3ec311f31cae7de5fb1cd27d0f11f1801be63de3fa3e33b2f505544fd4b1bc292965c5e8de46a3beaaedb10334945ca
	sha512sums = SKIP
	sha512sums = b0ca349b882a4326b19f81f22804fabdb6fb7aef31cdc7b16b0a7ae191bfbb50c7daddb2fc4e6c33f1136af06d060a273de36f6f3412ea326f16fa4309fda660

pkgname = libdrm
