pkgbase = libdrm
	pkgdesc = Userspace interface to kernel DRM services
	pkgver = 2.4.122
	pkgrel = 1
	url = https://dri.freedesktop.org/
	arch = x86_64
	license = MIT
	checkdepends = cairo
	makedepends = python-docutils
	makedepends = meson
	depends = libpciaccess
	depends = glibc
	optdepends = cairo: needed for modetest tool
	replaces = libdrm-new
	replaces = libdrm-nouveau
	source = https://dri.freedesktop.org/libdrm/libdrm-2.4.122.tar.xz
	source = https://dri.freedesktop.org/libdrm/libdrm-2.4.122.tar.xz.sig
	source = COPYING
	validpgpkeys = 34FF9526CFEF0E97A340E2E40FDE7BE0E88F5E48
	sha512sums = ea6bac94416d4ba0e9805e142ae62904236bc49f803d4fc10c92968a4df64c818dd42524ad7a4e988062836783a148e27094050bb2754f751a368627f794ad13
	sha512sums = SKIP
	sha512sums = b0ca349b882a4326b19f81f22804fabdb6fb7aef31cdc7b16b0a7ae191bfbb50c7daddb2fc4e6c33f1136af06d060a273de36f6f3412ea326f16fa4309fda660

pkgname = libdrm
