pkgbase = libdrm
	pkgdesc = Userspace interface to kernel DRM services
	pkgver = 2.4.120
	pkgrel = 1
	url = https://dri.freedesktop.org/
	arch = x86_64
	license = custom
	checkdepends = cairo
	makedepends = python-docutils
	makedepends = meson
	depends = libpciaccess
	depends = glibc
	optdepends = cairo: needed for modetest tool
	replaces = libdrm-new
	replaces = libdrm-nouveau
	source = https://dri.freedesktop.org/libdrm/libdrm-2.4.120.tar.xz
	source = https://dri.freedesktop.org/libdrm/libdrm-2.4.120.tar.xz.sig
	source = COPYING
	validpgpkeys = 34FF9526CFEF0E97A340E2E40FDE7BE0E88F5E48
	sha512sums = 6dc16e5134a669eeb59debb1dc2d15b857483ab7476dc2b94bd05a32d8953f046f5656f6cf9e1a63e97e7156fb65ebb58b6a29fe45cb6326058baaf820626e70
	sha512sums = SKIP
	sha512sums = b0ca349b882a4326b19f81f22804fabdb6fb7aef31cdc7b16b0a7ae191bfbb50c7daddb2fc4e6c33f1136af06d060a273de36f6f3412ea326f16fa4309fda660

pkgname = libdrm
