pkgbase = cairo-perl
	pkgdesc = Perl wrappers for cairo
	pkgver = 1.109
	pkgrel = 4
	url = http://gtk2-perl.sourceforge.net/
	arch = x86_64
	license = LGPL
	makedepends = perl-extutils-depends
	makedepends = perl-extutils-pkgconfig
	depends = cairo
	depends = perl
	options = !emptydirs
	source = https://downloads.sourceforge.net/sourceforge/gtk2-perl/Cairo-1.109.tar.gz
	sha512sums = b80841bff480acf95f69659cba02ca17c79b67a2dc5c9b9302efb15bbd79bd4bc2f1801c001c220723da11081e86a08a83e07ecc8866810ebf9406e1f6fa1c53

pkgname = cairo-perl
