pkgbase = openexr
	pkgdesc = A high dynamic-range image file format library
	pkgver = 3.2.3
	pkgrel = 1
	url = https://www.openexr.com/
	arch = x86_64
	license = BSD-3-Clause
	makedepends = cmake
	depends = gcc-libs
	depends = glibc
	depends = imath
	depends = libdeflate
	source = https://github.com/openexr/openexr/archive/v3.2.3/openexr-3.2.3.tar.gz
	sha256sums = f3f6c4165694d5c09e478a791eae69847cadb1333a2948ca222aa09f145eba63

pkgname = openexr
