pkgbase = openexr
	pkgdesc = A high dynamic-range image file format library
	pkgver = 3.4.8
	pkgrel = 1
	url = https://www.openexr.com/
	arch = x86_64
	license = BSD-3-Clause
	makedepends = cmake
	makedepends = git
	makedepends = pybind11
	depends = glibc
	depends = imath
	depends = libdeflate
	depends = libgcc
	depends = libstdc++
	depends = openjph
	optdepends = python: for python bindings
	source = git+https://github.com/openexr/openexr#tag=v3.4.8
	source = python-install-dir.patch
	sha256sums = 166e8f819eea8b031f2236bc3a302faa1f3d7523aff2490078c670c2a35f6d6e
	sha256sums = ea2909df520d08aae5d40bf12db9112ae153a602885fa892818a0e806adc59da

pkgname = openexr
