pkgbase = openexr
	pkgdesc = A high dynamic-range image file format library
	pkgver = 3.3.3
	pkgrel = 1
	url = https://www.openexr.com/
	arch = x86_64
	license = BSD-3-Clause
	makedepends = cmake
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = imath
	depends = libdeflate
	source = git+https://github.com/openexr/openexr#tag=v3.3.3
	sha256sums = b23d696cea2ed567161ab2172b56a1500084b9608a9a15a37e5bea5c28f2b7a4

pkgname = openexr
