pkgbase = libyuv
	pkgdesc = Library for YUV scaling
	pkgver = r2426+464c51a0
	pkgrel = 1
	url = https://chromium.googlesource.com/libyuv/libyuv/
	arch = x86_64
	license = custom
	makedepends = cmake
	makedepends = git
	depends = gcc-libs
	depends = libjpeg
	source = git+https://chromium.googlesource.com/libyuv/libyuv/#commit=464c51a0353c71f08fe45f683d6a97a638d47833
	sha512sums = SKIP

pkgname = libyuv
