[Desktop Entry]
Encoding=UTF-8
Version=1.0

Name=Hydrogen Drum Machine
Name[de]=Hydrogen Drumsequencer
Name[ru]=Драм-машина Hydrogen
Comment=Create drum sequences
Comment[de]=Schlagzeugsequenzen erstellen
Comment[ru]=Создание партий ударных инструментов

Exec=hydrogen %F
TryExec=hydrogen
Icon=hydrogen
Terminal=false
StartupNotify=true
X-MultipleArgs=false
Type=Application
Categories=Qt,Application;AudioVideo;Sound;Audio;Sequencer;
