pkgbase = xet-core
	pkgdesc = xet client tech, used in Huggingface Hub
	pkgver = 1.2.0
	pkgrel = 2
	url = https://github.com/huggingface/xet-core
	arch = x86_64
	license = Apache-2.0
	makedepends = cargo
	makedepends = maturin
	makedepends = python-installer
	makedepends = openssl
	source = xet-core-1.2.0.tar.gz::https://github.com/huggingface/xet-core/archive/refs/tags/v1.2.0.tar.gz
	b2sums = f54088890975e906ef63b5c54ff08d0f4fbbc67b8d5dd10360b97b5b20137553ccd5b8559d059fc19d193200c6f97d4a5d6ceabc8a28e4eddf5d7ce5018fc484

pkgname = python-hf-xet
	depends = gcc-libs
	depends = glibc
	depends = openssl
	depends = libssl.so
	depends = libcrypto.so
	depends = python
