pkgbase = xet-core
	pkgdesc = xet client tech, used in Huggingface Hub
	pkgver = 1.4.3
	pkgrel = 1
	url = https://github.com/huggingface/xet-core
	arch = x86_64
	license = Apache-2.0
	makedepends = cargo
	makedepends = maturin
	makedepends = python-installer
	makedepends = openssl
	source = xet-core-1.4.3.tar.gz::https://github.com/huggingface/xet-core/archive/refs/tags/v1.4.3.tar.gz
	b2sums = 77f4b2264bb560fb6a2c467d57c325eda738fa014d7058d0b729595a961992d412b4a6e32b59e6cb09537b14b023acbe207ff0caf35ed320471a81fecb1a3660

pkgname = python-hf-xet
	depends = glibc
	depends = libgcc
	depends = openssl
	depends = libssl.so
	depends = libcrypto.so
	depends = python
