pkgbase = xet-core
	pkgdesc = xet client tech, used in Huggingface Hub
	pkgver = 1.5.1
	pkgrel = 1
	url = https://github.com/huggingface/xet-core
	arch = x86_64
	license = Apache-2.0
	makedepends = cargo
	makedepends = maturin
	makedepends = python-installer
	makedepends = openssl
	source = xet-core-1.5.1.tar.gz::https://github.com/huggingface/xet-core/archive/refs/tags/v1.5.1.tar.gz
	b2sums = 271d651ea38db9da5b783759e6d3d920ea227c930705a2342399600db94b9d28139c4d4fb2d2267e61830bc1b412b6e35f7beb04d7afbed411f652af2814794d

pkgname = python-hf-xet
	depends = glibc
	depends = libgcc
	depends = openssl
	depends = libssl.so
	depends = libcrypto.so
	depends = python
