[Desktop Entry]
Name=OpenJDK Java 19 Shell
Comment=OpenJDK Java 19 Shell
Keywords=java;shell
Exec=/usr/lib/jvm/java-19-openjdk/bin/jshell
Terminal=true
Type=Application
Icon=java19-openjdk
Categories=Application;System;
