[Desktop Entry]
Name=OpenJDK Java 27 Shell
Comment=OpenJDK Java 27 Shell
Keywords=java;shell
Exec=/usr/lib/jvm/java-27-openjdk/bin/jshell
Terminal=true
Type=Application
Icon=java27-openjdk
Categories=Application;System;
