[Desktop Entry]
Name=OpenJDK Java 18 Shell
Comment=OpenJDK Java 18 Shell
Keywords=java;shell
Exec=/usr/lib/jvm/java-18-openjdk/bin/jshell
Terminal=true
Type=Application
Icon=java18-openjdk
Categories=Application;System;
