[Desktop Entry]
Name=OpenJDK Java 15 Console
Name[fi]=OpenJDK Java 15 - konsoli
Comment=OpenJDK Java 15 Monitoring & Management Console
Comment[fi]=OpenJDK Java 15 - valvonta- ja hallintakonsoli
Keywords=java;console;monitoring
Exec=/usr/lib/jvm/java-15-openjdk/bin/jconsole
Terminal=false
Type=Application
Icon=java15-openjdk
Categories=Application;System;
