#!/bin/bash

. /etc/rc.conf
. /etc/rc.d/functions
. /etc/conf.d/${0##*/}

DAEMON=/usr/sbin/usbipd
PID=$(pidof -o %PPID $DAEMON)
DAEMON_OPTS="--daemon $DAEMON_OPTS"

case "$1" in
	start)
		stat_busy "Starting ${0##*/} daemon"
		[[ ! $PID ]] && $DAEMON $DAEMON_OPTS && add_daemon ${0##*/} && stat_done && exit 0
		stat_fail
	;;
  stop)
		stat_busy "Stopping ${0##*/} daemon"
		[[ $PID ]] && kill $PID &> /dev/null && rm_daemon ${0##*/} && stat_done && exit 0
		stat_fail
	;;
  restart)
		$0 stop
		$0 start
		exit 0
	;;
  *)
		echo "usage: ${0##*/} {start|stop|restart}" >&2
	;;
esac

exit 1

# vim:set ts=2 sw=2 ft=sh et:
