pkgbase = allegro
	pkgdesc = Portable library mainly aimed at video game and multimedia programming
	pkgver = 5.2.10.0
	pkgrel = 1
	url = https://liballeg.org/
	arch = x86_64
	license = custom
	makedepends = cmake
	makedepends = glu
	makedepends = libtheora
	makedepends = mesa-libgl
	makedepends = ninja
	makedepends = opusfile
	makedepends = pandoc
	makedepends = xorgproto
	depends = dumb
	depends = gtk3
	depends = jack
	depends = libgl
	depends = libpulse
	depends = libtheora
	depends = libwebp
	depends = libxpm
	depends = opusfile
	depends = physfs
	source = https://github.com/liballeg/allegro5/releases/download/5.2.10.0/allegro-5.2.10.0.tar.gz
	b2sums = 4a4d68b02d14dd129cf67f9fd363105f4fd6e2fe88cfa9740adce6e7c3013addd3e301e4dc714e8c2f970b8193f7e62d60c4df1057536447bf807f065e6a32bf

pkgname = allegro
