pkgbase = allegro
	pkgdesc = Portable library mainly aimed at video game and multimedia programming
	pkgver = 5.2.9.0
	pkgrel = 1
	url = https://liballeg.org/
	arch = x86_64
	license = custom
	makedepends = cmake
	makedepends = glu
	makedepends = libtheora
	makedepends = mesa-libgl
	makedepends = ninja
	makedepends = opusfile
	makedepends = pandoc
	makedepends = xorgproto
	depends = dumb
	depends = gtk3
	depends = jack
	depends = libgl
	depends = libpulse
	depends = libtheora
	depends = libwebp
	depends = libxpm
	depends = opusfile
	depends = physfs
	source = https://github.com/liballeg/allegro5/releases/download/5.2.9.0/allegro-5.2.9.0.tar.gz
	b2sums = 423db21dd4ffd86a86f9e8b48cc1075c6168cf58a768f1f4b6050dd79b23a8a0d883ec0fe22c610eb1745c2b3bf06a94d1f0c45121fa6e9202df4ac0b8538d21

pkgname = allegro
