[Unit]
Description=UIM daemon to enable bluetooth on the pandaboard
Before=bluetooth.service

[Service]
ExecStart=/usr/bin/ti-bluetooth-uim
ExecStopPost=/usr/bin/modprobe -r btwilink

[Install]
WantedBy=multi-user.target
