[Unit]
Description=Motion daemon
After=local-fs.target

[Service]
PIDFile=/run/motion/motion.pid
ExecStart=/usr/bin/motion
Type=forking
#StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
