pkgbase = gpgme
	pkgdesc = A C wrapper library for GnuPG
	pkgver = 1.24.1
	pkgrel = 3
	url = https://www.gnupg.org/related_software/gpgme/
	arch = x86_64
	license = GPL-2.0-or-later
	license = LGPL-2.0-or-later
	license = LGPL-2.1-or-later
	makedepends = gnupg
	makedepends = libassuan
	makedepends = libgpg-error
	makedepends = python
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = qt6-base
	makedepends = swig
	source = https://www.gnupg.org/ftp/gcrypt/gpgme/gpgme-1.24.1.tar.bz2
	source = https://www.gnupg.org/ftp/gcrypt/gpgme/gpgme-1.24.1.tar.bz2.sig
	source = 0001-python-3-13.patch
	validpgpkeys = 6DAA6E64A76D2840571B4902528897B826403ADA
	validpgpkeys = AC8E115BF73E2D8D47FA9908E98E9B2D19C6C8BD
	sha256sums = ea05d0258e71061d61716584ec34cef59330a91340571edc46b78374973ba85f
	sha256sums = SKIP
	sha256sums = fa5e1a24e90bb6e4df8787cb14900c046fb6dc97f2a27c2d8b7474938261a413

pkgname = gpgme
	license = GPL-2.0-or-later
	license = LGPL-2.0-or-later
	license = LGPL-2.1-or-later
	license = MIT
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libassuan
	depends = libgpg-error
	depends = gnupg>=2
	provides = libgpgme.so
	provides = libgpgmepp.so
	options = !emptydirs

pkgname = qgpgme-qt6
	pkgdesc = Qt6 bindings for GPGme
	depends = gcc-libs
	depends = glibc
	depends = gpgme
	depends = libgpg-error
	depends = qt6-base

pkgname = python-gpgme
	pkgdesc = Python bindings for GPGme
	depends = glibc
	depends = gpgme
	depends = python
