pkgbase = gpgme
	pkgdesc = C wrapper library for GnuPG
	pkgver = 2.1.2
	pkgrel = 1
	url = https://www.gnupg.org/related_software/gpgme/
	arch = x86_64
	license = GPL-2.0-or-later
	license = LGPL-2.0-or-later
	license = LGPL-2.1-or-later
	license = MIT
	makedepends = git
	depends = glibc
	depends = libassuan
	depends = libassuan.so
	depends = libgpg-error
	depends = gnupg>=2
	provides = libgpgme.so
	options = !emptydirs
	source = git+https://dev.gnupg.org/source/gpgme.git?signed#tag=gpgme-2.1.2
	validpgpkeys = 6DAA6E64A76D2840571B4902528897B826403ADA
	validpgpkeys = AC8E115BF73E2D8D47FA9908E98E9B2D19C6C8BD
	sha256sums = 23978faa976c05e9fcdf78a8109fb56f9e11afdad5b20a132bcbd59c4b07b52f

pkgname = gpgme
