pkgbase = gmic
	pkgver = 3.3.4
	pkgrel = 1
	url = https://gmic.eu/
	arch = x86_64
	license = custom:CeCILL
	makedepends = cmake
	makedepends = eigen
	makedepends = fftw
	makedepends = gimp
	makedepends = graphicsmagick
	makedepends = opencv
	makedepends = openexr
	makedepends = qt5-base
	makedepends = qt5-tools
	source = https://gmic.eu/files/source/gmic_3.3.4.tar.gz
	sha256sums = f52c5c8b44afe830e0d7e177a1477621821f8aa2e5183f8a432970a17acfa0bb

pkgname = gmic
	pkgdesc = GREYC's Magic Image Converter: image processing framework
	depends = curl
	depends = fftw
	depends = gcc-libs
	depends = glibc
	depends = graphicsmagick
	depends = imath
	depends = libjpeg-turbo
	depends = libpng
	depends = libtiff
	depends = libx11
	depends = opencv
	depends = openexr
	depends = zlib
	optdepends = qt5-base: for the Qt UI
	conflicts = cimg

pkgname = gimp-plugin-gmic
	pkgdesc = Gimp plugin for the G'MIC image processing framework
	depends = babl
	depends = fftw
	depends = gcc-libs
	depends = gegl
	depends = gimp
	depends = glib2
	depends = glibc
	depends = gmic
	depends = libx11
	depends = qt5-base
	depends = zlib
