pkgbase = gmic
	pkgver = 3.6.5
	pkgrel = 1
	url = https://gmic.eu/
	arch = x86_64
	license = CECILL-C
	makedepends = cmake
	makedepends = eigen
	makedepends = fftw
	makedepends = gimp
	makedepends = graphicsmagick
	makedepends = opencv
	makedepends = openexr
	makedepends = qt6-base
	makedepends = qt6-tools
	source = https://gmic.eu/files/source/gmic_3.6.5.tar.gz
	sha256sums = 0987e54d64dc3a82df6a3052e6aa5d5b5f1e9115c6fd4155e1aceb78e462169a

pkgname = gmic
	pkgdesc = GREYC's Magic Image Converter: image processing framework
	depends = curl
	depends = fftw
	depends = gcc-libs
	depends = glibc
	depends = graphicsmagick
	depends = imath
	depends = libjpeg-turbo
	depends = libpng
	depends = libtiff
	depends = libx11
	depends = opencv
	depends = openexr
	depends = zlib
	optdepends = qt6-base: for the Qt UI
	conflicts = cimg

pkgname = gimp-plugin-gmic
	pkgdesc = Gimp plugin for the G'MIC image processing framework
	depends = babl
	depends = fftw
	depends = gcc-libs
	depends = gegl
	depends = gimp
	depends = glib2
	depends = glibc
	depends = gmic
	depends = libx11
	depends = qt6-base
	depends = zlib
