[Unit]
Description=Plex Media Server for Linux
After=network.target

[Service]
EnvironmentFile=-/etc/conf.d/plexmediaserver
ExecStart=/opt/plexmediaserver/start_pms
KillMode=process
Type=forking

[Install]
WantedBy=multi-user.target
