pkgbase = wpewebkit
	pkgdesc = Embeddable web content engine
	pkgver = 2.44.2
	pkgrel = 1
	url = https://wpewebkit.org
	arch = x86_64
	license = custom
	makedepends = clang
	makedepends = cmake
	makedepends = gi-docgen
	makedepends = gobject-introspection
	makedepends = gperf
	makedepends = gst-plugins-bad
	makedepends = lld
	makedepends = ninja
	makedepends = python
	makedepends = ruby
	makedepends = systemd
	makedepends = unifdef
	makedepends = wayland-protocols
	depends = at-spi2-core
	depends = atk
	depends = bubblewrap
	depends = cairo
	depends = fontconfig
	depends = freetype2
	depends = glib2
	depends = gst-plugins-bad-libs
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = harfbuzz
	depends = harfbuzz-icu
	depends = icu
	depends = libavif
	depends = libdrm
	depends = libepoxy
	depends = libgcrypt
	depends = libjpeg
	depends = libjxl
	depends = libpng
	depends = libseccomp
	depends = libsoup3
	depends = libsystemd
	depends = libtasn1
	depends = libwebp
	depends = libwpe
	depends = libxkbcommon
	depends = libxml2
	depends = libxslt
	depends = mesa
	depends = openjpeg2
	depends = sqlite
	depends = wayland
	depends = woff2
	depends = wpebackend-fdo
	depends = xdg-dbus-proxy
	depends = zlib
	source = https://wpewebkit.org/releases/wpewebkit-2.44.2.tar.xz
	source = https://wpewebkit.org/releases/wpewebkit-2.44.2.tar.xz.asc
	validpgpkeys = 5AA3BC334FD7E3369E7C77B291C559DBE4C9123B
	validpgpkeys = 013A0127AC9C65B34FFA62526C1009B693975393
	sha256sums = 2a3d23cb4fb071ca0db3a09c5a85f27b8bcc6094a2026d3b7407bed4f99218f7
	sha256sums = SKIP
	b2sums = 763340adf2031f512137982e4cded0214dff90652571ae32e8badcda0c108d83b8a35588a3050c161ab0bf5cee94a7ba91c9953a22cc87450826bfbf4ac2d012
	b2sums = SKIP

pkgname = wpewebkit
	depends = at-spi2-core
	depends = atk
	depends = bubblewrap
	depends = cairo
	depends = fontconfig
	depends = freetype2
	depends = glib2
	depends = gst-plugins-bad-libs
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = harfbuzz
	depends = harfbuzz-icu
	depends = icu
	depends = libavif
	depends = libdrm
	depends = libepoxy
	depends = libgcrypt
	depends = libjpeg
	depends = libjxl
	depends = libpng
	depends = libseccomp
	depends = libsoup3
	depends = libsystemd
	depends = libtasn1
	depends = libwebp
	depends = libwpe
	depends = libxkbcommon
	depends = libxml2
	depends = libxslt
	depends = mesa
	depends = openjpeg2
	depends = sqlite
	depends = wayland
	depends = woff2
	depends = wpebackend-fdo
	depends = xdg-dbus-proxy
	depends = zlib
	depends = libWPEBackend-fdo-1.0.so
	depends = libwpe-1.0.so
	optdepends = geoclue: Geolocation support
	optdepends = gst-libav: nonfree media decoding
	optdepends = gst-plugins-bad: media decoding
	optdepends = gst-plugins-good: media decoding
	provides = libWPEWebKit-2.0.so

pkgname = wpewebkit-docs
	pkgdesc = Embeddable web content engine (documentation)
	depends = 
