pkgbase = wpewebkit
	pkgdesc = Embeddable web content engine
	pkgver = 2.48.1
	pkgrel = 1
	url = https://wpewebkit.org
	arch = x86_64
	license = AFL-2.0 OR GPL-2.0-or-later
	license = Apache-2.0
	license = Apache-2.0 WITH LLVM-exception
	license = BSD-2-Clause
	license = BSD-2-Clause-Views
	license = BSD-3-Clause
	license = BSD-Source-Code
	license = BSL-1.0
	license = bzip2-1.0.6
	license = GPL-2.0-only
	license = GPL-3.0-only WITH Autoconf-exception-3.0
	license = GPL-3.0-or-later WITH Bison-exception-2.2
	license = ICU
	license = ISC
	license = LGPL-2.1-only
	license = LGPL-2.1-or-later
	license = MIT
	license = MPL-1.1
	license = MPL-2.0
	license = NCSA
	license = NCSA OR MIT
	license = OFL-1.1
	license = SunPro
	license = Unicode-TOU
	makedepends = clang
	makedepends = cmake
	makedepends = gi-docgen
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gperf
	makedepends = gst-plugins-bad
	makedepends = lld
	makedepends = ninja
	makedepends = python
	makedepends = ruby
	makedepends = ruby-stdlib
	makedepends = systemd
	makedepends = unifdef
	makedepends = wayland-protocols
	depends = at-spi2-core
	depends = atk
	depends = bubblewrap
	depends = cairo
	depends = expat
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gst-plugins-bad-libs
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = harfbuzz
	depends = harfbuzz-icu
	depends = icu
	depends = lcms2
	depends = libavif
	depends = libdrm
	depends = libepoxy
	depends = libgcrypt
	depends = libinput
	depends = libjpeg-turbo
	depends = libjxl
	depends = libpng
	depends = libseccomp
	depends = libsoup3
	depends = libsystemd
	depends = libtasn1
	depends = libwebp
	depends = libwpe
	depends = libxkbcommon
	depends = libxml2
	depends = libxslt
	depends = mesa
	depends = openjpeg2
	depends = sqlite
	depends = wayland
	depends = woff2
	depends = wpebackend-fdo
	depends = xdg-dbus-proxy
	depends = zlib
	source = https://wpewebkit.org/releases/wpewebkit-2.48.1.tar.xz
	source = https://wpewebkit.org/releases/wpewebkit-2.48.1.tar.xz.asc
	validpgpkeys = 5AA3BC334FD7E3369E7C77B291C559DBE4C9123B
	validpgpkeys = 013A0127AC9C65B34FFA62526C1009B693975393
	sha256sums = 2f411b692bb4c2a924d9bddf0c794fd69a24931ad836d6a93c9a65f5adb0357f
	sha256sums = SKIP
	b2sums = 683dc9ff4f7a15f5bf6953c1a177c9fe553a9a2f15418db3958ac8ad3573b2453e4d662641d8bb30323bc538ec076fc905d2e97cd20546a43ba1e48f62bf6a0b
	b2sums = SKIP

pkgname = wpewebkit
	depends = at-spi2-core
	depends = atk
	depends = bubblewrap
	depends = cairo
	depends = expat
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gst-plugins-bad-libs
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = harfbuzz
	depends = harfbuzz-icu
	depends = icu
	depends = lcms2
	depends = libavif
	depends = libdrm
	depends = libepoxy
	depends = libgcrypt
	depends = libinput
	depends = libjpeg-turbo
	depends = libjxl
	depends = libpng
	depends = libseccomp
	depends = libsoup3
	depends = libsystemd
	depends = libtasn1
	depends = libwebp
	depends = libwpe
	depends = libxkbcommon
	depends = libxml2
	depends = libxslt
	depends = mesa
	depends = openjpeg2
	depends = sqlite
	depends = wayland
	depends = woff2
	depends = wpebackend-fdo
	depends = xdg-dbus-proxy
	depends = zlib
	depends = libWPEBackend-fdo-1.0.so
	depends = libwpe-1.0.so
	optdepends = geoclue: Geolocation support
	optdepends = gst-libav: nonfree media decoding
	optdepends = gst-plugins-bad: media decoding
	optdepends = gst-plugins-good: media decoding
	provides = libWPEWebKit-2.0.so

pkgname = wpewebkit-docs
	pkgdesc = Embeddable web content engine (documentation)
	depends = 
