pkgbase = wpewebkit
	pkgdesc = Embeddable web content engine
	pkgver = 2.42.5
	pkgrel = 1
	url = https://wpewebkit.org
	arch = x86_64
	license = custom
	makedepends = clang
	makedepends = cmake
	makedepends = gi-docgen
	makedepends = gobject-introspection
	makedepends = gperf
	makedepends = gst-plugins-bad
	makedepends = lld
	makedepends = ninja
	makedepends = python
	makedepends = ruby
	makedepends = systemd
	makedepends = unifdef
	makedepends = wayland-protocols
	depends = at-spi2-core
	depends = atk
	depends = bubblewrap
	depends = cairo
	depends = fontconfig
	depends = freetype2
	depends = glib2
	depends = gst-plugins-bad-libs
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = harfbuzz
	depends = harfbuzz-icu
	depends = icu
	depends = libavif
	depends = libdrm
	depends = libepoxy
	depends = libgcrypt
	depends = libjpeg
	depends = libjxl
	depends = libpng
	depends = libseccomp
	depends = libsoup3
	depends = libsystemd
	depends = libtasn1
	depends = libwebp
	depends = libwpe
	depends = libxkbcommon
	depends = libxml2
	depends = libxslt
	depends = mesa
	depends = openjpeg2
	depends = sqlite
	depends = wayland
	depends = woff2
	depends = wpebackend-fdo
	depends = xdg-dbus-proxy
	depends = zlib
	source = https://wpewebkit.org/releases/wpewebkit-2.42.5.tar.xz
	source = https://wpewebkit.org/releases/wpewebkit-2.42.5.tar.xz.asc
	validpgpkeys = D7FCF61CF9A2DEAB31D81BD3F3D322D0EC4582C3
	validpgpkeys = 5AA3BC334FD7E3369E7C77B291C559DBE4C9123B
	sha256sums = 4dbab6c5e6dc0c65a3d7dffc1c2390be5f9abd423faf983fe3a55fe081df0532
	sha256sums = SKIP
	b2sums = a90431053235ae2ab90aeedec6a888a9aac80e691b05470448ffca9220dd4d28c479638708e250921521fd0d079f84027b528608cb8c0aed99bf9d7b9c68d3f8
	b2sums = SKIP

pkgname = wpewebkit
	depends = at-spi2-core
	depends = atk
	depends = bubblewrap
	depends = cairo
	depends = fontconfig
	depends = freetype2
	depends = glib2
	depends = gst-plugins-bad-libs
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = harfbuzz
	depends = harfbuzz-icu
	depends = icu
	depends = libavif
	depends = libdrm
	depends = libepoxy
	depends = libgcrypt
	depends = libjpeg
	depends = libjxl
	depends = libpng
	depends = libseccomp
	depends = libsoup3
	depends = libsystemd
	depends = libtasn1
	depends = libwebp
	depends = libwpe
	depends = libxkbcommon
	depends = libxml2
	depends = libxslt
	depends = mesa
	depends = openjpeg2
	depends = sqlite
	depends = wayland
	depends = woff2
	depends = wpebackend-fdo
	depends = xdg-dbus-proxy
	depends = zlib
	depends = libWPEBackend-fdo-1.0.so
	depends = libwpe-1.0.so
	optdepends = geoclue: Geolocation support
	optdepends = gst-libav: nonfree media decoding
	optdepends = gst-plugins-bad: media decoding
	optdepends = gst-plugins-good: media decoding
	provides = libWPEWebKit-1.1.so

pkgname = wpewebkit-docs
	pkgdesc = Embeddable web content engine (documentation)
	depends = 
