pkgbase = gn
	pkgdesc = Meta-build system that generates build files for Ninja
	pkgver = 0.2143.a2e2717e
	pkgrel = 1
	url = https://gn.googlesource.com/gn/
	arch = x86_64
	license = BSD
	makedepends = clang
	makedepends = ninja
	makedepends = python
	makedepends = git
	depends = gcc-libs
	source = git+https://gn.googlesource.com/gn#commit=a2e2717ea670249a34b0de4b3e54f268d320bdfa
	sha256sums = SKIP

pkgname = gn
