pkgbase = gn
	pkgdesc = Meta-build system that generates build files for Ninja
	pkgver = 0.2174.b3a0bff4
	pkgrel = 1
	url = https://gn.googlesource.com/gn/
	arch = x86_64
	license = BSD
	makedepends = clang
	makedepends = ninja
	makedepends = python
	makedepends = git
	depends = gcc-libs
	source = git+https://gn.googlesource.com/gn#commit=b3a0bff47dd81073bfe67a402971bad92e4f2423
	sha256sums = SKIP

pkgname = gn
