pkgbase = gn
	pkgdesc = Meta-build system that generates build files for Ninja
	pkgver = 0.2324.304bbef6
	pkgrel = 1
	url = https://gn.googlesource.com/gn/
	arch = x86_64
	license = BSD-3-Clause
	makedepends = clang
	makedepends = ninja
	makedepends = python
	makedepends = git
	depends = gcc-libs
	source = git+https://gn.googlesource.com/gn#commit=304bbef6c7e9a86630c12986b99c8654eb7fe648
	sha256sums = 8f48494ca7ff106fc80db6a1fecb94cfaddc5eaa07a1c989a418df1df16c4b14

pkgname = gn
