pkgbase = opendht
	pkgdesc = C++17 Distributed Hash Table (DHT) implementation
	pkgver = 3.0.1
	pkgrel = 1
	epoch = 1
	url = https://github.com/savoirfairelinux/opendht
	arch = x86_64
	license = GPL3
	checkdepends = cppunit
	makedepends = git
	makedepends = cmake
	makedepends = msgpack-cxx
	makedepends = asio
	makedepends = restinio
	makedepends = cython0
	makedepends = python-setuptools
	depends = glibc
	depends = gnutls
	depends = nettle
	depends = readline
	depends = argon2
	depends = jsoncpp
	depends = libjsoncpp.so
	depends = fmt
	depends = http-parser
	depends = openssl
	optdepends = python: to use the Python bindings
	optdepends = msgpack-cxx: linking against opendht
	source = git+https://github.com/savoirfairelinux/opendht#commit=13194b66d35d36d5d04b82870ccc0d604edebddc
	sha256sums = SKIP

pkgname = opendht
