pkgbase = opendht
	pkgdesc = C++17 Distributed Hash Table (DHT) implementation
	pkgver = 3.7.0rc8
	pkgrel = 1
	epoch = 1
	url = https://github.com/savoirfairelinux/opendht
	arch = x86_64
	license = GPL3
	checkdepends = cppunit
	makedepends = git
	makedepends = cmake
	makedepends = msgpack-cxx
	makedepends = restinio
	makedepends = asio
	makedepends = cython
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	depends = glibc
	depends = gnutls
	depends = nettle
	depends = readline
	depends = argon2
	depends = jsoncpp
	depends = libjsoncpp.so
	depends = fmt
	depends = openssl
	depends = llhttp
	optdepends = python: to use the Python bindings
	optdepends = msgpack-cxx: linking against opendht
	source = git+https://github.com/savoirfairelinux/opendht#tag=v3.7.0rc8
	sha256sums = bc948237b5bb00750eddcf639978c5640e978c903ef584fe979a8eaa0b38febe

pkgname = opendht
