#!/bin/bash

. /etc/rc.conf
. /etc/rc.d/functions

PID=`pidof -o %PPID /usr/sbin/capiinit`
case "$1" in
  start)
    stat_busy "Starting capiinit"
    [ -f /proc/capi/capi20 ] || /sbin/modprobe -s capi

    CNT=0  # wait for udev
	while [ ! -e /dev/capi20 -a $CNT -lt 10 ]; do
		sleep 1; : $((CNT++))
	done

    if [ -z "$PID" ]; then
       /usr/sbin/capiinit 2>/dev/null start
    fi
    
    if [ ! -z "$PID" -o $? -gt 0 ]; then
      stat_fail
    else
      add_daemon capiinit
      stat_done
    fi
    ;;
  stop)
    stat_busy "Stopping capiinit"
    /usr/sbin/capiinit 2>/dev/null stop
    /sbin/modprobe -sqr capi
    rm_daemon capiinit
    stat_done
    ;;
  restart)
    $0 stop
    sleep 2
    $0 start
    ;;
  *)
    echo "usage: $0 {start|stop|restart}"  
esac
exit 0
