pkgbase = linux-tools
	pkgver = 6.12
	pkgrel = 10
	url = https://www.kernel.org
	arch = x86_64
	groups = linux-tools
	license = GPL-2.0-only
	makedepends = git
	makedepends = asciidoc
	makedepends = xmlto
	makedepends = perl
	makedepends = python
	makedepends = python-setuptools
	makedepends = slang
	makedepends = elfutils
	makedepends = libunwind
	makedepends = numactl
	makedepends = audit
	makedepends = zstd
	makedepends = libcap
	makedepends = libtraceevent
	makedepends = openssl
	makedepends = clang
	makedepends = llvm-libs
	makedepends = libpfm
	makedepends = pciutils
	makedepends = glib2
	makedepends = sysfsutils
	makedepends = udev
	makedepends = ncurses
	makedepends = readline
	makedepends = zlib
	makedepends = libelf
	makedepends = libcap
	makedepends = python-docutils
	makedepends = libcap
	makedepends = llvm
	makedepends = clang
	makedepends = libnl
	options = !strip
	options = !lto
	source = git+https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git#tag=v6.12?signed
	source = cpupower.default
	source = cpupower.systemd
	source = cpupower.service
	source = usbipd.service
	source = hv_kvp_daemon.service
	source = hv_vss_daemon.service
	source = fix-buildid.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = 267bab84f30e3ce4a88b6441aeee777b114fd58041b43cabfe50fdf0c0a97321
	sha256sums = 4fa509949d6863d001075fa3e8671eff2599c046d20c98bb4a70778595cd1c3f
	sha256sums = b692f4859ed3fd9831a058a450a84d8c409bf7e3e45aac1c2896a14bb83f3d7a
	sha256sums = 42d2ec9f1d9cc255ee7945a27301478364ef482f5a6ddfc960189f03725ccec2
	sha256sums = 2e187734d8aec58a3046d79883510d779aa93fb3ab20bd3132c1a607ebe5498f
	sha256sums = b1315cb77a35454e1af9172f821a52e2a0cb18561be05a340d21cf337b01ae61
	sha256sums = 2d5e2f8d40b6f19bf2e1dead57ca105d72098fb0b418c09ff2e0cb91089710af
	sha256sums = b0271b2757bb2cb05a1fd5560a732959cf28db82bb114aadcf7341b71ce127ea

pkgname = bootconfig
	pkgdesc = Apply, delete or show boot config to initrd
	depends = glibc

pkgname = bpf
	pkgdesc = BPF tools
	depends = glibc
	depends = readline
	depends = zlib
	depends = libelf
	depends = libcap
	depends = zstd
	depends = llvm-libs
	depends = binutils
	depends = libsframe.so

pkgname = cpupower
	pkgdesc = Linux kernel tool to examine and tune power saving related features of your processor
	install = cpupower.install
	depends = glibc
	depends = bash
	depends = pciutils
	conflicts = cpufrequtils
	replaces = cpufrequtils
	backup = etc/default/cpupower

pkgname = hyperv
	pkgdesc = Hyper-V tools
	depends = glibc

pkgname = linux-tools-meta
	pkgdesc = Linux kernel tools meta package
	groups = 
	depends = bootconfig
	depends = bpf
	depends = cpupower
	depends = hyperv
	depends = perf
	depends = tmon
	depends = turbostat
	depends = usbip
	depends = x86_energy_perf_policy
	depends = intel-speed-select
	conflicts = acpidump

pkgname = perf
	pkgdesc = Linux kernel performance auditing tool
	depends = glibc
	depends = perl
	depends = python
	depends = slang
	depends = elfutils
	depends = libunwind
	depends = binutils
	depends = numactl
	depends = audit
	depends = coreutils
	depends = glib2
	depends = xz
	depends = zlib
	depends = libelf
	depends = bash
	depends = zstd
	depends = libcap
	depends = libtraceevent
	depends = openssl
	depends = libsframe.so
	depends = llvm-libs
	depends = libpfm

pkgname = tmon
	pkgdesc = Monitoring and Testing Tool for Linux kernel thermal subsystem
	depends = glibc
	depends = ncurses

pkgname = turbostat
	pkgdesc = Report processor frequency and idle statistics
	depends = glibc
	depends = libcap

pkgname = usbip
	pkgdesc = An USB device sharing system over IP network
	depends = glibc
	depends = glib2
	depends = sysfsutils
	depends = systemd-libs

pkgname = x86_energy_perf_policy
	pkgdesc = Read or write MSR_IA32_ENERGY_PERF_BIAS
	depends = glibc

pkgname = intel-speed-select
	pkgdesc = Intel Speed Select
	depends = libnl
