[Desktop Entry]
Exec=/usr/bin/linguist
Name=Qt Linguist
GenericName=Translation Tool
MimeType=application/x-linguist
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/linguist.png
Categories=Qt;Development;Translation
