pkgbase = mbedtls
	pkgdesc = An open source, portable, easy to use, readable and flexible TLS library
	pkgver = 3.6.4
	pkgrel = 1
	url = https://tls.mbed.org
	arch = x86_64
	license = Apache-2.0
	checkdepends = python
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	makedepends = python
	depends = glibc
	depends = sh
	provides = libmbedcrypto.so
	provides = libmbedtls.so
	provides = libmbedx509.so
	provides = polarssl
	conflicts = polarssl
	replaces = polarssl
	options = staticlibs
	source = git+https://github.com/Mbed-TLS/mbedtls.git#tag=b336acaa2b8074c63d48a6ff43c74413102b6fdb
	source = git+https://github.com/Mbed-TLS/mbedtls-framework.git
	b2sums = cda6cc69b7742f8778a5414e4351ab42e7eb64b821b31f8ec3d2fc977aadd60f21df3fdc9a3760882d3ca681ed8179183cfff0b4ecf25d5ca8299e87438a3243
	b2sums = SKIP

pkgname = mbedtls
