pkgbase = nodejs
	pkgdesc = Evented I/O for V8 javascript ("Current" release)
	pkgver = 25.3.0
	pkgrel = 1
	url = https://nodejs.org/
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = procps-ng
	makedepends = python
	depends = brotli
	depends = c-ares
	depends = icu
	depends = libnghttp2
	depends = libnghttp3
	depends = libngtcp2
	depends = libuv
	depends = openssl
	depends = simdjson
	depends = zlib
	optdepends = npm: nodejs package manager
	options = !lto
	source = git+https://github.com/nodejs/node.git#tag=v25.3.0?signed
	source = update-icu-tests.patch
	validpgpkeys = 8FCCA13FEF1D0C2E91008E09770F7A9A5AE15600
	validpgpkeys = 890C08DB8579162FEE0DF9DB8BEAB4DFCF555EF4
	validpgpkeys = C82FA3AE1CBEDC6BE46B9360C43CEC45C17AB93C
	validpgpkeys = C0D6248439F1D5604AAFFB4021D900FFDB233756
	validpgpkeys = 5BE8A3F6C8A5C01D106C0AD820B1A390B168D356
	sha512sums = b20ef17d0cd7257ef41fcd5ed02b98b98d77edd1df17737fa96f302d0c118370eb7ca52747856bc58e6a30e849b6882544eafd3756ab9b763e7f82d5d8b51d28
	sha512sums = ab2edd1d99a6bb53f8f1f2cef8a3155dd1a44dda181040543ded1aef8775461676bba24470e8f2f9ffc5c36a6acdc77ecb2ea8492eda6bad382c9e0a06dca446

pkgname = nodejs
