pkgbase = js140
	pkgdesc = JavaScript interpreter and libraries - Version 140
	pkgver = 140.2.0
	pkgrel = 1
	url = https://spidermonkey.dev/
	arch = x86_64
	license = MPL-2.0
	checkdepends = git
	checkdepends = mercurial
	makedepends = cbindgen
	makedepends = clang
	makedepends = lld
	makedepends = llvm
	makedepends = python
	makedepends = rust
	makedepends = zip
	depends = gcc-libs
	depends = glibc
	depends = readline
	depends = sh
	depends = zlib
	options = !lto
	source = https://archive.mozilla.org/pub/firefox/releases/140.2.0esr/source/firefox-140.2.0esr.source.tar.xz
	source = https://archive.mozilla.org/pub/firefox/releases/140.2.0esr/source/firefox-140.2.0esr.source.tar.xz.asc
	source = 0001-Bug-1973994-mozjs-140.pc-does-not-contain-DXP_UNIX-o.patch
	validpgpkeys = 14F26682D0916CDD81E37B6D61B7B526D98F0353
	sha256sums = 956dce675c3b706d563caf07ed3ca9af632ab830be710dfd4351da78a0a2ef55
	sha256sums = SKIP
	sha256sums = b5178a7b8a603b645cbae61467f3fa1fef6e9f34c90e4a22faf4ea2152a50fba
	b2sums = aa3517f07e1b632ceed33e2765929742151852efb7ecfa6d432b7d63679b07df48151ade6a6acd42b06bd48b405b59d52aacd56ddde60bf85ad8c985cf6ca551
	b2sums = SKIP
	b2sums = 89f39bd3ef2ca4894d98f860c2296b2afa58e4fe8c68ddb816a0684cc0db3a8e0deec71af5d214fb3ae40f6ad963aefef02d6b71071c41b9b55752c7cf791a9c

pkgname = js140
