pkgbase = js140
	pkgdesc = JavaScript interpreter and libraries - Version 140
	pkgver = 140.4.0
	pkgrel = 1
	url = https://spidermonkey.dev/
	arch = x86_64
	license = MPL-2.0
	checkdepends = git
	checkdepends = mercurial
	makedepends = cbindgen
	makedepends = clang
	makedepends = lld
	makedepends = llvm
	makedepends = python
	makedepends = rust
	makedepends = zip
	depends = gcc-libs
	depends = glibc
	depends = readline
	depends = sh
	depends = zlib
	options = !lto
	source = https://archive.mozilla.org/pub/firefox/releases/140.4.0esr/source/firefox-140.4.0esr.source.tar.xz
	source = https://archive.mozilla.org/pub/firefox/releases/140.4.0esr/source/firefox-140.4.0esr.source.tar.xz.asc
	source = 0001-Bug-1973994-mozjs-140.pc-does-not-contain-DXP_UNIX-o.patch
	validpgpkeys = 14F26682D0916CDD81E37B6D61B7B526D98F0353
	sha256sums = 49f20673171046bc7b64f4caa340c46e1e105b9107f0ef68b7a94f379bcea4f7
	sha256sums = SKIP
	sha256sums = b5178a7b8a603b645cbae61467f3fa1fef6e9f34c90e4a22faf4ea2152a50fba
	b2sums = 4b4851f65e16363225b5ce8f43a41b9acb930832ce935b20c728e77603c5fb64ca6a292db03ee0ae186968d5514409f1011ccc5972184550b3eab7bef0cd0bf3
	b2sums = SKIP
	b2sums = 89f39bd3ef2ca4894d98f860c2296b2afa58e4fe8c68ddb816a0684cc0db3a8e0deec71af5d214fb3ae40f6ad963aefef02d6b71071c41b9b55752c7cf791a9c

pkgname = js140
