pkgbase = rdma-core
	pkgdesc = RDMA core userspace libraries and daemons
	pkgver = 57.0
	pkgrel = 1
	url = https://github.com/linux-rdma/rdma-core
	arch = x86_64
	license = GPL-2.0-or-later OR LicenseRef-OpenIB.org-BSD-MIT
	license = GPL-2.0-or-later OR LicenseRef-OpenIB.org-BSD-FreeBSD
	license = GPL-2.0-or-later OR LicenseRef-Intel-BSD-3-Clause
	license = GPL-2.0-or-later OR LicenseRef-PathScale-BSD-Patent-License
	license = CC0-1.0
	license = MIT
	license = BSD-2-Clause
	license = CPL-1.0 OR BSD-2-Clause OR GPL-2.0-or-later
	makedepends = cmake
	makedepends = cython
	makedepends = git
	makedepends = libdrm
	makedepends = ninja
	makedepends = pandoc
	makedepends = python
	makedepends = python-docutils
	makedepends = systemd
	makedepends = valgrind
	depends = bash
	depends = glibc
	depends = libnl
	depends = perl
	depends = systemd-libs
	optdepends = python: for the Python API (pyverbs)
	provides = ibacm
	provides = infiniband-diags
	provides = libcxgb3
	provides = libcxgb4
	provides = libibcm
	provides = libibmad
	provides = libibumad
	provides = libibverbs
	provides = libiwpm
	provides = libmlx4
	provides = libmlx5
	provides = libmthca
	provides = libnes
	provides = libocrdma
	provides = librdmacm
	provides = rdma
	provides = srptools
	conflicts = ibacm
	conflicts = infiniband-diags
	conflicts = libcxgb3
	conflicts = libcxgb4
	conflicts = libibcm
	conflicts = libibmad
	conflicts = libibumad
	conflicts = libibverbs
	conflicts = libiwpm
	conflicts = libmlx4
	conflicts = libmlx5
	conflicts = libmthca
	conflicts = libnes
	conflicts = libocrdma
	conflicts = librdmacm
	conflicts = rdma
	conflicts = srptools
	replaces = ibacm
	replaces = infiniband-diags
	replaces = libcxgb3
	replaces = libcxgb4
	replaces = libibcm
	replaces = libibmad
	replaces = libibumad
	replaces = libibverbs
	replaces = libiwpm
	replaces = libmlx4
	replaces = libmlx5
	replaces = libmthca
	replaces = libnes
	replaces = libocrdma
	replaces = librdmacm
	replaces = rdma
	replaces = srptools
	backup = etc/rdma/rdma.conf
	backup = etc/rdma/mlx4.conf
	source = https://github.com/linux-rdma/rdma-core/archive/v57.0/rdma-core-57.0.tar.gz
	sha512sums = 7ad613c354fde4064e3370e2075cd450a568339096c2ae3b4b733349e045f3e398475ce16331d3a063520ef6bb6ef4ee65c02fc8df4cdfb8e6fd1cfe06e1e52a

pkgname = rdma-core
