[Unit]
Description=uWSGI service unit
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi --ini /etc/uwsgi/%I.ini
Restart=always
Type=notify
StandardError=syslog
NotifyAccess=main
KillSignal=SIGQUIT

[Install]
WantedBy=multi-user.target
