pkgbase = arrow
	pkgdesc = Columnar in-memory analytics layer for big data.
	pkgver = 18.1.0
	pkgrel = 3
	url = https://arrow.apache.org
	arch = x86_64
	license = Apache-2.0
	checkdepends = minio
	checkdepends = python
	makedepends = boost
	makedepends = cmake
	makedepends = flatbuffers
	makedepends = git
	makedepends = gmock
	makedepends = ninja
	makedepends = rapidjson
	makedepends = xsimd
	depends = abseil-cpp
	depends = apache-orc
	depends = aws-crt-cpp
	depends = aws-sdk-cpp-core
	depends = aws-sdk-cpp-iam
	depends = aws-sdk-cpp-s3
	depends = brotli
	depends = bzip2
	depends = gcc-libs
	depends = glibc
	depends = google-glog
	depends = grpc
	depends = libutf8proc
	depends = lz4
	depends = openssl
	depends = protobuf
	depends = re2
	depends = snappy
	depends = thrift
	depends = zlib
	depends = zstd
	provides = parquet-cpp
	conflicts = parquet-cpp
	source = https://archive.apache.org/dist/arrow/arrow-18.1.0/apache-arrow-18.1.0.tar.gz
	source = https://archive.apache.org/dist/arrow/arrow-18.1.0/apache-arrow-18.1.0.tar.gz.asc
	source = git+https://github.com/apache/parquet-testing.git
	source = git+https://github.com/apache/arrow-testing.git
	source = fix-repetition-levels-for-encryption-test.patch
	validpgpkeys = 265F80AB84FE03127E14F01125BCCA5220D84079
	validpgpkeys = 08D3564B7C6A9CAFBFF6A66791D18FCF079F8007
	validpgpkeys = AF6AADA4C9835B75973FF5DA275C532289DD0F4A
	sha512sums = 7249c03a6097bc64fb0092143e4d4aaef3227565147e6254f026ddd504177c8dd565a184a0df39743dc989070dc3785e5b66f738c8e310ed9c982b61c2ec4914
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = 225c1d3b513ab3f82ffa946c22a2aebc7f43af0cdbbede55cbbd9746637d8a032a2e7b888bed6d6e152d28d6d78c842a298187fab94d8864867ba436eeee835d

pkgname = arrow
