[Desktop Entry]
Type=Application
Version=1.0
Name=mGBA
Comment=mGBA Game Boy Advance Emulator
Icon=mgba.png
Exec=mgba-qt
Categories=Game;Emulator;
Terminal=false
StartupNotify=false
