[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Flock
Exec=flockbrowser %u
Icon=flock
Type=Application
Terminal=false
MultipleArgs=false
MimeType=text/html;
StartupNotify=false
Categories=Application;Network;
