pkgbase = retroarch
	pkgdesc = Reference frontend for the libretro API
	pkgver = 1.22.2
	pkgrel = 1
	url = http://www.libretro.com/
	arch = x86_64
	groups = libretro
	license = GPL-3.0-only
	makedepends = gamemode
	makedepends = git
	makedepends = libdecor
	makedepends = vulkan-icd-loader
	makedepends = wayland-protocols
	depends = alsa-lib
	depends = dbus
	depends = ffmpeg
	depends = fontconfig
	depends = fribidi
	depends = gcc-libs
	depends = glibc
	depends = libass.so
	depends = libdrm
	depends = libfreetype.so
	depends = libgl
	depends = libpulse
	depends = libudev.so
	depends = libusb
	depends = libx11
	depends = libxcb
	depends = libxext
	depends = libxinerama
	depends = libxkbcommon
	depends = libxrandr
	depends = libxxf86vm
	depends = libxv
	depends = mesa
	depends = openssl
	depends = qt6-base
	depends = sdl2
	depends = v4l-utils
	depends = wayland
	depends = zlib
	optdepends = gamemode: GameMode support
	optdepends = libdecor: Wayland decorations
	optdepends = libretro-overlays: Collection of overlays
	optdepends = libretro-shaders: Collection of shaders
	optdepends = python: retroarch-cg2glsl
	optdepends = retroarch-assets-ozone: Ozone menu assets
	optdepends = retroarch-assets-xmb: XMB menu assets
	backup = etc/retroarch.cfg
	source = git+https://github.com/libretro/RetroArch.git#tag=69a4f0ea1e8aaf442ae4858f2e7f2b31a1776576
	source = retroarch-config.patch
	b2sums = 001cf261cda10fc42e9261d9eae56452d23904cba544f906fa96db8db149bf3f4cd5ce5a84f90c591b5501cd3e7637be131a2a25342dca745b2ad0161a4755f6
	b2sums = 5ecbe57126c7f9b66bdf189f0af2f1cec031cb68ea85bb9609847ba9beb0e720c902cd3330d7c286901a73e6c2e272c3f04166cf9a47bb6f80097f19dde8ce3a

pkgname = retroarch
