pkgbase = zathura
	pkgdesc = Minimalistic document viewer
	pkgver = 2026.05.20
	pkgrel = 1
	url = https://pwmt.org/projects/zathura/
	arch = x86_64
	license = Zlib
	checkdepends = xorg-server-xvfb
	checkdepends = weston
	checkdepends = libdisplay-info
	makedepends = appstream
	makedepends = python-sphinx
	makedepends = texlive-bin
	makedepends = meson
	makedepends = ninja
	depends = girara
	depends = sqlite
	depends = desktop-file-utils
	depends = file
	depends = libsynctex
	depends = libseccomp
	depends = gtk3
	depends = glib2
	depends = json-glib
	optdepends = zathura-djvu: DjVu support
	optdepends = zathura-pdf-poppler: PDF support using Poppler
	optdepends = zathura-pdf-mupdf: PDF support using MuPDF
	optdepends = zathura-ps: PostScript support
	optdepends = zathura-cb: Comic book support
	source = zathura-2026.05.20.tar.gz::https://github.com/pwmt/zathura/archive/refs/tags/2026.05.20.tar.gz
	sha512sums = 2717cf46bd68000fa52de0ed149c50174e45c5996030c4d528a6e493487dc9d457debea930d56848906d01fad9c92039712af9e1c781de614fbde07c12201319

pkgname = zathura
