pkgbase = zathura
	pkgdesc = Minimalistic document viewer
	pkgver = 0.5.8
	pkgrel = 1
	url = https://pwmt.org/projects/zathura/
	arch = x86_64
	license = Zlib
	checkdepends = xorg-server-xvfb
	makedepends = python-sphinx
	makedepends = texlive-bin
	makedepends = meson
	makedepends = ninja
	makedepends = appstream-glib
	makedepends = check
	depends = girara
	depends = sqlite
	depends = desktop-file-utils
	depends = file
	depends = libsynctex
	depends = file
	depends = libseccomp
	optdepends = zathura-djvu: DjVu support
	optdepends = zathura-pdf-poppler: PDF support using Poppler
	optdepends = zathura-pdf-mupdf: PDF support using MuPDF
	optdepends = zathura-ps: PostScript support
	optdepends = zathura-cb: Comic book support
	source = zathura-0.5.8.tar.gz::https://github.com/pwmt/zathura/archive/refs/tags/0.5.8.tar.gz
	sha512sums = 6954f8bf8c76526e86a4e335c18c3c68f509fbbe1081f7c74d333f8a9ba83bc5da971ad744f91408f8b0fb8f0b647ae07f02601b5efa97961155ba193c8777f6

pkgname = zathura
