pkgbase = zathura
	pkgdesc = Minimalistic document viewer
	pkgver = 2026.03.27
	pkgrel = 1
	url = https://pwmt.org/projects/zathura/
	arch = x86_64
	license = Zlib
	checkdepends = xorg-server-xvfb
	checkdepends = weston
	makedepends = appstream
	makedepends = python-sphinx
	makedepends = texlive-bin
	makedepends = meson
	makedepends = ninja
	depends = girara
	depends = sqlite
	depends = desktop-file-utils
	depends = file
	depends = libsynctex
	depends = libseccomp
	depends = gtk3
	depends = glib2
	depends = json-glib
	optdepends = zathura-djvu: DjVu support
	optdepends = zathura-pdf-poppler: PDF support using Poppler
	optdepends = zathura-pdf-mupdf: PDF support using MuPDF
	optdepends = zathura-ps: PostScript support
	optdepends = zathura-cb: Comic book support
	source = zathura-2026.03.27.tar.gz::https://github.com/pwmt/zathura/archive/refs/tags/2026.03.27.tar.gz
	sha512sums = e3d045271b4c015ecc399cd945764f1883e45c127f4b9dda402c8bbf4cc9ddd38c4342c1a66a86b1b06ef3e7330c1773ff3cdbc7bd82e8243748413f1fb98d6c

pkgname = zathura
