pkgbase = nodejs-lts-jod
	pkgdesc = Evented I/O for V8 javascript (LTS release: Jod)
	pkgver = 22.22.0
	pkgrel = 1
	url = https://nodejs.org/
	arch = x86_64
	license = MIT
	makedepends = python
	makedepends = procps-ng
	depends = openssl
	depends = zlib
	depends = icu
	depends = libuv
	depends = c-ares
	depends = brotli
	depends = libnghttp2
	optdepends = npm: nodejs package manager
	provides = nodejs=22.22.0
	conflicts = nodejs
	options = !lto
	source = https://nodejs.org/dist/v22.22.0/node-v22.22.0.tar.xz
	source = update-icu-tests.patch
	sha256sums = 4c138012bb5352f49822a8f3e6d1db71e00639d0c36d5b6756f91e4c6f30b683
	sha256sums = 43da0fb7469e34a239b2711876475f303a4012151e44f72e636a5a7fcf21bff8

pkgname = nodejs-lts-jod
