pkgbase = nodejs-lts-jod
	pkgdesc = Evented I/O for V8 javascript (LTS release: Jod)
	pkgver = 22.23.3
	pkgrel = 1
	url = https://nodejs.org/
	arch = x86_64
	license = MIT
	makedepends = python
	makedepends = procps-ng
	makedepends = ninja
	depends = openssl
	depends = zlib
	depends = icu
	depends = libuv
	depends = c-ares
	depends = brotli
	depends = libnghttp2
	depends = zstd
	optdepends = npm: nodejs package manager
	provides = nodejs=22.23.3
	conflicts = nodejs
	options = !lto
	source = https://nodejs.org/dist/v22.23.3/node-v22.23.3.tar.xz
	source = update-icu-tests.patch
	sha256sums = bd97093e1a1e9243338950c174a693a64d4e0926a9c6ce259962bc58d5e96909
	sha256sums = 43da0fb7469e34a239b2711876475f303a4012151e44f72e636a5a7fcf21bff8

pkgname = nodejs-lts-jod
