pkgbase = libusbsio
	pkgdesc = Library for USB-HID communication over SPI, I2C or GPIO
	pkgver = 2.1.11
	pkgrel = 4
	url = https://www.nxp.com/design/software/development-software/library-for-windows-macos-and-ubuntu-linux:LIBUSBSIO
	arch = x86_64
	license = BSD-3-Clause
	license = BSD-3-Clause
	makedepends = hidapi
	makedepends = libusb
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = systemd
	source = https://www.nxp.com/downloads/en/libraries/libusbsio-2.1.11-src.zip
	sha512sums = 200717be44cdb2bb7cc7eeba29afb6aed8a88a72e7664377c1abf8c1d1f88f7de1ed05c9a7d6c960ae53e4b9420889c252d51fd807b1534396430004138518a0
	b2sums = 711b7b59cec79ebc37f42eab7a7c377d6cf15ccc50982dfcacd4e8f6b0c4107ebf14f758a41ee9edad9d2d6d789c99376f1b181e37b5dfea8e543cf06f7b566a

pkgname = libusbsio
	depends = glibc
	depends = systemd-libs
	depends = libudev.so

pkgname = python-libusbsio
	pkgdesc = Library for USB-HID communication over SPI, I2C or GPIO - Python bindings
	depends = libusbsio=2.1.11
	depends = python
