pkgbase = hid-tools
	pkgdesc = Python scripts to manipulate HID data
	pkgver = 0.7
	pkgrel = 2
	url = https://gitlab.freedesktop.org/libevdev/hid-tools
	arch = any
	license = GPL2
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-pypandoc
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = python-sphinxcontrib-apidoc
	depends = python-parse
	depends = python-pyudev
	depends = python-libevdev
	depends = python-click
	depends = python-yaml
	source = https://gitlab.freedesktop.org/libevdev/hid-tools/-/archive/0.7/hid-tools-0.7.tar.gz
	sha512sums = 9a9bd42ac0a78455e7c5c472b954ac6761c656d51dc9667def50fd61311280d435b227c5b9519d05287063bbdfad3930598a9f0a8e4ffe4cc7cc1cda37c4462c

pkgname = hid-tools
