pkgbase = hid-tools
	pkgdesc = Python scripts to manipulate HID data
	pkgver = 0.12
	pkgrel = 2
	url = https://gitlab.freedesktop.org/libevdev/hid-tools
	arch = any
	license = GPL-2.0-or-later
	checkdepends = python-attrs
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-pypandoc
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = python-sphinxcontrib-apidoc
	depends = python
	depends = python-click
	depends = python-libevdev
	depends = python-parse
	depends = python-pyroute2
	depends = python-pyudev
	depends = python-yaml
	source = https://gitlab.freedesktop.org/libevdev/hid-tools/-/archive/0.12/hid-tools-0.12.tar.gz
	sha512sums = deaf0b94b83de63c890bc70524ec39589d78b89b377f5aff2548d331ba274c3b7c7cf8c1152bb928775f2f2d7afec988e9249959edcfa2c8f764a7486e9d9081

pkgname = hid-tools
