[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=TigerVNC viewer
Comment=TigerVNC viewer
Exec=/usr/bin/vncviewer
Icon=tigervnc.png
Terminal=false
StartupNotify=false
Categories=Application; Network;
