[Desktop Entry]
Encoding=UTF-8
Name=Pathological
Comment=A puzzle game involving paths and marbles
Exec=pathological
Icon=pathological.xpm
Terminal=false
Type=Application
Categories=Application;Game;
