[Desktop Entry]
Name=Armagetronad
GenericName=3D Tron clone
GenericName[pl]=Klon gry Tron w 3D
Exec=armagetronad
Icon=/usr/share/armagetronad/desktop/icons/small/armagetronad.png
Categories=Game;
Terminal=false
Type=Application
Encoding=UTF-8
StartupNotify=false
