pkgbase = gendesk
	pkgdesc = Utility for generating desktop files by specifying a minimum of information
	pkgver = 1.0.15
	pkgrel = 1
	url = https://gendesk.roboticoverlords.org/
	arch = x86_64
	license = BSD-3-Clause
	makedepends = go
	depends = glibc
	options = !lto
	source = https://gendesk.roboticoverlords.org/default.png
	source = https://roboticoverlords.org/gendesk/gendesk-1.0.15.tar.xz
	source = https://roboticoverlords.org/gendesk/gendesk-1.0.15.tar.xz.asc
	validpgpkeys = 8A9BC5819C54FEB3DC2A9B48C32217F6F13FF192
	b2sums = e52d0e8c871b3cb01838e7d91908b1813f63cd40d1416803b6033327e5b83bf8fc1358e54014e6401dc2f30797de12d1ffd30a83d7d5efbcef2d9d08b6aa370b
	b2sums = 1d43107bd009d47d83c9b5e3b420ea86ed937f5a4acfb4e6b742ed4dbf179607c33ce6032e2b34f32a857c547c8ff2b97f9f2960dc0728f410168c63b5e2fd52
	b2sums = SKIP

pkgname = gendesk
