pkgbase = webkit2gtk-4.1
	pkgdesc = Web content engine for GTK
	pkgver = 2.44.0
	pkgrel = 1
	url = https://webkitgtk.org
	arch = x86_64
	license = custom
	makedepends = clang
	makedepends = cmake
	makedepends = gi-docgen
	makedepends = gobject-introspection
	makedepends = gperf
	makedepends = gst-plugins-bad
	makedepends = lld
	makedepends = ninja
	makedepends = python
	makedepends = ruby
	makedepends = systemd
	makedepends = unifdef
	makedepends = wayland-protocols
	depends = at-spi2-core
	depends = atk
	depends = bubblewrap
	depends = cairo
	depends = enchant
	depends = fontconfig
	depends = freetype2
	depends = glib2
	depends = gst-plugins-bad-libs
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = gtk3
	depends = harfbuzz
	depends = harfbuzz-icu
	depends = hyphen
	depends = icu
	depends = libavif
	depends = libdrm
	depends = libegl
	depends = libepoxy
	depends = libgcrypt
	depends = libgl
	depends = libgles
	depends = libjpeg
	depends = libjxl
	depends = libmanette
	depends = libpng
	depends = libseccomp
	depends = libsecret
	depends = libsoup3
	depends = libsystemd
	depends = libtasn1
	depends = libwebp
	depends = libwpe
	depends = libx11
	depends = libxcomposite
	depends = libxml2
	depends = libxslt
	depends = libxt
	depends = mesa
	depends = openjpeg2
	depends = sqlite
	depends = wayland
	depends = woff2
	depends = wpebackend-fdo
	depends = xdg-dbus-proxy
	depends = zlib
	source = https://webkitgtk.org/releases/webkitgtk-2.44.0.tar.xz
	source = https://webkitgtk.org/releases/webkitgtk-2.44.0.tar.xz.asc
	validpgpkeys = D7FCF61CF9A2DEAB31D81BD3F3D322D0EC4582C3
	validpgpkeys = 5AA3BC334FD7E3369E7C77B291C559DBE4C9123B
	sha256sums = c66530e41ba59b1edba4ee89ef20b2188e273bed0497e95084729e3cfbe30c87
	sha256sums = SKIP
	b2sums = 02e6427fde20252b4a523483814d62e82612ed43843e8902aa62a6718a9716d68b31d2cd2326c819c3bd70cf09e0c5ac4095ab544d7e8bd4031cfb4791a625bc
	b2sums = SKIP

pkgname = webkit2gtk-4.1
	depends = at-spi2-core
	depends = atk
	depends = bubblewrap
	depends = cairo
	depends = enchant
	depends = fontconfig
	depends = freetype2
	depends = glib2
	depends = gst-plugins-bad-libs
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = gtk3
	depends = harfbuzz
	depends = harfbuzz-icu
	depends = hyphen
	depends = icu
	depends = libavif
	depends = libdrm
	depends = libegl
	depends = libepoxy
	depends = libgcrypt
	depends = libgl
	depends = libgles
	depends = libjpeg
	depends = libjxl
	depends = libmanette
	depends = libpng
	depends = libseccomp
	depends = libsecret
	depends = libsoup3
	depends = libsystemd
	depends = libtasn1
	depends = libwebp
	depends = libwpe
	depends = libx11
	depends = libxcomposite
	depends = libxml2
	depends = libxslt
	depends = libxt
	depends = mesa
	depends = openjpeg2
	depends = sqlite
	depends = wayland
	depends = woff2
	depends = wpebackend-fdo
	depends = xdg-dbus-proxy
	depends = zlib
	depends = libWPEBackend-fdo-1.0.so
	depends = libwpe-1.0.so
	optdepends = geoclue: Geolocation support
	optdepends = gst-libav: nonfree media decoding
	optdepends = gst-plugins-bad: media decoding
	optdepends = gst-plugins-good: media decoding
	provides = libjavascriptcoregtk-4.1.so
	provides = libwebkit2gtk-4.1.so

pkgname = webkit2gtk-4.1-docs
	pkgdesc = Web content engine for GTK (documentation)
	depends = 
