pkgbase = ruff
	pkgdesc = An extremely fast Python linter, written in Rust
	pkgver = 0.12.11
	pkgrel = 1
	url = https://github.com/astral-sh/ruff
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = git
	makedepends = maturin
	makedepends = python-installer
	depends = gcc-libs
	depends = glibc
	options = !lto
	source = git+https://github.com/astral-sh/ruff.git#tag=0.12.11
	sha512sums = b70293e00b6669f2f111afb89a189c1e105b3dcc762381ee6c9e2ec8521a0c7490b111304e042fe329a2cb73fc02b56f8516550127bca84a36daeec27ed5d39a
	b2sums = 853a2f40dc6dc3b302a0f0dbc6269e88394793b58b536b0116c4749a740d1d76b13c5cf5b431b13d1de137cc607fc0a7b08fcdf4016859dbda6e9489d4091e81

pkgname = ruff

pkgname = python-ruff
	depends = python
	depends = ruff
