pkgbase = ruff
	pkgdesc = An extremely fast Python linter, written in Rust
	pkgver = 0.10.0
	pkgrel = 1
	url = https://github.com/astral-sh/ruff
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = git
	makedepends = maturin
	makedepends = python-installer
	depends = gcc-libs
	depends = glibc
	options = !lto
	source = git+https://github.com/astral-sh/ruff.git#tag=0.10.0
	sha512sums = 31e0156399dbb54a631650d4d1aac9df4025f01ee43ada80328ce157fa81d9851ae0e77b6216b0e534ea6edaf3a8a09e96720e6303d5993603563c88e7d7a9d9
	b2sums = 6273e7c5740f9c2b6d72a8e957126cf32358d00813cb2a84ee3b0e129f8ae80423bf966fa51962499c26a7453720b58995c4f01fdd3dad91fa41ec580bcc70cd

pkgname = ruff

pkgname = python-ruff
	depends = python
	depends = ruff
