pkgbase = ruff
	pkgdesc = An extremely fast Python linter, written in Rust
	pkgver = 0.11.13
	pkgrel = 1
	url = https://github.com/astral-sh/ruff
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = git
	makedepends = maturin
	makedepends = python-installer
	depends = gcc-libs
	depends = glibc
	options = !lto
	source = git+https://github.com/astral-sh/ruff.git#tag=0.11.13
	sha512sums = 180f73f325d38be220c6ca187d36b200b01be7386eaaac8c5cb6cdb77880ba67dfa1afdac6519bd34dc3c45caadb40fb9667873b4a5b8d641ce8c6dff55d3745
	b2sums = 1cd8767ee56b7bf231d4e00778a55636c5080b758f8dbd290432cc39bc8d9dc625d5fc1787043c059bc1bf827d588ce78d23eedb5c23d3461ad4913eaa7d4523

pkgname = ruff

pkgname = python-ruff
	depends = python
	depends = ruff
