pkgbase = vtk
	pkgdesc = Software system for 3D computer graphics, image processing, and visualization
	pkgver = 9.4.1
	pkgrel = 2
	url = https://www.vtk.org
	arch = x86_64
	license = BSD-3-Clause
	makedepends = cmake
	makedepends = java-environment=11
	makedepends = python
	makedepends = python-matplotlib
	makedepends = python-mpi4py
	makedepends = qt5-base
	makedepends = qt5-declarative
	makedepends = qt5-tools
	makedepends = tk
	makedepends = openmpi
	makedepends = libx11
	makedepends = freetype2
	makedepends = libxcursor
	makedepends = hdf5
	makedepends = netcdf
	makedepends = sqlite
	makedepends = adios2
	makedepends = cgns
	makedepends = gdal
	makedepends = gl2ps
	makedepends = proj
	makedepends = alembic
	makedepends = anari-sdk
	makedepends = ffmpeg
	makedepends = imath
	makedepends = libharu
	makedepends = liblas
	makedepends = libogg
	makedepends = libtheora
	makedepends = mariadb-libs
	makedepends = opencascade
	makedepends = openimagedenoise
	makedepends = openvdb
	makedepends = openvr
	makedepends = openxr
	makedepends = ospray
	makedepends = pdal
	makedepends = postgresql-libs
	makedepends = unixodbc
	makedepends = fontconfig
	makedepends = boost
	makedepends = cli11
	makedepends = eigen
	makedepends = fast_float
	makedepends = nlohmann-json
	makedepends = utf8cpp
	depends = gcc-libs
	depends = glibc
	depends = onetbb
	depends = double-conversion
	depends = verdict
	depends = fmt
	depends = libarchive
	depends = lz4
	depends = pugixml
	depends = xz
	depends = zlib
	depends = libjpeg-turbo
	depends = libpng
	depends = libtiff
	depends = expat
	depends = jsoncpp
	depends = libxml2
	optdepends = graphviz: drawing tools
	optdepends = libglvnd: OpenGL rendering
	optdepends = java-runtime=11: java bindings
	optdepends = python: python bindings
	optdepends = python-matplotlib: for Matplotlib rendering
	optdepends = python-mpi4py: OpenMPI python support
	optdepends = qt5-declarative: QML plugin
	optdepends = tk: tcl bindings
	optdepends = libx11: rendering
	optdepends = libxcursor: rendering
	optdepends = fontconfig: rendering fonts with fontconfig support
	optdepends = freetype2: rendering fonts
	optdepends = gl2ps: rendering to PostScript, PDF, and SVG
	optdepends = anari-sdk: ANARI rendering module
	optdepends = openvr: rendering for virtual reality
	optdepends = openxr: rendering for virtual and augmented reality
	optdepends = openimagedenoise: rendering with raytracing support
	optdepends = ospray: rendering with raytracing support
	optdepends = openmpi: OpenMPI support
	optdepends = adios2: IO module
	optdepends = alembic: IO module
	optdepends = cgns: IO module
	optdepends = ffmpeg: IO module
	optdepends = gdal: IO module
	optdepends = hdf5: IO module
	optdepends = imath: IO module
	optdepends = libharu: IO module
	optdepends = liblas: IO module
	optdepends = libogg: IO module
	optdepends = libtheora: IO module
	optdepends = mariadb-libs: IO module
	optdepends = netcdf: IO module
	optdepends = opencascade: IO module
	optdepends = openvdb: IO module
	optdepends = pdal: IO module
	optdepends = postgresql-libs: IO module
	optdepends = proj: IO module
	optdepends = sqlite: IO module
	optdepends = unixodbc: IO module
	optdepends = fast_float: for building downstream projects
	optdepends = nlohmann-json: for building downstream projects
	optdepends = openmp: OpenMP support for downstream projects built with Clang
	options = staticlibs
	source = https://www.vtk.org/files/release/9.4/VTK-9.4.1.tar.gz
	source = vtk-occt.patch
	source = fmt-11.patch
	sha256sums = c253b0c8d002aaf98871c6d0cb76afc4936c301b72358a08d5f3f72ef8bc4529
	sha256sums = df958eabc7dc4f5b33383ce0fb0f90a3ba202c1c2a24d3b5b9e7cfb1fb38b011
	sha256sums = c6345d09c219b5ca2efa6e7419f404a22715adb4d2ca1fd6ba34affd77cea23e

pkgname = vtk
