[Unit]
Description=Saves time on shutdown and sets it at boot.
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/scripts/savesettime.sh set
ExecStop=/usr/lib/systemd/scripts/savesettime.sh save
RemainAfterExit=true

[Install]
WantedBy=sysinit.target

