[Unit]
Description=Periodically saves system time to file timer
After=fake-hwclock.service

[Timer]
OnActiveSec=15min
OnUnitActiveSec=15min

[Install]
WantedBy=fake-hwclock.service
