[Desktop Entry]
Type=Application
Name=Gxmessage
GenericName=gxmessage
Comment=A GTK2 based xmessage clone.
Comment[cs]=Klon xmessage postavený na knihovně GTK2.
Icon=gxmessage
Exec=gxmessage
Terminal=false
Categories=Utility;
